<div id="mytasks">
  <div class="mytasks">
    <member-tasks-actionbar (initialized)="onFilterInitialized($event)"></member-tasks-actionbar>
    <div id="js-mytasks">
      <div class="project">
        <div id="tasklists">
          <div *ngFor="let project of filteredProjects" class="tasklist"
            [ngClass]="{'-collapsed': groups[project.value] == false}">
            <div class="group-header">
              <div class="-collapsed-mask url"></div>
              <div class="collapsed url">
                <span class="fa fa-caret-down"></span>
              </div>
              <div class="title">
                <div class="name ap-xdot">
                  <span class="url" title="{{project.value}}"
                    (click)="openOrCollapse(project.value)">{{project.value}}</span>
                </div>
              </div>
            </div>
            <div class="list tasks">
              <task-item class="task-wrapper js-task" *ngFor='let item of tasksGroupByProject.work_packages[project.value]' [item]='item'
                [isShowSubtasks]='false' (onDeleted)="refresh()"></task-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>