<div class="calendar">
  <ng-fullcalendar #ucCalendar
                   [options]="calendarOptions"
                   (viewRender)="updateTimeframe($event)"
                   (eventClick)="toWP($event)">
  </ng-fullcalendar>
</div>

<ng-template #wpModal let-modal>
  <div class="task-dialog-header">
    <div class="nav">
      <div class="url" data-url="testing-project-1-130611">
        <span class="fa fa-angle-left"></span>&nbsp;
        {{selectedWP.subject}}
      </div>
    </div>
    <div class="close" 
          title="Đóng"
          [uiSref]="stateName"
          [uiParams]="{task: null}">
      <span class="fa fa-close"></span>
    </div>
  </div>
  <task-detail></task-detail>
</ng-template>