<ng-select [items]="users"
           [(ngModel)]="selectedUsers"
           [placeholder]="placeHolder"
           [clearable]="clearable"
           [multiple]="multiple"
           [disabled]="disabled"
           [appendTo]="appendTo"
           [hideSelected]="true"
           bindLabel="name"
           [searchFn]="customSearchFn"
           (change)="onSelectItem($event)">
  <ng-template ng-option-tmp #rt let-item="item" let-index="index" let-search="searchTerm">
    <span class="item">
      <div class="avatar avatar-24" style="float: left; margin-right: 10px">
        <div class="image">
          <img src="{{item.avatar}}" (error)="onAvatarFailed($event)">
        </div>
      </div>
      <span class="block ap-xdot">
        <span class="bold">{{item.name}}</span> ·
        <span class="sub">{{item.title}}</span>
      </span>
    </span>
  </ng-template>
</ng-select>
