<div class="modal-header">
  <h6 class="modal-title">{{title}}</h6>
  <button type="button" class="close" aria-label="Đóng" (click)="modal.close('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="repeated-form-dialog">
  <div class="form form-dialog">
    <div class="form-rows" *ngIf="!loading">
      <div class="row -istext">
        <div class="avp-label col-sm-4">Tên công việc *
          <div class="sublabel">Tên công việc</div>
        </div>
        <div class="input data col-sm-8">
          <input [(ngModel)]="subject" type="text" name="name" placeholder="Tên công việc, bắt buộc *" class="std" [disabled]="!canEditTitle"></div>
        <div class="clear"></div>
      </div>
      <div class="row -isselect">
        <div class="avp-label col-sm-4">Tần suất lặp lại *<div class="sublabel">Hàng tuần hoặc hàng tháng</div>
        </div>
        <div class="select data col-sm-8"> 
          <ng-select [items]="freqTypes"
                       [searchable]="false"
                       [clearable]="false"
                       [disabled]="disableFreqTypeSelection"
                       [(ngModel)]="freqType"
                       placeholder="Chọn tần suất lặp lại"
                       bindValue="value"
                       bindLabel="label"
                       (change)="onFreqTypeSelect($event)"></ng-select>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -ischeckboxes" *ngIf="isWeekly">
        <div class="avp-label col-sm-4">Các ngày lặp lại *<div class="sublabel">Danh sách tất cả các ngày lặp lại</div>
        </div>
        <div class="data col-sm-8">
          <div class="list checkboxes">
            <ng-select [items]="repeatDays"
                       [searchable]="true"
                       [clearable]="false"
                       [multiple]="true"
                       [(ngModel)]="freqValues"
                       placeholder="Chọn ngày lặp lại"
                       bindValue="value"
                       bindLabel="label"></ng-select>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -istext" *ngIf="!isWeekly">
        <div class="avp-label col-sm-4">Các ngày lặp lại *<div class="sublabel">Danh sách tất cả các ngày lặp lại</div>
        </div>
        <div class="input data col-sm-8">
          <input autocomplete="off" type="text" [(ngModel)]="freqValues"
            name="monthly_dates" placeholder="Danh sách ngày, cách bằng dấu phảy" class="std"></div>
        <div class="clear"></div>
      </div>
      <div class="row -istext ">
        <div class="avp-label col-sm-4">Giao cho<div class="sublabel">Tag người được giao</div>
        </div>
        <div class="input data col-sm-8">
          <user-search-box style="overflow: hidden"
                               placeHolder="Người thực hiện"
                               [selectedUserIds]="[assigneeId]"
                               [disabled]="!canEditAssignee"
                               (selectItem)="onAssignTo($event)"></user-search-box>
        </div>
        <div class="clear"></div>
      </div>
      <div class="hidden row -istext ">
        <div class="avp-label col-sm-4">Deadline<div class="sublabel">Số giờ cộng thêm</div>
        </div>
        <div class="input data col-sm-8"><span class="unit-text"
            style="position: absolute; right:10px; top:9px; color:#aaa; font-size:12px; text-transform:uppercase">Giờ</span><input
            autocomplete="off" data-role="" id="_uuid79662_92922_1615050864" type="text" name="deadline"
            placeholder="Ví dụ 8, 8.5, hay 30.5 để trống nếu không có deadline" class="std "></div>
        <div class="clear"></div>
      </div>
      <div class="row -istext">
        <div class="avp-label col-sm-4">Người theo dõi<div class="sublabel">Danh sách người theo dõi</div>
        </div>
        <div class="input data col-sm-8">
          <user-search-box placeHolder="Người theo dõi"
                               [multiple]="true"
                               [selectedUserIds]="followerIds"
                               (selectItem)="onAddFollowers($event)"></user-search-box>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -isselect ">
        <div class="avp-label col-sm-4">Dự án *<div class="sublabel">Lựa chọn dự án</div>
        </div>
        <div class="select data col-sm-8">
          <ng-select [items]="posibleProjects"
                       [searchable]="true"
                       [clearable]="false"
                       [(ngModel)]="projectId"
                       placeholder="Chọn dự án"
                       [disabled]="disableProjectSelection"
                       bindValue="id"
                       bindLabel="name"
                       (change)="onProjectSelect($event)"></ng-select>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -isselect">
        <div class="avp-label col-sm-4">Nhóm công việc<div class="sublabel">Lựa chọn nhóm công việc</div>
        </div>
        <div class="select data col-sm-8">
          <ng-select [items]="categories"
                       [disabled]="disableCategory"
                       [searchable]="true"
                       [clearable]="false"
                       [(ngModel)]="categoryId"
                       placeholder="Chọn nhóm công việc"
                       bindValue="id"
                       bindLabel="name"></ng-select>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -istextarea">
        <div class="avp-label col-sm-4">Mô tả công việc<div class="sublabel">Mô tả chỉ tiết công việc</div>
        </div>
        <div class="input data col-sm-8">
          <div class="input-editor" *ngIf="canEditDescription">
            <form>
              <textarea [value]="description"></textarea>
              <ckeditor-augmented-textarea
                textarea-selector="textarea"
                preview-context="context"
                [content]="description"
                [source]="wpSource"
                [projectId]="projectId"
                (onInitialized)="onEditorInitialized($event)">
              </ckeditor-augmented-textarea>
            </form>
          </div>
          <div *ngIf="!canEditDescription" [innerHtml]="descriptionHtml"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -istext">
        <div class="avp-label col-sm-4">Ngày bắt đầu<div class="sublabel">Chọn ngày bắt đầu chu trình công việc lặp lại</div>
        </div>
        <div class="input col-sm-8">
          <input type="text" [disabled]="!canEditTime" name="startdate" placeholder="Bắt đầu" [(ngModel)]="startDate" ngbDatepicker #tstartdate="ngbDatepicker" (focus)="tstartdate.open()" (click)="tstartdate.open()">
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -istext">
        <div class="avp-label col-sm-4">Ngày kết thúc<div class="sublabel">Chọn ngày kết thúc chu trình công việc lặp lại</div>
        </div>
        <div class="input col-sm-8">
          <input type="text" [disabled]="!canEditTime" name="deadline" placeholder="Thời hạn" [(ngModel)]="dueDate" ngbDatepicker #tdeadline="ngbDatepicker" (focus)="tdeadline.open()" (click)="tdeadline.open()">
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -isselect">
        <div class="avp-label col-sm-4">Trạng thái<div class="sublabel">Kích hoạt hay không kích hoạt</div>
        </div>
        <div class="select data col-sm-8">
          <ng-select [items]="activations"
                       [searchable]="false"
                       [clearable]="false"
                       [disabled]="!isAuthor && isEdit"
                       [(ngModel)]="freqStatus"
                       placeholder="Chọn trạng thái"
                       bindValue="value"
                       bindLabel="label"></ng-select>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -html">
        <div class="col-sm-4"></div>
        <div class="link col-sm-4" (click)="advancedOptionTogged = !advancedOptionTogged">Tùy chọn nâng cao</div>
        <div class="col-sm-4"></div>
      </div>
      <div class="wrapper" *ngIf="advancedOptionTogged">
        <div class="wtitle">Công việc con</div>
        <div class="__ph"></div>
        <div class="row -html">
          <div class="items-editor table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tên*</th>
                  <th style="width: 40%;">Người thực hiện</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stask of subTasks; let i = index;">
                  <td>
                    <div class="inner">
                      <div class="count">{{i + 1}}</div>
                    </div>
                  </td>
                  <td>
                    <div class="inner -name"><input name="item-subtask-name-1" type="text" [(ngModel)]="stask.subject" [disabled]="!canEditTitle"></div>
                  </td>
                  <td>
                    <div class="inner">
                      <user-search-box style="overflow: hidden"
                        placeHolder="Người thực hiện"
                        [selectedUserIds]="[stask.assigned_to_id]"
                        [disabled]="!canEditAssignee"
                        (selectItem)="onChangeSTAssignee($event, stask)"
                        appendTo='body'></user-search-box>
                    </div>
                  </td>
                  <td>
                    <div class="inner" title="Xóa" *ngIf="canDeleteWP" (click)="removeSubTask(i)">
                      <div class="remove">Xóa</div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="add button btn-primary" *ngIf="canCreateWP" (click)="addSubtask()">
          + Thêm subtask
        </div>
      </div>
    </div>
    <div class="form-buttons -two">
      <div class="button ok -success -rounded bold" (click)="save(modal)">{{saveText}}</div>
      <div class="button -cancel -passive-2 rounded" (click)="modal.close('cancel')">Bỏ qua</div>
    </div>
  </div>
</div>