<div id="setting">
  <div id="acl">
    <div class="setting-box">
      <div class="title">Các thao tác liên quan đến công việc</div>
      <div class="js-setting-body values">
        <div class="st-opt-wrapper">
          <div class="st-opt" [ngClass]="{'selected': emailConfig.WP.ASSIGNED}"
          (click)="onChange('WP', 'ASSIGNED', !emailConfig.WP.ASSIGNED)">Email khi giao việc (gửi đến người được giao)</div>
        </div>
        <div class="st-opt-wrapper">
          <div class="st-opt" [ngClass]="{'selected': emailConfig.WP.EDITED}"
          (click)="onChange('WP', 'EDITED', !emailConfig.WP.EDITED)">Email khi công việc được chỉnh sửa</div>
        </div>
        <div class="st-opt-wrapper">
          <div class="st-opt" [ngClass]="{'selected': emailConfig.WP.STATUS_CHANGED}"
          (click)="onChange('WP', 'STATUS_CHANGED', !emailConfig.WP.STATUS_CHANGED)">Email khi trạng thái công việc được cập nhật (đang làm - hoàn thành)</div>
        </div>
        <div class="st-opt-wrapper">
          <div class="st-opt" [ngClass]="{'selected': emailConfig.WP.DELETED}"
          (click)="onChange('WP', 'DELETED', !emailConfig.WP.DELETED)">Email khi xóa công việc</div>
        </div>
      </div>
    </div>
    <div class="setting-box">
      <div class="title">Dự án</div>
      <div class="js-setting-body values">
        <div class="st-opt-wrapper">
          <div class="st-opt" [ngClass]="{'selected': emailConfig.PROJECT.EDITED}"
          (click)="onChange('PROJECT', 'EDITED', !emailConfig.PROJECT.EDITED)">Email khi dự án được chỉnh sửa</div>
        </div>
        <div class="st-opt-wrapper">
          <div class="st-opt" [ngClass]="{'selected': emailConfig.PROJECT.DELETED}"
          (click)="onChange('PROJECT', 'DELETED', !emailConfig.PROJECT.DELETED)">Email khi xóa dự án</div>
        </div>
      </div>
    </div>
  </div>
</div>