<div class="wrapper-box">
  <div class="postdate">
    <span class="fa fa-hashtag"></span>&nbsp;{{createdDate}}
  </div>
  <div class="user">
    <div class="avatar">
      <img src="{{source._embedded.author.avatar}}" (error)="onAvatarLoadFailed($event)" />
    </div>
    <div class="name">{{author}}</div>
  </div>
  <div class="title">{{subject}}
    <div class="action" *ngIf="!isFormOpened">
      <span class="fa fa-comment-o" title="Trích dẫn" (click)="quote()"></span>
      <span class="fa fa-edit" *ngIf="isAuthor" title="Chỉnh sửa" (click)="edit()"></span>
      <span class="fa fa-trash-o" *ngIf="isAuthor" title="Xóa" (click)="delete(deleteModal)"></span>
    </div>
  </div>
  <div class="content" [innerHtml]="content"></div>
</div>
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Xóa thảo luận</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="__alertdialog">
    <div class="__apdialog">
      <table>
        <tbody>
        <tr>
          <td class="icon">
            <i class="fa fa-exclamation-circle" style="font-size: 42px; color: #c65144"></i>
          </td>
          <td class="text">Bạn có chắc chắn muốn xóa thảo luận này? Thảo luận đã xóa sẽ không thể khôi phục lại.</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="__dialogbuttons unselectable">
      <div class="button er confirm-button" (click)="modal.dismiss()">Đóng</div>
      <div class="button ss confirm-button" (click)="modal.close('OK')">OK</div>
    </div>
  </div>
</ng-template>