<div id="master" class="">
    <div id="pagew">
        <div id="page" class="">
            <project-page-header></project-page-header>
            <div id="project-page-master" class="simple scroll-y forced-scroll -gray">
                <div class="canvas">
                    <div id="db-canvas">
                        <div id="db-wrapper">
                            <reports-page ></reports-page>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="floatview" style="display: none;"></div>
    <div id="__ctm" style="display: none;"><div id="__ctmi" class="__contextmenu"></div></div></div>