.title {
    font-weight: bold;
}

.report-card {
    margin-right: 30px;

    .one-card-header {
        display: block;
        text-align: center;

        .one-cart-title {
            font-size: 15px;
        }
    }

    .one-card-content {
        text-align: center;
        position: relative;
        
        .icon {
            position: absolute;
            top: 6px;
            left: 0px;

            .approved {
                color: #1dd033;
            }

            .rejected {
                color: red;
            }

            .sla {
                color: #ccc;
            }

            .timeout {
                color: rgb(231, 204, 47);
            }
        }
        
        p {
            font-size: 20px;
            font-weight: 500;
        }
    }

    &:last-child {
        margin-right: 0;
    }
}