.detail {
    position: relative;
    overflow: auto;
    border-right: solid 1px rgba(0,0,0,.12);
    height: 100%;

    .main {
        position: relative;
        margin-right: 320px;
        padding: 25px;

        .section-header {
            border-bottom: 2px solid #ececec;
            padding-bottom: 20px;
        }

        &.isDirect {
            .option {
                display: none;
            }
        }
        

        .top-section, .section {
            margin-bottom: 50px;
            position: relative;

            .title {
                color: #f44336;
                font-weight: bold;
                font-size: 18px;
            }
            
            .title-section {
                padding-bottom: 13px;
                .title {
                    color: #000;
                    font-weight: bold;
                    font-size: 24px;
                    padding-bottom: 7px;
                }
            }

            .description {
                color: #686868;
                margin-right: 160px;
            }

            .option {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }

        .section {
            .file-item {
                padding: 10px 0px;
                cursor: pointer;

                .name {
                    padding-left: 10px;
                    font-size: 15px;
                    padding-top: 2px;
                }

                &:hover {
                    color: #673ab7;
                }
            }

            .forward-group-item {
                .info {
                    .group-name {
                        font-size: 15px;
                        font-weight: 500;
                    }
            
                    .group-title {
                        color: #686868;
                    }
                }

                .options {
                    display: none;
                    .group-option {
                        color: #ccc;
                        cursor: pointer;
            
                        &:hover {
                            color: #9400d3;
                            text-decoration: underline;
                        }
                    }
                }
            
                &:hover {
                    background: #eee;
                    .options {
                        display: flex;
                    }
                }
            }
        }
    }

    .side {
        width: 320px;
        right: 0;
        position: relative;
        float: right;
        padding: 25px 20px;
    }

    &::before {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 320px;
        bottom: 0px;
        background-color: #fafafa;
        border-left: 1px solid rgba(0,0,0,0.1);
        content: "";
    }
}