<div>
  <div class="nav" (click)="toggleService.toggleNavigation($event)"><span class="icon"></span></div>

  <div class="title">
    <div class="icon -svg">
      <span class="fa fa-folder-o"></span>
    </div>
    <div class="name">Dự án</div>
  </div>

  <div class="main">
    <div class="avp-tabs auto-active-url">
      <div class="tab url"
          uiSref="projects.list"
          uiSrefActive="active"><span class="tab-label">Dự án</span></div>
      <div class="tab url" 
          *ngIf="isOwner"
          uiSref="projects.all"
          uiSrefActive="active"><span class="tab-label">Tất cả (Cho quản trị)</span></div>
      <div class="hidden tab url"><span class="tab-label">Hoạt động</span></div>
      <div class="tab url"
          uiSref="projects.topics"
          uiSrefActive="active"><span class="tab-label">Thảo luận</span></div>
    </div>
  </div>

  <div class="side">
    <div class="buttons">
      <div class="button url" (click)="open(projectCreateModal)">Thêm dự án mới</div>
    </div>
  </div>
</div>

<ng-template #projectCreateModal let-modal>
  <project-create-form [type]="'project'" (onDismiss)="modal.dismiss()"></project-create-form>
</ng-template>