<div class="top" [ngClass]="{'hidden': loading == true}">
  Bình luận (
  <span class="comment-count comment-counter">{{comments.length}}</span>
  )
</div>
<div id="js-task-comments" class="__comment_canvas theme-gray" [ngClass]="{'hidden': loading == true}">
  <div id="auto-comments" class="avp-box comments -gray bottom_top">
    <div class="arrow"></div>
    <div class="more" style="display: none"></div>
    <div class="__comments"></div>
    <comment *ngFor="let comment of orderedComments" [activity]="comment" [workPackage]="workPackage"></comment>
    <div class="post">
      <div class="textarea">
        <textarea placeholder="Nhập bình luận" style="height: 100px;" *ngIf="inEdit == false" (focus)="activate()"></textarea>
      </div>
      <form method="post" *ngIf="inEdit == true">
        <div class="textarea">
          <edit-form-portal [changesetInput]="changeset"
                            [schemaInput]="schema"
                            [editFieldHandler]="handler">
          </edit-form-portal>
        </div>
      </form>
    </div>
  </div>
</div>