<div class="member-creation-one">
  <h2 mat-dialog-title>{{'rightPanel.actions.passwordDialog.title' | translate }}</h2>
  <mat-dialog-content class="mat-typography">
    <form class="creation-form" [formGroup]="registerForm">
      <mat-form-field class="form-field-fullwidth" appearance="fill" >
        <mat-label>{{'rightPanel.actions.passwordDialog.newPassword' | translate }}</mat-label>
        <input matInput type="password" placeholder="{{ 'rightPanel.actions.passwordDialog.newPassword' | translate }}" required
               formControlName="password"
        >
        <mat-error *ngIf="submitted && f.password.invalid">{{'rightPanel.actions.passwordDialog.password_required' | translate}}</mat-error>

      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field-fullwidth">
        <mat-label>{{'rightPanel.actions.passwordDialog.comfirmPassword' | translate }}</mat-label>
        <input matInput type="password" placeholder="{{ 'centerPanel.header.creation.dialog.comfirm_password' | translate }}" required
               formControlName="confirmPassword"
        >
        <mat-error *ngIf="submitted && f.confirmPassword.invalid">{{'rightPanel.actions.passwordDialog.password_notmatch' | translate}}</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <button mat-button (click)="submitForm()" cdkFocusInitial>{{ 'Đổi Mật Khẩu'}}</button>
  </mat-dialog-actions>

</div>
