<div class="header" id="subheader">
  <div class="title">Danh sách dự án</div>
  <div class="search-icon"></div>
  <div class="side">
    <div class="dd -cmenuw">
      <em [ngClass]="{'active selected': selected.activate.isDefault != true}">{{selected.activate.label}}</em>
      <div class="-cmenu -padding -no-icon">
        <div class="-item url" *ngFor="let act of activations"
             [ngClass]="{'active selected': selected.activate.value == act.value}" (click)="onChangeActive(act)" >{{act.label}}</div>
      </div>
    </div>

    <div class="dd -cmenuw">
      <em [ngClass]="{'active selected': selected.status.isDefault != true}">{{selected.status.label}}</em>
      <div class="-cmenu -padding -no-icon">
        <div class="-item url" *ngFor="let status of statuses"
             [ngClass]="{'active selected': selected.status.value == status.value}" (click)="onChangeStatus(status)" >{{status.label}}</div>
      </div>
    </div>

    <div class="search">
      <div class="input"><input type="text" (input)="onSearchProject($event)" name="q" placeholder="Tìm nhanh dự án &amp; phòng ban"></div>
    </div>


    <div class="itabs">
      <div class="icon" [ngClass]="{'active': selected.view == 'card'}" (click)="onChangeView('card')">
        <span class="fa fa-th-large"></span>
      </div>
      <div class="icon" [ngClass]="{'active': selected.view == 'table'}" (click)="onChangeView('table')">
        <span class="fa fa-th-list"></span>
      </div>
    </div>

  </div>
</div>