<div class="db-title">Báo cáo công việc</div>
<div class="db-grid" data-col="30">

  <div class="box std" data-col="8,9" style="width: 26.6667%;">
    <div class="inner">
      <div class="header">Báo cáo trạng thái công việc
        <div class="side"></div>
      </div>
      <div class="body" *ngIf="displayTaskReport == true">
        <doughnut-chart [dataInput]="reportByStatus"></doughnut-chart>
      </div>
    </div>
    <div class="s" style="padding-bottom:112.5%"></div>
  </div>

  <div class="box std" data-col="8,9" style="width: 26.6667%;">
    <div class="inner">
      <div class="header">Thành viên xuất sắc
        <div class="side"></div>
      </div>
      <div class="body -fit">
        <div class="scrollbox scroll-y -smaller">
          <div class="list" id="js-top-performers">
            <div class="item" *ngFor="let user of starPerformers">
              <div class="icon">
                <div class="avatar">
                  <img src="{{user.avatar}}" (error)="onLoadAvatarFailed($event)" title="{{user.name}}">
                </div>
              </div>
              <div class="name"><span class="url">{{user.name}}</span></div>
              <div class="info"><em>{{user.done}}</em>/{{user.count}} công việc đã hoàn thành</div>
              <div class="side">
                <div class="bar">
                  <div class="c" [style.width.%]="user.percentage"></div>
                  <div class="txt">{{user.percentage}}%</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="s" style="padding-bottom:112.5%"></div>
  </div>

  <div class="box std" data-col="8,9" style="width: 26.6667%;">
    <div class="inner">
      <div class="header">Công việc không đúng hạn
        <div class="side"></div>
      </div>
      <div class="body -fit">
        <div class="scrollbox scroll-y -smaller" id="js-task-late-report">
          <div class="istats">
            <div class="istat">
              <div class="percent">
                <circle-progress
                  [percent]="overdue * 100 / (inProgress + new)"
                  [radius]="25"
                  [outerStrokeWidth]="5"
                  [innerStrokeWidth]="5"
                  [space]="-5"
                  [outerStrokeColor]="'#c34343'"
                  [innerStrokeColor]="'#e7e8ea'"
                  [animation]="true"
                  [animationDuration]="300"
                  [titleFontSize]="12"
                  [showSubtitle]="false"
                ></circle-progress>
              </div>
              <div class="stat">
                <div class="number"><em style="color:#c34343">{{overdue}}</em></div>
                <div class="sub ap-xdot" title="Công việc quá hạn">Công việc quá hạn</div>
                <div class="sub ap-xdot" title="Trên {{inProgress}} công việc đang thực hiện">
                  Trên <em>{{inProgress + new}}</em> Công việc đang thực hiện
                </div>
              </div>
            </div>
            <div class="istat">
              <div class="percent">
                <circle-progress
                  [percent]="doneLate * 100 / (done + doneLate)"
                  [radius]="25"
                  [outerStrokeWidth]="5"
                  [innerStrokeWidth]="5"
                  [space]="-5"
                  [outerStrokeColor]="'#f7e015'"
                  [innerStrokeColor]="'#e7e8ea'"
                  [animation]="true"
                  [animationDuration]="300"
                  [titleFontSize]="12"
                  [showSubtitle]="false"
                ></circle-progress>
              </div>
              <div class="stat">
                <div class="number"><em style="color:#f7e015">{{doneLate}}</em></div>
                <div class="sub ap-xdot" title="Công việc hoàn thành muộn">Công việc hoàn thành muộn</div>
                <div class="sub ap-xdot" title="Trên 2 công việc đã hoàn thành">
                  Trên <em>{{done + doneLate}}</em> Công việc đã hoàn thành
                </div>
              </div>
            </div>
            <div class="istat">
              <div class="plain">
                <span class="fa fa-exclamation-circle"></span>
                <b class="js-count">{{noDueDateTask}}</b>
                công việc được tạo không có thời hạn
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="s" style="padding-bottom:112.5%"></div>
  </div>

  <div class="box std" data-col="6,4.5" style="width: 20%;">
    <div class="inner">
      <div class="header">Ma trận Eisenhower
        <div class="side"></div>
      </div>
      <div class="body -fit">
        <div class="eshm">
          <div class="x"><span>Khẩn cấp</span></div>
          <div class="y"><span>Quan trọng</span></div>
          <div class="area x00">
            <span class="js-count" data-key="esn_00">{{notImportantAndUrgent}}</span>
          </div>
          <div class="area x01">
            <span class="js-count" data-key="esn_01">{{onlyImportant}}</span>
          </div>
          <div class="area x10">
            <span class="js-count" data-key="esn_10">{{onlyUrgent}}</span>
          </div>
          <div class="area x11">
            <span class="js-count" data-key="esn_11">{{bothImportantAndUrgent}}</span>
          </div>
        </div>

      </div>
    </div>
    <div class="s" style="padding-bottom:69%"></div>
  </div>

  <div class="box std" data-col="6,4.5" style="width: 20%;">
    <div class="inner">
      <div class="header">Công việc đang đánh giá
        <div class="side"></div>
      </div>
      <div class="body">
        <div class="bigcount">
          <div class="count"><b class="js-count text-success" data-key="tasks_review">0</b></div>
          <div class="txt">Đang đánh giá</div>

          <div class="info ap-xdot">
            <span class="square -bg-gray"></span>
            <b><b class="js-count red" data-key="tasks_review_overdue">0</b>/<b class="js-count"
                                                                                data-key="tasks_review">0</b></b>
            quá hạn
          </div>
        </div>

        <div class="ecount"><b><span class="js-count" data-key="projects_require_review">0</span>/<span class="js-count"
                                                                                                        data-key="projects">1</span></b>
          phòng ban và dự án cho phép review công việc
        </div>

      </div>
    </div>
    <div class="s" style="padding-bottom:73.5%;"></div>
  </div>


</div>