<html>
    <body>
        <p>Chào ${targetName},</p>

        <p>${ownerName} đã tạo một đề xuất có bạn theo dõi. <a href="${url}" target="_blank">Nhấn vào đây </a>để mở đề xuất.</p>

        <p>${moreContent}</p>
    </body>
</html>