<html>
    <body>
        <p>Chào ${targetName},</p>

        <p>Đề xuất <a href="${requestUrl}" target="_blank">${requestName}</a> đã quá hạn xử lý.</p>

        <p>${moreContent}</p>
    </body>
</html>