<html>
    <body>
    <p>Chào ${targetName},</p>

    <p>${ownerName} đã tạo một đề xuất do bạn xét duyệt. <a href="${url}" target="_blank">Nhấn vào đây </a>để mở đề xuất.</p>

    <p>${moreContent}</p>
    </body>
</html>