<div class="user-group-list">
  <mat-table [dataSource]="filteredUserGroups">
    <ng-container matColumnDef="rowIndex">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index;">
        <div class="group-list-index-col">
          <div class="group-list-index-content">{{ (i + 1) < 10 ? ('0' + (i + 1)) : (i + 1) }}</div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="groupInfo">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="group-info">
          <div class="group-name" [routerLink]="['/management/groups', element.id]">{{element.name}}</div>
          <div class="group-description">
            <span class="group-directory">{{ '@' + element.id }}
            </span>
            <span>{{ ' - ' + (element.description || 'Không có miêu tả') }}</span>
          </div>
          <div class="group-member-info">
            {{getNumOfMembers(element)}}
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="fas fa-trash-alt user-title-action user-title-action-remove" (click)="removeUserGroup(element)"></span>
        <span class="fas fa-arrow-right user-title-action user-title-action-edit" [routerLink]="['/management/groups', element.id]"></span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
