@import '~@angular/material/theming';
@import '../../../../../core/theme/base';
@include mat-core();

.user-group-list {
  height: 100%;
  .mat-column-rowIndex {
    flex: 0 0 60px;

  }

  .mat-column-actions {
    flex: 0 0 60px;
  }

  .group-list-index-col {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #eee;
    border-radius: 5px;
  }

  .group-list-index-content {
    color: #999;
    text-align: center;
    width: 100%;
    font-size: 15pt;
    font-weight: 500;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .group-info {
    .group-name {
      font-size: 17pt;
      font-weight: 500;
      margin-top: 5px;
      margin-bottom: 5px;

      &:focus {
        outline: 0;

      }

      &:hover {
        cursor: pointer;
        color: mat-color($primary);
      }
    }

    .group-directory {
      font-weight: 500;
    }
  }
  .user-title-action {
    font-size: 14pt;
    outline: 0;
    color: mat-color($primary);
    cursor: pointer;
  }

  .user-title-action-remove {
    color: red;
    margin-right: 20px;
  }
}
