<div id="myemployees" *ngIf="loaded == true">
  <my-employee-action-bar (refresh)="onRefresh($event)" (orderChange)="onOrderChanged($event)"></my-employee-action-bar>
  <div id="list-project" class="avp-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 20%;">Thành viên</th>
          <th>Dự án</th>
          <th>Công việc</th>
          <th>Hoàn thành</th>
          <th>Đang làm</th>
          <th>Đang review</th>
          <th>HT Sau deadline</th>
          <th>Quá hạn</th>
          <th style="width: 15%;">Tỉ lệ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let report of reports">
          <td>
            <div class="person">
              <div class="avatar avatar-32 -circled">
                <div class="image">
                  <img src="{{report.employee.avatar}}" (error)="onAvatarFailed($event)">
                </div>
              </div>
              <div class="person-context">
                <div class="person-name"
                      uiSref="members-detail"
                      [uiParams]="{memberId: report.employee.id}">
                  {{report.employee.name}}
                </div>
                <div class="api-info ap-xdot">{{report.employee.title}}</div>
              </div>
            </div>
          </td>
          <td class="number">{{report.project}}</td>
          <td class="number">{{report.workPackage}}</td>
          <td class="number done">{{report.done}}</td>
          <td class="number">{{report.inProgress}}</td>
          <td class="number">{{report.inReview}}</td>
          <td class="number">{{report.doneLate}}</td>
          <td class="number overdue">{{report.overdue}}</td>
          <td>
            <div class="progress">
              <div class="progress-bar bg-success" style="height: 13px;" [ngStyle]="{'width.%': report.rate}">{{report.rate}}%</div>
            </div> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>