#myemployees {
  table {
    thead {
      background: #eee;
      color: darkgoldenrod;
      font-size: 13px;
      text-transform: uppercase;
    }

    tbody {
      .person {
        padding: 0px 15px 0px 30px;

        .avatar {
          top: 0px;
          left: 0px;
        }

        &:hover {
          color: inherit;
          background-color: inherit;
        }
      }

      .number {
        font-weight: bold;

        &.done {
          color: #28a745;
        }

        &.overdue {
          color: red;
        }
      }
    }
  }
}