/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body, html {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
//body { margin: 0; font-family: 'Open Sans', sans-serif; }
div, span, input {
  font-size: 14px;
}

@for $i from 10 through 32 {
  .icon-size-#{$i} {
    font-size: #{$i}px !important;
    height: #{$i}px !important;
    width: #{$i}px !important;
  }
}

.mat-primary {
  &.mat-toolbar, &.mat-button-base {
    background: #342665 !important;
    color: #fff;
  }
}

top-action-bar {
  height: 55px;
  position: absolute;
  z-index: 899;
}

main-panel {
  top: 55px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.one-app-dialog {
  .mat-dialog-container {
    padding: 0px;
  }
}

.one-notification-dialog {
  position: absolute !important;
  width: 500px;
  top: 55px;
  bottom: 0px;
  right: 0px;
}

.one-accordion {
  width: 100%;
  .mat-expansion-panel-body {
    padding: 10px 0px 5px
  }
}

.one-container {
  width: 100%;
  height: 100%;
  border: none;
}

.one-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.one-sidenav {
  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .mat-list-item.one-list-item {
    .mat-list-item-content {
      padding: 0px;
    }
  }
}


.mat-toolbar-row, .mat-toolbar-single-row {
  height: 55px;
}

.mat-drawer-content {
  background: #fff;
}

.filters {
  .mat-form-field {
    .mat-form-field-prefix {
      padding-right: 12px !important;
    }

    .mat-form-field-flex, .mat-form-field-label-wrapper {
      padding-top: 0
    }

    .mat-form-field-wrapper {
      padding-bottom: 0
    }

    .mat-form-field-underline {
      bottom: 0
    }

    .mat-form-field-infix {
      border-top: 0
    }
  }
}

.one-spacer {
  flex: 1 1 auto;
}

.one-filter {
  .select {
    .mat-select-trigger {
      height: 1.8em;

      .mat-select-value-text {
        span {
          font-size: 15px;
        }
      }
    }
  }
}

.one-dialog {
  .dialog-body {
    .mat-slide-toggle {
      margin-bottom: 20px;

      .mat-slide-toggle-content {
        font-size: 14px;
        font-weight: bold;
      }
    }

    .row {
      margin-bottom: 0px;
    }

    .label {
      font-size: 14px;
      font-weight: bold;
    }

    .form-label {
      padding-top: 10px;
    }

    .sublabel {
      color: #777;
    }
  }
}

.mat-button {
  &.mat-primary {
    background: #673ab7;
    color: #fff;
  }
}

.notis-items {
  .request-name {
    font-weight: bolder;
    font-size: 15px;
  }
}


.li {
  padding: 10px;
}

.li, .group-item {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  position: relative;

  .r {
    display: none;
    background-color: #673ab7;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3px;
    bottom: 0px;
  }

  &.d-flex:not(&.group) {
    label {
      margin-bottom: 0;
    }

    .name {
      width: 60%;
      font-size: 15px;
    }

    .status {
      width: 5%;
    }

    .user {
      width: 15%;
    }

    .users {
      width: 10%;
    }

    .date {
      width: 10%;
    }
  }

  &:hover:not(&.active) {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .r {
      display: block;
    }

    .name {
      color: #673ab7;
    }
  }

  &.active {
    background: #267cde;
    color: #fff;
  }
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.disabled {
  pointer-events: none;
}

.full {
  width: 100%;
}

.overflow-x {
  overflow-x: auto !important;
}

.mat-snack-bar-container {
  color: #222;

  &.success {
    background-color: #d8fdd1;
    border: 1px solid #35c53f;
  }

  &.error {
    background-color: #fedada;
    border: 1px solid #CA3F3F;
  }
}


.space-20 {
  height: 20px;
}
