.actions {
    float: right;
}

.media {
    border-top: 1px solid #eee;
}

.media-body {
    position: relative;

    .reading {
        .options {
            position: absolute;
            right: 0;
            top: 10px;
            display: none;

            .option {
                margin-left: 5px;
                cursor: pointer;

                &:hover {
                    color: #673ab7;
                    text-decoration: underline;
                }
            }
        }

        &:hover {
            .options {
                display: block;
            }
        }

      .read-only-msg {
        .cl {
          margin-top: -15px;
          margin-left: 15px;
          text-decoration: line-through;
          .at {
            background-color: #ccc;
            color: #fff;
            padding: 5px;
          }
        }

        .ap {
          margin-top: -15px;
          margin-left: 15px;
          .at {
            background-color: #1dd033;
            color: #fff;
            font-weight: 500;
            padding: 5px;
          }
          .ra-des {
            white-space: pre;
            margin-left: 20px;
            border-left: #a0a0a0 solid 1px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 10px;
            font-style: italic;
          }
          .ra-fully-msg {
            font-weight: 500;
          }
        }

        .rj {
          margin-top: -15px;
          margin-left: 15px;
          .at {
            background-color: red;
            color: #fff;
            font-weight: 500;
            text-decoration: line-through;
            padding: 5px;
          }
          .ra-des {
            white-space: pre;
            margin-left: 20px;
            border-left: #a0a0a0 solid 1px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 10px;
            font-style: italic;
          }
          .ra-fully-msg {
            font-weight: 500;
          }
        }

        .fwd-ap {
          margin-top: -15px;
          margin-left: 15px;
          .at {
            background-color: #1dd033;
            color: #fff;
            font-weight: 500;
          //  text-decoration: line-through;
            padding: 5px;
          }
          .ra-des {
            white-space: pre;
            margin-left: 20px;
            border-left: #a0a0a0 solid 1px;
            margin-top: 5px;
            margin-bottom: 10px;
            padding-left: 10px;
            font-style: italic;
          }
          .ra-msg2 {
            margin-top: -10px;
          }
          .ra-fully-msg {
            font-weight: 500;
          }
          .target {
            margin-top: 5px;
            .user-details {
              font-weight: 500;
            }
          }
        }

        .fwd {
          margin-top: -15px;
          margin-left: 15px;
          .at {
            background-color: #1dd033;
            color: #fff;
            font-weight: 500;
            //  text-decoration: line-through;
            padding: 5px;
          }
          .ra-des {
            white-space: pre;
            margin-left: 20px;
            border-left: #a0a0a0 solid 1px;
            margin-top: 5px;
            margin-bottom: 10px;
            padding-left: 10px;
            font-style: italic;
          }
          .ra-msg2 {
            margin-top: -10px;
          }
          .ra-fully-msg {
            font-weight: 500;
          }
          .target {
            margin-top: 5px;
            .user-details {
              font-weight: 500;
            }
          }
        }
      }
    }
}


