.member-list {
  .one-avatar {
    width: 48px;
    height: 48px;
    margin: 5px 10px 5px 0px;
  }

  .one-userinfo {
    .fullname {
      font-size: 16px;
      font-weight: 500;
    }

    .titleInfo {
      .username {
        margin-right: 5px;
        font-weight: 400;
      }
      .title {
        margin-left: 5px;
        color: #aaaaaa;
      }
    }
  }

  .contact-email {
    font-weight: 400;
  }

  .contact-number {
    font-weight: 300;
  }

  .user-title-action {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;

    &.activate {
      color: green;
    }

    &.deactivate {
      color: red;
    }
  }
}
