<div class="member-list">
    <mat-table [dataSource]="filteredUSers">
      <ng-container matColumnDef="userInfo">
        <mat-header-cell *matHeaderCellDef>Họ và Tên</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!--div class="one-avatar">
            <one-avatar [avatarUrl]="element.attributes.avp_avatar"></one-avatar>
          </div -->
          <div class="one-userinfo">
            <div class="fullname">
              {{getFullname(element)}}
            </div>
            <div class="titleInfo">
              <span class="username">@{{element.username}}</span>
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef>Thông Tin Liên Lạc</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="contact-info">
            <div class="contact-email">{{element.email}}</div>
            <div class="contact-number">{{element.attributes.avp_number || 'Không có số điện thoại'}}</div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="fas fa-info-circle user-title-action user-title-action-edit" (click)="editUser(element)" matTooltip="Xem thông tin tài khoản"></span>
        <span class="far fa-check-circle user-title-action user-title-action-delete activate" (click)="deactivateUser(element, false)" matTooltip="Hủy kích hoạt tài khoản" *ngIf="isAdmin && element.enabled"></span>
        <span class="fas fa-ban user-title-action user-title-action-delete deactivate" (click)="deactivateUser(element, true)"  matTooltip="Kích hoạt tài khoản" *ngIf="isAdmin && !element.enabled"></span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
