<div class="guest-member-component">

    <div class="header">
        <one-center-header>
            <guest-list-header (searchChanged)="onSearchChanged($event)" (eventAction)="onReceiveEvent($event)"></guest-list-header>
        </one-center-header>

    </div>
    <div class="content">
        <!-- one-member-list [searchEvents]="searchSubject.asObservable()" [actionEvents]="eventSubject.asObservable()"></one-member-list -->
        <guest-member-list [searchEvents]="searchSubject.asObservable()" [actionEvents]="eventSubject.asObservable()"></guest-member-list>
    </div>

</div>
