<div id="collection" [ngClass]="{'compact': showActionBar == false}">
  <project-action-bar *ngIf="showActionBar == true"></project-action-bar>
  <div id="list-project" class="avp-table" *ngIf="currentView == 'table'">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" style="width:2%;">&nbsp;</th>
        <th scope="col" style="margin-left:-20px; width: 40%">Dự án</th>
        <th class="hideable" scope="col" style=" width: 10%">Phòng ban</th>
        <th class="hideable" scope="col" style="width: 10%">Thành viên</th>
        <th class="hideable" scope="col" style="width: 13%">Thống kê</th>
        <th scope="col" style="width: 8%">Trạng thái</th>
        <th scope="col" style="width: 10%">&nbsp;</th>
        <th scope="col" style="width: 3%">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr class="li js-project" *ngFor="let project of showingProjects">
        <td></td>
        <td>
          <a href="#" class="title url" title="{{project.name}}"
               uiSref="project"
               [uiParams]="{projectId: project.id}">{{project.name}}</a>
          <div class="info relative" style="height: 18px;">
            <div class="absolute ap-xdot" style="width:100%">
              <span *ngIf="project.description != ''">{{project.description}}</span>
              <span *ngIf="project.description == ''">Chưa có mô tả công việc</span>
              · Cập nhật lần cuối: {{project.updated_on}}</div>
          </div>
        </td>
        <td class="hideable" style="vertical-align: middle">
          <div class="relative">
            <div class="absolute ap-xdot" style="width:100%">
              <div class="dept -none text-8" *ngIf="!hasDepartment(project)">Chưa có phòng ban</div>
              <div class="dept" *ngIf="hasDepartment(project)">
                <span class="a bold std url"
                      uiSref="departments-detail"
                      [uiParams]="{departmentId: project.parent.id}">{{project.parent.name}}</span>
              </div>
            </div>
          </div>
        </td>
        <td class="hideable" style="vertical-align: middle">
          <div class="users clear-fix" *ngIf="project.members != undefined">
            {{project.members.length}}
          </div>
        </td>
        <td class="hideable">
          <div class="bar" *ngIf="project.work_packages != undefined">
            <div class="stats">
              <span class="left ap-xdot" title="hoàn thành">
                <b>{{project.infos[1]}}</b>/<b>{{project.infos[0]}}</b> hoàn thành
              </span>
              <span class="right ap-xdot" title="quá hạn">
                <b>{{project.infos[2]}}</b> quá hạn
              </span>
            </div>
            <div class="complete" style="background-color:#EB6450" [style.width.%]="project.infos[1]*100/project.infos[0]"></div>
          </div>
        </td>
        <td>
          <div class="status -0" *ngIf="project.status != undefined">
            <div class="stage -bg-success" *ngIf="project.status == 1">Active</div>
            <div class="stage -bg-error" *ngIf="project.status == 0">Closed</div>
          </div>
        </td>
        <td>
          <div class="status -ontrack" *ngIf="project.Status != undefined">
            <div class="stage -edge"
                 style="background-color:rgba(31, 181, 58, 0.1); color:#16902a"
                 *ngIf="project.Status.value == 'on-track'"
            >Đúng tiến độ</div>
            <div class="stage -edge"
                 style="background-color:rgba(255, 255, 224, 1); color:#CDCD00"
                 *ngIf="project.Status.value == 'off-track'"
            >Chậm tiến độ</div>
            <div class="stage -edge"
                 style="background-color:rgba(205, 51, 51, 0.1); color:#8B2323"
                 *ngIf="project.Status.value == 'high-risk'"
            >Rủi ro cao</div>
          </div>
        </td>
        <td>
          <div class="edit-dd -cmenuw">
            <span class="fa fa-ellipsis-h"></span>
            <div class="-cmenu -no-icon -padding w200">
              <div class="-item url"
                   uiSref="project"
                   [uiParams]="{projectId: project.id}">Xem chi tiết</div>
              <div class="-item url" (click)="goto('/avp/projects/' + project.id)">
                Mở trong tab mới
              </div>
              <div class="-item-sep" *ngIf="isAdmin(project)"></div>
              <div class="-item url" *ngIf="isAdmin(project)" (click)="openModal(quickEditModal, project)">Chỉnh sửa dự án</div>
              <div class="-item url" *ngIf="isAdmin(project)" (click)="openModal(updateStatusModal, project)">Cập nhật trạng thái</div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="projects" style="display: block" *ngIf="currentView == 'card'">
    <div class="item" *ngFor="let project of showingProjects">
      <div class="w">
        <div class="title url ap-xdot" 
              title="{{project.name}}"
              uiSref="project"
              [uiParams]="{projectId: project.id}">{{project.name}}</div>
        <div class="info">
          Cập nhật lần cuối: {{project.updated_on}} ·
          <span *ngIf="project.description != ''">{{project.description}}</span>
          <span *ngIf="project.description == ''">Chưa có mô tả công việc</span>
        </div>
        <div class="users clear-fix">
          <div class="avatar avatar-32 -circled url" *ngFor="let member of project.members.slice(0, 5)">
            <div class="image">
              <img src="{{member.user.avatar}}" (error)="onAvatarFailed($event)">
            </div>
          </div>
          <div class="avatar avatar-32 -circled url" *ngIf="project.members.length > 5">
            <div class="more">
              <span>{{project.members.length}}</span>
            </div>
          </div>

        </div>
        <div class="bar" *ngIf="project.work_packages != undefined">
          <div class="stats">
            <b>{{project.infos[1]}}</b>/<b>{{project.infos[0]}}</b> hoàn thành
            <span class="right">
              <b>{{project.infos[2]}}</b> quá hạn
            </span>
          </div>
          <div class="complete" [style.width.%]="project.infos[1]*100/project.infos[0]"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="sep-30"></div>
  <div class="sep-30"></div>
  <div class="sep-30"></div>
  <div class="sep-30"></div>
  <div id="js-pag" class="center apppages">
    <div class="icons">
      <div class="prev" [ngClass]="{'disabled': query.pageIndex == 1 }" 
          [uiSref]="currentState"
          [uiParams]="{page: query.pageIndex - 1}">
        <i class="fa fa-arrow-left"></i>
      </div>
      <div class="avp-label">Trang {{query.pageIndex}}</div>
      <div class="next url" 
          [uiSref]="currentState"
          [uiParams]="{page: query.pageIndex + 1}">
        <i class="fa fa-arrow-right"></i>
      </div>
    </div>
  </div>
  <div class="sep-30"></div>
  <div class="sep-30"></div>
</div>

<ng-template #quickEditModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Chỉnh sửa dự án</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content form -flag">
    <div class="form-rows">
      <div class="row -istext -active">
        <div class="avp-label ">Tên dự án</div>
        <div class="input data">
          <input [(ngModel)]="editingProject.name" id="_uuid37203_55929_1600486687" type="text" name="name" placeholder="Tên dự án" class="std ">
        </div>
        <span class="inline-icon-picker">
          <input type="hidden" name="icon">
          <span class="icon-display url" data-url=":active:parent"></span>
        </span>
        <div class="clear"></div>
      </div>
      <div class="row -isselect -active">
        <div class="avp-label">Phòng ban</div>
        <div class="select data js-improved-select">
          <div class="improve-select unselectable">
            <ng-select [items]="departments"
                       [(ngModel)]="editingProjectParentId"
                       placeholder="Chọn phòng ban"
                       bindValue="id"
                       bindLabel="name"
            ></ng-select>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -istext -active">
        <div class="avp-label ">Người quản trị</div>
        <div class="input data">
          <user-search-box placeHolder="Người quản trị"
                           [clearable]="false"
                           [multiple]="true"
                           [selectedUserIds]="adminIds"
                           (selectItem)="onChangeAdminTo($event)"></user-search-box>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -isbase -active">
        <div class="avp-label ">Ngày bắt đầu và kết thúc</div>
        <div class="input-group -count-2">
          <div class="gi" style="width: 50%">
            <div class="input data">
              <span class="-ap icon-uniF1072" style="position: absolute; right:10px; top:10px; color:#aaa; font-size:16px;"></span>
              <input type="text"
                     name="stime"
                     ngbDatepicker #sd="ngbDatepicker"
                     (focus)="sd.open()" (click)="sd.open()"
                     navigation="arrows"
                     (dateSelect)="onChangeStartDate($event)"
                     [value]="editingProject.StartDate.value"
                     placeholder="Chọn ngày bắt đầu"
                     class="std hasDatepicker"></div>
          </div>
          <div class="gi" style="width: 50%">
            <div class="input data">
              <span class="-ap icon-uniF1072" style="position: absolute; right:10px; top:10px; color:#aaa; font-size:16px;"></span>
              <input type="text"
                     name="etime"
                     ngbDatepicker #dd="ngbDatepicker"
                     (focus)="dd.open()" (click)="dd.open()"
                     navigation="arrows"
                     (dateSelect)="onChangeDueDate($event)"
                     [value]="editingProject.DueDate.value"
                     placeholder="Chọn ngày kết thúc"
                     class="std hasDatepicker">
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -istextarea -active">
        <div class="avp-label ">Mô tả dự án</div>
        <div class="input data">
          <textarea name="content" placeholder="Mô tả ngắn gọn về dự án" [(ngModel)]="editingProject.description"></textarea>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-buttons -two">
      <div class="button ok -success -rounded bold" style="float: left" (click)="onSave(modal)">Lưu</div>
      <div class="button cancel -passive-2 -rounded" style="float: right" (click)="modal.dismiss()">Huỷ</div>
    </div>
  </div>
</ng-template>


<ng-template #updateStatusModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Cập nhật trạng thái</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content form -flag">
    <div class="form-rows">
      <div class="row -istext -active">
        <div class="avp-label ">Tên dự án/phòng ban</div>
        <div class="input data">
          <input [(ngModel)]="editingProject.name" type="text" name="name" class="std" readonly>
        </div>
        <span class="inline-icon-picker">
          <input type="hidden" name="icon">
          <span class="icon-display url" data-url=":active:parent"></span>
        </span>
        <div class="clear"></div>
      </div>
      <div class="row -isselect -active">
        <div class="avp-label">Trạng thái</div>
        <div class="select data js-improved-select">
          <div class="improve-select unselectable">
            <ng-select [items]="activations"
                       [searchable]="false" [clearable]="false"
                       [(ngModel)]="this.editingProject.status"
                       placeholder="Chọn trạng thái"
                       bindValue="value"
                       bindLabel="label"
            ></ng-select>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -isselect -active">
        <div class="avp-label">Tình trạng</div>
        <div class="select data js-improved-select">
          <div class="improve-select unselectable">
            <ng-select [items]="statuses"
                       [searchable]="false" [clearable]="false"
                       [(ngModel)]="this.editingProject.Status.value"
                       placeholder="Chọn tình trạng"
                       bindValue="value"
                       bindLabel="label"
            ></ng-select>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-buttons -two">
      <div class="button ok -success -rounded bold" style="float: left" (click)="onSaveStatus(modal)">Lưu</div>
      <div class="button cancel -passive-2 -rounded" style="float: right" (click)="modal.dismiss()">Huỷ</div>
    </div>
  </div>
</ng-template>