<div class="user-group-component">
    <one-center-header>
        <div class="user-group-header">
          <div class="title">
            {{'management.userGroup.title' | translate }}
          </div>
          <div class="filter-group">
              <div class="filter-item" (click)="updateFilter('allGroup')" [ngClass]="{'activate': isShowAll}">
                  {{'management.userGroup.filters.allGroup' | translate }}
              </div>
              <div class="filter-item" (click)="updateFilter('myGroup')" [ngClass]="{'activate': !isShowAll}">
                {{'management.userGroup.filters.myGroup' | translate }}
            </div>
          </div>
          <div class="actions">
            <button mat-raised-button color="primary"
                    (click)="createUserGroup()">{{'management.userGroup.actions.create' | translate }}</button>
          </div>
        </div>
      </one-center-header>
      <div class="user-group-list">
        <user-group-list-component [actionEvents]="eventSubject.asObservable()" [filterEvents]="filterSubject.asObservable()">

        </user-group-list-component>
      </div>
</div>
