@import "~@angular/material/theming";
@import "../../../../core/theme/base";
@include mat-core();

.user-group-component {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  .user-group-header {
    .title {
      font-size: 36px;
      font-weight: bold;
      float: left;
      text-transform: uppercase;
      margin-top: 24px;
    }

    .filter-group {
      position: absolute;
      bottom: 25px;
      width: 100%;
      text-align: center;

      .filter-item {
        display: inline-block;
        width: 200px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          color: mat-color($primary);
          text-decoration: underline;
        }

        &.activate {
          color: mat-color($primary);
          font-weight: 500;
        }
      }
    }

    .actions {
      float: right;
      margin-top: 18px;
    }
  }

  .user-group-list {
    height: calc(100% - 75px);
    overflow-y: scroll;
  }
}
