.base-apps {
  left: 230px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 7999;

  .modal-dialog {
    height: 100%;
    margin: 0;
  }

  .modal-content {
    position: static;
  }

  .avp-box {
    left: 0px;
    bottom: 0px;
    top: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
    width: 500px;
    -moz-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1);
    position: absolute;
    z-index: 99;

    .sb {
      position: absolute;
      overflow: hidden;
      top: 70px;
      bottom: 75px;
      left: 0px;
      right: 0px;
    }

    .inner {
      padding: 20px 0 20px 20px;
      overflow: hidden;

      .g-body .item {
        width: 130px;
        height: 130px;
        float: left;
        text-align: center;
        color: #666;
        position: relative;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin-right: 20px;
        margin-bottom: 10px;

        .image {
          display: block;
          padding-top: 13px;

          img {
            width: 64px;
          }
        }

        .text {
          display: block;
          font-size: 15px;
          font-weight: 300;
          padding-top: 10px;
          margin: 0 10px;

          em {
            font-size: 11px;
            font-weight: normal;
            display: block;
            padding-top: 3px;
          }
        }

        &.active {
          .text {
            font-weight: 500;
            color: #111;
          }

          &::after {
            position: absolute;
            left: 30px;
            right: 30px;
            height: 1px;
            bottom: 0px;
            background: rgba(0,0,0,0.1);
            content: "";
          }
        }

        &:hover {
          background-color: #f3f3f3;
          color: #267cde;
        }
      }
    }
  }

  .top {
    position: relative;
    height: 69px;
    padding: 0 20px;
    border-bottom: 1px dotted #eee;

    .user {
      padding-left: 55px;
      position: relative;
      padding-top: 15px;

      .image {
        position: absolute;
        overflow: hidden;
        top: 15px;
        left: 0px;
        width: 40px;
        height: 40px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .name {
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 4px;
        color: #000;
      }

      .info {
        color: #888;
        font-size: 13px;

        a {
          font-weight: normal;

          &:hover {
            color: #1663ba;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.modal {
    padding: 0;
  }
}

.content-backdrop {
  left: 230px;
}

.__apscrollbar_parent {
  overflow-x: hidden;
}

.__apscrollbar_target {
  overflow-y: scroll;
  overflow-x: hidden;
}

.__scrolled.__autohide .__apscrollbar_wrap, .__apscrollbar_parent.__autohide .__apscrollbar_wrap {
  padding-right: 10px;
  position: relative;
  min-height: 100%;
}