#header {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 65px;
  z-index: 10010;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background-color: #fff;

  .nav {
    position: absolute;
    cursor: pointer;
    color: #aaa;
    top: 0px;
    left: 0px;

    .icon {
      display: block;
      text-align: center;
      padding: 15px 15px;

      &::after {
        font-family: FontAwesome;
        content: "\f0c9";
        font-size: 16px;
        display: block;
      }

      #project-master.showing-task & {
        padding: 10px 15px;
      }
    }
  }

  .title {
    margin-left: 45px;
    padding-left: 45px;
    position: relative;

    .icon {
      position: absolute;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      font-size: 16px;
      width: 32px;
      height: 32px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      top: 10px;
      left: 0px;
      color: rgba(255, 255, 255, 0.6);
      padding: 6px 0;

      &.-avatar {
        overflow: hidden;
        background-color: #eee;
        padding: 0;

        img {
          width: 32px;
          height: 32px;
          display: block;
        }
      }

      &.-svg {
        background-color: #267cde;

        span {
          position: relative;
          font-size: 18px;
        }
      }

      #project-master.showing-task & {
        transform: scale(0.8);
        left: -5px;
        top: 4px;
      }
    }

    .name {
      font-size: 15px;
      font-weight: 501;
      padding: 10px 0;

      .url:hover {
        text-decoration: underline;
      }
    }

    #project-master.showing-task & {
      padding-left: 30px;
      padding-top: 2px;
      padding-right: 10px;

      .url {
        max-width: 85%;
        display: inline-block;
      }
    }
  }

  .side {
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 999;

    .search {
      color: #888;
      float: left;
      position: relative;
      z-index: 999;
      margin-left: 10px;

      :focus{
        border-color: #1c70ce;
        width: 250px;
      }

      :focus-visible {
        outline: none;
      }

      input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        -moz-border-radius: 17px;
        -webkit-border-radius: 17px;
        border-radius: 17px;
        padding: 7px 10px 7px 32px;
        width: 200px;
        font-size: 13px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        margin: 0;
        background: transparent;
        color: #888;

        #project-master.showing-task & {
          border: none;
          width: 100%;
          padding-top: 9px;
          padding-bottom: 9px;
          font-size: 12px;
        }
      }

      &::before {
        font-family: FontAwesome;
        content: "\f002";
        position: absolute;
        font-size: 14px;
        left: 10px;
        top: 7px;;

        #project-master.showing-task & {
          left: 18px;
        }
      }

      #project-master.showing-task & {
        float: none;
        border: none;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #f8f8f8;
        padding-left: 13px;
        margin-left: 0px;
      }
    }

    .buttons {
      float: left;
      box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
      -moz-border-radius: 16px;
      -webkit-border-radius: 16px;
      border-radius: 16px;
      overflow: hidden;
      font-size: 12px;
      color: #267cde;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #fff;
      height: 31px;
    }

    #project-master.showing-task & {
      left: 0px;
      bottom: 0px;
      top: auto;
      right: 0px;
    }
  }

  .proj-option {
    float: left;
    font-size: 14px;
    color: #aaa;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 2px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #ddd;
    padding: 6px 0;

    .-cmenu {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      right: 0px;
      top: 35px;
      width: 230px;
      padding: 4px;

      &::before {
        top: -13px;
        height: 15px;
      }
    }

    #project-master.showing-task & {
      display: none;
    }
  }

  .buttons {
    .button {
      padding: 9px 13px;
      border-right: 1px solid rgba(0,0,0,0.1);
      float: left;
      font-size: 12px;
      font-weight: 500;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 31px;
      margin: 0;
      background: none;
      color: #267cde;

      &:last-child {
        border: none;
      }

      &:hover {
        color: #fff;
        background-color: #267cde;
      }
    }
  }

  .main {
    position: absolute;
    bottom: 0px;
    left: 80px;

    .avp-tabs {
      .tab {
        cursor: pointer;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-weight: normal;
        font-size: 11px;
        color: #aaa;
        text-transform: uppercase;
        float: left;
        padding: 11px 10px;

        &.active {
          font-weight: 500;
          color: #267cde;

          a {
            text-decoration: none;
            color: #267cde;
            font-weight: 500;
          }

          &::before {
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: -1px;
            height: 2px;
            background-color: #267cde;
            content: "";
          }
        }

        &.-dd {
          padding-right: 26px;

          &::after {
            position: absolute;
            font-size: 12px;
            font-family: FontAwesome;
            content: "\f0d7";
            right: 10px;
            top: 10px;
          }
        }

        a {
          text-decoration: none;
          color: #555;
          font-weight: normal;
        }

        .-cmenu {
          text-transform: none;
          width: 180px;
          top: 31px;
        }
      }
    }
  }

  &::after {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 10px;
    background: rgba(0,0,0,0.05);
    content: "";
  }

  #project-master.showing-task & {
    height: 80px;

    .avp-tabs {
      display: none;
    }
  }
}

.red, .avp-red {
  color: #CC1111 !important;
}