#project-side {
  position: absolute;
  overflow: hidden;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 48888;
  padding: 8px;
  overflow-y: auto;
  scrollbar-width: none;
  height: auto;

  #ut-stats {
    display: block;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0 2px 0px 0px transparent;
    -webkit-box-shadow: 0 2px 0px 0px transparent;
    box-shadow: 0 2px 0px 0px transparent;

    .avp-box {
      flex: none;
      height: auto;
      border: none;
          border-top-color: currentcolor;
          border-top-style: none;
          border-top-width: medium;
      border-top: 1px solid rgba(0,0,0,0.1);
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      -moz-box-shadow: 0 2px 0px 0px transparent;
      -webkit-box-shadow: 0 2px 0px 0px transparent;
      box-shadow: 0 2px 0px 0px transparent;

      .graph {
        padding-top: 10px;
      }

      &.-middle {
        height: 180px;
      }
    } 
  }

  .section {
    background: rgba(255,255,255,0.9);
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.13);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px 0px rgba(0,0,0,0.1);
  }

  .avp-box {
    position: relative;
    padding: 13px 15px;

    .box-title {
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      position: relative;
      padding-bottom: 8px;

      .action {
        position: absolute;
        color: #267cde;
        font-size: 11px;
        cursor: pointer;
        font-weight: normal;
        right: 0px;
        top: -2px;
        padding: 2px 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .overview {
    .projinfo {
      .projname {
        font-weight: normal;
        font-size: 20px;
        padding: 0px 0 6px 0;
        text-transform: uppercase;
      }

      .projdesc {
        font-size: 13px;
        color: #333;
        position: relative;
        line-height: 20px;
        padding-left: 20px;

        .icon-desc {
          position: absolute;
          left: 0px;
          top: 6px;
          width: 11px;

          &::before {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 4px;
            right: 0px;
            border-top: 1px solid #999;
            border-bottom: 1px solid #999;
            content: "";
          }

          &::after {
            position: absolute;
            content: "";
            top: 6px;
            left: 0%;
            right: 0%;
            border-bottom: 1px solid #999;
          }
        }
      }

      .avp-row {
        padding-left: 20px;
        position: relative;
        font-weight: normal;
        color: #888;
        font-size: 12px;
        height: 14px;
        margin-bottom: 10px;

        .fa {
          position: absolute;
          font-size: 14px;
          top: 3px;
          left: 0px;
        }

        .v {
          position: absolute;
          font-weight: normal;
          color: #111;
          font-size: 13px;
          right: 0px;

          .url {
            color: #267cde;

            &:hover {
              text-decoration: underline;
            }
          }

          &.inline {
            margin-top: -1px;
            padding: 0 8px;
            -moz-border-radius: 13px;
            -webkit-border-radius: 13px;
            border-radius: 13px;
          }

          &.-full {
            left: 20px;
          }
        }
      }

      &.-with-image {
        .image {
          position: absolute;
          overflow: hidden;
          width: 40px;
          height: 40px;
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          top: 15px;
          left: 15px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .projname, .projdesc {
          padding-left: 55px;
        }

        .projname {
          padding-bottom: 2px;
          padding-top: 2px;
        }
      }
    }

    .bar {
      height: 4px;
      position: relative;
      overflow: hidden;
      background: rgba(0,0,0,0.1);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      margin: 10px 0px 5px 20px;

      .c {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
      }
    }
  }

  .subsection {
    .subheader {
      padding: 10px 15px;
      position: relative;
      margin: 0;

      .icon {
        font-size: 14px;
        position: absolute;
        color: #aaa;
        left: 15px;
        top: 9px;
      }

      .title {
        font-size: 12px;
        position: relative;
        cursor: pointer;
        font-weight: normal;
        color: #333;
        padding-left: 20px;

        &.-dd {
          &::before {
            font-family: FontAwesome;
            content: "\f0da";
            position: absolute;
            font-size: 12px;
            color: #aaa;
            top: 1px;
            right: 3px;
          }
        }

        &:hover {
          color: #267cde;
          text-decoration: underline;
        }
      }

      .side {
        position: absolute;
        font-size: 10px;
        right: 25px;
        top: 8px;
        padding: 2px 6px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
      }

      &::before {
        position: absolute;
        top: 0px;
        left: 15px;
        right: 15px;
        height: 1px;
        background: rgba(0,0,0,0.1);
        content: "";
      }
    }

    .body {
      display: none;
    }

    .users {
      overflow: hidden;
      margin-top: 8px;
      margin-right: -10px;
      padding-left: 8px;
      height: 40px;

      .avatar {
        float: left;
        margin-left: -8px;
        background-color: #f3f3f3;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;

        .image {
          border: 3px solid #fcfcfc;
        }
      }
    }

    &.active {
      .body {
        display: block;
      }

      .subheader .title.-dd::before {
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        right: 2px;
      }
    }
  }

  .people {
    .subbox {
      margin: 0 15px;
      border-top: 1px solid #eee;
    }

    .avp-user {
      padding: 10px 0px 0px 45px;
      position: relative;

      > .avatar {
        position: absolute;
        left: 0px;
        top: 15px;
      }

      .info {
        font-size: 13px;
        color: #888;
        padding-top: 4px;
      }

      .name {
        color: #000;
        .main {
          em {
            font-weight: 500;
            font-size: 14px;
          }
        }
      }

      .actions {
        position: absolute;
        cursor: pointer;
        color: #aaa;
        right: 0px;
        top: 6px;
        padding: 8px;

        .action {
          &:hover {
            color: #444;
          }
        }
      }
    }

    .title {
      position: relative;
      font-size: 12px;
      padding: 10px 0px;

      em {
        font-size: 11px;
        font-weight: 500;
        color: #aaa;
        text-transform: uppercase;
      }

      .actions {
        position: absolute;
        color: #aaa;
        right: 0px;
        top: -1px;
        padding: 8px;
      }
    }
  }

  .actions .cta {
    color: #267cde;
    cursor: pointer;
    font-size: 12px;
    padding: 4px 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .sidelinks {
    .link {
      padding: 7px 0 7px 20px;
      position: relative;
      color: #666;
      margin: 0 -15px 0 -15px;
      font-size: 13px;

      .edit {
        position: absolute;
        display: none;
        cursor: pointer;
        right: 24px;
        top: 7px;
        z-index: 999;
      }

      .icon {
        position: absolute;
        font-size: 14px;
        color: #aaa;
        top: 2px;
        left: 13px;
        padding: 4px;
      }

      &:hover {
        text-decoration: underline;

        .edit {
          display: block;
        }
      }
    }
  }

  .mstats {
    position: relative;
    overflow: hidden;
    color: #888;
    padding: 15px 0;

    .stat {
      text-align: center;
      float: left;
      position: relative;
      width: 33.3%;
      font-size: 13px;

      em {
        font-size: 18px;
        font-weight: 500;
        display: block;
        color: #111;

        span {
          font-size: 15px;
          color: #999;
        }
      }
    }

    .s {
      position: absolute;
      margin-left: -15px;
      width: 8px;
      height: 8px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      margin-top: 5px;
    }
  }

  .ustats {
    padding: 10px 15px;

    .avp-user {
      padding: 10px 0;
      position: relative;

      .name {
        padding-right: 60px;
        padding-left: 32px;
        position: relative;

        .avatar {
          left: 0px;
          top: 0px;
          width: 24px;
          height: 24px;
          position: absolute;
          font-size: 13px;
          overflow: hidden;
          color: #888;
          -moz-border-radius: 12px;
          -webkit-border-radius: 12px;
          border-radius: 12px;
        }

        .uname {
          font-weight: 500;
          font-size: 12px;
          color: #333;
        }

        .uinfo {
          color: #aaa;
          font-size: 11px;
          padding-top: 3px;
        }
      }

      .stat {
        right: 0px;
        top: 10px;
        width: 90px;
        position: absolute;

        .avp-label {
          font-size: 11px;
          color: #999;
          padding-bottom: 5px;
          text-align: right;

          em {
            font-weight: 500;
            color: #333;
          }
        }

        .bar {
          height: 4px;
        }
      }
    }
  }
}

#menu-sidebar {
  .search {
    overflow: visible;
    margin: 10px;

    .input {
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      position: relative;

      &::before {
        font-family: FontAwesome;
        content: "\f002";
        font-size: 12px;
        position: absolute;
        left: 13px;
        top: 8px;
        color: #ccc;
      }
    }

    input {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      display: block;
      margin: 0;
      border: none;
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
      font-size: 12px;
      padding: 9px 8px 9px 40px;

      &:focus {
        background: rgba(255,255,255,0.3);
        color: #fff;
        -moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
      }
    }
  }

  .avp-icon {
    position: absolute;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    right: 3px;
    top: 0;
    z-index: 1000;
    color: rgba(255,255,255,0.5);

    .count {
      background: rgba(195,67,67,0.8);
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      min-width: 10px;
      padding: 0px 4px;
      position: absolute;
      top: 2px;
      right: 2px;
    }

    &:hover {
      color: #fff;
    }
  }

  .user {
    .avatar .image {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
        border-radius: 17px;
      }
    }
  }
}

.task-elist {
  margin: 0 15px;

  .itask {
    padding: 8px 20px 8px 40px;
    position: relative;
    font-size: 12px;

    &::before {
      position: absolute;
      left: 0px;
      top: 8px;
      width: 10px;
      height: 10px;
      border: 1px solid rgba(0,0,0,0.4);
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      content: "";
    }

    &:hover .iname {
      text-decoration: underline;
    }

    .sicon {
      position: absolute;
      top: 9px;
      left: 22px;
      width: 9px;
      height: 9px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: rgba(0,0,0,0.1);

      &.-doing {
        background-color: #589fc9;

        &::after {
          background: rgba(61,149,200,0.2);
        }
      }

      &.-todo {
        background-color: #fff;
        box-shadow: inset 0 0 0 1px #589fc9;

        &::after {
          background: rgba(61,149,200,0.1);
        }
      }

      &::after {
        position: absolute;
        left: -4px;
        right: -4px;
        top: -4px;
        bottom: -4px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        animation-name: showhide;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation-name: showhide;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: showhide;
        -moz-animation-duration: 2s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: showhide;
        -ms-animation-duration: 2s;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        content: "";
      }
    }

    .iname {
      display: block;
      display: -webkit-box;
      max-height: 32px;
      font-size: 12px;
      line-height: 16px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: -2px;
    }

    .iside {
      position: absolute;
      right: 0px;
      top: 8px;

      > div {
        position: relative;
        float: left;
        margin-left: 5px;
      }

      .tlabel {
        font-size: 10px;
        color: #666;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        padding: 2px 6px;
        background-color: #eee;

        &.-red {
          color: #c34343;
          background-color: #ffeeee;
        }
      }
    }
  }
}

#ut-stats {
  display: flex;

  .avp-box {
    flex: 1;
    padding: 15px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    height: 180px;
    overflow: hidden;

    .title {
      font-weight: 500;
      font-size: 11px;
      text-transform: uppercase;
      color: #63b814;
    }
  }

  .executive {
    .keynum {
      position: relative;
      font-size: 30px;
      color: #267cde;

      em {
        position: absolute;
        font-size: 15px;
        color: #888;
        padding-left: 5px;
        padding-top: 10px;
        text-transform: lowercase;
      }
    }

    .visuals {
      .bar {
        background: rgba(0,0,0,0.2);
        position: relative;
        height: 10px;

        > .-b {
          display: block;
          float: left;
          height: 10px;

          &.a {
            background-color: #267cde;
          }

          &.o {
            background-color: #dbaa07;
          }

          &.s {
            background-color: #63b814;
          }
        }
      }

      .txt {
        padding-top: 5px;
        color: #aaa;
        text-transform: lowercase;
        font-size: 13px;

        b {
          font-weight: 500;
        }
      }
    }

    .subnums {
      display: flex;
      border-top: 1px solid #eee;
      margin-top: 10px;
    }

    .subnum {
      flex: 1;
      position: relative;
      font-size: 20px;
      color: #111;
      padding-top: 10px;

      em {
        position: absolute;
        font-size: 13px;
        color: #888;
        padding-left: 5px;
        padding-top: 5px;
        text-transform: lowercase;
      }
    }
  }

  .items {
    position: relative;
    padding-top: 15px;
    max-height: 160px;

    .item {
      padding-bottom: 13px;
      position: relative;
      cursor: pointer;

      .avp-label {
        font-size: 13px;
        position: relative;
        z-index: 888;
        width: 73%;
      }

      .num {
        text-transform: lowercase;
        position: absolute;
        font-size: 11px;
        color: #aaa;
        right: 0px;
        top: 0px;

        b {
          color: #333;
          font-weight: 500;
        }
      }

      &:hover {
        color: #267cde;
      }
    }

    &.scroll-y {
      margin-right: -15px;
      padding-right: 15px;
    }
  }
}

.text-main, .text-main-hover:hover {
  color: #267cde;
}

.text-alt6, .text-alt6-hover:hover {
  color: #dbaa07;
}

.text-alt7, .text-alt7-hover:hover {
  color: #FF6F22;
}

.text-alt8, .text-alt8-hover:hover {
  color: #CF5555;
}

.text-success, .text-success-hover:hover {
  color: #42b814;
}

.list.list-notis {
  background-color: #fff;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 6000;
  color: #555;
  position: absolute;
  height: 100%;
  bottom: 0px;
  top: 0px;

  > .-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -8px;
    right: 30px;
  }

  > .-title {
    padding: 16px 15px 16px 15px;
    font-size: 20px;
    color: #111;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 300;
    -moz-box-shadow: 0 2px 1px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 2px 1px 0px rgba(0,0,0,0.05);
    box-shadow: 0 2px 1px 0px rgba(0,0,0,0.05);
    z-index: 100;
    height: 55px;
  }

  .datesep {
    padding: 13px 15px;
    position: relative;
    font-weight: bold;
    font-size: 13px;
    color: #111;

    .d {
      position: relative;
      display: inline-block;
      background-color: #fff;
      padding-right: 20px;
    }

    .diff {
      color: #aaa;
      position: absolute;
      font-weight: normal;
      font-size: 12px;
      right: 0px;
      top: 8px;
      background-color: #fff;
      padding: 5px 25px;
    }

    &::before {
      position: absolute;
      top: 20px;
      left: 15px;
      right: 15px;
      height: 1px;
      width: 100%;
      background: rgba(0,0,0,0.1);
      content: "";
    }
  }

  .li {
    position: relative;
    cursor: pointer;
    padding: 10px 15px 10px 80px;
    margin-bottom: 1px;

    > .avatar {
      top: 15px;
      left: 15px;
      position: absolute;
    }

    > .text {
      font-size: 15px;
      position: relative;
      min-height: 50px;
      padding-right: 13px;
      padding-top: 2px;

      .-title {
        b, em {
          font-weight: 500;
          color: #000;
        }
      } 

      .info {
        color: #888;
        font-size: 12px;
        padding-top: 5px;
      }
    }

    &.unread {
      background-color: #e8f2f7;

      &:hover {
        background-color: #F5FCFF;
      }
    }

    &:hover {
      background: aliceblue;
    }
  }

  .-more {
    padding: 20px 0;
    text-align: center;
    display: block;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    padding: 16px 0;
    background-color: #f3f3f3;
    bottom: 0px;
    left: 0px;
    width: 100%;

    &:hover {
      color: #e66419;
      font-weight: bold;
      background-color: #f9f9f9;
    }
  }
}

.list-notis {
  .notis-items-w {
    bottom: 55px;
    position: absolute;
    overflow: hidden;
    top: 56px;
    bottom: 48px;
    left: 0px;
    right: 0px;
  }

  .notis-scroll {
    position: absolute;
    overflow: hidden;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
  }
}

#base-notis-items {
  overflow: hidden;
}
.__apscrollbar_target {
  overflow-y: scroll;
  overflow-x: hidden;
}

.__regular.__scrolled .__apscrollbar_wrap {
  margin-right: 10px;
  position: relative;
}

.person {
  position: relative;
  font-size: 13px;
  color: #888;
  font-weight: normal;
  padding: 10px 15px 10px 50px;

  .avatar {
    position: absolute;
    top: 10px;
    left: 15px;
  }

  .person-context {
    margin-left: 10px;
  }

  .person-name {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #111;

    &:hover {
      color: #267cde;
      text-decoration: underline;
    }
  }

  &:hover {
    color: #111;
    background-color: #f3f3f3;
  }
}