#context-menu {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000001;
  overflow-y: scroll;
  overflow-x: hidden;

  .menu {
    padding: 2px;

    .-profile {
      padding: 15px 15px 10px 72px;
      border-bottom: 2px solid #eee;
      position: relative;
  
      .avatar {
        position: absolute;
        top: 15px;
        left: 15px;
      }
  
      p {
        font-weight: normal;
        font-size: 13px;
        color: #888;
        padding-bottom: 6px;
        margin: 0;
        line-height: 1.3;

        &.-big {
          font-weight: bold;
          font-size: 15px;
          color: #111;
        }
      }
    }

    .item {
      padding: 10px 20px 10px 40px;
      position: relative;
      cursor: pointer;
      font-size: 13px;
      color: #333;

      .icon {
        font-size: 16px;
        position: absolute;
        color: #999;
        top: 8px;
        left: 16px;
      }

      &:hover {
        background-color: #f5f5f5;
        color: #000;
      }
    }
  }
}

#context-menu-close {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#context-menu-main {
  position: absolute;
  background-color: #fff;
  -moz-box-shadow: 0 2px 6px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 6px 0px rgba(0,0,0,0.1);
  box-shadow: 0 2px 6px 0px rgba(0,0,0,0.1);
  width: 300px;
  min-height: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index: 200;
  border: 1px solid rgba(0,0,0,0.1);

  #error {
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
  }
}