.cus-text-color {
  color: rgba(58, 133, 191, 0.75);
}

.cus-btn {
  margin-left: 10px;
  margin-right: 10px;
}

.cus-btn-primary {
  padding: 6px 12px;
  font-size: 11px;
  color: rgba(58, 133, 191, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.cus-btn-primary:hover {
  color: #FFF;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}