// CSS goes here.
// The file has to be included into the page first via
//
//   <%= stylesheet_link_tag 'proto_plugin/main', plugin: :openproject_proto_plugin %>
//
// For this example plugin the file is included into every page through the
// :header_tags view hook (see `lib/open_project/proto_plugin/hooks.rb`).

@import 'departments';
@import 'tasks/task_item';
@import 'tasks/tasklist';
@import 'tasks/task_master';
@import 'tasks/task_detail';
@import 'tasks/action_bar';
@import 'tasks/task_filter_setup';
@import 'tasks/repeated_task';
@import 'animation';
@import 'avp-header';
@import 'tasks/avp-calendar';
@import 'projects/project_list';
@import 'projects/action-bar';
@import "projects-page/projects_page_master";
@import "projects-page/project_page_header";
@import "report/report_header";
@import "report/report_total";
@import "report/report-task";
@import 'avp-sidebar';
@import 'tasks/comments';
@import 'projects/project-board';
@import 'avp-management';
@import 'context-menu';
@import 'projects/project-setting';
@import 'topics/topics';
@import 'documents/document';

#homescreen-after-links .widget-box {
  border-color: red;
}

.proto-plugin-widget-box {
  border-color: red !important;
}

.flash.kittens {
  color: white;
  background-color: red;
  font-weight: bold;
}

#kittens-menu-item-wrapper a#kittens-menu-item > span {

}

.kitty-image {
  position: absolute;
  bottom: 20px;
  right: 0;

  img {
    width: 320px;
    height: 200px;
  }
}

.kitten-error {
  color: red;
  opacity: 0.75;
}

input#kitten_name {
  width: 25%;
}

.ntn-department-tile ul {
  margin-left: 0px;
}

#master {
  transition-property: all;
  position: absolute;
  padding: 0;
  bottom: 0px;
  left: 230px;
  right: 0px;
  top: 0px;
  z-index: 999;
}

#pagew {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 888;
}

#page {
  position: relative;
  height: 100%;
}

em {
  font-style: normal;
}

.red, ap-red {
  color: #CC1111 !important;
}

.box-success, .-bg-success {
  background-color: #63b814;
}

.box-error, .-bg-error {
  background-color: #c34343;
}

.box-alt3, .-bg-alt3 {
  background-color: #11bdbf;
}

.box-alt5, .-bg-alt5 {
  background-color: #5969c5;
}

.xdot, .ap-xdot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.url {
  cursor: pointer;

  &.std:hover {
    text-decoration: underline;
  }
}

.tag-alt1-edge {
  box-shadow: inset 0 0 0 1px rgba(38, 124, 222, 0.2);
  color: #267cde;
  background: rgba(38, 124, 222, 0.1);

  &:hover {
    box-shadow: inset 0 0 0 1px #267cde;
    color: #fff;
    background: rgba(38,124,222,0.8);
  }
}

.tag-alt1 {
  background-color: #eef2f7;
  color: #1157a5;
}

.-infow:hover .-infobox {
  display: block;
}

.-infobox {
  position: absolute;
  text-align: center;
  display: none;
  left: 50%;
  z-index: 100;

  &.-w200 {
    width: 200px;
    margin-left: -100px;
  }

  &.-up {
    bottom: 100%;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid rgba(0,0,0,0.9);
      left: 50%;
      bottom: -5px;
      margin-left: -5px;
    }
  }

  .-box {
    padding: 4px 5px;
    border-radius: 3px;
    background: rgba(0,0,0,0.9);
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: rgba(255,255,255,0.8);
  }
}

.-infopopup {
  position: absolute;
  text-align: center;
  left: 50%;
  z-index: 100;

  .popover-body {
    padding: 4px 5px;
    border-radius: 3px;
    background: rgba(0,0,0,0.9);
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: rgba(255,255,255,0.8);
  }
}

.block, .ap-block {
  display: block;
}

.bold {
  font-weight: bold !important;
}

.normal, .ap-normal {
  font-weight: normal !important;
}

img {
  border: none;
  overflow: hidden;
  font-size: 10px;
  color: transparent;
  vertical-align: middle;
}

.avatar {

  .c {
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 50%;
    border: 1px dashed rgba(0,0,0,0.4);
    color: rgba(0,0,0,0.4);
  }

  &.avatar-24 {
    width: 24px;
    height: 24px;
    &.-circled, &.-circled > .image, &.-circled > .more {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }

  &.avatar-28 {
    width: 28px;
    height: 28px;
    &.-circled, &.-circled > .image, &.-circled > .more {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
    img {
      width: 28px;
      height: 28px;
    }
  }

  &.avatar-32 {
    width: 32px;
    height: 32px;

    &.-circled, &.-circled > .image, &.-circled > .more{
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 32px;
      height: 32px;
    }

    .user-add::after {
      padding-top: 5px;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }

  &.avatar-40 {
    width: 40px;
    height: 40px;

    &.-circled, &.-circled > .image, &.-circled > .more{
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 40px;
      height: 40px;
    }

    .user-add::after {
      padding-top: 5px;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }

  &.-online {
    position: relative;
    overflow: visible;

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      border: 1px solid #fff;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      position: absolute;
      right: -4px;
      top: -4px;
      background-color: #63b814;
      z-index: 100;
    }
  }

  > .image {
    overflow: hidden;
  }

  .user-add {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px dashed rgba(0,0,0,0.4);
    color: rgba(0,0,0,0.4);
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    cursor: pointer;

    &::after {
      font-family: FontAwesome;
      content: "\f067";
      display: block;
      text-align: center;
      padding-top: 3px;
    }
  }

  > .more {
    position: absolute;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    span {
      position: absolute;
      font-size: 16px;
      text-align: center;
      top: 50%;
      left: 0px;
      width: 100%;
      height: 16px;
      margin-top: -11px;
      vertical-align: middle;
    }
  }

  :hover > .more {
    background-color: #63b814;
  }
}

.anim-showhide-inf {
  animation-name: showhide;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: showhide;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: showhide;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: showhide;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

.clear-fix {
  &::after {
    content: " ";
    clear: both;
    display: block;
  }
}

.comment-logs {
  padding: 0 15px;

  .c-date {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 6px 0;
    font-weight: normal;
    text-transform: uppercase;
    color: #111;
    font-size: 11px;
    margin-top: 5px;
  }
  
  .comment-log {
    padding: 10px 0 5px 5px;
    position: relative;
    word-break: break-all;

    .c-avatar {
      position: absolute;
      overflow: hidden;
      left: 0px;
      top: 10px;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      background: rgba(0,0,0,0.1);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .c-display {
      color: #888;
      font-size: 13px;
      line-height: 18px;

      b, em, .url {
        color: #111;
        font-weight: normal;
      }

      em {
        font-weight: 500;
      }

      .time {
        color: #aaa;
      }

      #js-task-logs & .detail {
        cursor: pointer;

        &:hover {
          color: #267cde;
          text-decoration: underline;
        }
      }
    }
  }
}

.full-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.ap-inline-tagger-wrap {
  &.activated {
    .ap-inline-tagger {
      display: block;
    }
  }
}

.ap-inline-tagger {
  text-transform: none;
  position: absolute;
  display: none;
  top: 29px;
  left: 0px;
  width: 270px;
  background-color: #fff;
  z-index: 5888;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  .ap-tagger {
    text-align: left;

    .api-sb {
      position: relative;
      margin: 0 15px 15px 15px;

      input {
        padding: 11px 0 11px 35px;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        display: block;
        margin: 0;
        background: transparent;
      }

      &::after {
        font-family: FontAwesome;
        content: "\f002";
        position: absolute;
        font-size: 14px;
        color: #aaa;
        left: 1px;
        top: 2px;
        padding: 5px;
      }
    }

    .api-users {
      max-height: 250px;
      overflow-y: scroll;
    }

    .api-user {
      position: relative;
      font-size: 13px;
      color: #888;
      font-weight: normal;
      padding: 10px 15px 10px 50px;

      .avatar {
        position: absolute;
        top: 10px;
        left: 15px;
      }

      .api-name {
        font-weight: 500;
        font-size: 14px;
        color: #111;
        padding-bottom: 4px;
      }

      &:hover {
        color: #111;
        background-color: #f3f3f3;
      }
    }

    .api-tags {
      padding: 8px;
      text-transform: none;
      max-height: 300px;
      overflow: hidden;
      overflow-y: auto;
    }

    .api-tag {
      position: relative;
      font-size: 13px;
      color: #888;
      padding: 8px 10px 8px 35px;
      margin-bottom: 2px;

      &.-selected {
        background: rgba(66,184,20,0.1);

        &::after {
          font-family: FontAwesome;
          content: "\f00c";
          color: #42b814;
          font-size: 14px;
          position: absolute;
          right: 8px;
          top: 8px;
        }
      }

      .square {
        position: absolute;
        left: 10px;
        top: 9px;
        width: 13px;
        height: 13px;

        &.-bg-alt0 {
          background: rgba(0,0,0,0.15);
        }

        &.-bg-alt6 {
          background-color: #ADD302;
        }

        &.-bg-alt4 {
          background-color: #63b814;
        }

        &.-bg-alt7 {
          background-color: #5da4ed;
        }
      }

      &:hover {
        color: #111;
        background-color: #f3f3f3;
      }
    }

    .api-footer {
      border-top: 1px solid rgba(0,0,0,0.1);

      > div {
        padding: 10px 15px;
        color: #888;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          color: #267cde;
          text-decoration: underline;
        }
      }
    }
  }

  .api-title {
    padding: 9px 14px;
    font-weight: 500;
    font-size: 15px;
    color: #42b814;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #f9f9f9;
  }

}

.cform {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  width: 240px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;

  .ei-body & {
    width: 100%;
  }

  .c-title {
    color: #63b814;
    font-size: 15px;
    font-weight: 500;
    padding: 0 0 10px 0;
  }

  .side {
    position: absolute;
    font-size: 12px;
    color: #aaa;
    cursor: pointer;
    top: 18px;
    right: 15px;

    &:hover {
      color: #d96c6c;
      text-decoration: underline;
    }
  }

  .extra {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 15px;

    .row {
      position: relative;
      padding-right: 70px;
      padding-left: 15px;

      .input {
        input {
          border: 1px solid rgba(0,0,0,0.15);
          box-shadow: inset 1px 2px 2px #f6f6f6;
          -moz-box-shadow: inset 1px 2px 2px #f6f6f6;
          -webkit-box-shadow: inset 1px 2px 2px #f6f6f6;
          padding: 7px 8px;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          background: transparent;
          margin: 0;
          display: block;
          width: 100%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
        }
      }

      .save {
        position: absolute;
        cursor: pointer;
        top: -1px;
        right: 18px;
        padding: 8px 15px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background-color: #999;
        color: #fff;
        font-weight: 500;

        &:hover {
          background-color: #63b814;
          color: #fff;
        }
      }
    }
  }
}

.ie-body {
  position: absolute;
  background-color: #fff;
  padding: 0;
}

.popover-body {
  padding: 0;

  .menu {
    padding: 2px;

    .item {
      padding: 10px 20px 10px 40px;
      position: relative;
      cursor: pointer;
      font-size: 13px;
      color: #333;

      .icon {
        font-size: 16px;
        position: absolute;
        color: #999;
        top: 8px;
        left: 16px;
      }

      &:hover {
        background-color: #f5f5f5;
        color: #000;
      }
    }

    .item-sep {
      height: 1px;
      background-color: #ccc;
      margin: 10px 20px;
    }
  }
}

.text-success, .text-success-hover:hover {
  color: #63b814;
}

.text-yellow, .text-yellow:hover {
  color: #ffd000;
}

.tag-error-more {
  background: rgba(195, 67, 67, 0.7);
  color: #fff;
}

.tag-success-more {
  background: rgba(99,184,20,0.7);
  color: #fff;
}

.unselectable, .ap-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.inline, .ap-inline {
  display: inline-block;
}

.relative, .ap-relative {
  position: relative;
}

.absolute, .ap-absolute {
  position: absolute;
}

.icon-desc {
  position: relative;

  &::before {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 4px;
    right: 0px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    content: "";
  }


  &::after {
    position: absolute;
    content: "";
    top: 6px;
    left: 0%;
    right: 0%;
    border-bottom: 1px solid #999;
  }

  &.-right {
    &::after {
      left: 40%;
    }
  }
}

.text-10, .text-a {
  color: #aaa;
}

.hidden, .ap-hidden {
  display: none !important;
}

.button {
  text-align: center;
  cursor: pointer;
  display: block;
  font-size: 14px;
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &.-cta {
    background-color: #17C286;
    color: #fff;

    &:hover {
      background-color: #13b27b;
    }
  }
}

.upload-form {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 999;

  input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 999;
  }
}

a, .a {
  text-decoration: none;
  color: #267cde;
  font-weight: bold;
  cursor: pointer;

  &.std:hover {
    text-decoration: underline;
  }
}

.ap-xo, .xo {
  overflow: hidden;
}

textarea {
  resize: none;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
   color: transparent;
 }

.no-icon {
  margin-left: 0;
}

.list {
  &.list-actions {
    .li {
      position: relative;
      cursor: pointer;
      display: block;
      color: #111;
      font-weight: normal;
      font-size: 14px;
      padding: 10px 0 10px 50px;
      padding-right: 32px;

      &:hover {
        background-color: #f6f6f6;
        font-weight: bold;
      }

      > .-icon {
        position: absolute;
        font-size: 16px;
        top: 13px;
        left: 15px;
      }

      > .image {
        position: absolute;
        top: 10px;
        left: 15px;

        img {
          width: 32px;
          height: 32px;
        }
      }

      > .sub {
        font-size: 13px;
        font-weight: normal;
        color: #999;
      }
    }

    &.no-icon {
      .li {
        padding-left: 20px;
      }
    }

    &.-border {
      .li {
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }
    }

    &.with-image {
      .li {
        padding-left: 60px;
      }
    }
  }
}

#custom-selection {
  > .list-actions .li small {
    display: block;
    font-size: 13px;
    color: #aaa;
    font-weight: normal;
    padding-top: 4px;
  }
}

.ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_se, .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_sw {
  transform: none;
}

.__alertdialog {
  .__apdialog {
    overflow: hidden;
    padding: 30px 5px 25px 5px;
    max-width: 500px;
    min-width: 400px;

    table {
      width: 100%;
      height: 100%;
    }

    .icon {
      vertical-align: middle;
      width: 60px;
      padding-left: 15px;
    }

    .text {
      vertical-align: middle;
      font-weight: normal;
      font-size: 15px;
      text-align: justify;
      color: #111;
      line-height: 24px;
      padding-right: 20px;
    }
  }

  .__dialogbuttons {
    border-top: 2px solid #e7e7e7;
    text-align: right;
    position: relative;
    background-color: #fff;

    .button {
      text-align: center;
      cursor: pointer;
      padding: 13px 0px;
      border: 1px solid #e9e9e9;
      color: #444;
      font-size: 15px;
      margin: 0;

      &.er {
        color: #c65144;
        font-weight: bold;
        border: none;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
      }

      &.confirm-button {
        float: left;
        width: 50%;
      }

      &.ss {
        color: #42b814;
        font-weight: bold;
        border: none;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
      }
    }

    .ss.confirm-button {
      position: absolute;
      top: 0px;
      right: 0px;
      border-left: 1px solid #e7e7e7;
    }
  }
}

.__dialogcontent {
  border-top: 1px solid trapsparent;
  padding: 30px 40px;
  background: rgba(0,0,0,0.5);
  font-size: 28px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;

  p {
    padding-top: 10px;
    font-size: 13px;
    font-weight: normal;
  }
}

.form {

  input, textarea {
    border-radius: 3px;
  }

  border-radius: 0px;

  .form-rows {
    padding: 15px 35px;
  }

  .input-group {
    .gi {
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 15px;

      &:first-child {
        padding-left: 0px;
      }
    }
  }

  .row {
    padding-bottom: 15px;
    display: block;

    &.-html {
      padding-bottom: 20px;
      text-align: center;

      .link {
        color: #aaa;
        cursor: pointer;
        font-size: 13px;
        text-transform: uppercase;
        display: inline-block;
        padding: 5px 10px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;

        &:hover {
          color: #267cde;
          background-color: #f3f3f3;
        }
      }
    }
  }

  .list-radio {
    .options {
      font-size: 14px;
      color: #333;

      .opt {
        display: block;
        position: relative;
        cursor: pointer;
        padding-left: 27px;
        padding-bottom: 13px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;

        &.selected {
          font-weight: bold;
          color: #111;

          .circle {
            border-color: #42b814;
            .cin {
              background-color: #42b814;
            }
          }
        }

        .circle {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 12px;
          height: 12px;
          -moz-border-radius: 8px;
          -webkit-border-radius: 8px;
          border-radius: 8px;
          border: 2px solid #bbb;

          .cin {
            position: absolute;
            width: 6px;
            height: 6px;
            top: 1px;
            left: 1px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
          }
        }

        .sublabel {
          font-weight: normal;
          color: #888;
          padding-top: 4px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .wrapper {
    padding: 30px 20px 20px 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
    position: relative;

    > .wtitle {
      display: inline-block;
      position: absolute;
      top: -10px;
      left: 20px;
      border: 1px solid #ddd;
      background-color: #fff;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding: 3px 10px;
      font-size: 12px;
      text-transform: uppercase;
      color: #888;
    }
  }

  &.-flag {
    .row {
      position: relative;

      &.-plain {
        padding-top: 0px;
        margin-bottom: 5px;
        margin-top: -5px;
        font-size: 12px;

        .a {
          font-weight: normal;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .avp-label {
      font-weight: 500;
      font-size: 12px;
      color: #333;
      position: relative;
      display: block;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      padding-bottom: 5px;
    }

    .data, .input-group {
      margin-left: 0px;
      position: relative;
    }

    .data {
      &.list-radio {
        margin-top: 10px;
      }
    }

    .wrapper {
      margin-top: 15px;
    }
  }
}

.form-buttons {
  overflow: hidden;
  margin-top: 5px;
}

.modal-footer {
  display: block;
  padding-top: 5px;

  .form-buttons {
    border: none;
    padding-top: 15px;

    .button {
      width: 49%;
      margin: 0px;
    }
  }
}

.button {
  &.-success {
    background-color: #63b814;
    color: #fff;
  }

  &.-passive-2 {
    background-color: #ddd;
    color: #666;
  }
}

.fa-spin{
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.__hiddenselect {
  background-color: #fff;
  z-index: 2999;
  -moz-box-shadow: 0 2px 13px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 13px 0px rgba(0,0,0,0.1);
  box-shadow: 0 2px 13px 0px rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  width: 200px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  .-tstitle {
    padding: 10px 15px;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    font-weight: 500;
    color: #4e960d;

    .-tsclose {
      padding: 6px;
      position: absolute;
      color: #999;
      cursor: pointer;
      font-size: 16px;
      right: 5px;
      top: 3px;
    }
  }
}

.custom-position {
  width: 298px;
}

.avp-loader {
  .modal-dialog {
    width: 150px;
  }

  .modal-content {
    background-color: transparent;
    border: none;
    width: 150px;
  }

  .__dialogcontent {
    padding: 10px 20px;
    .text {
      font-size: 15px;
    }
  }
}

.pointer, .ap-pointer {
  cursor: pointer !important;
}

.tag-alt7-more {
  background: rgba(255,111,34,0.7);
  color: #fff;
}

.-cmenuw, .-cmenuw-active {
  .-cmenu {
    display: none;
    position: absolute;
    color: #333;
  }
}

.-cmenuw:hover .-cmenu, .-cmenuw.shown .-cmenu {
  display: block;
}

.-cmenu {
  background-color: #fff;
  -moz-box-shadow: 0 2px 10px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0 2px 10px 0px rgba(0,0,0,0.2);
  z-index: 888;
  font-weight: normal;
  font-size: 13px;

  &.-padding {
    padding: 4px 6px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    .-item {
      padding-top: 7px;
      padding-bottom: 7px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      margin-top: 3px;

      &:hover {
        background: rgba(38, 124, 222, 0.8);
        color: #fff;
      }
    }
  }

  &.-no-icon {
    .-item {
      padding-left: 15px;
    }
  }

  .-item {
    padding: 10px 15px 10px 42px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    color: #555;
    text-align: left;
    display: block;

    &.active {
      font-weight: bold;
      color: #111;
    }
  }

  .-item-sep {
    background-color: #f3f3f3;
    height: 1px;
    display: block;
    margin: 4px 0;
  }
}

.hidden-navigation {
  #master {
    left: 0;
  }
}

.w200 {
  width: 200px;
}

.disable {
  pointer-events: none;
  opacity: 0.4;
}

.tasklist, .memberlist {
  .footer {
    margin-top: 13px;
  
    .avp-pagination {
      float: right;
  
      .pagination {
        justify-content: right;
        width: auto;
  
        .page-link {
          color: #1A67A3;
        }

        .page-item.active .page-link {
          color: #fff;
          background-color:#1A67A3;
          border-color: #1A67A3;
        }
      }
    }
  }
}
