<div id="setting">
  <div id="acl">
    <div class="setting-box">
      <div class="title">Phân quyền sử dụng theo loại tài khoản</div>
      <div class="table">
        <table>
          <tr class="acl-header">
            <th>Phân quyền</th>
            <th style="width:110px">Quản lý</th>
            <th style="width:110px">Thành viên</th>
          </tr>
          <tr class="field" data-name="task.create">
            <td class="role">
              <div class="role-name">Tạo công việc mới</div>
              <div class="role-info">Quyền tạo công việc mới</div>
            </td>
            <td>
              <div class="status locked" [ngClass]="{'-on': projectPermission.CREATE_WP.ADMIN}"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': projectPermission.CREATE_WP.MEMBER}" 
              (click)="onChangePP('CREATE_WP', 'MEMBER', !projectPermission.CREATE_WP.MEMBER)"></div>
            </td>
          </tr>
          <tr class="field" data-name="tasklist.create">
            <td class="role">
              <div class="role-name">Tạo nhóm công việc mới</div>
              <div class="role-info">Quyền tạo nhóm công việc mới</div>
            </td>
            <td>
              <div class="status locked" [ngClass]="{'-on': projectPermission.CREATE_CATEROGY.ADMIN}">
              </div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': projectPermission.CREATE_CATEROGY.MEMBER}"
              (click)="onChangePP('CREATE_CATEROGY', 'MEMBER', !projectPermission.CREATE_CATEROGY.MEMBER)"></div>
            </td>
          </tr>
          <tr class="field" data-name="task.view.other">
            <td class="role">
              <div class="role-name">Xem công việc của người khác</div>
              <div class="role-info">Xem công việc giao cho-tạo bởi người khác</div>
            </td>
            <td>
              <div class="status locked" [ngClass]="{'-on': projectPermission.VIEW_WP.ADMIN}">
              </div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': projectPermission.VIEW_WP.MEMBER}"
              (click)="onChangePP('VIEW_WP', 'MEMBER', !projectPermission.VIEW_WP.MEMBER)"></div>
            </td>
          </tr>
          <tr class="field" data-name="unassign">
            <td class="role">
              <div class="role-name">Quyền giao công việc cho người khác</div>
              <div class="role-info">Quyền giao công việc cho người khác</div>
            </td>
            <td>
              <div class="status locked" [ngClass]="{'-on': projectPermission.ASSIGN_WP.ADMIN}"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': projectPermission.ASSIGN_WP.MEMBER}"
              (click)="onChangePP('ASSIGN_WP', 'MEMBER', !projectPermission.ASSIGN_WP.MEMBER)"></div>
            </td>
          </tr>
          <tr class="field" data-name="report">
            <td class="role">
              <div class="role-name">Quyền xem báo cáo tổng thể</div>
              <div class="role-info">Quyền xem báo cáo tổng hợp kết quả công việc</div>
            </td>
            <td>
              <div class="status locked" [ngClass]="{'-on': projectPermission.VIEW_REPORT.ADMIN}"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': projectPermission.VIEW_REPORT.MEMBER}"
              (click)="onChangePP('VIEW_REPORT', 'MEMBER', !projectPermission.VIEW_REPORT.MEMBER)"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    

    <div class="sep-30"></div>
    <div class="sep-30"></div>
    <div class="setting-box">
      <div class="title">Phân quyền chỉnh sửa - cập nhật công việc</div>

      <div class="table" id="js-priv-task">
  
        <table>
          <tr class="acl-header">
            <th>Phân quyền</th>
            <th style="width:110px">Người giao việc</th>
            <th style="width:110px">Người nhận việc</th>
            <th style="width:110px">Người theo dõi</th>
            <th style="width:110px">Khác</th>
          </tr>
          <tr class="field" data-name="name">
            <td class="role">
              <div class="role-name">Chỉnh sửa tên công việc</div>
              <div class="role-info">Quyền chỉnh sửa tên công việc trong hệ thống</div>
            </td>
            <td>
              <div class="status locked" [ngClass]="{'-on': wpPermission.EDIT_NAME.AUTHOR}"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_NAME.ASSIGNEE}"
              (click)="onChangeWPP('EDIT_NAME', 'ASSIGNEE', !wpPermission.EDIT_NAME.ASSIGNEE)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_NAME.WATCHER}"
              (click)="onChangeWPP('EDIT_NAME', 'WATCHER', !wpPermission.EDIT_NAME.WATCHER)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_NAME.OTHER}"
              (click)="onChangeWPP('EDIT_NAME', 'OTHER', !wpPermission.EDIT_NAME.OTHER)"></div>
            </td>
          </tr>
          <tr class="field" data-name="status">
            <td class="role">
              <div class="role-name">Quyền đổi trạng thái</div>
              <div class="role-info">Quyền thay đổi trạng thái công việc</div>
            </td>
            <td>
              <div class="status locked" [ngClass]="{'-on': wpPermission.EDIT_STATUS.AUTHOR}"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_STATUS.ASSIGNEE}"
              (click)="onChangeWPP('EDIT_STATUS', 'ASSIGNEE', !wpPermission.EDIT_STATUS.ASSIGNEE)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_STATUS.WATCHER}"
              (click)="onChangeWPP('EDIT_STATUS', 'WATCHER', !wpPermission.EDIT_STATUS.WATCHER)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_STATUS.OTHER}"
              (click)="onChangeWPP('EDIT_STATUS', 'OTHER', !wpPermission.EDIT_STATUS.OTHER)"></div>
            </td>
          </tr>
          <tr class="field" data-name="desc">
            <td class="role">
              <div class="role-name">Chỉnh sửa miêu tả công việc</div>
              <div class="role-info">Quyền chỉnh sửa miêu tả công việc</div>
            </td>
            <td>
              <div class="status locked" [ngClass]="{'-on': wpPermission.EDIT_DESCRIPTION.AUTHOR}"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_DESCRIPTION.ASSIGNEE}"
              (click)="onChangeWPP('EDIT_DESCRIPTION', 'ASSIGNEE', !wpPermission.EDIT_DESCRIPTION.ASSIGNEE)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_DESCRIPTION.WATCHER}"
              (click)="onChangeWPP('EDIT_DESCRIPTION', 'WATCHER', !wpPermission.EDIT_DESCRIPTION.WATCHER)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_DESCRIPTION.OTHER}"
              (click)="onChangeWPP('EDIT_DESCRIPTION', 'OTHER', !wpPermission.EDIT_DESCRIPTION.OTHER)"></div>
            </td>
          </tr>
          <tr class="field" data-name="time">
            <td class="role">
              <div class="role-name">Chỉnh sửa thời gian (start-date-deadline)</div>
              <div class="role-info">Chỉnh sửa thời gian bắt đầu-kết thúc (start date-deadline)</div>
            </td>
            <td>
              <div class="status locked" [ngClass]="{'-on': wpPermission.EDIT_TIME.AUTHOR}"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_TIME.ASSIGNEE}"
              (click)="onChangeWPP('EDIT_TIME', 'ASSIGNEE', !wpPermission.EDIT_TIME.ASSIGNEE)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_TIME.WATCHER}"
              (click)="onChangeWPP('EDIT_TIME', 'WATCHER', !wpPermission.EDIT_TIME.WATCHER)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_TIME.OTHER}"
              (click)="onChangeWPP('EDIT_TIME', 'OTHER', !wpPermission.EDIT_TIME.OTHER)"></div>
            </td>
          </tr>
          <tr class="field" data-name="result">
            <td class="role">
              <div class="role-name">Quyền cập nhật kết quả công việc</div>
              <div class="role-info">Cập nhật kết quả công việc</div>
            </td>
            <td>
              <div class="status locked" [ngClass]="{'-on': wpPermission.EDIT_RESULT.AUTHOR}"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_RESULT.ASSIGNEE}"
              (click)="onChangeWPP('EDIT_RESULT', 'ASSIGNEE', !wpPermission.EDIT_RESULT.ASSIGNEE)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_RESULT.WATCHER}"
              (click)="onChangeWPP('EDIT_RESULT', 'WATCHER', !wpPermission.EDIT_RESULT.WATCHER)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_RESULT.OTHER}"
              (click)="onChangeWPP('EDIT_RESULT', 'OTHER', !wpPermission.EDIT_RESULT.OTHER)"></div>
            </td>
          </tr>
          <tr class="field" data-name="remove">
            <td class="role">
              <div class="role-name">Quyền xóa công việc</div>
              <div class="role-info">Quyền xóa toàn bộ dữ liệu của công việc đã tạo</div>
            </td>
            <td>
              <div class="status locked" [ngClass]="{'-on': wpPermission.DELETE_WP.AUTHOR}"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.DELETE_WP.ASSIGNEE}"
              (click)="onChangeWPP('DELETE_WP', 'ASSIGNEE', !wpPermission.DELETE_WP.ASSIGNEE)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.DELETE_WP.WATCHER}"
              (click)="onChangeWPP('DELETE_WP', 'WATCHER', !wpPermission.DELETE_WP.WATCHER)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.DELETE_WP.OTHER}"
              (click)="onChangeWPP('DELETE_WP', 'OTHER', !wpPermission.DELETE_WP.OTHER)"></div>
            </td>
          </tr>
          <tr class="field" data-name="delegate">
            <td class="role">
              <div class="role-name">Quyền chuyển công việc cho người khác</div>
              <div class="role-info">Quyền giao lại công việc cho người khác</div>
            </td>
            <td>
              <div class="status locked" [ngClass]="{'-on': wpPermission.EDIT_ASSIGNEE.AUTHOR}"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_ASSIGNEE.ASSIGNEE}"
              (click)="onChangeWPP('EDIT_ASSIGNEE', 'ASSIGNEE', !wpPermission.EDIT_ASSIGNEE.ASSIGNEE)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_ASSIGNEE.WATCHER}"
              (click)="onChangeWPP('EDIT_ASSIGNEE', 'WATCHER', !wpPermission.EDIT_ASSIGNEE.WATCHER)"></div>
            </td>
            <td>
              <div class="status" [ngClass]="{'-on': wpPermission.EDIT_ASSIGNEE.OTHER}"
              (click)="onChangeWPP('EDIT_ASSIGNEE', 'OTHER', !wpPermission.EDIT_ASSIGNEE.OTHER)"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>