.avatar {
    border-radius: 50%;
  }

  ul.rooms-list__list li.sidebar-item {
    height: 60px;
  }

  ul.rooms-list__list li.sidebar-item .sidebar-item__picture {
    width: 40px;
    height: 40px;
  }

  ul.rooms-list__list li.sidebar-item .sidebar-item__picture .sidebar-item__user-thumb {
    width: 40px;
    height: 40px;
  }

  ul.rooms-list__list li.sidebar-item .sidebar-item__body {
    height: 60px;

    color: white;
  }

  ul.rooms-list__list li.sidebar-item .sidebar-item__body .sidebar-item__user-status{
    position: absolute;
  left: 50px;
  bottom: 13px;
  width: 10px;
  height: 10px;
  }

  ul.rooms-list__list li.sidebar-item.sidebar-item--active {
    background-color: #dbaa07;
  }

  label.rc-message-box__container {
    padding-left: 5px;
  }

  .one-like {
    font-size: 15pt;
    width: 15px;
  }

  .one-star.one-people-list {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: whitesmoke;
  }

  .one-people-list .has-search .form-control {
    padding-left: 2.375rem;
  }

.one-people-list .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.one-people-list .one-search-bar {
  margin: 30px;
  padding-right: 45px;
}

.one-people-list .one-search-result {
	height: calc(100% - 98px);
	overflow-y: scroll;
	width: calc(100% - 70px);
}

.one-people-list .one-userlist {
  width: 80%;
  margin: 0 auto;
}

.one-people-list .one-userlist .list-title {
  font-weight: 600;
  color: #aaa;
}

.one-people-list .one-online-userlist-result {
  /* width: 80%;
  margin: 0 auto; */
}

.one-userlist .one-user-list-item {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 15px;
  text-align: center;
}

.one-userlist .one-user-list-item .one-user-list-item-avatar {
  width: 100%;
  height: 100%
}

.one-userlist .one-user-list-item .one-user-list-item-avatar figure {
  width: 100% !important;
  height: 100% !important;
}

.one-userlist .one-user-list-item .one-user-list-item-avatar img {
  border-radius: 100%;
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto;
}

.one-userlist .one-user-list-item .one-user-list-item-name {
  /* text-align: center; */
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.search-header .has-search .form-control {
	padding-left: 2.375rem;
}

.search-header .has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}

.search-header .one-search-bar {
	margin-left: 2.375rem;
	padding-right: 2.375rem;
}

.sidebar__header .sidebar__header-thumb {
	height: 75px;
	width: 75px;
}

.sidebar__header .sidebar__header-thumb .avatar {
	width: 75px;
}

.sidebar__header .sidebar__header-thumb .sidebar__header-status-bullet {
	right: 7px;
	width: 15px;
	height: 15px;
}

.sidebar__header .sidebar__toolbar {
	min-width: 100px;
}

.sidebar__header .sidebar-userinfo {
	min-width: 200px;
}

.sidebar__header .sidebar-userinfo .sidebar-user-name {
	color: white;
}

.parent-one-app-list {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}


.one-app-list {


	background: white;
	width: 40%;
	height: 100%;
}

.one-app-list .one-app-list-header {
	height: 70px;
	border-bottom: 1px dotted #eee;
}

.one-app-list .one-app-list-header .avatar {
	display: inline-block;
	width: 60px;
	margin-top: 5px;
	height: 60px;
	margin-left: 12px;
	margin-right: 12px;
}

.one-app-list .one-app-list-header .user-info {
	display: inline-block;
	position: absolute;
	padding-top: 19px;
}

.one-app-list .one-app-list-header .user-info .fullname {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}


.one-app-list .content {

}

.one-app-list .content .app-items {
	height: 225px;
}

.one-app-list .content .app-items .app-item {
	display: inline-block;
	width: 130px;
	height: 130px;
	text-align: center;
	margin: 15px;
	padding: 5px;
}

.one-app-list .content .app-items .app-item:hover {
	cursor: pointer;
  background-color: #f3f3f3;
}

.one-app-list .content .app-items .app-item .app-icon {
	width: 78px;
	height: 78px;
	margin: 0 auto;
}

.one-app-list .content .app-items .app-item .app-name {
	color: #111;
	font-size: 15px;
	font-weight: 500;
	display: inline-block;
}

.one-app-list .content .app-items .app-item .app-description{
	display: inline-block;
}

.one-app-list .content .app-items .app-item .app-icon-wework{
	background-image: url('/images/Wework.png');
	background-size: contain;
}

.one-app-list .content .app-items .app-item .app-icon-account {
	background-image: url('/images/Account2.png');
	background-size: contain;
}

.one-people-list1 .has-search .form-control {
	padding-left: 2.375rem;
}

.one-people-list1 .has-search .form-control-feedback {
position: absolute;
z-index: 2;
display: block;
width: 2.375rem;
height: 2.375rem;
line-height: 2.375rem;
text-align: center;
pointer-events: none;
color: #aaa;
}

.one-people-list1 .one-search-bar {
margin: 30px;
padding-right: 45px;
}

.one-people-list1 .one-search-result {
height: calc(100% - 98px);
overflow-y: scroll;
width: calc(100% - 70px);
}

.one-people-list1 .one-userlist {
width: 80%;
margin: 0 auto;
}

.one-people-list1 .one-userlist .list-title {
font-weight: 600;
color: #aaa;
}

.one-people-list1 .one-online-userlist-result {
/* width: 80%;
margin: 0 auto; */
}

.contextual-bar .contextual-bar__content figure.rcx-box img {
	border-radius: 50%;
}
