<div id="header">
  <div class="nav" (click)="toggleService.toggleNavigation($event)"><span class="icon"></span></div>

  <div class="title">
    <div class="icon -svg">
      <span class="fa fa-users"></span>
    </div>
    <div class="name" >Thành Viên</div>
  </div>

  <div class="main">
    <div class="avp-tabs auto-active-url">
      <div class="tab url active" ><span class="tab-label">Danh Sách Thành Viên</span></div>
      <div *ngIf="isAdminOrOwner" class="tab url" (click)="onExport()"><span class="tab-label">Export</span></div>
    </div>
  </div>

  <div class="side">
    <div class="search">
      <input type="text" placeholder="Lọc nhanh thành viên" (change)="onSearchProject($event)">
    </div>
  </div>
</div>