<one-left-panel [userInfo]="userInfo">
</one-left-panel>
<one-right-panel [userInfo]="userInfo">
</one-right-panel>

<div class="one-center-panel">
  <router-outlet></router-outlet>
</div>

<!-- <div class="messages">
  <one-mini-chat [userInfo]="userInfo"></one-mini-chat>
</div> -->

<one-mini-chat [userId]="userId"></one-mini-chat>


