<div id="context-menu">
  <div id="context-menu-close" onclick="Context.close();"></div>
  <div class="context-canvas-slider">
    <div id="context-menu-main">
      <div class="header hidden"></div>
      <div id="user-popup" class="menu">
        <div class="items">
          <div class="item-html">
            <div class="-profile -with-image" data-uid="88966">
              <div class="avatar avatar-40 -rounded">
                <div class="image url">
                  <img id="user-popup-avatar"
                    src="/assets/avp-icons/default_user.png">
                </div>
              </div>
              <div class="-text">
                <p id="user-popup-name" class="-big"></p>
                <p id="user-popup-title" class="ap-xdot"></p>
                <p id="user-popup-phone"></p>
              </div>
            </div>
          </div>
          <div id="user-popup-link" class="item" data-url="">
            <span class="icon">
              <span class="fa fa-mail-forward"></span>
            </span>
            View my profile
          </div>
        </div>
      </div>
      <div id="error">
      </div>
      <div class="footer"></div>
    </div>
  </div>
</div>