<div class="one-personal-info">
  <div class="personal-main-info">
    <div class="personal-avatar">
<!--      <span class="far fa-user-circle"></span>-->
      <one-avatar [imageUrl]="myAvatar" [size]="100"></one-avatar>
    </div>
    <div class="info">
      <div class="fullname basic-info">
        {{userInfo.lastName}} {{userInfo.firstName }}
      </div>

      <div class="title basic-info">
        {{ userInfo.attributes['avp_title'] }}
      </div>
      <div class="email basic-info">
        <div class="hightline">Địa chỉ email</div>{{ userInfo.email }}
      </div>
      <div class="phone-number basic-info">
        <div class="hightline">Số điện thoại</div>{{ userInfo.attributes['avp_number'] || 'Không có số điện thoại'}}
      </div>
    </div>
  </div>
  <mat-card class="personal-info-section" *ngIf="isAdmin">
    <mat-card-title>
      <div class="header">
        <h3>Công Cụ</h3>
      </div>
    </mat-card-title>
    <mat-card-content class="user-action">
      <button mat-raised-button color="primary" (click)="changePassword()" >{{'rightPanel.actions.changePassword' | translate }}</button>
    </mat-card-content>

  </mat-card>

  <mat-card class="personal-info-section">
    <mat-card-title>
      <div class="header">
        <h3>Thông Tin Liên Hệ</h3>
      </div>
      <div class="action">
        <span class="fas fa-edit personal-action contact-edit" (click)="editContactInfo()" *ngIf="allowEdit"></span>
      </div>
    </mat-card-title>
    <mat-card-content>
      <mat-table [dataSource]="userData.contacts">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef style="display: none">{{ 'Ten' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.name}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef style="display: none">{{ 'Noi Dung' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" style="flex: 2;">
            {{element.description}}
          </mat-cell>
        </ng-container>
        <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>

  <mat-card class="personal-info-section" *ngIf="isEmployee" >
    <mat-card-title>
      <div class="header">
        <h3>Nhóm {{userGroups.length > 0 ? ('(' + userGroups.length + ')') : ''}}</h3>
      </div>
      <div class="action" (click)="editContactInfo()">
<!--        <span class="fas fa-edit personal-action contact-edit" ></span>-->
      </div>
    </mat-card-title>
    <mat-card-content>
      <span *ngIf="userGroups.length == 0">Không có thông tin nhóm</span>
      <div class="user-group" *ngFor="let ug of userGroups" (click)="gotoGroup(ug)">
        <mat-card class="group-info group-info-activate">
          <div class="group-indicator group-indicator-activate">
            <span class="fas fa-chevron-right"></span>
          </div>
          <mat-card-title class="mat-group-title ">
            <div class="group-title group-title-activate">{{ug.name}}</div>
          </mat-card-title>
          <mat-card-content>
            <div class="group-data">
              <span>{{getNumOfMembers(ug)}}</span> - <span>{{ug.description || 'Không có miêu tả'}}</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="personal-info-section" *ngIf="isEmployee">
    <mat-card-title>
      <div class="header">
        <h3>Nhân Viên Trực Tiếp</h3>
      </div>
      <div class="action">
<!--        <span class="fas fa-edit personal-action contact-edit"></span>-->
      </div>
    </mat-card-title>
    <mat-card-content>
      <!-- <mat-table [dataSource]="directMemberInfo">
        <ng-container matColumnDef="name">
          <mat-header-cell class="avatar-column" *matHeaderCellDef style="display: none">{{ 'Ten' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" class="avatar-column">
            <div class="member-avatar">
              <one-avatar [username]="element.username || element.preferred_username" [size]="42" ></one-avatar>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef style="display: none">{{ 'Noi Dung' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" class="text-content">
            {{element.lastName}} {{element.firstName }}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table> -->
      <span *ngIf="directMemberInfo.data.length == 0">Không có thông tin.</span>
      <div class="user-group" *ngFor="let member of directMemberInfo.data" (click)="gotoUser(member)">
        <mat-card class="group-info group-info-activate">
          <div class="group-indicator group-indicator-activate">
            <span class="fas fa-chevron-right"></span>
          </div>
          <mat-card-title class="mat-group-title ">
            <div class="group-title group-title-activate">{{getFullname(member)}}</div>
          </mat-card-title>
          <mat-card-content>
            <div class="group-data">
              <span>@{{getUsernameOfMember(member)}}</span> - <span>{{member.attributes['avp_title']}}</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="personal-info-section" *ngIf="isEmployee">
    <mat-card-title>
      <div class="header">
        <h3>Học Vấn</h3>
      </div>
      <div class="action">
        <span class="fas fa-edit personal-action contact-edit" (click)="editStudyLevels()" *ngIf="allowEdit"></span>
      </div>
    </mat-card-title>
    <mat-card-content>
      <mat-table [dataSource]="userData.studyLevels" *ngIf="userData.studyLevels && userData.studyLevels.length > 0">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef >{{ 'Trường' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" style="display: inline;">
            <div style="margin-top: 5px;"><b>{{element.name }} &nbsp; ( {{getDescription(element, 1) }} ) </b></div>
            <div>
              <pre>{{getDescription(element, 0)}}</pre>
            </div>
          </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef style="">{{ 'Chuyên Ngành' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{getDescription(element,true)}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="additional">
          <mat-header-cell *matHeaderCellDef >{{ 'Thời Gian' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{getDescription(element, false)}}
          </mat-cell>
        </ng-container> -->
        <!-- <mat-header-row *matHeaderRowDef="displayedColumnsThree"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: ['name'];"></mat-row>
      </mat-table>
      <div *ngIf="!userData.studyLevels || userData.studyLevels.length == 0">
        Không có thông tin.
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="personal-info-section" *ngIf="isEmployee">
    <mat-card-title>
      <div class="header">
        <h3>Kinh Nghiệm Làm Việc</h3>
      </div>
      <div class="action">
        <span class="fas fa-edit personal-action contact-edit" (click)="editExperiences()" *ngIf="allowEdit"></span>
      </div>
    </mat-card-title>
    <mat-card-content>
      <mat-table [dataSource]="userData.experiences">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef style="display: none">{{ 'Ten' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" style="display: inline;">
            <div style="margin-top: 5px;"><b>{{element.name }}</b></div>
            <div> {{ getDescription(element, 0) }} - {{ getDescription(element, 1) }}</div>
            <div>
              <pre>{{getDescription(element, 2)}}</pre>
            </div>
          </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef style="display: none">{{ 'Noi Dung' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.description}}
          </mat-cell>
        </ng-container> -->
        <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: ['name'];"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>

  <mat-card class="personal-info-section" *ngIf="isEmployee">
    <mat-card-title>
      <div class="header">
        <h3>Giải Thưởng & Thành Tích</h3>
      </div>
      <div class="action">
        <span class="fas fa-edit personal-action contact-edit" (click)="editRewards()" *ngIf="allowEdit"></span>
      </div>
    </mat-card-title>
    <mat-card-content>
      <mat-table [dataSource]="userData.rewards">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef style="display: none">{{ 'Ten' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" style="display: inline;">
            <div style="margin-top: 5px;"><b>{{element.name }} &nbsp; ( {{getDescription(element, 0) }} ) </b></div>
            <div>
              <pre>{{getDescription(element, 2)}}</pre>
            </div>
          </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef style="display: none">{{ 'Noi Dung' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element">

          </mat-cell>
        </ng-container> -->
        <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: ['name'];"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>

</div>
