@import '~@angular/material/theming';
@import '../../../../core/theme/base';
@include mat-core();

.one-personal-info {

  width: 600px;
  margin: 0 auto;

  .personal-info-section {
    //border-top: 1px solid #ddd;
    margin-bottom: 10px;
    .header {
      display: inline-block;
      h3 {
        color: black;
        font-weight: 500;
      }
    }
    .action {
      position: absolute;
      right: 10px;
      display: inline-block;
      cursor: pointer;
      color: mat-color($primary);
    }

    .mat-header-row {
      // display: none;
    }

    .user-action {
      text-align: right;
      margin-bottom: 10px;
    }

    .user-group {
      &:hover {
        cursor: pointer;
        .group-title-activate {
          text-decoration: underline;
        }

        .group-indicator-activate {
          color: mat-color($primary) !important;
        }
      }

      .group-info {
     //   margin-right: 30px;
        .group-title {
          font-size: 20px;
          color: mat-color($primary);
          padding-bottom: 5px;
          display: inline-block;

        }

        .group-indicator {
          font-size: 22px;
          color: #aaa;
          display: inline-block;
          text-align: left;
          width: 30px;
          position: absolute;
          right: -6px;
          top: 32px;
        }

        .group-data {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 15px;
          color: #aaa;
          font-weight: 400;
        }
      }

      .mat-group-title {
        border-bottom: 1px solid #aaa;
        margin-right: 30px;
      }
    }
  }

  .member-avatar {
    width: 48px;
    height: 48px;
  }

  .avatar-column {
    flex: 0 0 56px;
  }

  .personal-main-info {
    height: 120px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;

    .personal-avatar {
      width: 100px;
      height: 100px;
      //margin: 10px;
      display: inline-block;
      span {
        font-size: 100px;
      }
     // body > app-root > div > one-personal-component > div > one-personal-info > div > div.personal-info-section.personal-main-info > div.avatar > one-avatar > div > div > div
      :first-child {
        width: 100%;
        height: 100%;

      }

      div {
        width: 100%;
        height: 100%;
      }
    }

    .info {
      display: inline-block;
      width: calc(100% - 120px);
      text-align: left;
      margin-left: 20px;

      .basic-info {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .fullname {
        font-size: 24px;
        padding: 5px;
      }

      .title {
        font-size: 20px;
        padding: 5px;
      }

      .email {
        padding: 5px;

        div {
          width: 120px;
          display: inline-block;
        }
      }

      .hightline {
        font-weight: 500;
      }

      .phone-number {
        padding: 5px;

        div {
          width: 120px;
          display: inline-block;
        }
      }
    }
  }

  h3 {

    font-size: 16px;
    text-transform: uppercase;
    color: #aaa;

  }

  .text-content {
    font-size: 11pt;
  }


}
