<div id="collection">
  <div class="header" id="subheader">
    <div class="title">Danh sách thảo luận</div>
    <div class="side">
      <div class="search">
        <input type="text" placeholder="Tìm kiếm thảo luận" (input)="onSearch($event)">
      </div>
      <div class="buttons">
        <div class="button url" (click)="onNewTopic()">Thêm thảo luận</div>
      </div>
    </div>
  </div>
  <div id="topics" class="container centered">
    <topic-item [source]="topic" *ngFor="let topic of topics"></topic-item>
  </div>
</div>

<ng-template #projectSelectionModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Chọn phòng ban/dự án để tạo thảo luận</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="custom-selection">
    <div class="isearch">
      <input type="text" placeholder="Tìm kiếm nhanh" (input)="onSearchProject($event)">
    </div>
    <div class="rh" style="max-height: 646px; overflow-y: auto">
      <div class="list list-actions no-icon -border">
        <div class="js-li li item unselectable" *ngFor="let project of projects" (click)="modal.close(project.id)">
          <div class="ap-xdot -name">{{project.name}}</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #createNewTopic let-modal>
  <topic-create-form [projectId]="newTopic.projectId" [modal]="modal"></topic-create-form>
</ng-template>