<div id="project-side-canvas">
  <div id="project-side">
    <div class="section">
      <div class="overview">
        <div class="box projinfo -with-image">
          <div class="image"><img
              src="{{user.avatar}}" (error)="onAvatarFailed($event)">
          </div>
          <div class="projname">{{user.name}}</div>
          <div class="projdesc">{{user.login}}</div>
        </div>
      </div>
      <div id="ut-stats">
        <div class="avp-box">
          <div class="executive" id="js-executive-stats">
            <div class="keynum"><b>{{total}}</b> <em>công việc</em></div>
            <div class="visuals">
              <div class="bar">
                <div class="-b a" style="width: 50%"></div>
                <div class="-b o" style="width: 50%"></div>
                <div class="-b s" style="width: 0%"></div>
              </div>
              <div class="txt"> <b class="text-main">{{reportData.new}}</b> cần làm · <b class="text-alt6">{{reportData.inProgress}}</b> đang làm · <b
                  class="text-success">{{reportData.done}}</b> hoàn thành</div>
            </div>
            <div class="xsep"></div>
            <div class="xsep"></div>
            <div class="subnums">
              <div class="subnum"><b class="text-alt7"><span class="url">{{reportData.overdue}}</span></b>
                <em>quá hạn</em></div>
              <div class="subnum"><b class="text-alt8"><span class="url">{{reportData.urgent}}</span></b>
                <em>khẩn cấp</em></div>
            </div>
          </div>
        </div>
        <div class="avp-box">
          <div class="graph">
            <div id="js-graph">
              <div id="container" data-highcharts-chart="14" style="overflow: hidden;">
                <canvas baseChart height="300"
                        [chartType]="chartData.barChartType"
                        [labels]="chartData.barChartLabels"
                        [options]="chartData.barChartOptions"
                        [legend]="chartData.barChartLegend"
                        [colors]="chartData.barChartColors"
                        [datasets]="chartData.barChartData">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="avp-box">
          <div class="title">Phân chia theo dự án</div>
          <div *ngIf="!isFiltered"
               class="items scroll-y forced-scroll"
               id="js-user-project-links">
            <div class="item" *ngFor="let project of tasksGroupByProject.groups" (click)="onFilter(project)">
              <div class="ap-xdot avp-label" title="{{project.value}}">{{project.value}}</div>
              <div class="num"><b>{{project.count}}</b> công việc</div>
            </div>
          </div>
          <div *ngIf="isFiltered"
               class="items scroll-y forced-scroll"
               id="js-user-project-links">
            <div class="item" (click)="onRemoveFilter()">
              <div class="ap-xdot avp-label">Tất cả dự án - phòng ban</div>
            </div>
            <div class="item">
              <div class="ap-xdot avp-label" title="{{filteredProject.value}}">{{filteredProject.value}}</div>
              <div class="num"><b>{{filteredProject.count}}</b> công việc</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>