.user-info {
    border-bottom: 1px solid #eee;
    cursor: pointer;

    .info {
        .name {
            font-size: 15px;
            font-weight: 500;
        }

        .title {
            color: #686868;
        }
    }

    .approval-status {
        .APPROVED {
            color: #42b814;
        }

        .REJECTED {
            color: #c34343;
        }
    }

    .options {
        display: none;
        .option {
            color: #ccc;
            font-style: italic;
            cursor: pointer;

            &:hover {
                color: #9400d3;
                text-decoration: underline;
            }
        }
    }

    &:hover {
        background: #eee;
        .options {
            display: block;
        }
    }
}