<div id="base-apps">
  <div class="avp-box">
  <div class="top">
    <div class="user">
      <div class="image">
        <img src="{{user.avatar}}" (error)="onAvatarFailed($event)">
      </div>
      <div class="name"><b>{{name}}</b> · {{email}}</div>
      <div class="info">
        <a href="" (click)="onNavToAccount()">Tài khoản</a> ·
        <a href="/">Trang chủ</a> ·
        <a href="/logout">Đăng xuất</a>
      </div>
    </div>
  </div>
  <div class="sb scrollable __set __apscrollbar_parent __autohide" data-autohide="1" data-autoscroll="1">
    <div class="scrollin absolute __apscrollbar_target __scrolled"
         style="inset: 0px -12px 0px 0px;">
      <div class="__apscrollbar_wrap __autohide" style="padding-right:0px">
        <div class="inner clear-fix">
          <div class="app-group">
            <div class="g-body">
              <a class="item active" href="" (click)="onNavToTask()">
                <span class="image">
                  <img src="/assets/avp-icons/wework.png">
                </span>
                <span class="text ap-xdot">AVP Task
                  <em class="ap-xdot">Quản lý công việc</em>
                </span>
              </a>
              <a class="item" href="" (click)="onNavToAccount()">
                <span class="image">
                  <img src="/assets/avp-icons/account.png">
                </span>
                <span class="text ap-xdot">AVP Account
                  <em class="ap-xdot">Tài khoản</em>
                </span>
              </a>
              <a class="item" href="" (click)="onNavToMessage()">
                <span class="image">
                  <img src="/assets/avp-icons/chat.png">
                </span>
                <span class="text ap-xdot">AVP Message
                  <em class="ap-xdot">Quản lý tin nhắn</em>
                </span>
              </a>
              <a class="item" href="" (click)="onNavToRequest()">
                <span class="image">
                  <img src="/assets/avp-icons/request.png">
                </span>
                <span class="text ap-xdot">AVP Request
                  <em class="ap-xdot">Yêu cầu &amp; Đề xuất</em>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>