<div id="db-canvas">
  <div id="db-wrapper" *ngIf="loaded">
    <report-filter [comprehensiveReport]="true"></report-filter>
    <report-total [comprehensiveReport]="true" [reportInfo]="reportInfo"></report-total>
    <report-task [reportInfo]="reportInfo"></report-task>
    <report-by-day [reportInfo]="reportInfo"></report-by-day>
    <report-by-member [reportInfo]="reportInfo"></report-by-member>
    <report-by-project [reportInfo]="reportInfo"></report-by-project>
    <report-by-dep [reportInfo]="reportInfo"></report-by-dep>
  </div>
</div>