.key-value-editable-table {
    //width: 550px;

  h2 {
    display: inline-block;
  }

  .actions {
    display: inline-block;
    float: right;

    .action {
      cursor: pointer;
      padding: 5px;
    }

    .action-delete {
      color: red;
    }
  }

  .column-action {
    flex: 0 0 25px;
  }

  .full-width {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
