<div class="key-value-editable-table">
  <div mat-dialog-title>
    <h2>{{ dialogTitle | translate }}</h2>
    <div class="actions">
      <span class="far fa-plus-square action" (click)="addNew()"></span>
    </div>
  </div>

  <mat-dialog-content class="mat-typography">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>{{ headers.name | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field class="full-width">
          <input matInput [value]="element.name" (change)="onNameChanged(element, $event.target.value)">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>{{ headers.description | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field class="full-width">
            <input matInput [value]="element.description" (change)="onDescriptionChanged(element, $event.target.value)">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="additional" *ngIf="headers.additional != null">
        <mat-header-cell *matHeaderCellDef>{{ headers.additional | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field class="full-width">
            <input matInput [value]="element.additional" (change)="onAdditionalChanged(element, $event.target.value)">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="extraData" *ngIf="headers.extraData != null">
        <mat-header-cell *matHeaderCellDef>{{ headers.extraData | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field class="full-width">
            <textarea matInput [value]="element.extraData" (change)="onExtraDataChanged(element, $event.target.value)" >
              </textarea>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell [ngClass]="'column-action'" *matHeaderCellDef>{{ 'Chức Năng' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'column-action'">
          <div class="actions">
            <span class="fas fa-minus-circle action action-delete" (click)="remove(element)"></span>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
      <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
    </mat-table>
  </mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Hủy</button>
  <button mat-button (click)="submitForm()" cdkFocusInitial>{{'Lưu' | translate}}</button>
</mat-dialog-actions>
</div>
