<% html_title t(:department) %>

<% content_for :header_tags do %>

  <%= stylesheet_link_tag 'proto_plugin/bootstrap', plugin: :openproject_proto_plugin %>
  <%= javascript_include_tag 'proto_plugin/bootstrap', plugin: :openproject_proto_plugin %>

<% end %>


<div class="row mb-4 ml-4 mr-4 nav-tabs">
  <div class="column col-xl-10 col-lg-9 col-md-8 col-xs-6 col-6">
    <div class="row">
      <h5>
        <span class="cus-text-color small font-weight-bold">
          <%= t(:department) do %>
          <% end %>
        </span>
      </h5>
    </div>
    <div class="row">
      <ul class="nav ml-0 w-100">
        <li class="nav-item m-1">
          <a class="cus-btn-primary active text-uppercase" href="#">Link</a>
        </li>
        <li class="nav-item m-1">
          <a class="cus-btn-primary text-uppercase" href="#">Link 1</a>
        </li>
        <li class="nav-item m-1">
          <a class="cus-btn-primary text-uppercase" href="#">Link 2</a>
        </li>
        <li class="nav-item m-1">
          <a class="cus-btn-primary text-uppercase" href="#">Link 3</a>
        </li>
      </ul>
    </div>
  </div>
  <% if current_user.allowed_to?(:manage_departments, @project) %>
    <div class="toolbar-item align-self-center column col-xl-2 col-lg-3 col-md-4 col-xs-4 col-4">
    </div>
  <% end %>
</div>

<% if @child_projects.any? %>
  <div id="ntn" class="ml-4 mr-4 pl-4">
    <% i = 0 %>
    <% num = 5 %>
    <% while i < @child_projects.length() do %>
      <% cols = 0 %>
      <div class="row">
        <% while i < @child_projects.length() do %>
          <div class="m-2">
            <% child = @child_projects[i] %>
            <department-tile data-department-name="<%= child.name %>"></department-tile>
            <% cols = cols + 1 %>
            <% i = i + 1 %>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
<% else %>
  <p>hu hu</p>
<% end %>