<div class="modal-header">
  <h6 class="modal-title">{{title}}</h6>
  <button type="button" class="close" aria-label="Đóng" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="tform-dialog">
  <div class="board-add-wrap">
    <div class="inline-form">
      <div class="formbox">
        <textarea class="-big" name="name" placeholder="Tên công việc *" style="height: 60px" [(ngModel)]="newTask.title"></textarea>
        <div class="sep"></div>
        <div class="relative">
          <form>
            <textarea [value]="newTask.description"></textarea>
            <ckeditor-augmented-textarea
              #ckeditor
              textarea-selector="textarea"
              preview-context="context"
              [content]="newTask.description"
              [projectId]="projectId">
            </ckeditor-augmented-textarea>
          </form>
        </div>
        <div class="cfrom" [ngClass]="{'hidden': isCopyToOtherProject != true}" style="font-size: 13px; padding: 8px 0 8px 50px;">
          <div style="position: absolute; left: 20px">Dự án:</div>
          <ng-select [items]="projects"
                            [(ngModel)]="projectId"
                            bindValue="id"
                            bindLabel="name"></ng-select>
        </div>
        <div class="cfrom" [ngClass]="{'hidden': isCopy != true}" style="font-size: 13px">
          Nhân bản công việc con: <input type="checkbox" [(ngModel)]="isCopySubTasks" style="position: relative;top: 5px;">
        </div>
        <div class="frows">
          <div class="frow">
              <span class="icon">
                <i class="fa fa-user-o"></i>
              </span>
            <div class="input">
              <user-search-box style="overflow: hidden"
                               placeHolder="Người thực hiện"
                               [selectedUserIds]="assigneeIds"
                               [projectId]="projectId"
                               [multiple]="true"
                               (selectItem)="onAssignTo($event)"></user-search-box>
            </div>
          </div>
          <div class="frow" *ngIf="categoryId == 0">
              <span class="icon">
                <i class="fa fa-folder-o"></i>
              </span>
            <div class="relative">
              <select name="tasklist_id" [(ngModel)]="newTask.category_id">
                <option value="0">Chưa phân loại</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
              </select>
            </div>
          </div>
          <div class="frow">
              <span class="icon">
                <i class="fa fa-calendar-o"></i>
              </span>
            <div class="input">
              <input type="text" name="deadline" placeholder="Thời hạn" [(ngModel)]="newTask.deadline" ngbDatepicker #tdeadline="ngbDatepicker" (focus)="tdeadline.open()" (click)="tdeadline.open()">
            </div>
          </div>
          <input type="hidden" name="milestone_id" value="0">
          <div class="frow js-tags" [ngClass]="{'hidden': newTask.tags.isShowOrCollapse == false}">
              <span class="icon">
                <i class="fa fa-tags"></i>
              </span>
            <div class="input">
              <input type="text" name="tags" placeholder="Danh sách nhãn">
            </div>
          </div>
          <div class="frow js-followers" [ngClass]="{'hidden': newTask.followers.isShowOrCollapse == false}">
              <span class="icon">
                <i class="fa fa-users"></i>
              </span>
            <div class="input">
              <user-search-box placeHolder="Người theo dõi"
                               [multiple]="true"
                               [projectId]="projectId"
                               [selectedUserIds]="followerIds"
                               (selectItem)="onAddFollowers($event)"></user-search-box>
            </div>
          </div>
        </div>
        <div class="atts" [ngClass]="{'hidden': newTask.attachments.length == 0}">
          <div class="att" *ngFor="let attachment of newTask.attachments">
            <div class="attname">
              <div class="ap-xdot" style="font-size: 13px">{{attachment.name}}</div>
            </div>
            <span class="remove" (click)="onRemoveAttachment(attachment)">
                <i class="fa fa-trash"></i>
              </span>
          </div>
        </div>
        <div class="sep"></div>
        <div class="more">
          <div class="more-link">
            <span class="inline ap-f13" style="vertical-align: 2px"></span>
            <span class="action js-add-file">
                + Tài liệu đính kèm
                <div class="upload-form">
                  <input type="file" multiple (change)="onAttachmentsChanged($event)">
                </div>
              </span>
            <span class="hidden action js-add-tags" (click)="onShowOrCollapseTags()">+ Danh sách nhãn</span>
            <span class="action js-add-followers" (click)="onShowOrCollapseFollowers()">+ Người theo dõi</span>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="submit" [ngClass]="{'disable': onSaving == true}" (click)="onSaveTask()">Thêm công việc</div>
        <div class="cancel" [ngClass]="{'disable': onSaving == true}" (click)="onClose()">
          <i class="fa fa-close"></i>
        </div>
      </div>
    </div>
  </div>
</div>