<div class="side">
  <div class="search" *ngIf="!hideSearchField">
    <div class="input"><input placeholder="{{title}}" eid="js-mqs" class="__ap_enter_binded"
        (keyup.enter)="onEnter($event)"> </div>
  </div>
  <div class="proj-option -cmenuw" *ngIf="showProjectOption">
    <span class="fa fa-ellipsis-h"></span>
    <div class="-cmenu">
      <div class="hidden -item">
        <span class="fa fa-lock"></span> Đóng dự án
      </div>
      <div class="-item red" (click)="open(deleteConfirm)">
        <span class="red -icon fa fa-warning" style="top: 12px;"></span> Xoá dự án
      </div>
    </div>
  </div>
</div>

<ng-template #deleteConfirm let-modal>
  <div class="modal-header" style="background-color: #c65144;">
    <h6 class="modal-title" style="color: #fff;">Xóa dự án</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="__alertdialog">
    <div class="__apdialog">
      <table>
        <tbody>
        <tr>
          <td class="icon">
            <i class="fa fa-warning" style="font-size: 42px; color: #c65144"></i>
          </td>
          <td class="text">Bạn có chắc chắn muốn xóa dự án này? Các công việc/nhóm công việc liên quan cũng sẽ bị xóa và không thể khôi phục lại.</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="__dialogbuttons unselectable">
      <div class="button ss confirm-button" (click)="modal.dismiss()">Đóng</div>
      <div class="button er confirm-button" (click)="modal.close('Delete')">Xác nhận xóa</div>
    </div>
  </div>
</ng-template>