<filter-setup></filter-setup>
<div id="master">
  <div id="pagew">
    <div id="page" class="">
      <div id="project-task-canvas" *ngIf="isTaskShowing == true">
        <div id="project-task-scrollable" class="scroll-y forced-scroll">
          <div id="task-canvas-wrapper">
            <div id="js-project-task">
              <task-detail></task-detail>
            </div>
          </div>
        </div>
      </div>
      <div id="project-master" class="forced-scroll" [ngClass]="isTaskShowing == true ? 'showing-task' : 'scroll-y'">
        <div class="relative">
          <div id="project-side-canvas" [ngClass]="{'hidden': noSidebar, 'side-showing': sideShowing}">
            <div id="indicator" (click)="sideShowing = !sideShowing">
              <span class="fa fa-bars"></span>
            </div>
            <tasks-sidebar [user]="currentUser" [filters]="filters" (filterEvent)="onFilterEvent($event)"></tasks-sidebar>
          </div>
          <div id="project-canvas" [ngClass]="{'no-sidebar': noSidebar == true}">
            <task-header id="header" [user]="currentUser" [filters]="filters" (filterEvent)="onFilterEvent($event)"></task-header>
            <div class="content" ui-view></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>