<div class="one-header-component">
  <div class="header-searchbar">
    <span class="fas fa-search"></span>
    <input type="text" placeholder="{{'centerPanel.header.searchBar.search' | translate }}" (keyup)="onSearchChanged($event.target.value)" #searchInput>
  </div>
  <div class="header-filter-list">
    <div class="header-filter-item" (click)="filterMembers('all')" [ngClass]="{activate: currentFilter == 'all'}">
      {{'centerPanel.header.filter.all' | translate }} {{allTotal}}
    </div>
    <div class="header-filter-item" (click)="filterMembers('manager')" [ngClass]="{activate: currentFilter == 'manager'}" *ngIf="isAdmin">
      {{'centerPanel.header.filter.manager' | translate }} {{managerTotal}}
    </div>
    <div class="header-filter-item" (click)="filterMembers('online')" [ngClass]="{activate: currentFilter == 'online'}">
      {{'centerPanel.header.filter.online' | translate }} {{onlineTotal}}
    </div>
    <div class="header-filter-item" (click)="filterMembers('deactivated')" [ngClass]="{activate: currentFilter == 'deactivated'}" *ngIf="isAdmin">
      {{'centerPanel.header.filter.deactivated' | translate }} {{disableTotal}}
    </div>
  </div>
  <div class="action-bar">
    <button mat-raised-button color="primary" (click)="createUserClick()" *ngIf="isAdmin">Tạo Tài Khoản</button>
  </div>
</div>
