@import '~@angular/material/theming';
@import '../../../../core/theme/base';
@include mat-core();


.one-header-component {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;

  .header-searchbar {
    display: inline-block;
    float: left;
    height: 40px;

    span {
      position: absolute;
      padding: 10px;
      max-width: 40px;
      font-size: 10pt;
    }

    input {
      padding: 5px 5px 5px 30px;
      font-size: 14px;
    }
  }

  .header-filter-list {
    display: inline-block;
    margin-top: 7px;

    .header-filter-item {
      text-transform: uppercase;
      display: inline-block;
      margin: 0 20px;
      cursor: pointer;

      font-weight: 600;

      &.activate {
        color: mat-color($primary);
      }

    }


  }

  .action-bar {
    float: right;
  }
}
