<div class="member-creation-one">
  <h2 mat-dialog-title>{{ (isEmployee ? ( editMode ? 'Sửa Tài Khoản' : 'centerPanel.header.creation.dialog.title') : 'Sửa Tài Khoản Khách Hàng') | translate }}</h2>
  <mat-progress-bar mode="indeterminate" *ngIf="isSubmitting"></mat-progress-bar>
  <mat-dialog-content class="mat-typography">
    <form class="creation-form" [formGroup]="registerForm">
      <mat-form-field class="form-field-fullwidth" appearance="fill">
        <mat-label>{{'centerPanel.header.creation.dialog.username' | translate }}</mat-label>
        <input matInput placeholder="{{ 'centerPanel.header.creation.dialog.username' | translate }}" required [readonly]="editMode"
               formControlName="username" oninput="this.value = this.value.toLowerCase()" [errorStateMatcher]="matcher"
        >
        <mat-error *ngIf="submitted && f.username.invalid">{{'centerPanel.header.creation.dialog.username_required' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field-fullwidth" appearance="fill" *ngIf="!editMode" >
        <mat-label>{{'centerPanel.header.creation.dialog.password' | translate }}</mat-label>
        <input matInput type="password" placeholder="{{ 'centerPanel.header.creation.dialog.password' | translate }}" required
               formControlName="password"
        >
        <mat-error *ngIf="submitted && f.password.invalid">{{'centerPanel.header.creation.dialog.password_required' | translate }}</mat-error>

      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field-fullwidth" *ngIf="!editMode">
        <mat-label>{{'centerPanel.header.creation.dialog.comfirm_password' | translate }}</mat-label>
        <input matInput type="password" placeholder="{{ 'centerPanel.header.creation.dialog.comfirm_password' | translate }}" required
               formControlName="confirmPassword"
        >
        <mat-error *ngIf="submitted && f.confirmPassword.invalid">{{'centerPanel.header.creation.dialog.password_notmatch' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field-fullwidth">
        <mat-label>{{'centerPanel.header.creation.dialog.email' | translate }}</mat-label>
        <input matInput type="email" placeholder="{{ 'centerPanel.header.creation.dialog.email' | translate }}" required
               formControlName="email" [readonly]="isAdmin == false"
        >
        <mat-error *ngIf="submitted && f.email.invalid">{{'centerPanel.header.creation.dialog.email_required' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field-fullwidth" *ngIf="isAdmin && isEmployee">
        <mat-label>{{'centerPanel.header.creation.dialog.userTitle' | translate }}</mat-label>
        <mat-select required formControlName="userTitle" #singleSelect>
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Tìm kiếm"
              noEntriesFoundLabel="Không tìm thấy"
              [formControl]="userTitleFilterFctl"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let userTitle of filteredUserTitles | async" [value]="userTitle.name">
            {{userTitle.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.userTitle.invalid">{{'centerPanel.header.creation.dialog.userTitle_required' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field-fullwidth" *ngIf="(!editMode || isOwner) && isEmployee">
        <mat-label>{{'centerPanel.header.creation.dialog.role' | translate }}</mat-label>
        <mat-select required formControlName="group">
          <mat-option *ngFor="let group of groups" [value]="group.id">
            {{group.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field-fullwidth">
        <mat-label>{{'centerPanel.header.creation.dialog.lastName' | translate }}</mat-label>
        <input matInput placeholder="{{ 'centerPanel.header.creation.dialog.lastName' | translate }}" required [readonly]="isExternal"
               formControlName="lastName"
        >
        <mat-error *ngIf="submitted && f.lastName.invalid">{{'centerPanel.header.creation.dialog.lastName_required' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field-fullwidth">
        <mat-label>{{'centerPanel.header.creation.dialog.firstName' | translate }}</mat-label>
        <input matInput placeholder="{{ 'centerPanel.header.creation.dialog.firstName' | translate }}" required [readonly]="isExternal"
               formControlName="firstName"
        >
        <mat-error *ngIf="submitted && f.firstName.invalid">{{'centerPanel.header.creation.dialog.firstName_required' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field-fullwidth" *ngIf="isEmployee">
        <mat-label>Chọn Ngày, Tháng, Năm Sinh</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-card class="form-field-fullwidth card-avatar-selection" *ngIf="isEmployee">
        <mat-label [ngClass]="{'avatar-label': currentFile != null || (avatarUrl != null && avatarUrl != '')}">{{'centerPanel.header.creation.dialog.avatar' | translate }}
          <div class="avatar-reselect-button" *ngIf="avatarUrl != null && avatarUpdated">
            <button mat-button color="primary" (click)="selectAvatar()">Chọn lại</button>
          </div>
        </mat-label>
        <mat-card-content class="avatar-content">
          <div class="avatar-preview" (click)="selectAvatar()" *ngIf="avatarUrl == null || avatarUpdated == false">
            <!-- <img [src]="croppedImage" width="100px" height="100px"/> -->
             <one-avatar [imageUrl]="avatarUrl" [size]="150"></one-avatar>
          </div>
          <div style="height: 150px; width: 150px;" *ngIf="avatarUrl != null && avatarUpdated">
          <image-cropper [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="3 / 3"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            roundCropper = true
            (loadImageFailed)="loadImageFailed()"></image-cropper>

          </div>
          <input type="file" #fileUpload (change)="fileChangeEvent($event)" style="display: none;" />
        </mat-card-content>
      </mat-card>

      <mat-form-field appearance="fill" class="form-field-fullwidth">
        <mat-label>{{'centerPanel.header.creation.dialog.phone_number' | translate }}</mat-label>
        <input matInput formControlName="number" type="tel" placeholder="{{ 'centerPanel.header.creation.dialog.phone_number' | translate }}">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field-fullwidth" *ngIf="isAdmin && isEmployee">
        <mat-label>{{'Quản Lý Trực Tiếp' | translate }}</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let directMgmt of directMgmts"
            [selectable]="true"
            [removable]="true"
            (removed)="removeDirectManager(directMgmt)">
            {{getFullName(directMgmt)}}
            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder=""
            #directMgmtInput
            [formControl]="directMgmtCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="trySelectedDirectMgmt($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedDirectMgmt($event)">
          <mat-option *ngFor="let directMgmt of filteredDirectMgmts | async" [value]="directMgmt">
            <div class="one-mat-option">
              <div class="option-avatar">
                <one-avatar [size]="30" [imageUrl]="directMgmt.avatarUrl"></one-avatar>
              </div>
              <div class="option-info">
                <span class="option-info-text">{{ directMgmt.fullName }}</span>
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <button mat-button color="primary" (click)="submitForm()" cdkFocusInitial>{{ editMode ? 'Sửa Tài Khoản' : 'Tạo Tài Khoản'}}</button>
  </mat-dialog-actions>

</div>
