@import '~@angular/material/theming';
@import '../../../../core/theme/base';
@include mat-core();

.member-creation-one {

  .creation-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;

    .form-field-fullwidth {
      width: 100%;
    }

    .avatar-content {
      display: inline-block;
      margin-left: 100px;

      .avatar-preview {
        width: 100px;
        height: 100px;
        cursor: pointer;
        img {
          border-radius: 100%;
        }
      }
    }

    .avatar-label {
      position: absolute;
      margin-right: 70px;
      margin-top: 47px;
    }

    .card-avatar-selection {
      margin-bottom: 15px;
      //padding-right: 15px;
      width: 93%;
    }
  }
}

.one-mat-option {
  .option-avatar {
    display: inline-block;
    width: 40px;
    padding-top: 15px;
  }
  .option-info {
    display: inline-block;
    width: calc(100% - 50px);

    .option-info-text {
      position: relative;
      top: -10px;
    }
  }

}
