.request-main {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .request-list {
        overflow-y: auto;
        height: 100%;
        flex: 1;
    }

    &.in-detail {
        width: 22%;
    }
}

.one-canvas {
    width: 78%;
    position: absolute;
    display: none;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #fff;
    z-index: 1;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}