.one-sidenav {
  padding: 10px;
  width: 250px;
  background: #fafafa;
  
  .nav {
    padding: 10px;

    .home {
      display: flex;
      color: #aaa;
      cursor: pointer;

      .label {
        padding-top: 3px;
        padding-left: 10px;
        font-size: 14px;
      }

      &:hover {
        color: darkgoldenrod;
      }
    }
  }

  .fixed {
    overflow: hidden;
    display: contents;

    button {
      margin-bottom: 20px;
    }
  }

  .scrollable {
    overflow: auto;
    overflow-x: hidden;
    margin-right: -3px;
  }

  button {
    width: 100%;
  }

  .sliding & {
    min-width: 250px;
  }
}

.request-content {
  margin-left: 250px !important;
  border-right: solid 1px rgba(0,0,0,.12);
  overflow: hidden;

  .sliding & {
    margin-left: 250px !important;
  }
}

.one-list {
  padding-top: 0px;

  .one-list-item {
    height: auto;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 5px;

    .icon {
      margin-right: 10px;
      font-size: 20px;
    }

    .li {
      display: flex;
      border: none;
      padding: 5px;
      width: 100%;

      .icon {
        margin-right: 7px;

        .i {
          font-size: 16px;
          width: 16px;
          padding-top: 3px;
        }
      }

      &.active {
        color: #f44336;
        background: inherit;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
    }

    &.is-route {
      color: #f44336;
      background: #fff;
      box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    }

    &:hover:not(.is-route) {
      color: #267cde;
    }
  }

  &.group {
    margin-bottom: 4px;
  }
}

.one-expansion {
  box-shadow: none;
  background: transparent;
  margin-bottom: 10px;

  .one-expansion-header {
    border: none;
    padding: 0px 6px 0px 0px;
    height: auto;
    font-weight: 500;

    &:hover {
      background: none;
    }
  }

  .one-list-item {
    height: 30px;

    .text {
      margin-bottom: 7px;
    }
  }
}