.direct-message-contact {
  height: 50px;
  width: 100%;
  .contact-avatar {
    width: 36px;
    margin: 7px;

    display: inline-block;

    .avatar-image {
      width: 36px;
      height: 36px;
      border-radius: 100%;
      background-size: 100% 100%;
    }

  }

  .direct-message-name {
    font-size: 13px;
    font-weight: 400;
    display: inline-block;

    span {
      display: table-cell;
      padding-bottom: 15px;
    }
  }

  border-bottom: 1px solid rgba(0,0,0,0.05);
}
