<div class="direct-message-contact">
  <div class="direct-message-avatar">
    <div class="avatar-image" style="background-image: url('{{getAvatarUrl()}}')"></div>

  </div>
  <div class="direct-message-name">
    <span>{{directMessage.name}}</span>
  </div>
</div>
