<div id="avp-custom-root-menu">
  <div class="box -home collapsed" id="js-top-menu">
    <div class="title" id="group-menu-name">
      <div class="label">Tổng hợp</div>
    </div>

    <div id="group-menu-item">
      <a class="li __ap_processed <%=request.original_fullpath().match('/tasks') ? 'active' : '' %>" data-href="tasks" title="My Tasks" href="/avp/tasks">
        <span class="icon"><img src="/assets/avp-icons/home.png"></span>
        <span class="name">Công việc</span>
      </a>

      <a class="li __ap_processed <%=request.original_fullpath().match('/projects') ? 'active' : '' %>" title="Projects &amp; teams" href="/avp/projects">
        <span class="icon"><img src="/assets/avp-icons/projects.png"></span>
        <span class="name">Dự án & Phòng ban</span>
      </a>


      <a class="li __ap_processed <%=request.original_fullpath().match('/departments') ? 'active' : '' %>" title="Department" href="/avp/departments">
        <span class="icon"><img src="/assets/avp-icons/star.png"></span>
        <span class="name">Bộ phận</span>
      </a>


      <a class="li __ap_processed" title="Members" href="/projects/avp/users">
        <span class="icon"><img src="/assets/avp-icons/users.png"></span>
        <span class="name">Thành viên</span>
      </a>

      <a class="li __ap_processed <%=request.original_fullpath().match('/project-page') ? 'active' : '' %>" title="project-page" href="/avp/project-page">
        <span class="icon"><img src="/assets/avp-icons/report.png"></span>
        <span class="name">Báo cáo</span>
      </a>
    </div>
  </div>

  <div id="js-x-projects" class="ui-sortable">
    <div class="box js-menu" data-name="none" data-id="0">
      <div class="title">
        <div class="label ap-xdot ui-sortable-handle">
        Chưa phân loại
        </div>
      </div>
    </div>
  </div>

  <div class="box box-setting" id="js-admin-menu">
    <div class="title">
      <div class="label">Tùy chỉnh</div>
    </div>

    <div class="boards">

      <div class="li url js-project-create" data-url="project/create">
        <div class="icon"><img src="/assets/avp-icons/create.png"></div>
        <div class="name">Tạo dự án mới</div>
      </div>

      <div class="li url js-team-create" data-url="team/create">
        <div class="icon"><img src="/assets/avp-icons/create.png"></div>
        <div class="name">Tạo phòng ban mới</div>
      </div>

      <div class="li url" data-url="onboard">
        <div class="icon"><img src="/assets/avp-icons/setting.png"></div>
        <div class="name">Cài đặt hệ thống</div>
      </div>

      <div class="li url" data-url="videos">
        <div class="icon"><span class="-ap icon-play"></span></div>
        <div class="name">Video hướng dẫn</div>
      </div>

    </div>
  </div>

</div>

