<div class="user unselectable">
  <div class="avatar avatar-30">
    <div class="image">    
    <% if User.current.anonymous? %>
      <img src="/assets/avp-icons/default-avatar.jpg">      
    <% else %>    
      <img src="/api/pri/avatar?email=<%= User.current.login %>">
    <% end %>
      
    </div>
  </div>
  <div class="name ap-xdot">
    <%= User.current.name %>
  </div>
  <div class="info ap-xdot">
    <% if $user %>
      @<%= $user.login %>
    <% end %>
  </div>
</div>
<div class="search">
  <div class="input">
    <input type="text" placeholder="Tìm dự án &amp; phòng ban">
  </div>
</div>
