@import "~@angular/material/theming";
@import "../../../../core/theme/base";
@include mat-core();

.guest-list-header-component {
  margin: 0 auto;
  height: 100%;
  .header-searchbar {
    display: inline-block;
    height: 40px;

    margin-top: 15px;

    span {
      position: absolute;
      padding: 14px;
      max-width: 40px;
      font-size: 10pt;
    }

    input {
      padding: 10px 10px 10px 30px;
    }
  }

  .header-filter {
    height: 100%;

    position: relative;
    display: inline-block;
    width: calc(100% - 500px);
    margin: 0 auto;
    min-width: 300px;
    text-align: center;
    .filter-items {
      margin-top: 25px;
      .filter-item {
        display: inline-block;
        text-transform: uppercase;
        font-size: 12pt;
        font-weight: 400;
        margin-left: 10px;
        margin-right: 10px;
        width: 150px;

        &:hover {
          color: mat-color($primary);
          font-weight: 500;
          cursor: pointer;
        }

        &.activate {
          color: mat-color($primary);
        }


      }
    }
  }

  .action-bar {
   // display: inline;
    float: right;
    .action-btn {
      right: 0px;
      position: absolute;
      margin-top: 17px;
    }
  }
}
