<div class="files" *ngIf="(description == 'Result' && (files.length != 0 || images.length != 0)) || description != 'Result'">
  <div class="text-a" style="padding-top: 5px; padding-bottom: 5px; font-size: 13px" *ngIf="files.length == 0 && images.length == 0">
    Không có tài liệu đính kèm
  </div>
  <div class="-box-file file-list">
    <div class="li -file pointer" *ngFor="let file of files">
      <span class="icon"><span class="fa-attachment"></span></span>
      <a class="name" target="_blank" [href]="file._links.downloadLocation.href">{{file.fileName}}</a>
      <span class="actions">
        <span *ngIf="validUser == true" class="action js-file-remove" title="Xóa file" (click)="onDelete(file)">
          <i class="fa fa-trash-o"></i>
        </span>
        <a class="action" title="Download file" target="_blank" [href]="file._links.downloadLocation.href">
          <i class="fa fa-download"></i>
        </a>
      </span>
    </div>
  </div>
  <div class="-box-file file-thumbnail">
    <div class="file-previews clear-fix">
      <div class="file-preview" *ngFor="let image of images">
        <div class="inner">
          <div class="preview name" title="screenshot-from-2020-07-11-21-45-28.png">
            <div class="fname pointer">
              <div class="txt">{{image.fileName}}</div>
            </div>
            <a class="preview-img" [href]="image._links.downloadLocation.href" target="_blank">
              <img src="{{image._links.downloadLocation.href}}">
            </a>
          </div>
          <div class="actions">
            <span *ngIf="validUser == true" class="action autohide" (click)="onDelete(image)"><em>Xóa</em></span>
            <a class="action txt normal" title="Tải về" target="_blank" [href]="image._links.downloadLocation.href" download><em>Tải về</em></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>