<div class="db-grid" data-col="10">

    <div class="box std" data-col="6,3" style="width: 60%;"><div class="inner">
        <div class="header">
            Quá trình hoàn thành theo ngày
        </div>
        <div class="body -fit" *ngIf="displayed == true">
            <bar-chart [dataInput]="reportByDate" [stacked]="true"></bar-chart>
        </div>
    </div><div class="s" style="padding-bottom:50%"></div></div>


    <div class="box std" data-col="4,3" style="width: 40%;"><div class="inner">
        <div class="header">Tổng hợp theo tháng<div class="side"></div></div>
        <div class="body -fit">
            <bar-chart [dataInput]="reportByMonth"></bar-chart>
        </div>
    </div><div class="s" style="padding-bottom:75.5%"></div></div>

</div>