<div id="setting">
  <div id="user-settings">
    <div class="subbox" id="js-sidebox-owners">
      <div class="title"><em>Quản lý dự án</em></div>
      <div class="js-body">
        <member-setting-item *ngFor="let member of admins" 
        [member]="member" [isAdmin]="isAdmin" [adminMember]="true"
        (onRefresh)="loadProject()"></member-setting-item>
        <div class="avp-user -add ap-inline-tagger-wrap unselectable">
          <div class="avatar">
            <div class="add"></div>
          </div>
          <div class="txt" (click)="openModal(adminSelector)">Thêm Quản lý dự án</div>
        </div>
      </div>
    </div>
    <div class="subbox" id="js-sidebox-members">
      <div class="title"><em>Thành viên</em></div>
      <div class="js-body">
        <member-setting-item *ngFor="let member of notAdmins" 
        [member]="member" [isAdmin]="isAdmin" [adminMember]="false"
        (onRefresh)="loadProject()"></member-setting-item>
        <div class="avp-user -add ap-inline-tagger-wrap unselectable">
          <div class="avatar">
            <div class="add"></div>
          </div>
          <div class="txt" (click)="openModal(memberSelector)">Thêm Thành viên</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #adminSelector let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Chỉnh Sửa Quản Trị Viên</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="tform-dialog">
    <div class="board-add-wrap">
      <div class="inline-form">
        <div class="formbox">
          <user-search-box [multiple]="true"
                           [clearable]="false"
                           [selectedUserIds]="adminIds"
                           (selectItem)="onAdminChanged($event)"
          ></user-search-box>
        </div>
        <div class="buttons">
          <div class="submit" [ngClass]="{'disable': !canSaveAdmin}" (click)="onAddAdmins(modal)">Lưu</div>
          <div class="cancel" (click)="modal.dismiss()">
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #memberSelector let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Chỉnh Sửa Thành Viên</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="tform-dialog">
    <div class="board-add-wrap">
      <div class="inline-form">
        <div class="formbox">
          <user-search-box [multiple]="true"
                           [clearable]="false"
                           [selectedUserIds]="memberIds"
                           (selectItem)="onMemberChanged($event)"
          ></user-search-box>
        </div>
        <div class="buttons">
          <div class="submit" [ngClass]="{'disable': !canSaveMember}" (click)="onAddMembers(modal)">Lưu</div>
          <div class="cancel" (click)="modal.dismiss()">
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
