<div class="db-grid" data-col="10">

    <div class="box std" data-col="6,5" style="width: 60%;"><div class="inner">
        <div class="header">
            Báo cáo chi tiết theo thành viên
            <div class="side" (click)="exportAsXLSX()">
                <div class="download url" >
                    <span class="-ap icon-download"></span> Xuất báo cáo excel
                </div>
            </div>
        </div>
        <div class="body -fit">
            <div class="scrollbox scroll-y -smaller">
                <div class="thead">
                    <div class="tmain"> Thành viên</div>
                    <div class="tside">
                        <div class="col ap-xdot" style="width:80px" title="Phải Làm">Phải Làm </div>
                        <div class="col ap-xdot" style="width:80px" title="Đang Làm">Đang Làm </div>
                        <div class="col ap-xdot" style="width:80px" title="Hoàn Thành">Hoàn Thành </div>
                        <div class="col ap-xdot" style="width:100px" title="Hoàn Thành Muộn">Hoàn Thành Muộn</div>
                        <div class="col ap-xdot" style="width:80px" title="Quá Hạn">Quá Hạn</div>
                    </div>
                </div>
                <div class="list" id="js-members-report">
                    <div class="item" *ngFor="let member of reportMember">
                        <div class="icon">
                            <div class="avatar"><img src="{{member.avatar}}" (error)="onLoadAvatarFailed($event)"></div>
                        </div>
                        <div class="name"><span class="url">{{member.name}}</span></div>
                        <div class="info"><em>{{member.total}}</em> công việc được giao</div>
                        <div class="side">
                            <div class="col" style="width: 80px; padding:2px 0 "><em style="color:#14cc3f ">{{member.newTask}}</em></div>
                            <div class="col" style="width: 80px; padding:2px 0"><em style="color:#f7e015">{{member.inProgressTask}}</em></div>
                            <div class="col" style="width: 80px; padding:2px 0"><em style="color:#f54e3b">{{member.doneTask}}</em></div>
                            <div class="col" style="width: 100px; padding:2px 0"><em style="color:#389dd9">{{member.doneLateTask}}</em></div>
                            <div class="col" style="width: 80px; padding:2px 0"><em style="color:#751de0">{{member.overdueTask}}</em></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div><div class="s" style="padding-bottom:80.5%"></div></div>


    <div class="box std" data-col="2,5" style="width: 20%;"><div class="inner">
        <div class="header">Còn nhiều việc nhất<div class="side"></div></div>
        <div class="body -fit" >
            <div class="scrollbox scroll-y -smaller">
                <div class="list" id="js-members-top-pendings-report">
                    <div class="item" *ngFor="let member of mostWork">
                        <div class="icon">
                            <div class="avatar"><img src="{{member.avatar}}" (error)="onLoadAvatarFailed($event)"></div>
                        </div>
                        <div class="name"><span class="url" data-username="owner">{{member.name}}</span></div>
                        <div class="info"><em>{{member.mostWork}}/{{member.total}} công việc đang thực hiện</em></div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="s" style="padding-bottom:250%"></div></div>


    <div class="box std" data-col="2,5" style="width: 20%;"><div class="inner">
        <div class="header">Làm muộn nhiều nhất<div class="side"></div></div>
        <div class="body -fit">
            <div class="scrollbox scroll-y -smaller">
                <div class="list" id="js-members-top-lates-report">
                    <div class="item" *ngFor="let member of mostOverDue">
                        <div class="icon">
                            <div class="avatar"><img src="{{member.avatar}}" (error)="onLoadAvatarFailed($event)"></div>
                        </div>
                        <div class="name"><span class="url red" data-username="owner">{{member.name}}</span></div>
                        <div class="info"><em>{{member.overdueTask}}</em> quá hạn · <em>{{member.doneLateTask}}</em> hoàn thành muộn</div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="s" style="padding-bottom:250%"></div></div>

</div>