<div class="user-title-component">
  <one-center-header>
    <div class="user-title-creation">
      <div class="title">
        {{'management.userTitle.title' | translate }}
      </div>
      <div class="actions">
        <button mat-raised-button color="primary"
                (click)="createUserTitle()">{{'management.userTitle.actions.create' | translate }}</button>
      </div>
    </div>
  </one-center-header>


  <div class="user-title-list">
    <mat-table [dataSource]="userTitles" class="user-title-table">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>{{'Tên Chức Vụ' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="one-user-title-name">
            {{element.name}}
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>{{'management.userTitle.actions.title' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="fas fa-edit user-title-action user-title-action-edit" (click)="editUserTitle(element)" matTooltip="Sửa Chức Vụ"></span>
          <span class="fas fa-trash-alt user-title-action user-title-action-delete" (click)="removeUserTitle(element)" matTooltip="Xóa Chức Vụ"></span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
