@import "~@angular/material/theming";
@import "../../../../core/theme/base";
@include mat-core();

.user-title-component {
  width: 100%;
  height: 100%;

  .user-title-creation {
    width: 100%;
    text-align: center;
    height: 75px;

    .title {
      font-size: 36px;
      font-weight: bold;
      display: inline-block;
      float: left;
      margin-top: 24px;
    }
    .actions {
      display: inline-block;
      //position: relative;
      margin-top: 18px;
      float: right;
   //   width: 100%;
    }


  }

  .user-title-action {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .user-title-action-edit {
    color: mat-color($primary);
  }

  .user-title-action-delete {
    color: red;
  }

  .user-title-list {
    height: calc(100% - 75px);
    .user-title-table {
      max-height: 100%;
      overflow-y: auto;
    }

  }

}
