@import '~@angular/material/theming';
@import '../../../../../core/theme/base';
@include mat-core();

.group-member-component {
  height: 100%;
  .user-group-header {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    .title {
      display: inline-block;
      font-size: 30pt;
      font-weight: 600;
      color: #182320;
    }

    .actions {
      float: right;

      .action {
        display: inline-block;
        font-size: 20pt;
        cursor: pointer;
        margin-right: 20px;
        color: #999;

        &:hover {
          color: mat-color($primary);
        }
      }
    }
  }
  .user-group-list {
    height: calc(100% - 74px);
    overflow-y: scroll;
  }
}
