<div class="group-member-component">
  <one-center-header>
      <div class="user-group-header">
        <div class="title">
          {{ groupInfo?.name }}
        </div>
        <div class="actions">
          <div class="action">
            <span class="fas fa-user-plus" (click)="updateUser()"></span>
          </div>
          <div class="action">
            <span class="fas fa-edit" (click)="updateGroup()"></span>
          </div>
        </div>
      </div>
    </one-center-header>
    <div class="user-group-list">
      <one-member-list [filterMembers]="members" [actionEvents]="eventSubject.asObservable()">
      </one-member-list>
    </div>
</div>
