#avp-group
    #document
        z-index: 100
        position: absolute
        top: 0px
        left: 0px
        right: 0px
        height: 100%

    #master
        position: absolute
        padding: 0
        z-index: 100
        bottom: 0px
        left: 0px
        right: 0px
        top: 0px
        z-index: 999

    #background
        position: absolute
        left: -26px
        right: 0
        bottom: 0
        top: -26px
        z-index: 1
        background-image: url("/assets/avp-icons/homescreen_bg.jpg")

    #background .bgi
        position: absolute
        top: 100px
        left: 0px
        bottom: 0px
        right: 0px
        text-align: center
        margin-top: 4%;

    #background img
        width: 35%
        min-height: 35%

    #pagew
        position: absolute
        left: 0px
        top: 0px
        right: 0px
        bottom: 0px
        z-index: 800

    #page, #side
        -webkit-transition-property: all
        -moz-transition-property: all
        -o-transition-property: all
        transition-property: all
        -webkit-transition-duration: 0.3s
        -moz-transition-duration: 0.3s
        -o-transition-duration: 0.3s
        transition-duration: 0.3s

    #page .apps
        position: absolute
        overflow: hidden
        left: 0px
        right: 0px
        bottom: 0px
        top: 50px
        z-index: 100

    #page .apps .box
        width: 900px
        margin: auto
        height: 100%
        position: relative
        border: unset

    #page .apps .box .pages
        position: absolute
        overflow: hidden
        top: 10%
        left: 0px
        bottom: 10%
        right: 0px

    #page .apps .box .slide
        position: absolute
        top: 0px
        left: 0px
        bottom: 0px
        -webkit-transition-property: left
        -moz-transition-property: left
        -o-transition-property: left
        transition-property: left
        -webkit-transition-duration: 0.3s
        -moz-transition-duration: 0.3s
        -o-transition-duration: 0.3s
        transition-duration: 0.3s

    #page .apps .box .page
        position: absolute
        overflow: hidden
        left: 0px
        bottom: 0px
        width: 900px

    #page .apps .box a
        width: 165px;
        height: 165px;
        float: left
        text-align: center
        color: #666
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
        border-radius: 4px
        margin-right: 30px
        margin-bottom: 15px

    #page .apps .box a .image
        display: block
        padding-top: 13px

    #page .apps .box a .text
        display: block
        font-size: 16px
        color: #fff
        font-weight: 500
        padding-top: 10px
        margin: 0 10px
        text-shadow: 0 1px 4px rgba(0,0,0,0.3)

    #page .apps .box a .image img
        width: 90px

    .xdot, .ap-xdot
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        word-wrap: normal

    #page .apps .box a .text em
        font-size: 13px
        font-weight: normal
        display: block
        padding-top: 5px
        color: rgba(255,255,255,0.6)

    #page .apps .box a:hover
        background: rgba(0,0,0,0.2)
        text-shadow: 0 1px 2px rgba(0,0,0,0.5)
        text-decoration: none !important
