<div>
  <div class="nav" (click)="toggleService.toggleNavigation($event)"><span class="icon"></span></div>

  <div class="title">
    <div class="icon -svg">
      <span class="fa fa-line-chart"></span>
    </div>
    <div class="name">Báo cáo</div>
  </div>

  <div class="main">
    <div class="avp-tabs auto-active-url">
      <div class="tab url active"><span class="tab-label">Báo cáo tổng hợp</span></div>
    </div>
  </div>
</div>
