<div class="row">
  <div class="col-md-3">
    <div class="label form-label">{{attribute.name}} {{ attribute.required ? '*' : ''}}</div>
  </div>
  <div class="col-md-9">
    <mat-form-field class="full" appearance="outline" color="warn">
      <input matInput [matDatepicker]="picker" [formControl]="attrControl">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="attrControl.invalid">Vui lòng nhập {{attribute.name}}</mat-error>
    </mat-form-field>
  </div>
</div>
