<div class="row">
  <div class="col-md-3">
    <div class="label form-label">{{attribute.name}} {{ attribute.required ? '*' : ''}}</div>
  </div>
  <div class="col-md-9">
    <mat-form-field class="full" appearance="outline" color="warn">
      <ngx-mat-file-input [formControl]="formControl" [valuePlaceholder]="fileName"></ngx-mat-file-input>
      <mat-progress-bar mode="indeterminate" *ngIf="uploading"></mat-progress-bar>
      <mat-error *ngIf="oneControl.invalid">Vui lòng nhập {{attribute.name}}</mat-error>
    </mat-form-field>
  </div>
</div>
