.full {
  width: 100%;
  overflow-x: auto;
  border: 1px solid #eee;
  margin-bottom: 20px;
}
.my-form {
  width: 100%;

  table {
    box-shadow: none;

    .green-color {
      color: #1dd033;
    }

    .red-color {
      color: red;
    }

    td {
      input {
        width: calc(100% - 10px);
      }
    }

    .mat-header-cell, .mat-footer-cell, .mat-cell {
      &:not(&:last-child, &:first-child) {
        min-width: 100px;
      }
    }

    .mat-column-btn {
      width: 50px;
    }

    .mat-column-oneindex {
      min-width: 50px;
    }
  }
}