.top {
    position: relative;

    .right {
        position: absolute;
        right: 0px;
        top: 0px;

        .icon {
            font-size: 19px;
        }
    }
}

.pinner-bkg {
    width: 100%;
    height: 100%;
    position: fixed;
    
    .pinner {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
    }
}