<div class="avp-user">
  <div class="avatar avatar-32 -circled">
    <div class="image">
      <img src="{{member.user.avatar}}" (error)="onAvatarFailed($event)">
    </div>
  </div>
  <div class="name">
    <div class="main"><em class="url username">{{member.user.lastname}} {{member.user.firstname}}</em>
    </div>
    <div class="info ap-xdot">{{member.user.title}}</div>
    <div class="info ap-xdot">{{member.user.mail}}</div>
  </div>
  <div class="actions owner">
    <div class="action">
      <span class="fa fa-ellipsis-h"
        [autoClose]="'outside'" 
        [ngbPopover]="memberOptionsPopover" 
        container="body" 
        placement="left" 
        #ddPopup="ngbPopover"></span></div>
  </div>
</div>

<ng-template #memberOptionsPopover>
  <div class="menu">
    <div class="items">
      <div class="hidden item"><span class="icon"><span class="-ap icon-uniF1D8"></span></span>Chat với <b>{{member.user.lastname}} {{member.user.firstname}}</b></div>
      <div class="item"
            (click)="navToUser()">
        <span class="icon"><span class="fa fa-user-circle-o"></span></span>Xem profile của <b>{{member.user.lastname}} {{member.user.firstname}}</b></div>
      <div class="item" 
            *ngIf="isAdmin == true && adminMember == true"
            (click)="onRemoveAdmin()">
        <span class="icon"><span class="fa fa-times-circle-o"></span></span>Bỏ quyền quản lý <b> dự án</b>
      </div>
      <div class="item" 
            *ngIf="isAdmin == true && adminMember == false"
            (click)="onSetAdmin()">
        <span class="icon"><span class="fa fa-star-o"></span></span>Set quyền quản lý <b> dự án</b>
      </div>
      <div class="item"
            *ngIf="isAdmin == true"
            (click)="onDeleteMember()"><span class="icon">
        <span class="fa fa-trash-o"></span></span>Xóa <b>{{member.user.lastname}} {{member.user.firstname}}</b> khỏi dự án
      </div>
    </div>
  </div>
</ng-template>