.group-detail-sidebar {
    .common-info-section {
        padding-bottom: 5px;

        .common-info-item {
            padding-bottom: 13px;

            .label {
                color: #686868;
            }
            
            .name {
                font-size: 15px;
            }
        }

        .common-header {
            font-weight: 500;
            .label {
                text-transform: uppercase;
            }

            .name {
                font-size: 20px;
            }
        }

        
    }

    .section {
        margin-bottom: 15px;
        background-color: #fff;
        box-shadow: 0px 1px 2px #888888;
        border-radius: 3px;

        .divider {
            margin: 0 12px;
        }

        > div {
            padding: 10px 12px;
            cursor: pointer;
        }

        .item-header {
            position: relative;
            padding-bottom: 5px;

            .label {
                color: #666;
                font-weight: 500;
                padding-bottom: 2px;
            }

            .side {
                color: #666;
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }

        .content {
            font-size: 17px;
            font-weight: 500;
        }
    }

    .summary {
        padding-bottom: 3px;
        > div {
            &:not(:last-child) {
                border-right: 1px solid #eee;
            }
        }
        
        .value {
            font-weight: bold;
            font-size: 14px;
        }
    }
}

.item {
    &.selected {
        background-color: #faebd7;

        .checked {
            display: block;
        }
    }

    .checked {
        display: none;
        right: 0px;
        position: absolute;
        top: 9px;
    }
}

.item-content {
    width: 230px;

    .workflow-color-1 {
        color: rgb(131, 103, 62);
    }
    
    .workflow-color-2 {
        color: rgb(139, 144, 224);
    }
    
    .workflow-color-3 {
        color: rgb(214, 7, 7);
    }

    .color-no {
        color:#f44336;
    }

    .color-yes {
        color:rgb(223, 63, 63);
    }
}