#report {
    .one-header {
        border-bottom: 1px solid rgba(0,0,0,.12);
        background: #fff;
        margin-bottom: 20px;
        
        .header-row {
            height: auto;
        }

        .one-tab-nav-bar {
            border: none;
        }
        
        .one-tab {
            min-width: 100px;
            height: 32px;
            padding-right: 12px;
            padding-left: 0px;
            cursor: pointer;
            text-transform: uppercase;
        
            &.mat-tab-label-active {
                color: #f44336;
            }
        }

        .right-side {
            position: absolute;
            right: 20px;

            .date-range {
                margin-left: 10px;
                top: 1px;
            }
        }
    }

    .pinner-bkg {
        width: 100%;
        height: 100%;
        position: fixed;
        opacity: 0.5;
        .pinner {
          position: fixed;
          top: 50%;
          left: 50%;
          margin-top: -50px;
          margin-left: -100px;
        }
    }

    .title {
        padding: 10px 0px;
        font-weight: bold;
    }
}
