<div id="master">
  <div id="pagew">
    <div id="page" class="">
      <department-header></department-header>
      <div id="project-master" class="forced-scroll scroll-y">
        <div class="canvas">
          <div id="collection" class="compact">
            <div class="projects" style="min-height:1300px; display:block; border:none">
              <div class="item -compact" *ngFor="let dep of showingDeps">
                <div class="w">
                  <div class="title url ap-xdot" title="{{dep.name}}"
                       [uiSref]="views.DEPARTMENT"
                       [uiParams]="{departmentId: dep.id}">{{dep.name}}</div>
                  <div class="info">
                    Tạo lúc {{dep.updated_on}} <!--Tạo bởi: {{dep.audit.creator}} --->
                  </div>
                  <div class="users clear-fix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>