<ng-template #rt let-r="result" let-t="term">
  <div style="font-size: 14px;">{{r.name}}</div>
</ng-template>

<div class="user unselectable" (click)="openAVPManagement(avpManagement)">
  <div class="avatar avatar-30">
    <div class="image">
      <img src="{{user.avatar}}" (error)="onAvatarFailed($event)">
    </div>
  </div>
  <div class="name ap-xdot">{{user.name}}</div>
  <div class="info ap-xdot"></div>
</div>
<div class="avp-icon" title="Thông báo" (click)="openAVPNotification(avpNotifications)">
  <div *ngIf="unread != 0" class="count" id="base-notis-badge" style="font-size: 11px; opacity: 1;">{{unread}}</div>
  <span class="fa fa-bell"></span>
</div>
<div class="search">
  <div class="input">
    <input type="text"
           placeholder="Tìm dự án &amp; phòng ban"
           [(ngModel)]="searchModel"
           [ngbTypeahead]="search"
           [resultTemplate]="rt"
           [inputFormatter]="formatter"
           (selectItem)="onProjectSelect($event)">
  </div>
</div>

<div id="avp-custom-root-menu">
  <div class="box -home" [ngClass]="{'collapsed': section['group-menu-name-sum'] == false}">
    <div class="title" (click)="openOrColappse('sum')">
      <div class="label">Tổng hợp</div>
    </div>
    <div [ngClass]="{'d-none': section['group-menu-name-sum'] == false}">
      <a class="li __ap_processed" [ngClass]="{'active': currentView && currentView.includes(view.TASKS) && !currentView.includes(view.PROJECT)}" title="My Tasks" [uiSref]="view.TASKS">
        <span class="icon"><img src="/assets/avp-icons/home.png"></span>
        <span class="name">Công việc</span>
      </a>

      <a class="li __ap_processed" [ngClass]="{'active': currentView && currentView.includes(view.PROJECTS)}" title="Projects &amp; teams" [uiSref]="view.PROJECTS">
        <span class="icon"><img src="/assets/avp-icons/projects.png"></span>
        <span class="name">Dự án</span>
      </a>

      <a class="li __ap_processed" [ngClass]="{'active': currentView && currentView.includes(view.DEPARTMENTS)}" title="Department" [uiSref]="view.DEPARTMENTS">
        <span class="icon"><img src="/assets/avp-icons/star.png"></span>
        <span class="name">Phòng ban</span>
      </a>

      <a class="li __ap_processed" [ngClass]="{'active': currentView && currentView.includes(view.MEMBERS) && !currentView.includes(view.PROJECT)}" title="Member" [uiSref]="view.MEMBERS">
        <span class="icon"><img src="/assets/avp-icons/users.png"></span>
        <span class="name">Thành Viên</span>
      </a>

      <a *ngIf="isAdmin" class="li __ap_processed" 
        [ngClass]="{'active': currentView && currentView.includes(view.REPORTS) && !currentView.includes(view.PROJECT)}" 
        title="Báo cáo" 
        [uiSref]="view.REPORTS">
        <span class="icon"><img src="/assets/avp-icons/report.png"></span>
        <span class="name">Báo cáo</span>
      </a>
    </div>
  </div>

  <div id="js-x-projects" class="ui-sortable">
    <div class="box js-menu" [ngClass]="{'collapsed': section['group-menu-name-'+dep.id] == false}"
         *ngFor="let dep of departments">
      <div class="title" (click)="openOrColappse(dep.id)">
        <div class="label ap-xdot ui-sortable-handle">
          {{dep.name}}
        </div>
      </div>
      <div [ngClass]="{'d-none': section['group-menu-name-'+dep.id] == false}" style="display: block">
        <a class="li __ap_processed"
           title="{{pro.name}}"
           *ngFor="let pro of dep.children"
           [ngClass]="{'active': currentView && currentView.includes(view.PROJECT) && projectId == pro.id}"
           [uiSref]="view.PROJECT"
           [uiParams]="{projectId: pro.id}">
          <span class="icon"><span class="icon-project -bg-alt1"><em>{{pro.avt}}</em></span></span>
          <span class="name ap-xdot">{{pro.name}}</span>
        </a>
      </div>
    </div>

    <div class="box js-menu" [ngClass]="{'collapsed': section['group-menu-name-none'] == false}">
      <div class="title" (click)="openOrColappse('none')">
        <div class="label ap-xdot ui-sortable-handle">
          Chưa phân loại
        </div>
      </div>
      <div [ngClass]="{'d-none': section['group-menu-name-none'] == false}" style="display: block">
        <a class="li __ap_processed"
           title="{{pro.name}}"
           *ngFor="let pro of standaloneProjects"
           [ngClass]="{'active': currentView && currentView.includes(view.PROJECT) && projectId == pro.id}"
           [uiSref]="view.PROJECT"
           [uiParams]="{projectId: pro.id}">
          <span class="icon"><span class="icon-project -bg-alt1"><em>{{pro.avt}}</em></span></span>
          <span class="name ap-xdot">{{pro.name}}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="box box-setting" [ngClass]="{'collapsed': section['group-menu-name-option'] == false}">
    <div class="title" (click)="openOrColappse('option')">
      <div class="label">Tùy chỉnh</div>
    </div>

    <div class="boards" [ngClass]="{'d-none': section['group-menu-name-option'] == false}">

      <div class="li url js-project-create" (click)="openModal(projectCreateModal)">
        <div class="icon"><img src="/assets/avp-icons/create.png"></div>
        <div class="name">Tạo dự án mới</div>
      </div>

      <div class="li url js-team-create" (click)="openModal(teamCreateModal)" *ngIf="isAdmin">
        <div class="icon"><img src="/assets/avp-icons/create.png"></div>
        <div class="name">Tạo phòng ban mới</div>
      </div>

<!--      <div class="li url" data-url="videos">-->
<!--        <div class="icon"><span class="-ap icon-play"></span></div>-->
<!--        <div class="name">Video hướng dẫn</div>-->
<!--      </div>-->

    </div>
  </div>

</div>

<ng-template #projectCreateModal let-modal>
  <project-create-form [type]="'project'" (onDismiss)="modal.dismiss()"></project-create-form>
</ng-template>

<ng-template #teamCreateModal let-modal>
  <project-create-form [type]="'team'" (onDismiss)="modal.dismiss()"></project-create-form>
</ng-template>

<ng-template #avpManagement let-modal>
  <avp-management [user]="user" (close)="modal.close()"></avp-management>
</ng-template>

<ng-template #avpNotifications let-modal>
  <avp-notifications [data]="notifications"></avp-notifications>
</ng-template>