<div id="db-canvas" class="members">
  <div class="db-header" style="margin: 0;">
    <div class="filters">
      <div class="filter -dd -cmenuw">
        Từ: <em>{{filteredDate}}</em>
        <div class="-cmenu -padding -no-icon" style="right: auto; left: auto;">
          <ngb-datepicker #dp [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden"
            [startDate]="selected.fromDate!">
          </ngb-datepicker>
        </div>
      </div>

      <div class="filter -dd -cmenuw js-by">
        <em [ngClass]="{'active selected': selected.by.isDefault != true}">{{selected.by.label}}</em>
        <div class="-cmenu -padding -no-icon">
          <div class="-item url" *ngFor="let b of by" 
                [ngClass]="{'active selected': selected.by.value == b.value}" (click)="onChangeBy(b)">
            {{b.label}}</div>
        </div>
      </div>

      <div class="filter -dd -cmenuw" *ngIf="loaded == true">
        <em [ngClass]="{'active selected': selected.project.isDefault != true}">{{selected.project.label}}</em>
        <div class="-cmenu -padding -no-icon js-projects xo" style="left: 0; overflow-y: auto;">
          <div class="js-all-projects-filter" style="max-height:300px; margin:0 -10px; padding:0 10px">
            <div class="-item url" *ngFor="let project of projects"
              [ngClass]="{'active selected': selected.project.value == project.value}" (click)="onChangeProject(project)">{{project.label}}
            </div>
          </div>
        </div>
      </div>

      <div class="filter -dd -cmenuw">
        <em [ngClass]="{'active selected': selected.ordering.isDefault != true}">Sắp xếp theo: {{selected.ordering.label}}</em>
        <div class="-cmenu -padding -no-icon" style="left: 0;">
          <div class="-item url" *ngFor="let ordering of orders"
            [ngClass]="{'active selected': selected.ordering.value == ordering.value}" (click)="onChangeOrder(ordering)">{{ordering.label}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
    (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null" (click)="onDateSelection(date)">
    {{ date.day }}
  </span>
</ng-template>