<div class="mini-chat-contact">
  <div class="contact-avatar">
    <div class="avatar-image" style="background-image: url('{{getAvatarUrl()}}')"></div>

  </div>
  <div class="contact-name">
    <span>{{user.name}}</span>
  </div>
</div>
