<div class="modal-header">
  <h6 class="modal-title">Tạo {{type_title}}</h6>
  <button type="button" class="close" aria-label="Đóng" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="tform-dialog">
  <div class="form form-dialog -flag">
    <div class="form-rows">
      <div class="row -istext -big -active">
        <div class="avp-label">Tên {{type_title}}</div>
        <div class="input data">
          <input [(ngModel)]="createForm.name" type="text" name="owners" placeholder="Tên {{type_title}}" class="std" style="overflow: hidden;">
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -istextarea -active">
        <div class="avp-label ">Mô tả {{type_title}}</div>
        <div class="input data">
          <textarea [(ngModel)]="createForm.description" placeholder="Mô tả {{type_title}}" class="std"></textarea>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -istext -big -active">
        <div class="avp-label ">Thành viên quản trị</div>
        <div class="input data">
          <user-search-box [multiple]="true" [selectedUserIds]="defaultAdmin" placeHolder="Thêm thành viên quản trị" (selectItem)="onAdminChanged($event)"></user-search-box>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -istext -active">
        <div class="avp-label ">Thành viên khác</div>
        <user-search-box [multiple]="true" placeHolder="Thành viên làm việc trong phòng ban" (selectItem)="onMemberChanged($event)"></user-search-box>
        <div class="clear"></div>
      </div>
      <!-- <div class="hidden row -istext -big -active" [ngClass]="{'hidden': usingAddGroup == false}">
        <div class="avp-label">Thêm nhanh thành viên theo nhóm</div>
        <div class="input data">
          <input type="text" name="teams" placeholder="Nhập để chọn tất cả các thành viên và các nhóm" class="std ui-autocomplete-input"></div>
        <div class="clear"></div>
      </div>
      <div class="hidden row -plain" [ngClass]="{'hidden': usingAddGroup == true}">
        <span class="a" (click)="usingAddGroup = true">Hoặc thêm thành viên theo nhóm ... </span>
      </div> -->
      <div class="row -isselect -active" *ngIf="isProject">
        <div class="avp-label ">Bộ phận</div>
        <div class="select data js-improved-select">
          <div class="improve-select unselectable">
            <ng-select [items]="departments"
                       [clearable]="true"
                       placeholder="Chọn bộ phận"
                       [(ngModel)]="createForm.parent_id"
                       bindValue="id"
                       bindLabel="name"
            >
            </ng-select>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row -islist -active" *ngIf="type == 'project'">
        <div class="avp-label ">Phân loại dự án</div>
        <div class="list-radio data" data-empty="0">
          <div class="options">
            <div class="opt" [ngClass]="{'selected': createForm.type == 'internal'}" (click)="createForm.type = 'internal'">
              <div class="circle">
                <div class="cin"></div>
              </div>
              Dự án nội bộ
              <div class="sublabel">Dự án nội bộ công ty</div>
            </div>
            <div class="opt" [ngClass]="{'selected': createForm.type == 'external'}" (click)="createForm.type = 'external'">
              <div class="circle">
                <div class="cin"></div>
              </div>
              Dự án làm việc với khách hàng
              <div class="sublabel">Bạn có thể thêm tài khoản khách hàng vào dự án</div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row wrapper" id="advopts" [ngClass]="{'hidden': showAdvanced == false}" *ngIf="type == 'project'">
        <div class="wtitle">Tùy chọn nâng cao</div>
        <div class="__ph"></div>
        <div class="row -istext -active">
          <div class="avp-label ">Ngày bắt đầu</div>
          <div class="input data">
            <span class="fa fa-calendar" style="position: absolute; right:10px; top:10px; color:#aaa; font-size:16px;"></span>
            <input type="text" name="startDate" [(ngModel)]="createForm.startDate" placeholder="Ngày bắt đầu" ngbDatepicker #tstart="ngbDatepicker" (focus)="tstart.open()" (click)="tstart.open()">
          </div>
          <div class="clear"></div>
        </div>
        <div class="row -istext -active">
          <div class="avp-label ">Ngày kết thúc</div>
          <div class="input data">
            <span class="fa fa-calendar" style="position: absolute; right:10px; top:10px; color:#aaa; font-size:16px;"></span>
            <input type="text" name="deadline" [(ngModel)]="createForm.dueDate" placeholder="Thời hạn" ngbDatepicker #tdeadline="ngbDatepicker" (focus)="tdeadline.open()" (click)="tdeadline.open()">
          </div>
          <div class="clear"></div>
        </div>
        <div class="row -isselect -active">
          <div class="avp-label ">Trạng thái hiện tại</div>
          <div class="select data js-improved-select">
            <ng-select [items]="statuses"
                       [searchable]="false" [clearable]="false"
                       placeholder="Chọn trạng thái"
                       [(ngModel)]="createForm.status"
                       bindValue="value"
                       bindLabel="label"
            ></ng-select>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="row -html" *ngIf="type == 'project'">
        <span class="link" (click)="showAdvanced = !showAdvanced">
          <span *ngIf="showAdvanced == false">+</span>
          <span *ngIf="showAdvanced == true">-</span>
          Lựa chọn nâng cao
        </span>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="form-buttons -two">
    <div class="button ok -success -rounded bold" [ngClass]="{'disable': onSaving == true}" style="float: right;" (click)="save()">Tạo {{type_title}}</div>
    <div class="button cancel -passive-2 -rounded" [ngClass]="{'disable': onSaving == true}" (click)="dismiss()">Huỷ</div>
  </div>
</div>