<template name="sideNav">
	<style>
	</style>
	<div class="one-star tool-bar">
		<div class="tool-bar-item tool-bar-item--color toolbar-applist">
			<i class="fab fa-buffer"></i>
		</div>
		<div class="tool-bar-item tool-bar-item--color toolbar-message activate">
			<i class="far fa-comment-dots"></i>
		</div>
<!--		<div class="tool-bar-item tool-bar-item&#45;&#45;color">-->
<!--			<i class="far fa-star"></i>-->
<!--		</div>-->
		<div class="tool-bar-item tool-bar-item--color toolbar-people">
			<i class="far fa-user-circle" ></i>
		</div>
<!--		<div class="tool-bar-item tool-bar-item&#45;&#45;color">-->
<!--			<i class="far fa-moon"></i>-->
<!--		</div>-->
		<div class="tool-bar-item tool-bar-item--color toolbar-create">
			<i class="fas fa-folder-plus"></i>
		</div>


	</div>

	<aside class="sidebar sidebar--{{sidebarViewMode}} {{#if sidebarHideAvatar}}sidebar--hide-avatar{{/if}}" role="navigation">
		{{> sidebarHeader }}
		{{#if loggedInUser}}
		<div class="one-people-list1">
		<div class="one-search-bar form-group has-search" style="margin: 10px; padding: 0px">
			<span class="fa fa-search form-control-feedback"></span>
			<input type="text" class="form-control mysearch" placeholder="Tìm Kiếm" id="abc"/>
		</div>
	</div>

			<div class="wrapper-unread">
				<div class="unread-rooms background-primary-action-color color-primary-action-contrast top-unread-rooms hidden">
					<i class="icon-up-big"></i> {{_ "More_unreads"}}
				</div>
			</div>
			<!-- {{#if currentFilter}}
				<div class="rooms-list" aria-label="{{_ "Channels"}}" role="region">
					{{#each roomType}}
						{{> Template.dynamic template=template data=data }}
					{{/each}}
				</div>
			{{/if}} -->
			<div class="rooms-list" aria-label="{{_ "Channels"}}" role="region">
				{{#each roomType}}
					{{> Template.dynamic template=template data=data }}
				{{/each}}
			</div>
			<div class="wrapper-unread">
				<div class="unread-rooms background-primary-action-color color-primary-action-contrast bottom-unread-rooms hidden">
					<i class="icon-down-big"></i> {{_ "More_unreads"}}
				</div>
			</div>
			<div class="flex-nav animated-hidden">
				{{> Template.dynamic template=flexTemplate data=flexData }}
			</div>
		{{else}}
			<div class="rooms-list" aria-label="{{_ "Channels"}}" role="region">
				<div class="wrapper">
					{{> roomList anonymous=true label="Channels" }}
				</div>
			</div>
		{{/if}}

		<footer class="sidebar__footer">{{{footer}}}</footer>
	</aside>
	<div class="sidebar-wrap"></div>

</template>
