<template name="sidebarHeader">
	<header class="sidebar__header">
		{{#with myUserInfo}}
			<div aria-haspopup="true" class="sidebar__header-thumb">
				{{> avatar username=username}}
				<div class="sidebar__header-status-bullet sidebar__header-status-bullet--{{status}}"></div>
			</div>
		<div class="sidebar-userinfo">
			<div class="sidebar-user-name">{{name}}</div>
			<div class="sidebar-user-role">{{role}}</div>
		</div>
			<div class="sidebar__toolbar">
				{{#each toolbarButtons}}
					<button class="sidebar__toolbar-button rc-tooltip rc-tooltip--down js-button" id="{{id}}" aria-label="{{name}}" aria-haspopup="{{hasPopup}}">
						{{> icon block="sidebar__toolbar-button-icon" icon=icon }}
					</button>
				{{/each}}
			</div>
		{{/with}}
		{{#if showToolbar}}
			{{> toolbar }}
		{{/if}}
	</header>
</template>
