<head>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="expires" content="-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="fragment" content="!" />
	<meta name="distribution" content="global" />
	<meta name="rating" content="general" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="msapplication-TileImage" content="assets/tile_144.png" />
	<meta name="msapplication-config" content="images/browserconfig.xml" />
	<meta property="og:image" content="assets/favicon_512.png" />
	<meta property="twitter:image" content="assets/favicon_512.png" />
	<link rel="manifest" href="images/manifest.json" />
	<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/nocfbnnmjnndkbipkabodnheejiegccf" />
	<link rel="mask-icon" href="assets/safari_pinned.svg" color="#04436a">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/touchicon_180.png" />
	<link rel="apple-touch-icon-precomposed" href="assets/touchicon_180_pre.png" />
	<link rel="stylesheet" href="/one-star.css">
	<link rel="stylesheet" href="/one-star/one-star-theme.css">
	<script src="https://kit.fontawesome.com/68e95db6c7.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" type="text/javascript"></script>
	<script async defer src="https://cdn.jsdelivr.net/npm/transliteration@2.1.8/dist/browser/bundle.umd.min.js"></script>
	<script src="/one-star/user-list/user-list.js?v=20210801" type="text/javascript"></script>
	<script src="/one-star/app-list/app-list.js?v=20210801" type="text/javascript"></script>
	<script src="/one-star/one-star.js?v=20210801" type="text/javascript"></script>
</head>
