<div id="main-board" class="scroll-x scroll-y forced-scroll">
  <div class="stages clear-fix ui-sortable" style="width: 2260px;">
    <tasks-board-list [editable]="editable"></tasks-board-list>
    <tasks-board-list *ngFor="let category of categories"
                      [category]="category"
                      [editable]="editable"></tasks-board-list>
  </div>
</div>