.request-sidebar {
    padding: 20px;
    background-color: #fafafa;
    border-left: 1px solid rgba(0, 0, 0, 0.1);

    .section {
        margin-bottom: 50px;
        position: relative;

        .title {
            color: #f44336;
            font-weight: bold;
            font-size: 18px;
        }

        .one-panel {
            background: #fafafa;
            box-shadow: none;
            margin-bottom: 0px;

            .panel-header {
                padding: 0 12px;
            }
        }

        .add-more-follower {
            margin-left: 18px;
            box-shadow: none;
            color: #f44336;
            border: 1px dashed #f44336;
            background-color: transparent;
        }
    }

    .list {
        .activity-item {
            position: relative;
            padding-bottom: 24px;
            padding-left: 120px;
            min-height: 40px;
            border-bottom: 1px solid #e5e5e5;

            .time {
                position: absolute;
                top: 15px;
                left: 0px;

                .d {
                    display: block;
                    text-transform: uppercase;
                    color: #999;
                    font-size: 11px;
                }

                .h {
                    font-size: 16px;
                    padding-top: 2px;
                }
            }

            .icon {
                position: absolute;
                top: 15px;
                left: 60px;
                width: 36px;
                height: 36px;
                text-align: center;
                font-weight: bold;

                .mati {
                    font-size: 36px;
                    width: 36px;
                    height: 36px;

                    &.Created {
                        color: rgb(39, 53, 182);
                    }

                    &.Rejected {
                        color: red;
                    }
                
                    &.Updated {
                        color: mediumblue;
                    }
                
                    &.Cancelled {
                        color: #ccc;
                    }
                
                    &.Approved {
                        color: #1dd033;
                    }
                }
            }

            .name {
                display: block;
                font-size: 15px;
                font-weight: 300;
                padding-bottom: 5px;
                padding-top: 16px;
                line-height: 20px;
            }

            &:last-child {
                border: none;
            }

            &::before {
                position: absolute;
                content: "";
                width: 2px;
                top: 0px;
                height: 110%;
                left: 76px;
                background-color: #e5e5e5;
            }
        }
    }
}