.member-creation-one {

    .creation-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
  
      .form-field-fullwidth {
        width: 100%;
      }
  
      .avatar-content {
        display: inline-block;
        margin-left: 100px;
  
        .avatar-preview {
          width: 64px;
          height: 64px;
          cursor: pointer;
        }
      }
  
      .avatar-label {
        position: absolute;
        margin-right: 70px;
        margin-top: 22px;
      }
    }
  }
  