.result {
    .item {
        padding: 15px 10px;
        border-bottom: 1px solid #ccc;
        margin: 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;

        &:hover {
            background-color: #eee;
        }
    }
}