<div id="headerPage" class="with-menu">

  <div class="nav" onclick="Layout.ext()"><span class="icon"></span></div>

  <div class="title">
    <div class="name">
      <span class="url ap-xdot" data-xurl="home" title="Công Việc Từ BOD" style="font-size: 15px;font-weight: 500;">Công Việc Từ Demo Project</span>
      <span class="star"></span>
    </div>
    <div class="icon -avatar"><img src="http://gravatar.com/avatar/cb4f282fed12016bd18a879c1f27ff97?default=404&amp;secure=false"></div>
  </div>

  <div class="main">
    <div class="tabs">

      <div class="tab url" data-xurl="discussions"><span class="-ap icon-forum icn" title="Thảo luận"></span><span class="tab-label">Thảo luận</span> (<span class="counter">1</span>)</div>
      <div class="tab url" data-xurl="documents"><span class="tab-label">Tài liệu</span> (<span class="counter">0</span>)</div>
      <div class="tab url" data-xurl="activities"><span class="tab-label">Hoạt động</span></div>

      <div class="tab url" data-xurl="report"><span class="tab-label" style="color: blue;">Báo cáo</span></div>

    </div>
  </div>
</div>