.one-sidenav {
    padding: 0px 10px;

    .nav {
        cursor: pointer;
        color: #888;

        .active, .c-active {
            color: #342665;
        }

        &:hover {
            color: #555;
        }
    }
}

