.fieldName {
  width: 150px;
}

.index {
  width: 25px;
}

.value {
  width: calc(100% - 230px);

  .table-container {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #eee;

    table {
      box-shadow: none;
  
      .mat-header-cell, .mat-footer-cell, .mat-cell {
        &:not(&:last-child) {
          min-width: 100px;
        }
      }

      .mat-column-oneindex {
        min-width: 50px;
      }
    }
  }
}

.table-type {
  height: auto;
}
