.title-type {
  height: auto;
  .wrapper {
    margin-left: 10px;
    width: calc(100% - 20px);
    border-bottom: 1px solid #eaeaea;
    .fieldName {
      font-weight: 600;
      font-size: 14px;
    }
  }
}
