<div class="landing-page">
  <div class="top">
    <div class="logo">
      <img src="https://anvietenergy.com/wp-content/uploads/2019/09/111.png" width="150px"/>
    </div>
    <div class="content">
      <div class="sologan">
        TOGETHER GROWING STRONG & SUCCESS
      </div>
      <div class="quick-introduction">
        <p>An Viet Phat Group (AVP Group) is known as a pioneer in the field of clean energy supply with major partners around the world.</p>
<p></p>
<p>
With the motto “For the benefit of customers”, based on the existing resources of facilities and human resources, An Viet Phat Group believes that all efforts on the quality of our services will bring to our customers. The best products, the most effective, the most economical, contribute to the future success for customers and partners.</p>
      </div>
    </div>

  </div>
</div>
