.landing-page {
  background-color: lightslategrey;
  width: 100%;
  height: 100%;

  .top {
    height: 100%;
    background: linear-gradient(0deg, #33333310, #333333), url('https://anvietenergy.com/wp-content/uploads/2019/10/bggt.jpg');
    background-size: 100% 100%;

    .logo {
      text-align: center;
      padding-top: 100px;
    }

    .content {
      width: calc(100% - 200px);
      text-align: center;
      margin: 0 auto;

      .sologan {
        font-size: 18pt;
        font-weight: 600;
        margin-top: 20px;
        color: #fff;
      }
    }

    .quick-introduction {
      margin-top: 100px;
      font-size: 12pt;
      color: aliceblue;
      font-weight: 300;
    }
  }




  .avp-image {
    background-image: url('../../../assets/images/avp.png');
    width: 100%;
    height: 300px;
    background-size: 100% 100%;
    margin-bottom: 20px;
  }

  .login-regoin{
    margin: 0 auto;
    width: 300px;

    .login-btn {
      display: inline-block;
      width: 125px;
      margin-right: 10px;
    }

    .contact-btn {
      display: inline-block;
      width: 125px;
      margin-left: 10px;
    }

    button {
      width: 100%;
    }
  }


}
