.personal-page {
  height: 100%;
  padding: 0 20px;
  .header {
    height: 72px;
    border-bottom: 2px solid #eee;
    position: relative;
  }

  .body {
    height: calc(100% - 72px);
    overflow-y: scroll;
  }
}
