<div class="personal-page">
  <div class="header">
    <personal-header [userInfo] = "userInfo" (eventAction)="onReceiveEvent($event)"></personal-header>
  </div>
  <div class="body">
<one-personal-info [userInfo] = "userInfo"></one-personal-info>
</div>
</div>
