<div >
    <div id="doughnut-char" *ngIf="display">
        <canvas baseChart width="150" height="150"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [data]="doughnutChartData"
                [options]="options"
        >
        </canvas>
    </div>
</div>