.content {
    .icon {
        .ic {
            width: 36px;
            height: 36px;
            font-size: 36px;
        }
    }

    .message {
        max-width: 350px;
        font-size: 15px;        
        padding-left: 10px;
        padding-top: 5px;
    }
}