.item{
    border-bottom: 1px solid #ddd;
    cursor: pointer;

    .info {
        .title {
            font-size: 15px;
            font-weight: 500;
        }
    
        .description {
            color: #888;
        }
    }

    .approval-status {
        .PENDING {
            background: antiquewhite;
            color: darkgoldenrod;
        }
        
        .CANCELLED {
            background: #ccc;
            color: #fff;
        }
    
        .TIMEOUT {
            background: #dc0606;
            color: #fff;
        }
    
        .REJECTED {
            background: red;
            color: #fff;
        }
    
        .REQUEST_UPDATE {
            background: mediumblue;
            color: #fff;
        }
    
        .CLOSED {
            background: #eee;
            color: #aaa;
        }
    
        .APPROVED {
            background: #1dd033;
            color: #fff;
        }
    }

    &:hover {
        background-color: #f9f9f9;
        color: #267cde;
    }
}

