<div class="tasklist" [ngClass]="{'-collapsed': !isOpen}">
  <div class="group-header -tasklist">
    <div class="-collapsed-mask url"></div>
    <div class="collapsed url">
      <span class="fa fa-caret-down"></span>
    </div>
    <div class="title">
      <div class="name ap-xdot">
        <span class="url" title="{{category.name}}" (click)="openOrCollapse()">{{category.name}}</span>
        <span class="desc" title=""></span>
      </div>
      <div class="right" *ngIf="editable && canCreateWP">
        <div class="more -cmenuw" *ngIf="canCreateCategory && category.id != 0">
          <div class="-cmenu -padding -no-icon" style="width: 200px;">
            <div class="-item url ap-xdot" title="Chỉnh sửa nhóm công việc" (click)="openEditCategory(editCategory)">Chỉnh sửa nhóm công việc</div>
            <div class="-item-sep"></div>
            <div class="-item url red ap-xdot" title="Xóa nhóm công việc" (click)="openDeleteCategory(deleteConfirmModal)">Xóa nhóm công việc</div>
          </div>
        </div>
        <div class="group-cta url unselectable" (click)="open(createTaskModal)">
          <div class="text js-add-task">Thêm công việc</div>
        </div>
      </div>
    </div>
  </div>
  <div class="list tasks">
    <div class="container-fluid">
      <div class="loader" *ngIf="loading">
        <div class="spinner">
          <div class="spinner-border text-primary"></div>
        </div>
      </div>
      <task-item class="task-wrapper js-task" *ngFor='let item of filteredWorkPackages' [item]='item'
        [isShowSubtasks]='isShowSubtask' (onDeleted)="refresh()"></task-item>
      <div class="footer">
        <div class="avp-pagination" style="margin-right: 15px;">
          <ngb-pagination *ngIf="pageInfo.total > 0" [collectionSize]="pageInfo.total" [(page)]="pageInfo.page"
            [maxSize]="pageInfo.maxSize" [pageSize]="pageInfo.size"
            (pageChange)="onPageChange($event)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createTaskModal let-modal>
  <task-create-form [projectId]="projectId"
                    [categoryId]="category.id"
                    (onSaveSuccess)="onNewTaskCreated($event)"
                    (onDialogClose)="modal.dismiss()"></task-create-form>
</ng-template>

<ng-template #editCategory let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Chỉnh sửa nhóm công việc</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="tform-dialog">
    <div class="form form-dialog -flag">
      <div class="form-rows">
        <div class="row -istext -big -active">
          <div class="avp-label">Tên nhóm</div>
          <div class="input data">
            <input [(ngModel)]="copiedCategory.name" type="text" name="owners" placeholder="Tên nhóm" class="std" style="overflow: hidden;">
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-buttons -two">
      <div class="button ok -success -rounded bold" style="float: right;" (click)="modal.close('Save')">Lưu</div>
      <div class="button cancel -passive-2 -rounded" (click)="modal.dismiss()">Huỷ</div>
    </div>
  </div>
</ng-template>

<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header" style="background-color: #c65144;">
    <h6 class="modal-title" style="color: #fff;">Xóa nhóm công việc</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="__alertdialog">
    <div class="__apdialog">
      <table>
        <tbody>
        <tr>
          <td class="icon">
            <i class="fa fa-warning" style="font-size: 42px; color: #c65144"></i>
          </td>
          <td class="text">Bạn có chắc chắn muốn xóa nhóm {{copiedCategory.name}}? Nhóm và công việc của nó sẽ bị xóa và không thể khôi phục lại.</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="__dialogbuttons unselectable">
      <div class="button ss confirm-button" (click)="modal.dismiss()">Đóng</div>
      <div class="button er confirm-button" (click)="modal.close('Delete')">Xác nhận xóa</div>
    </div>
  </div>
</ng-template>