.one-header {
    border-bottom: 1px solid rgba(0,0,0,.12);
    background: #fff;
    
    .header-row {
        height: auto;
        .title {
            padding: 10px 0px;
        }
    }

    .side {
        position: absolute;
        right: 50px;

        button {
            text-transform: uppercase;
        }

        .more {
            border-radius: 0;
            border: 1px solid #ddd;
            background: #eee;
            margin-left: 5px;
        }
    }

    &.in-detail {
        .side {
            display: none;
        }
    }

    .one-tab-nav-bar {
        border: none;
    }
    
    .one-tab {
        min-width: 100px;
        height: 32px;
        padding-right: 12px;
        padding-left: 0px;
        cursor: pointer;
        text-transform: uppercase;
    
        &.mat-tab-label-active {
            color: #f44336;
        }
    }
}

.input-group{
    border: 1px gray solid;
    border-radius: 3px;
    background-color: #fff;
    padding: 0px 6px;
    align-items: center;
    margin-right: 5px;
    width: 180px;

    .icon {
        background: white;
    }

    input {
        border: none;
        font-size: 12px;
        padding-right: 0px;

        &:focus {
            box-shadow: none;
        }
    }
}