<div id="header">
  <div class="nav" (click)="toggleService.toggleNavigation($event)"><span class="icon"></span></div>

  <div class="title">
    <div class="icon -svg">
      <span class="fa fa-bookmark-o"></span>
    </div>
    <div class="name" *ngIf="!department">Phòng ban</div>
    <div class="name" *ngIf="department" style="text-transform: uppercase">{{department.name}}</div>
  </div>

  <div class="main">
    <div class="avp-tabs auto-active-url">
      <div class="tab url active" *ngIf="!department"><span class="tab-label">Phòng ban</span></div>
      <div class="tab url active" *ngIf="department"><span class="tab-label">Dự án</span></div>
      <div class="hidden tab url" *ngIf="department"><span class="tab-label">Mục tiêu</span></div>
      <div class="tab -dd -cmenuw" *ngIf="department && (isDepartmentAdmin || isOwner)" uiSrefActive="active">Chỉnh sửa
        <div class="full-mask url"></div>
        <div class="-cmenu -padding -no-icon">
          <div class="-item url" (click)="open(editDepartment)">Chỉnh sửa</div>
          <div class="-item url" (click)="open(deleteConfirm)">Xóa</div>
        </div>
      </div>
    </div>
  </div>

  <div class="side">
    <div class="buttons" *ngIf="isOwner && !department">
      <div class="button url" (click)="openCreateDepModal(teamCreateModal)">Thêm phòng ban mới</div>
    </div>
    <div class="search">
      <input type="text" placeholder="Lọc nhanh" (input)="onSearchProject($event)">
    </div>
  </div>
</div>

<ng-template #teamCreateModal let-modal>
  <project-create-form [type]="'team'" (onDismiss)="modal.dismiss()"></project-create-form>
</ng-template>

<ng-template #editDepartment let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Chỉnh sửa phòng ban</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="tform-dialog">
    <div class="form form-dialog -flag">
      <div class="form-rows">
        <div class="row -istext -big -active">
          <div class="avp-label">Tên phòng ban</div>
          <div class="input data">
            <input [(ngModel)]="editting.name" type="text" name="owners" placeholder="Tên phòng ban" class="std" style="overflow: hidden;">
          </div>
          <div class="clear"></div>
        </div>
        <div class="row -istext -big -active">
          <div class="avp-label ">Thành viên quản trị</div>
          <div class="input data">
            <user-search-box [multiple]="true" 
            placeHolder="Thêm thành viên quản trị" 
            (selectItem)="onAdminChanged($event)"
            [selectedUserIds]="adminIds"></user-search-box>
          </div>
          <div class="clear"></div>
        </div>
        <div class="row -istext -big -active">
          <div class="avp-label ">Thành viên khác</div>
          <div class="input data">
            <user-search-box [multiple]="true" 
            placeHolder="Thêm thành viên khác" 
            (selectItem)="onMemberChanged($event)"
            [selectedUserIds]="memberIds"></user-search-box>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-buttons -two">
      <div class="button ok -success -rounded bold" style="float: right;" (click)="onSave() && modal.dismiss()">Lưu</div>
      <div class="button cancel -passive-2 -rounded" (click)="modal.dismiss()">Huỷ</div>
    </div>
  </div>
</ng-template>

<ng-template #deleteConfirm let-modal>
  <div class="modal-header" style="background-color: #c65144;">
    <h6 class="modal-title" style="color: #fff;">Xóa phòng ban</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="__alertdialog">
    <div class="__apdialog">
      <table>
        <tbody>
        <tr>
          <td class="icon">
            <i class="fa fa-warning" style="font-size: 42px; color: #c65144"></i>
          </td>
          <td class="text">Bạn có chắc chắn muốn xóa phòng ban này? Phòng ban đã xóa sẽ không thể khôi phục lại.</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="__dialogbuttons unselectable">
      <div class="button ss confirm-button" (click)="modal.dismiss()">Đóng</div>
      <div class="button er confirm-button" (click)="onDelete(modal)">Xác nhận xóa</div>
    </div>
  </div>
</ng-template>