.request-list-component {

  &.inDetail {
    .group-name {
      margin-left: 0px !important;
      display: block;
    }

    .div-no-wrap {
      max-width: 100%;
      min-width: 100%;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: -5px;
    }

    .request-name-wrapper-details {
      width: 100%;
    }
  }

  .pinner-bkg {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    position: fixed;
    opacity: 0.5;
    .pinner {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
    }
  }

  .req-item {
    cursor: pointer;

    &:hover {
      background-color: #eee;
      .request-name-wrapper {
        color: #267cde;
      }
    }
  }

  .mat-column-idCheck {
    flex: 0 0 60px;
  }
  .mat-column-requestName {
    &.request-name-cell {
      flex: 1;
      .request-name-wrapper {
        cursor: pointer;

        .request-name {
          font-size: 16px;
          display: inline-block;
          &.visited {
            font-weight: bold;
          }
        }

        .group-name {
          margin-left: 10px;
        }
      }
    }
  }

  .mat-column-status {
    flex: 0 0 95px;
  }

  .mat-column-approvers {
    flex: 0 0 150px;
  }

  .mat-column-submitDate {
    flex: 0 0 130px;
  }
  .mat-column-actions {
    flex: 0 0 70px;
  }

  .mat-column-submitter {
    flex: 0 0 150px;
    .request-submitter {
      width: 100%;
      .submitter-avatar {
        display: inline-block;
      }
      .submitter-fullname {
        display: inline-block;
        width: calc(100% - 40px);
        margin-left: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: unset;
        overflow: hidden;
        vertical-align: middle;
      }
    }
  }

  .active {
    font-weight: 500;
    background: #f2a08d;

    .request-name-cell {
      color: #fff;
    }
  }

  .approver-avatar {
    float: left;
    margin-right: 5px;
  }

  .check-approved {
    color: #1dd033;
  }

  .approver-container {

    .approver-avatar {
      position: relative;

      .approve-marked {
        position: absolute;
        left: 14px;
        top: 14px;
        width: 8px;
        color: #1dd033;

        &.rejected {
          color: red;
        }
      }
    }
  }

  .request-status {
    padding: 5px;
    width: 100%;
    margin-right: 10px;
    text-align: center;

    &.PENDING {
      background: antiquewhite;
      color: darkgoldenrod;
    }

    &.CANCELLED {
      background: #ccc;
      color: #fff;
    }

    &.TIMEOUT {
      background: #dc0606;
      color: #fff;
      font-weight: 500;
    }

    &.REJECTED {
      background: red;
      color: #fff;
      font-weight: 500;
      text-decoration: line-through;
    }

    &.REQUEST_UPDATE {
      background: mediumblue;
      color: #fff;
      font-weight: 500;
    }

    &.CLOSED {
      background: #eee;
      color: #aaa;
    }

    &.APPROVED {
      background: #1dd033;
      color: #fff;
      font-weight: 500;
    }
  }

  .paginition {
    margin-bottom: 100px;
  }
}
