/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  margin: 0 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden;}


.one-app-dialog {
  .mat-dialog-container {
    padding: 0px;
  }
}
