<div class="user-title-creation-dialog">
  <h2 mat-dialog-title>{{(isUpdate ? 'Sửa Chức Vụ' : 'management.userTitle.creation.title') | translate }}</h2>
  <mat-dialog-content class="mat-typography">
    <form class="creation-form" [formGroup]="registerForm">
      <mat-form-field class="form-field-fullwidth" appearance="fill">
        <mat-label>{{'management.userTitle.name.title' | translate }}</mat-label>
        <input matInput placeholder="{{ 'management.userTitle.name.title' | translate }}" required
               formControlName="name"
        >
        <mat-error *ngIf="submitted && f.name.invalid">{{'management.userTitle.name.title_required'}}</mat-error>
      </mat-form-field>


    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <button mat-button (click)="submitForm()" cdkFocusInitial>{{ (isUpdate ? 'management.userTitle.actions.updateAction' : 'management.userTitle.actions.createAction') | translate}}</button>
  </mat-dialog-actions>

</div>
