@import '~@angular/material/theming';
@import '../../theme/base';
@include mat-core();




.one-center-panel {
  height: 100%;
  width: calc(100% - 288px - 96px);
  float: left;
  background-color: bisque;
  padding-left: 20px;
  padding-right: 20px;

  overflow: scroll;
}


