<div class="member-creation-one">
    <h2 mat-dialog-title>{{'Thêm Tài Khoản Khách Hàng' | translate }}</h2>
    <mat-dialog-content class="mat-typography">
      <form class="creation-form" [formGroup]="registerForm">
        <mat-form-field class="form-field-fullwidth" appearance="fill">
          <mat-label>{{'centerPanel.header.creation.dialog.username' | translate }}</mat-label>
          <input matInput placeholder="{{ 'centerPanel.header.creation.dialog.username' | translate }}" required
                 formControlName="username" oninput="this.value = this.value.toLowerCase()"
          >
          <mat-error *ngIf="submitted && f.username.invalid">{{'centerPanel.header.creation.dialog.username_required'}}</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field-fullwidth">
          <mat-label>{{'centerPanel.header.creation.dialog.lastName' | translate }}</mat-label>
          <input matInput placeholder="{{ 'centerPanel.header.creation.dialog.lastName' | translate }}" required
                 formControlName="lastName"
          >
          <mat-error *ngIf="submitted && f.lastName.invalid">{{'centerPanel.header.creation.dialog.lastName_required'}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field-fullwidth">
          <mat-label>{{'centerPanel.header.creation.dialog.firstName' | translate }}</mat-label>
          <input matInput placeholder="{{ 'centerPanel.header.creation.dialog.firstName' | translate }}" required
                 formControlName="firstName"
          >
          <mat-error *ngIf="submitted && f.firstName.invalid">{{'centerPanel.header.creation.dialog.firstName_required'}}</mat-error>
        </mat-form-field>
       
        <mat-form-field appearance="fill" class="form-field-fullwidth">
          <mat-label>{{'centerPanel.header.creation.dialog.email' | translate }}</mat-label>
          <input matInput type="email" placeholder="{{ 'centerPanel.header.creation.dialog.email' | translate }}" required
                 formControlName="email"
          >
          <mat-error *ngIf="submitted && f.email.invalid">{{'centerPanel.header.creation.dialog.email_required'}}</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field-fullwidth">
          <mat-label>{{'centerPanel.header.creation.dialog.phone_number' | translate }}</mat-label>
          <input matInput type="tel" placeholder="{{ 'centerPanel.header.creation.dialog.phone_number' | translate }}">
        </mat-form-field>
       
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Hủy</button>
      <button mat-button (click)="submitForm()" cdkFocusInitial>Tạo Tài Khoản</button>
    </mat-dialog-actions>
  
  </div>
  