<div class="side-body" *ngIf="loaded == true">
  <div class="section -fit" *ngIf="isOverdue == true">
    <div class="overdue">
      <div class="icon anim-showhide-inf">
        <i class="fa fa-exclamation-circle"></i>
      </div>
      <div class="avp-label">Công việc đã quá hạn</div>
    </div>
  </div>
  <div class="section -fit" *ngIf="item._links.status.title == 'Done Late'">
    <div class="overdue -late">
      <div class="icon">
        <i class="fa fa-exclamation-circle"></i>
      </div>
      <div class="avp-label">Hoàn thành muộn</div>
    </div>
  </div>
  <div class="section -fit" *ngIf="item._links.assignee.href == null">
    <div class="p-msg">
        <span class="msg">Công việc chưa được giao cho ai
          <em class="url"
              [ngbPopover]="usersPopover"
              #userSelector="ngbPopover"
              [autoClose]="'outside'"
              placement="bottom"
              container="body">Giao ngay?</em>
        </span>
    </div>
  </div>
  <div class="section -fit" *ngIf="startedSince > 0">
    <div class="start">
      <div class="icon">
        <i class="fa fa-play-circle"></i>
      </div>
      <div class="avp-label">Công việc này đã bắt đầu từ {{ startedSince }} ngày trước</div>
      <div class="info" *ngIf="isAssignedToMe == true">Công việc này được giao cho bạn</div>
    </div>
  </div>
  <div class="section -fit" *ngIf="item.startDate == undefined && item._links.assignee.href != null">
    <div class="start">
      <div class="icon anim-showhide-inf">
        <i class="fa fa-play-circle"></i>
      </div>
      <div class="avp-label">Công việc này chưa được bắt đầu</div>
      <div class="info" *ngIf="isAssignedToMe == true">Công việc đang được giao cho bạn</div>
      <div class="ctas clear-fix">
        <div class="cta url" (click)="onUpdateStartDate(null, null, true)">
          <i class="fa fa-play"></i>
          Bắt đầu ngay
        </div>
        <div class="cta-less url" style="padding: 7px"
             [autoClose]="'outside'"
             [ngbPopover]="startDatePopover"
             container="body"
             placement="bottom"
             #sdPopup="ngbPopover">Chọn tgian</div>
      </div>
    </div>
  </div>
  <div class="section -fit -orange" *ngIf="item._links.milestone == null">
    <div class="p-msg -orange hidden">
      <div class="msg">Chưa liên kết với mục tiêu</div>
      <em class="cta url" (click)="onShowOrCollapseMilestone($event)">
        Lựa chọn mục tiêu
        <i class="fa fa-angle-down"></i>
      </em>
    </div>
  </div>
  <div class="section" [ngClass]="{'collapsed': side_menu_action.author_section.isCollapsed }" >
    <div class="title" (click)="onSectionChanged('author_section')">
      Người giao việc
    </div>
    <div class="assigner body">
      <div class="avp-user">
        <div class="image">
          <img src="{{item._embedded.author.avatar}}" (error)="onAvatarFailed($event)">
        </div>
        <div class="name">{{item._links.author.title}}</div>
        <div class="info">Nhân viên</div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="exec-rows">
      <div class="row" *ngIf="item.createdAt != ''">
        <div class="icon">
          <i class="fa fa-user-circle-o"></i>
        </div>
        <div class="avp-label">
          TG tạo: <em>{{createdAt}}</em>
        </div>
      </div>
      <div class="row" *ngIf="item.updatedAt != ''">
        <div class="icon">
          <i class="fa fa-clock-o"></i>
        </div>
        <div class="avp-label">
          TG cập nhật: <em>{{updatedAt}}</em>
        </div>
      </div>
      <div class="row" *ngIf="item.startDate != null">
        <div class="icon">
          <i class="fa fa-clock-o"></i>
        </div>
        <div class="avp-label">
          Bắt đầu: <em>{{startDate}}</em>
        </div>
      </div>
      <div class="row" *ngIf="item.dueDate != null">
        <div class="icon">
          <i class="fa fa-clock-o"></i>
        </div>
        <div class="avp-label">
          Kết thúc: <em>{{dueDate}}</em>
        </div>
      </div>
    </div>
  </div>
  <div id="js-task-followers" class="section" [ngClass]="{'collapsed': side_menu_action.follower_section.isCollapsed }">
    <div class="title" (click)="onSectionChanged('follower_section')">Người theo dõi</div>
    <div class="body followers clear-fix js-followers">
      <div class="user" *ngFor="let watcher of watchers">
        <div class="avatar avatar-32 -circled url">
          <div class="image">
            <img src="{{watcher.avatar}}" (error)="onAvatarFailed($event)">
          </div>
        </div>
        <div class="uname">{{watcher.name}}</div>
        <div class="uinfo hidden">Nhân viên</div>
        <div class="act" (click)="onAddOrRemoveWatcher(watcher.id)">Xóa</div>
      </div>
      <div class="buttons clear-fix">
        <div class="add url -follow">
          <span class="icon"></span>
          <div class="txt" title="Thêm người theo dõi từ dự án này"
               [ngbPopover]="watcherPopover"
               #watchersSelector="ngbPopover"
               [autoClose]="'outside'"
               placement="bottom"
               container="body">Người theo dõi</div>
        </div>
        <div class="add url -follow" data-url="action/3466052/extfollower" data-value=""> <span class="icon"></span>
          <div class="txt" title="Thêm người theo dõi từ hệ thống, bấm thêm một lần nữa để xóa người theo dõi khỏi công việc"
               [ngbPopover]="externalWatcherPopover"
               #watchersSelector="ngbPopover"
               [autoClose]="'outside'"
               placement="left"
               container="body">
            Thêm từ ngoài</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" [ngClass]="{'collapsed': side_menu_action.log_section.isCollapsed }">
    <div class="title" (click)="onSectionChanged('log_section')">Lịch sử hoạt động
      <div class="side">
        <div class="count"></div>
      </div>
    </div>
    <div class="body">
      <div id="js-task-logs">
        <div class="comment-logs">
          <div *ngFor="let log of journals">
            <div class="c-date">{{log.createdAt}}</div>
            <div *ngFor="let result of log.details" class="comment-log">
              <div class="c-display">
                <span class="content" [innerHtml]="result.html"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #startDatePopover>
  <datetime-popover
    type="start_date"
    [date]="item.startDate"
    (onSave)="onUpdateStartDate($event, sdPopup)"></datetime-popover>
</ng-template>
<ng-template #usersPopover>
  <users-selector [projectId]="projectId"
                  (onOpenExternalUserSelector)="onOpenExternalUserSelector(externalUsers)"
                  (onUserSelected)="onAssigneeChanged($event)"></users-selector>
</ng-template>

<ng-template #externalUsers let-modal>
  <external-users-selector (onSelect)="onAssigneeChanged($event)" (onClose)="modal.dismiss()"></external-users-selector>
</ng-template>

<ng-template #watcherPopover>
  <users-selector [projectId]="projectId"
                  title="Thêm người theo dõi"
                  externableUser="false"
                  removable="false"
                  (onUserSelected)="onAddOrRemoveWatcher($event)"></users-selector>
</ng-template>
<ng-template #externalWatcherPopover>
  <users-selector title="Thêm từ ngoài"
                  removable="false"
                  externableUser="false"
                  (onUserSelected)="onAddOrRemoveWatcher($event)"></users-selector>
</ng-template>