.one-center-panel {
  height: 100%;
  width: calc(100% - 288px - 96px);
  float: left;
 // margin-left: 20px;
 // margin-right: 20px;
  //background-color: bisque;

  // overflow-y: scroll;
}

.messages {
  position: absolute;
  height: 350px;
  bottom: 0;
  //width: 100%;
}

body {
  min-width: 800px;
}

