<div id="master">
  <div id="pagew">
    <div id="page" class="">
      <div id="project-task-canvas" *ngIf="isTaskShowing == true">
        <div id="project-task-scrollable" class="scroll-y forced-scroll">
          <div id="task-canvas-wrapper">
            <div id="js-project-task">
              <task-detail></task-detail>
            </div>
          </div>
        </div>
      </div>
      <div id="project-master" class="forced-scroll" [ngClass]="isTaskShowing == true ? 'showing-task' : 'scroll-y'">
        <div class="relative">
          <div id="project-side-canvas">
              <div id="indicator" >
                  <span class="fa fa-bars"></span>
              </div>
             <member-detail-sidebar></member-detail-sidebar>
          </div>
          <div id="project-canvas">
            <member-detail-header></member-detail-header>
            <div class="content" ui-view></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>