<div id="subheader" style="height: 56px;">
  <div class="task-user-add -compact" style="height: 40px; top: -3px;">
    <div class="sicon">
      <span class="fa fa-circle-o-notch"></span>
    </div>
    <div class="txt">
      <span class="stitle url" uiSref="views.TASKS_REPEATED">Công việc lặp lại</span>
    </div>
  </div>
  <div class="filter">
    <div class="side">
      <div class="dd -cmenuw" style="margin-right: 15px; top: -3px;" *ngIf="!projectId">
        <em [ngClass]="{'active selected': selectedProjectForFilter.isDefault != true}">{{selectedProjectForFilter.label}}</em>
        <div class="-cmenu -padding -no-icon js-projects xo">
          <div class="js-all-projects-filter" style="max-height:300px; margin:0 -10px; padding:0 10px; overflow: auto;">
            <div class="-item url" *ngFor="let project of filterProjects" (click)="filterByProject(project)"
                 [ngClass]="{'active selected': selectedProjectForFilter.value == project.value}">{{project.label}}</div>
          </div>
        </div>
      </div>
      <div class="cta" (click)="open(createForm)" *ngIf="allowedToCreateWP">+ Thêm</div>
    </div>
  </div>
</div>
<div id="repeated-list">
  <div class="table">
    <div class="thead">
      <div class="row">
				<div class="th col-sm-4">Tên công việc</div>
				<div class="th col-sm-1">Thời gian</div>
				<div class="th col-sm-1">Cập nhật lần cuối</div>
				<div class="th col-sm-2">Giao cho</div>
				<div class="th col-sm-2">Dự án</div>
				<div class="th col-sm-1">Trạng thái</div>
				<div class="th col-sm-1"></div>
      </div>
    </div>
    <div class="tbody">
      <div class="tr row">
				<div class="g td col-sm-11">Hằng tuần</div>
        <div class="add td col-sm-1" (click)="open(createWeeklyForm)" *ngIf="allowedToCreateWP">+&nbsp;Thêm công việc</div>
			</div>
      <repeated-task-item *ngFor="let wp of byWeekly" [wp]="wp" [schema]="schema" [projects]="projects" (onDeleted)="onWPDeleted(wp)"></repeated-task-item>
      <div class="tr row">
				<div class="g td col-sm-11">Hằng tháng</div>
        <div class="add td col-sm-1" (click)="open(createMonthlyForm)" *ngIf="allowedToCreateWP">+&nbsp;Thêm công việc</div>
			</div>
      <repeated-task-item *ngFor="let wp of byMonthly" [wp]="wp" [schema]="schema" [projects]="projects" (onDeleted)="onWPDeleted(wp)"></repeated-task-item>
    </div>
  </div>
</div>

<ng-template #createForm let-modal>
  <repeated-task-form [modal]="modal"></repeated-task-form>
</ng-template>

<ng-template #createWeeklyForm let-modal>
  <repeated-task-form type='weekly' [modal]="modal"></repeated-task-form>
</ng-template>

<ng-template #createMonthlyForm let-modal>
  <repeated-task-form type='monthly' [modal]="modal"></repeated-task-form>
</ng-template>