.one-app-list {
  width: 100%;
  height: 100%;

  .header {
    width: 100%;
    height: 70px;
    border-bottom: 1px dotted #eee;
    text-align: left;
    .avatar {
      display: inline-block;
      width: 48px;
      padding-top: 10px;
      height: 48px;
      margin-left: 12px;
      margin-right: 12px;
    }

    .user-info {
      display: inline-block;
      position: absolute;
      padding-top: 10px;

      .fullname {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 5px;
      }
      .title {
        font-size: 18px;
        color: #aaa;
      }
    }

  }

  .content {
    .app-items {
      height: 225px;

      .app-item {
        display: inline-block;
        width: 130px;
        height: 130px;
        text-align: center;
        margin: 15px;
        padding: 5px;
        &:hover {
          cursor: pointer;
          background-color: #f3f3f3;
        }

        .app-icon {
          width: 78px;
          height: 78px;
          margin: 0 auto;
        }

        .app-name {
          color: #111;
          font-size: 15px;
          font-weight: 500;
          display: inline-block;
        }

        .app-description {
          display: inline-block;
        }
  
        .app-icon-wework {
          background-image: url('/assets/images/wework.png');
          background-size: contain;
        }
  
        .app-icon-message {
          background-image: url('/assets/images/message.png');
          background-size: contain;
        }
      }
    }
  }

}


