<% html_title t(:charts) %>

<% content_for :header_tags do %>

  <%= stylesheet_link_tag 'proto_plugin/bootstrap', plugin: :openproject_proto_plugin %>
  <%= javascript_include_tag 'proto_plugin/bootstrap', plugin: :openproject_proto_plugin %>

<% end %>

<div class="row mb-4 ml-4 mr-4 nav-tabs">
  <div class="column col-xl-10 col-lg-9 col-md-8 col-xs-6 col-6">
    <div class="row">
      <h5>
        <span class="cus-text-color small font-weight-bold">
          <%= t(:charts) do %>
          <% end %>
        </span>
      </h5>
    </div>
    <div class="row">
      <ul class="nav ml-0 w-100">
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="card">
      <line-chart></line-chart>
      <div class="w-100 text-center p-2">Line chart</div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="card">
      <bar-chart></bar-chart>
      <div class="w-100 text-center p-2">Bar chart</div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="card">
      <doughnut-chart></doughnut-chart>
      <div class="w-100 text-center p-2">Doughnut chart</div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="card">
      <radar-chart></radar-chart>
      <div class="w-100 text-center p-2">Radar chart</div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="card">
      <pie-chart></pie-chart>
      <div class="w-100 text-center p-2">Pie chart</div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="card">
      <bubble-chart></bubble-chart>
      <div class="w-100 text-center p-2">Bubble chart</div>
    </div>
  </div>
</div>