<div class="db-grid row">
  <div class="box std col" *ngIf="comprehensiveReport == true">
    <div class="inner">
      <div class="header">Dự án
        <div class="side"></div>
      </div>
      <div class="body">
        <div class="bigcount" style="padding-top: 20px;">
          <div class="count js-count" style="font-size: 45px;" data-key="tasks">{{projects}}</div>
        </div>
      </div>
    </div>
    <div class="s" style="padding-bottom:175px"></div>
  </div>

  <div class="hidden box std col" *ngIf="comprehensiveReport == true">
    <div class="inner">
      <div class="header">Phòng ban
        <div class="side"></div>
      </div>
      <div class="body">
        <div class="bigcount">
          <div class="count js-count" style="font-size:30px" data-key="tasks">{{total}}</div>
        </div>
      </div>
    </div>
    <div class="s" style="padding-bottom:175px"></div>
  </div>

  <div class="box std col">
    <div class="inner">
      <div class="header">Công việc
        <div class="side"></div>
      </div>
      <div class="body">
        <div class="bigcount">
          <div class="count js-count" style="font-size:30px" data-key="tasks">{{total}}</div>

          <div class="info ap-xdot" title="phải làm">
            <span class="dot -bg-gray "></span> &nbsp; <b class="js-count" data-key="tasks_active">{{new}}</b>
            phải làm
          </div>

          <div class="info ap-xdot" title="đang thực hiện">
            <span class="dot -bg-main"></span> &nbsp; <b class="js-count" data-key="tasks_done">{{inProgress}}</b>
            đang làm
          </div>

          <div class="info ap-xdot" title="hoàn thành">
            <span class="dot -bg-success" ></span> &nbsp; <b class="js-count" data-key="tasks_done">{{done}}</b>
            hoàn thành
          </div>

        </div>
      </div>
    </div>
    <div class="s" style="padding-bottom:175px"></div>
  </div>

  <div class="hidden box std col">
    <div class="inner">
      <div class="header">Mục tiêu
        <div class="side"></div>
      </div>
      <div class="body">
        <div class="bigcount">
          <div class="count js-count" data-key="milestones">0</div>
          <div class="txt">Mục tiêu</div>

          <div class="info ap-xdot" title="hoàn thành">
            <span class="dot -bg-success"></span> hoàn thành
          </div>

          <div class="info ap-xdot" title="đang thực hiện">
            <span class="dot -bg-main"></span> đang thực hiện
          </div>

        </div>
      </div>
    </div>
    <div class="s" style="padding-bottom:175px"></div>
  </div>


  <div class="box std col">
    <div class="inner">
      <div class="header">Thành viên
        <div class="side"></div>
      </div>
      <div class="body">
        <div class="bigcount">
          <div class="count js-count" data-key="people">{{member}}</div>
          <div class="txt">thành viên</div>

          <div class="info ap-xdot" title="nhân viên">
            <span class="dot -bg-gray"></span> &nbsp; <b class="js-count" data-key="people_internal">{{member}}</b>
            nhân viên
          </div>

          <div class="info ap-xdot" title="tk khách">
            <span class="dot -bg-gray"></span> &nbsp; <b class="js-count" data-key="people_guest">0</b> tk khách
          </div>

        </div>
      </div>
    </div>
    <div class="s" style="padding-bottom:175px"></div>
  </div>


  <div class="hidden box std col" *ngIf="comprehensiveReport == false">
    <div class="inner">
      <div class="header">Workloads
        <div class="side"></div>
      </div>
      <div class="body">
        <div class="bigcount">
          <div class="count js-count" data-key="tasks_duration">0.0</div>
          <div class="txt">hours</div>

          <div class="info ap-xdot" title="công việc đã báo cáo">
            <span class="dot -bg-alt1"></span> <b class="js-count" data-key="tasks_reported">0</b> công việc đã báo cáo
          </div>

          <div class="info ap-xdot" title="công việc chưa báo cáo">
            <span class="dot -bg-alt5-edge"></span> <b class="js-count" data-key="tasks_unreported">3</b> công việc chưa
            báo cáo
          </div>

        </div>
      </div>
    </div>
    <div class="s" style="padding-bottom:175px"></div>
  </div>

  <div class="box std col" *ngIf="comprehensiveReport == false">
    <div class="inner">
      <div class="header">Durations
        <div class="side"></div>
      </div>
      <div class="body">
        <div class="bigcount">
          <div class="count js-count" data-key="project_days">{{workingDays + weekendDays}}</div>
          <div class="txt">Days</div>

          <div class="info ap-xdot" title="working days">
            <span class="dot -bg-alt1"></span> <b class="js-count" data-key="project_working_days">{{workingDays}}</b>
            working days
          </div>

          <div class="info ap-xdot" title="saturday &amp; sunday">
            <span class="dot -bg-alt5-edge"></span> <b class="js-count" data-key="project_holidays">{{weekendDays}}</b>
            saturday &amp; sunday
          </div>

        </div>
      </div>
    </div>
    <div class="s" style="padding-bottom:175px"></div>
  </div>
</div>