.one-avatar {
  width: 100%;
  height: 100%;
  div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    span {
      font-size: 32pt;
    }
    div {
      max-width: 100%;
      max-height: 100%;
      border-radius: 100%;
      background-size: 100% 100%;
    }
  }
}
