<div id="mytasks">
  <div id="js-project-me" class="mytasks">
    <action-bar [queryName]="queryName" (initialized)="onActionBarInitialized($event)"></action-bar>
    <div id="js-mytasks">
      <div class="project">
        <div id="tasklists" class="">
          <div class="tasklist">
            <div class="tasks js-list-tasks">
              <task-item class="task-wrapper js-task" *ngFor='let item of tasks' [item]='item' [isShowSubtasks]='isShowSubtask' (onDeleted)="refresh()"></task-item>
            </div>
          </div>
          <div class="sep-30"></div>
          <div id="js-pag" class="center apppages">
            <div class="icons">
              <div class="prev" [ngClass]="{'disabled': query.pageIndex == 1 }" 
                  [uiSref]="currentState"
                  [uiParams]="{page: query.pageIndex - 1}">
                <i class="fa fa-arrow-left"></i>
              </div>
              <div class="avp-label">Trang {{query.pageIndex}}</div>
              <div class="next url" 
                  [uiSref]="currentState"
                  [uiParams]="{page: query.pageIndex + 1}">
                <i class="fa fa-arrow-right"></i>
              </div>
            </div>
          </div>
          <div class="sep-30"></div>
          <div class="sep-30"></div>
        </div>
      </div>
    </div>
  </div>
</div>