<div class="topic container centered">
	<post *ngFor="let post of posts" 
		[source]="post" 
    [isFormOpened]="isFormOpen"
    [isRoot]="post.id == root.id"
		(onQuote)="onQuote($event, reply)"
    (onEdit)="onEdit(post, reply)"
    (onDeleted)="onItemDeleted()"></post>
	<div class="footer" *ngIf="loaded">
		<a class="button -highlight" (click)="onReply(reply)">Trả lời</a>
		<div class="avp-pagination">
			<ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
				(pageChange)="onPageChange($event)"></ngb-pagination>
		</div>
	</div>
	<div id="reply" #reply>
		<hr class="form--separator">
		<form class="form" id="message-form" *ngIf="isFormOpen">
			<div class="form--field -required">
				<label class="form--label" title="Tiêu đề bình luận" for="reply_subject">Tiêu đề bình luận</label>
				<span class="form--field-container">
					<span class="form--text-field-container -wide">
						<input required="required" container_class="-wide" name="reply_subject" autofocus="autofocus" [(ngModel)]="replyData.subject"
							class="form--text-field" aria-required="true" type="text">
					</span>
				</span>
			</div>
			<div class="form--field -required">
				<label class="form--label" title="Nội Dung" for="reply_content">Nội Dung 
				</label><span class="form--field-container"><span class="form--text-area-container -xxwide">
						<textarea id="reply_content" class="wiki-edit form--text-area"></textarea>
						<ckeditor-augmented-textarea
							(onInitialized)="onEditorInitialized($event)"
							textarea-selector="#reply_content"
							[attr.preview-context]="replyData.link"
							[source]="replyData.source">
						</ckeditor-augmented-textarea>
					</span></span>
			</div>
			<hr class="form--separator">
			<a name="button" class="button -highlight -highlight -with-icon icon-checkmark" (click)="onPost()">Đăng</a>
			<a class="button" href="" (click)="isFormOpen = false">Hủy</a>
		</form>
	</div>
</div>