<ng-template #filterSetup let-modal>
  <div class="ui-custom-filter">
    <div class="wrap">
      <div class="header">
        <div class="hidden">
          <input type="hidden" name="id" value="0">
        </div>
        <div class="hidden">
          <input type="hidden" name="color" value="2">
        </div>
        <div class="txt">
          <input type="text" name="name" placeholder="Edit filter" [(ngModel)]="queryTitle">
        </div>
        <div class="color ap-inline-colors-wrap unselectable">
          <div class="s -bg-alt2"></div>
        </div>
        <div class="close">
          <span class="fa fa-times" (click)="onClose()"></span>
        </div>
      </div>
      <div class="body">
        <div class="js-select-form">
          <div class="select-fx">
            <div class="select-top">
              <span class="text">Thuộc tính:</span>
              <ng-select name="select-custom"
                         [items]="filters"
                         bindValue="id"
                         bindLabel="text"
                         [(ngModel)]="currentFilter"
                         (change)="onPropertyChanged($event)"
              >
              </ng-select>
            </div>
          </div>
        </div>
        <div class="js-display display">
          <div class="select-fx">
            <div class="select-create clear-fix js-select-create" *ngFor="let filter of filterList">
              <span class="val">{{filter.name}}</span>
              <div class="remove" (click)="onRemove(filter)" title="Xóa thuộc tính">
                <span class="fa fa-times"></span>
              </div>
              <div class="input -val">
                <ng-select name="val" *ngIf="inputType(defaultValues[filter.id][filter.operator].type) == 'list'"
                           [multiple]="defaultValues[filter.id][filter.operator].type == 'multiple'"
                           [hideSelected]="true"
                           [searchable]="false"
                           [clearable]="false"
                           [(ngModel)]="filter.values"
                           [items]="defaultValues[filter.id][filter.operator].values"
                           bindValue="value"
                           bindLabel="text"
                >
                </ng-select>
                <ng-select name="users" *ngIf="inputType(defaultValues[filter.id][filter.operator].type) == 'Users'"
                           [multiple]="true"
                           [hideSelected]="true"
                           [(ngModel)]="filter.values"
                           [loading]="usersLoading"
                           [items]="users"
                           bindValue="id"
                           bindLabel="name"
                >
                </ng-select>
                <input *ngIf="inputType(defaultValues[filter.id][filter.operator].type) != 'list'
                              && inputType(defaultValues[filter.id][filter.operator].type) != 'Users'"
                       [type]="defaultValues[filter.id][filter.operator].type" [(ngModel)]="filter.values"/>
              </div>
              <div class="select">
                <ng-select name="operator"
                           [searchable]="false"
                           [clearable]="false"
                           [(ngModel)]="filter.operator"
                           [items]="operators[filter.id]"
                           bindValue="title"
                           bindLabel="text"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="save" [ngClass]="{'new': isEditMode == false}" (click)="onSave()">Lưu bộ lọc</div>
        <div class="cancel" [ngClass]="{'hidden': isEditMode == false}" (click)="onDelete()">Xóa bộ lọc</div>
      </div>
    </div>
  </div>
</ng-template>