<div id="project-side">
  <div class="section">
    <div class="overview">
      <div class="avp-box projinfo">
        <div class="projname">AN VIET PHAT GROUP</div>
        <div class="projdesc">
          <span class="icon-desc"></span>
          Bộ phận · AVP GROUP
        </div>
      </div>
      <div class="subsection" id="js-dept-owners" [ngClass]="{'active': showingOwners == true}">
        <div class="subheader">
          <div class="icon">
            <span class="fa fa-bookmark"></span>
          </div>
          <div class="title -dd url" data-url=":active:parent:parent" (click)="showingOwners = !showingOwners"> Quản lý bởi {{admin.length}} thành viên </div>
        </div>
        <div class="body">
          <div class="people">
            <div class="subbox">
              <div class="user url" *ngFor="let member of admin">
                <div class="avatar avatar-32 -circled">
                <div class="image">
                  <img src="{{member.user.avatar}}" (error)="onAvatarFailed($event)">
                </div>
                </div>
                <div class="name" style="color: #000">
                  <div class="main">
                    <em class="url username">{{member.user.lastname}} {{member.user.firstname}}</em>
                  </div>
                  <div class="info ap-xdot"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="subsection active" id="js-dept-teams"  [ngClass]="{'active': showingGroupUsers == true}">
      <div class="subheader">
        <div class="icon">
          <span class="fa fa-users"></span>
        </div>
        <div class="title -dd url" data-url=":active:parent:parent" (click)="showingGroupUsers = !showingGroupUsers"> Có thể tiếp cận bởi 0 nhóm </div>
      </div>
      <div class="body">
        <div class="people">
          <div class="subbox"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>