<div class="user-title-creation-dialog">
  <h2 mat-dialog-title>{{'management.userGroup.creation.title' | translate }}</h2>
  <mat-dialog-content class="mat-typography">
    <form class="creation-form" [formGroup]="registerForm">
      <mat-form-field appearance="fill" class="form-field-fullwidth">
        <mat-chip-list #chipListGroupMember aria-label="Member" formControlName="groupMembers">
          <mat-chip
            *ngFor="let member of groupMembers"
            [selectable]="true"
            [removable]="true"
            (removed)="removeGroupMember(member)">
            {{getFullName(member)}}
            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Group Member"
            #groupMemberInput
            [formControl]="groupMemberFrmCtrl"
            [matAutocomplete]="groupMemberAuto"
            [matChipInputFor]="chipListGroupMember"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="trySelectedGroupMember($event)">
        </mat-chip-list>
        <mat-autocomplete #groupMemberAuto="matAutocomplete" (optionSelected)="selectedGroupMember($event)">
          <mat-option *ngFor="let user of filteredUserMembers | async" [value]="user">
            {{getFullName(user)}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <button mat-button (click)="submitForm()" cdkFocusInitial>{{ ('management.userTitle.actions.updateAction') | translate}}</button>
  </mat-dialog-actions>

</div>
