<div class="avp-comment">
  <div class="image avatar avatar-32 -rounded" *ngIf="user != undefined">
    <img src="{{user.avatar}}" (error)="onAvatarFailed($event)">
  </div>
  <div class="text">
    <b class="a url username std" *ngIf="user != undefined">{{user.name}}</b>&nbsp;
    <span class="message">Tạo lúc {{createdAt}}</span>
  </div>
  <div class="actions" *ngIf="user != undefined && user.id == currentUserId && !inEdit">
    <div class="action" (click)="activate()">
      <i class="action-icon icon-edit" title="Chỉnh sửa bình luận"></i>
    </div>
  </div>
  <div class="post" *ngIf="inEdit == true">
    <div class="textarea">
      <edit-form-portal [changesetInput]="changeset"
                        [schemaInput]="schema"
                        [editFieldHandler]="handler">
      </edit-form-portal>
    </div>
  </div>
  <div class="content" [innerHtml]="activity.comment.html" *ngIf="inEdit == false"></div>
</div>

