<div class="activity-log-component">
  <div class="pinner-bkg" *ngIf="isLoading">
    <div class="pinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="header-area">
    <div class="page-title">
      Lịch Sử Hệ Thống
    </div>
    <div class="to-right">
      <div class="time-filter">
        <mat-label>Từ Ngày</mat-label>
        <mat-form-field class="header-date-filter">
          <input matInput [matDatepicker]="fromDatePicker" readonly [formControl]="startDateFormControl">
          <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #fromDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-label>Đến Ngày</mat-label>
        <mat-form-field class="header-date-filter">
          <input matInput [matDatepicker]="toDatePicker" readonly [formControl]="toDateFormControl">
          <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #toDatePicker></mat-datepicker>
        </mat-form-field>
        <div class="header-date-filter-clear-icon">
          <mat-icon class="clear-icon my-user-clear-icon" aria-hidden="false" aria-label="Xóa"
                    *ngIf="filterData.toDate != null && filterData.fromDate != null"
                    (click)="clearSelectedDate()">cancel
          </mat-icon>
        </div>

      </div>
      <div class="paginition">
        <mat-paginator #paginator
                       [length]="paginationData.resultLength"
                       [pageSize]="paginationData.pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="onPageChanged($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
  <div class="app-group">
    <mat-tab-group (selectedTabChange)="selectTab($event)">
      <mat-tab label="General" ></mat-tab>
      <mat-tab label="Account"></mat-tab>
      <mat-tab label="Task"></mat-tab>
      <mat-tab label="Request"></mat-tab>
      <mat-tab label="Message"></mat-tab>
    </mat-tab-group>
  </div>
  <div class="activity-log-list">
    <mat-table [dataSource]="activityLogs">
      <ng-container matColumnDef="userInfo">
        <mat-header-cell *matHeaderCellDef>
          <div class="user-info-header">
            <div class="header-label">
              Họ và Tên
            </div>
            <mat-select class="my-user-select" [formControl]="userSelectFormCtr">
              <mat-option>
                <ngx-mat-select-search [formControl]="userFilterCtr"
                                       placeholderLabel="Họ và Tên"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let userInfo of filteredUsers | async" [value]="userInfo" class="my-user-mat-opt">
                <div class="user-avatar">
                  <one-avatar [size]="24" [imageUrl]="userInfo.avatar"></one-avatar>
                </div>
                <div class="user-fullname">
                  <div>{{userInfo.fullName}}</div>
                </div>
              </mat-option>
            </mat-select>
            <mat-icon class="my-user-clear-icon" aria-hidden="false" aria-label="Xóa" *ngIf="filterData.username"
                      (click)="clearSelectedUser()">cancel
            </mat-icon>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="one-avatar">
            <one-avatar [imageUrl]="element.userData.avatar"></one-avatar>
          </div>
          <div class="one-userinfo">
            <div class="fullname">
              {{element.userData.fullName}}
            </div>
            <div class="titleInfo">
              <span class="username">@{{element.userData.username}}</span> - <span
              class="title">{{element.userData.title}}</span>
            </div>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="appInfo">
        <mat-header-cell *matHeaderCellDef>
          <div class="user-info-header">
            <div class="header-label">
              Ứng Dụng
            </div>
            <mat-select class="my-user-select" [formControl]="appSelectFormCtr">
              <mat-option *ngFor="let appInfo of appDatas" [value]="appInfo" class="my-user-mat-opt">
                <div class="user-avatar">
                  <one-avatar [size]="24" [imageUrl]="appInfo.icon"></one-avatar>
                </div>
                <div class="user-fullname">
                  <div>{{appInfo.type}}</div>
                </div>
              </mat-option>
            </mat-select>
            <mat-icon class="my-user-clear-icon" aria-hidden="false" aria-label="Xóa" *ngIf="filterData.application"
                      (click)="clearSelectedApp()">cancel
            </mat-icon>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="one-avatar">
            <one-avatar [size]="34" [imageUrl]="element.appIconUrl"></one-avatar>
          </div>
          <div class="app-info">
            {{element.source}}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="projectInfo">
        <mat-header-cell *matHeaderCellDef>
          <div class="user-info-header">
            <div class="header-label">
              Dự Án
            </div>
            <mat-select class="my-user-select" [formControl]="projectSelectFormCtr">
              <mat-option>
                <ngx-mat-select-search [formControl]="projectFilterFormCtr"
                                       placeholderLabel="Tên dự án"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let appInfo of filteredProjects | async" [value]="appInfo">
                {{appInfo.name}}
              </mat-option>
            </mat-select>
            <mat-icon class="my-user-clear-icon" aria-hidden="false" aria-label="Xóa" *ngIf="filterData.projectId"
                      (click)="clearSelectedProject()">cancel
            </mat-icon>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="app-info">
            {{element.projectName}}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actionInfo">
        <mat-header-cell *matHeaderCellDef>
          <div class="user-info-header">
            <div class="header-label">
              Thao Tác
            </div>
            <mat-select [formControl]="actionSelectFormCtr" class="my-action-select">
              <mat-option *ngFor="let actionInfo of actionDatas" [value]="actionInfo">

                <div class="app-action-name">{{actionInfo.name}}</div>

              </mat-option>
            </mat-select>
            <mat-icon class="my-user-clear-icon" aria-hidden="false" aria-label="Xóa" *ngIf="filterData.action"
                      (click)="clearSelectedAction()">cancel
            </mat-icon>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="action-info">
            {{element.actionName}}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="descriptionInfo">
        <mat-header-cell *matHeaderCellDef>Thông Tin Thêm</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="description-info">
            <div class="date">
              Ngày giờ: <span class="time">{{element.dateString}}</span>
            </div>
            <div class="public-ip" *ngIf="element.publicIp">
              Ip: <span class="ip">{{element.publicIp}}</span>
            </div>
            <div class="browser-name" *ngIf="element.clientInfo?.browser">
              Trình duyệt: <span class="browser">{{element.clientInfo?.browser}}</span>
            </div>
            <div class="additional-info">
              <div class="label" *ngIf="element.description">
                Thông tin thêm:
              </div>
              <div class="data">
                {{element.description}}
              </div>
            </div>

          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</div>
