.activity-log-component {
  height: calc(100% - 130px);
  min-width: 1195px;

  .pinner-bkg {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    position: fixed;
    opacity: 0.5;

    .pinner {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
    }
  }

  .activity-log-list {
    height: 100%;
    overflow: auto;
    .mat-column-userInfo {
      flex: 0 0 350px;
      min-height: 75px;

      .one-userinfo {
        margin-left: 5px;

        .fullname {
          font-weight: 500;
          font-size: 15px;
        }
      }

      .user-info-header {
        width: 100%;

        .header-label {
          display: inline-block;
          font-size: 14px;
        }

        .my-user-clear-icon {
          cursor: pointer;
          color: red;
          position: relative;
          top: 5px;
        }
      }
    }

    .mat-column-appInfo {
      flex: 0 0 200px;

      .app-info {
        font-size: 15px;
        font-weight: 500;
        margin-left: 5px;
      }

      .user-info-header {
        width: 100%;

        .header-label {
          display: inline-block;
          font-size: 14px;
        }

        .my-user-clear-icon {
          cursor: pointer;
          color: red;
          position: relative;
          top: 5px;
        }
      }
    }

    .mat-column-projectInfo {
      flex: 0 0 350px;

      .app-info {
        font-size: 15px;
        font-weight: 500;
        margin-left: 5px;
      }

      .user-info-header {
        width: 100%;

        .header-label {
          display: inline-block;
          font-size: 14px;
        }

        .my-user-clear-icon {
          cursor: pointer;
          color: red;
          position: relative;
          top: 5px;
        }
      }
    }

    .mat-column-actionInfo {
      flex: 0 0 200px;

      .action-info {
        font-size: 15px;
        font-weight: 500;
      }

      .user-info-header {
        width: 100%;

        .header-label {
          display: inline-block;
          font-size: 14px;
        }

        .my-user-clear-icon {
          cursor: pointer;
          color: red;
          position: relative;
          top: 5px;
        }
      }
    }

    .mat-column-descriptionInfo {
      font-size: 14px;

      .description-info {
        .date {
          font-weight: 500;
          color: rgba(0,0,0,.54);

          .time {
            color: black;
          }
        }

        .public-ip {
          font-weight: 500;
          color: rgba(0,0,0,.54);

          .ip {
            color: black;
          }
        }

        .browser-name {
          font-weight: 500;
          color: rgba(0,0,0,.54);

          .browser {
            color: black;
          }
        }

        .additional-info {
          font-weight: 500;
          color: rgba(0,0,0,.54);
          .data {
            margin: 5px 15px;
            border-left: solid 1px #A0A0A0;
            padding-left: 5px;
            font-style: italic;
          }
        }
      }

    }
  }

  .header-area {
    height: 75px;
    border-bottom: 1px solid #A0A0A0;
    .page-title {
      display: inline-block;
      font-size: 30px;
      font-weight: 500;
      align-items: center;
      margin-top: 28px;
      margin-left: 20px;
    }

    .to-right {
      float: right;
      display: inline-block;
      margin-top: 15px;
      .time-filter {
        display: inline-block;

        .header-date-filter {
          margin: 0 5px;
        }

        .header-date-filter-clear-icon {
          display: inline-block;
          width: 25px;
          height: 25px;

          .clear-icon {
            margin-top: 6px;
          }
        }

        .my-user-clear-icon {
          cursor: pointer;
          color: red;
          position: absolute;
          top: 24px;
        }
      }

      .paginition {
        display: inline-block;
      }
    }
  }
}

.my-action-select {
  width: calc(100% - 90px) !important;
  margin-left: 5px;

  .mat-select-value-text {
    color: orangered;
    font-size: 14px;
  }
}

.my-user-select {
  width: calc(100% - 100px) !important;
  margin-left: 5px;

  .mat-select-value-text {
    color: orangered;
    font-size: 14px;
  }
}

.app-action-name {
  height: 100%;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
}

//.my-user-clear-icon {
//  cursor: pointer;
//  color: red;
//  position: absolute;
//  top: 24px;
//}

.my-user-mat-opt {
  height: 50px !important;
  line-height: 0 !important;

  .mat-option-text {
    height: 100%;

    .user-avatar {
      // display: inline-block;
      height: 100%;
      line-height: 0;
      margin-top: 15px;
      margin-left: 5px;
      //  padding-top: 10px;
    }

    .user-fullname {
      //  display: inline-block;
      //margin-bottom: 5px;
      height: 100%;
      margin-top: -37px;
      margin-left: 35px;
      font-size: 14px;
      font-weight: 500;
    }

    border-bottom: solid 1px #EAEAEA;
    //  margin: 2px;
  }
}
