.detail {
  position: relative;
  height: 100%;
  overflow: auto;
  border-right: solid 1px rgba(0, 0, 0, .12);

  .pinner-bkg {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    position: fixed;
    opacity: 0.5;

    .pinner {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
    }
  }

  .main {
    position: relative;
    height: auto;
    margin-right: 320px;

    .request-data {
      .groupName{
        color: #f44336;
        font-weight: 500;
        cursor: pointer;
      }
      .approvalName {
        margin-left: 20px;
      }
      .name{
        font-weight: 500;
      }
      .fieldName {
        width: 150px;
      }
      .index {
        margin-right: 20px;
      }
      .request-header {
        border-bottom: 1px solid #eaeaea;
        .request-header-actions {
          display: flex;
          width: auto;
          right: 10px;
          position: absolute;

          button {
            margin-left: 5px;
          }
        }

        .target-date, .remain-time {
          font-size: 14px;
          font-weight: 500;

          span {
            color: #000;
            font-size: 15px;
            font-weight: normal;
          }
        }

        .remain-time {
          margin-left: 20px;
        }
      }
      .request-status {
        margin-left: 16px;
        margin-top: 16px;

        .status {
          font-weight: 500;
          color: darkgoldenrod;
        }
      }

      .request-decision-actions {
        margin-left: 16px;
        width: calc(100% - 32);
        margin-top: 16px;
        button {
          margin-right: 16px;
          width: 125px;
        }
      }

      .my-approvals.cta {
        overflow: hidden;
        position: relative;
        margin-top: 20px;
        margin-bottom: 10px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;

        .msg {
          padding: 15px 15px 15px 40px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          font-size: 14px;
          position: relative;
          background: rgba(66,184,20,0.1);
          color: #34960d;

          .icon {
            position: absolute;
            font-size: 16px;
            left: 14px;
            top: 15px;

            .mati {
              font-size: 20px;
            }
          }

          &.APPROVED {
            background: rgba(66,184,20,0.1);
            color: #34960d;
          }

          &.REJECTED {
            background-color: #f4e5e5;
            color: #c34343;
          }

          &.CANCELLED {
            background-color: #ccc;
            color: #fff;
          }
        }
      }

      .request-info {
        margin-top: 16px;

        .request-info-card {
          .header-border-bottom {
            border-bottom: 1px solid #eaeaea;

            .request-code {
              position: absolute;
              right: 15px;
              top: 20px;
              text-transform: uppercase;

              span {
                color: #267cde;
              }
            }
          }
        }
      }

      .request-attrs {
        margin-top: 16px;

        .request-attrs-card {
          .header-border-bottom {
            border-bottom: 1px solid #eaeaea;
          }
        }
      }

      .request-files {
        margin-top: 16px;
        .request-file-card {
          .header-border-bottom {
            border-bottom: 1px solid #eaeaea;
          }

          .no-file {
            font-style: italic;
            padding: 10px;
          }

          .files {
            .file {
              cursor: pointer;
              &:hover {
                text-decoration: underline;
                color: #267cde;
              }
            }
          }
        }
      }

      .request-tasks {
        margin-top: 16px;
        .request-task-card {
          .header-border-bottom {
            border-bottom: 1px solid #eaeaea;
          }

          .add-task {
            cursor: pointer;
            font-size: 15px;
            color: #f44336;
            font-weight: 500;

            &:hover {
              text-decoration: underline;
              color: #267cde;
            }
          }

          .no-task {
            font-style: italic;
            padding: 10px;
          }

          .tasks {
            .task {
              cursor: pointer;
              height: 40px;

              .wp-status {
                margin-right: 10px;
                font-size: 12px;
                min-width: 85px;
              }

              &:hover {
                background-color: #f5f5dc;
              }
            }
          }
        }
      }

      .request-discussions {
        margin-top: 16px;
        .request-discussion-card {
          .header-border-bottom {
            border-bottom: 1px solid #eaeaea;
          }
        }
      }
    }
  }

  .side {
    width: 320px;
    right: 0;
    position: relative;
    height: 100%;
    float: right;
  }

  &::before {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 320px;
    bottom: 0px;
    background-color: #fafafa;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    content: "";
  }
}
