<h1>
<%= link_to @project.name, "#{Setting.protocol}://#{Setting.host_name}/avp/projects/#{@project.id}" %>
</h1>

<ul>
  <li>Tên dự án: 
    <% if @change_set[:name].nil? %>
    <%= @project.name %>
    <% else %>
     <span style='text-decoration: line-through;'><%= @change_set[:name][:old] %></span>  <span style='font-weight: bold;'><%= @change_set[:name][:new] %></span>
    <% end %>
  </li>
  <li>Mô tả: 
    <% if @change_set[:description].nil? %>
      <%= @project.description %>
    <% else %>
      <span style='text-decoration: line-through;'><%= @change_set[:description][:old] %></span>  <span style='font-weight: bold;'><%= @change_set[:description][:new] %></span>
    <% end %>
  </li>
  <li>Trạng thái: 
    <% if @change_set[:is_active][:old] == @change_set[:is_active][:new] %>
      <%= @change_set[:is_active][:old] %>
    <% else %>
      <span style='text-decoration: line-through;'><%= @change_set[:is_active][:old] %></span>  <span style='font-weight: bold;'><%= @change_set[:is_active][:new] %></span>
    <% end %>
  </li>
  <li>Tình trạng: 
    <% if @change_set[:status][:old] == @change_set[:status][:new] %>
      <%= @change_set[:status][:old] %>
    <% else %>
      <span style='text-decoration: line-through;'><%= @change_set[:status][:old] %></span>  <span style='font-weight: bold;'><%= @change_set[:status][:new] %></span>
    <% end %>
  </li>
  <li>Ngày bắt đầu: 
    <% if @change_set[:start_date][:old] == @change_set[:start_date][:new] %>
      <%= @change_set[:start_date][:old] %>
    <% else %>
      <span style='text-decoration: line-through;'><%= @change_set[:start_date][:old] %></span>  <span style='font-weight: bold;'><%= @change_set[:start_date][:new] %></span>
    <% end %>
  </li>
  <li>Ngày kết thúc: 
    <% if @change_set[:due_date][:old] == @change_set[:due_date][:new] %>
      <%= @change_set[:due_date][:old] %>
    <% else %>
      <span style='text-decoration: line-through;'><%= @change_set[:due_date][:old] %></span>  <span style='font-weight: bold;'><%= @change_set[:due_date][:new] %>
    <% end %>
  </li>
</ul>