<%= link_to @project.name, "#{Setting.protocol}://#{Setting.host_name}/avp/projects/#{@project.id}" %>

Tên dự án: <%= @change_set[:name].nil? ? @project.name : "#{@change_set[:name][:old]} thành #{@change_set[:name][:new]}"%>
Mô tả: <%= @change_set[:description].nil? ? @project.description : "#{@change_set[:description][:old]} thành #{@change_set[:description][:new]}"%>
Trạng thái: <%= @change_set[:is_active][:old] == @change_set[:is_active][:new] ? @change_set[:is_active][:old] : "#{@change_set[:is_active][:old]} thành #{@change_set[:is_active][:new]}"%>
Tình trạng: <%= @change_set[:status][:old] == @change_set[:status][:new] ? @change_set[:status][:old] : "#{@change_set[:status][:old]} thành #{@change_set[:status][:new]}"%>
Ngày bắt đầu: <%= @change_set[:start_date][:old] == @change_set[:start_date][:new] ? @change_set[:start_date][:old] : "#{@change_set[:start_date][:old]} thành #{@change_set[:start_date][:new]}"%>
Ngày kết thúc: <%= @change_set[:due_date][:old] == @change_set[:due_date][:new] ? @change_set[:due_date][:old] : "#{@change_set[:due_date][:old]} thành #{@change_set[:due_date][:new]}"%>
