<div id="subheader">
  <div class="task-user-add -compact" *ngIf="tabName === views.TASKS || tabName === views.TASKS_LIST || tabName === views.PROJECT_TASKS">
    <div class="avatar" *ngIf="editable && (canCreateWP || canCreateCategory)"></div>
    <div class="txt" *ngIf="editable">
      <span *ngIf="canCreateWP" class="action" (click)="onCreateTask(projectSelectionModal)">Tạo công việc mới</span>
      <span *ngIf="projectId != undefined && canCreateCategory">
        <span *ngIf="canCreateWP"> hoặc </span>
        <span class="action" (click)="open(createCategoryModal)">Tạo nhóm công việc mới</span>
      </span>
      <span class="title" *ngIf="!canCreateWP && !canCreateCategory && projectId != undefined">Danh sách công việc</span>
    </div>
  </div>
  <div class="task-user-add -compact" *ngIf="tabName === views.TASKS_FOLLOWING">
    <div class="sicon">
      <span class="fa fa-eye"></span>
    </div>
    <div class="txt">
      <span class="stitle url" uiSref="views.TASKS_FOLLOWING">Đang theo dõi</span>
    </div>
  </div>
  <div class="task-user-add -compact" *ngIf="tabName === views.TASKS_FILTERS">
    <div class="sicon">
      <span class="fa fa-filter"></span>
    </div>
    <div class="txt"> Bộ lọc tùy chỉnh:
      <span class="stitle url" uiSref="views.TASKS_FILTERS"
            [uiParams]="filterParams">{{queryName}}</span>
    </div>
  </div>
  <div class="task-user-add -compact" *ngIf="tabName === views.TASKS_TEAM">
    <div class="sicon">
      <span class="fa fa-cubes"></span>
    </div>
    <div class="txt">
      <span class="stitle url" uiSref="views.TASKS_TEAM">Nhân viên của tôi</span>
    </div>
  </div>

  <div class="filter">
    <filter-control
    (initialized)="onFilterInitialized($event)"
    [currentTab]="tabName"
    [projectId]="projectId"></filter-control>
  </div>
  
</div>

<ng-template #projectSelectionModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Chọn phòng ban/dự án để tạo công việc</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="custom-selection">
    <div class="isearch">
      <input type="text" placeholder="Tìm kiếm nhanh" (input)="onSearchProject($event)">
    </div>
    <div class="rh" style="max-height: 646px; overflow-y: auto">
      <div class="list list-actions no-icon -border">
        <div class="js-li li item unselectable" *ngFor="let project of project.searching" (click)="modal.close(project.id)">
          <div class="ap-xdot -name">{{project.name}}</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #createTaskModal let-modal>
  <task-create-form [projectId]="project.selectedId"
                    (onSaveSuccess)="onRefreshTasks(modal)"
                    (onDialogClose)="modal.dismiss()"></task-create-form>
</ng-template>

<ng-template #createCategoryModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Tạo nhóm công việc</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="tform-dialog">
    <div class="board-add-wrap">
      <div class="inline-form">
        <div class="formbox">
          <textarea class="-big" name="name" placeholder="Tên nhóm công việc *" style="height: 60px" [(ngModel)]="category.name"></textarea>
        </div>
        <div class="buttons">
          <div class="submit" (click)="onCreateCategory(modal)">Tạo nhóm công việc</div>
          <div class="cancel" (click)="modal.dismiss()">
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>