#db-canvas .db-header{
  background-color: #fff;
  -moz-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.05);
  box-shadow: 0 2px 3px 0px rgba(0,0,0,0.05);
  border:1px solid rgba(0,0,0,0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;

  .filters{
    display:flex;
    flex-wrap:nowrap;
    height:42px;
  }

  .filter.js-department{
    .-cmenu{
      max-height: 500px;
      overflow-y: auto;
    }
  }

  .filter{
    flex: 1 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
    cursor:pointer;
    color:#999;
    padding:10px 20px;
    font-size: 13px;

    .em{
      color:#111;
    }

    .-cmenu{
      width: auto;
      left: 20px;
      top: 36px;
      min-width: 180px;
    }

    .custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      height: 2rem;
      width: 2rem;
    }
    .custom-day.focused {
      background-color: #e6e6e6;
    }
    .custom-day.range, .custom-day:hover {
      background-color: rgb(2, 117, 216);
      color: white;
    }
    .custom-day.faded {
      background-color: rgba(2, 117, 216, 0.5);
    }
  }

  .filter.-dd:after{
    font-family:FontAwesome;
    content: "\f0d7";
    font-size:16px;
    position:absolute;
    color:#aaa;
    top:10px;
    right:13px;
  }
}

#db-canvas .db-header .filter em{
  color:#111;
  font-size: 13px;
}

#db-canvas .box .list .item .icon .avatar img {
  width: 32px;
  height: 32px;
}

img {
  border: none;
  overflow: hidden;
  font-size: 10px;
  color: transparent;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

#db-canvas .box .list .item .name .url:hover {
  color: #267cde;
  text-decoration: underline;
}

.ngb-dp-day.hidden {
  display: block !important;
}

#db-canvas.members {
  min-height: auto;
  padding: 0;
}