#db-canvas {
.db-grid{
  padding:0px;
  margin-right:-5px;
  overflow:hidden;
  &.row {
    margin-left: 0px;
  }
}
}
#db-canvas .box .table .obj .icon .-tavatar, #db-canvas .box .table .obj .icon .avatar{
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  width:32px;
  height:32px;
  overflow:hidden;
}

.xdot, .ap-xdot{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap: normal;
}

.box-alt1-edge, .-bg-alt1-edge{background: rgba(38,124,222,0.2); color: #1663ba; border: 1px solid rgba(38,124,222,0.2);}
.box-main, .-bg-main{background-color: #267cde;}
.box-gray, .-bg-gray{background-color: #eee;}
.box-alt5-edge:hover, .-bg-alt5-edge:hover{background: rgba(89,105,197,0.9); color: #fff; border:1px solid rgba(0,0,0,0.1);}
.box-alt1, .-bg-alt1{background-color: #267cde;}
.box-alt5-edge, .-bg-alt5-edge{background: rgba(89,105,197,0.2); color: #2f42b5; border: 1px solid rgba(89,105,197,0.2);}

.-cmenu{
  background-color: #fff;
  -moz-box-shadow: 0 2px 10px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0 2px 10px 0px rgba(0,0,0,0.2);
  z-index:888;
  font-weight:normal;
  font-size:13px;
}
.-cmenu.rounded{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow:hidden;
}
.-cmenu.-padding{
  padding:4px 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.-cmenu.-padding:before{
  content:"";
  position:absolute;
  bottom:-10px;
  left:0px;
  width:100%;
  height:10px;
}
.-cmenuw .-cmenu, .-cmenuw-active .-cmenu{
  display:none;
  position:absolute;
  color:#333;
}
.-cmenuw-active.active .-cmenu{
  display:block;
}
.-cmenuw .-cmenu.-rounded{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.-cmenuw .-cmenu:before{
  position:absolute;
  top:-4px;
  left:0px;
  width:100%;
  height:5px;
  content:"";
}
.-cmenuw .-cmenu.-down:after{
  position:absolute;
  bottom:-10px;
  left:0px;
  width:100%;
  height:10px;
  content:"";
}
.-cmenuw:hover .-cmenu, .-cmenuw.shown .-cmenu{
  display:block;
}
.-cmenu .-item-sep{
  background-color: #f3f3f3;
  height:1px;
  display:block;
  margin:4px 0;
}
.-cmenu .-item-sep.hidden{
  display:none;
}
.-cmenu > .-title{
  display:block;
  position:relative;
  padding:11px 15px;
  font-size:16px;
}
.-cmenu .-arrow{
  width: 0; height: 0;
  border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom:6px solid #fff;
  position:absolute;
  top:-6px;
  left:30px;
}
.-cmenu .-arrow-br{
  width: 0; height: 0;
  border-left: 6px solid transparent; border-right: 6px solid transparent; border-top:6px solid #fff;
  position:absolute;
  bottom:-6px;
  right:13px;
}
.-cmenu .-arrow-bl{
  width: 0; height: 0;
  border-left: 6px solid transparent; border-right: 6px solid transparent; border-top:6px solid #fff;
  position:absolute;
  bottom:-6px;
  left:13px;
}
.-cmenu .-item-filter{
  position:relative;
  padding:10px 15px 13px 42px;
  border-bottom:2px solid rgba(0,0,0,0.1);
  margin-bottom:10px;
}
.-cmenu .-item-filter input{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  display:block;
  padding:0;
  margin:0;
  border:none;
  background:transparent;
}
.-cmenu .-item-filter input{
  font-size:13px;
}
.-cmenu .-item-filter:before{
  font-family:ap; content:"\f162";
  position:absolute;
  font-size:14px;
  top:11px;
  left:15px;
}
.-cmenu .-item{
  padding:10px 15px 10px 42px;
  font-size:13px;
  position:relative;
  cursor:pointer;
  color:#555;
  text-align:left;
  display:block;
}
.-cmenu .-item.hidden{
  display:none;
}
.-cmenu .-item.active{
  font-weight:bold;
  color:#111;
}
.-cmenu.-no-icon .-item{
  padding-left:15px;
}
.-cmenu.-no-icon .-item.checked{
  font-weight:500;
  color:#34960d;
  background: rgba(66,184,20,0.1);
}
.-cmenu.-no-icon .-item.checked:after{
  font-family:ap; content:"\e206";
  color:#42b814;
  position:absolute;
  right:10px;
  top:10px;
}
.-cmenu .-item > .-icon{
  position:absolute;
  font-size:16px;
  color:#aaa;
  top:9px;
  left:15px;
}
.-cmenu .-item > .-icon.ap-f14, .-cmenu.-padding .-item > .-icon.ap-f14{
  font-size:14px;
  top:9px;
}
.-cmenu .-item > .-icon.-big{
  top:8px;
}
.-cmenu .-item > .-icon.-small{
  font-size:14px;
  top:11px;
}
.-cmenu .-item > .-ricon{
  position:absolute;
  font-size:14px;
  color:#aaa;
  right:15px;
  top:10px;
}
.-cmenu .-item .sub{
  font-size:12px;
  font-weight:normal;
  padding-top:5px;
  opacity: 0.6;
}
.-cmenu .-item:hover{
  background-color: #f3f3f3;
  color:#000;
}
.-cmenu .-item.search{
  padding:0;
  border-top:1px solid #eee;
}
.-cmenu .-item.search:after{
  content:"\f002";
  position:absolute;
  font-size:14px;
  color:#aaa;
  top:10px;
  right:15px;
  font-family:FontAwesome;
}
.-cmenu .-item.search input{
  padding:0;
  margin:0;
  border:none;
  background:transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  display:block;
}
.-cmenu .-item.search input{
  padding:10px 15px;
  font-size:15px;
}
.-cmenu.-padding .-subtitle{
  text-transform:uppercase;
  font-size:11px;
  font-weight:500;
  color:#aaa;
  padding:1px 15px;
  margin-top:13px;
}
.-cmenu.-padding .-item{
  padding-top:7px;
  padding-bottom:7px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-top:3px;
}
.-cmenu.-padding .-item > .-icon{
  top:6px;
}
.-cmenu.-padding .-item > .-icon.-big{
}
.-cmenu.-padding .-item:hover{
  background: rgba(38,124,222,0.8);
  color:#fff;
}
.-cmenu.-padding .-item.red:hover{
  background: rgba(195,67,67,0.1);
  color:#D96C6C;
}
.-cmenu.-padding .-item:hover > .-icon{
  color:#fff;
}
.-cmenu .-item.-submenu{
}
.-cmenu .-item.-submenu:after{
  font-family:ap; content:"\e6b3";
  position:absolute;
  font-size:14px;
  right:8px;
  top:10px;
  opacity: 0.5;
}
.-cmenu .-item.-submenu .submenu{
  position:absolute;
  display:none;
  background-color: #fff;
  padding:4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 6px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 6px 0px rgba(0,0,0,0.1);
  box-shadow: 0 2px 6px 0px rgba(0,0,0,0.1);
  left:100%;
  top:0px;
  width:200px;
}
.-cmenu .-item.-submenu.-left .submenu{
  right:100%;
  left:auto;
}
.-cmenu .-item .submenu:before{
  position:absolute;
  left:-30px;
  top:-30px;
  bottom:-30px;
  right:-30px;
  content:"";
}
.-cmenu .-item.-submenu:hover .submenu{
  display:block;
}
.-cmenu.-padding > .-title{
  border-bottom:1px solid #eee;
  margin-bottom:5px;
  text-transform:uppercase;
  font-weight:300;
  color:#888;
  font-size:14px;
  text-align:left;
  padding:9px 15px;
}