#db-canvas{

  .istats{
    padding:0px 20px;

    .istat{
      padding:25px 10px 30px 125px;
      position:relative;
      border-bottom:1px solid #eee;

      .plain{
        position:absolute;
        text-align:center;
        font-size:12px;
        color:#999;
        left:0px;
        top:20px;
        right:0px;

        span{
          font-size:14px;
          color:#aaa;
          display:inline-block;
          margin-right:4px;
          vertical-align:-1px;
        }

        b{
          color:#111;
          font-weight:500;
        }
      }

      .sub{
        font-size:10px;
        text-transform:uppercase;
        color:#888;
        display:block;
        padding:3px 0;

        em{
          font-weight:500;
          color:#333;
        }
      }

      .number{
        font-size:36px;
        display:block;
        color:#111;
        position:absolute;
        font-weight:300;
        top:22px;
        left:50px;
        text-align:right;
        width:64px;

        em{
          font-weight:300;
        }
      }

      .percent{
        position:absolute;
        width:50px;
        height:50px;
        top:20px;
        left:0px;

        .inner-text{
          top:0px;
          left:0px;
          bottom:0px;
          right:0px;
          position:absolute;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-align:center;
          font-size:12px;
          padding-top:18px;

          span{
            font-size:11px;
            color:#aaa;
          }
        }
      }
    }

    .istat:last-child{
      border:none;
    }
  }

  .thead{
    position:relative;
    border-bottom:1px solid #e5e5e5;
    background-color: #f9f9f9;

    .tmain{
      padding:8px 0 8px 15px;
      font-weight:500;
    }

    .tside{
      position:absolute;
      right:15px;
      top:0px;

      .col{
        float:left;
        font-size:10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-transform:uppercase;
        color:#aaa;
        padding:9px 0;
        margin-left:10px;
      }
    }
  }

  .db-title {
    padding: 15px 0 13px 0;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #aaa;
  }

  .box{
    .ecount {
      position: relative;
      color: #999;
      font-size: 11px;
      text-align: center;
      padding-top: 1px;
      border-top: 1px solid #eee;
      margin-top: 1px;
    }

    .list{
        padding: 0 15px;
      .mbar{
        height:16px;
        background: rgba(0,0,0,0.05);
        position:relative;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        margin-right:15px;

        .b{
          float:left;
          position:relative;
          height:100%;
        }
      }

      .item{

        padding: 10px 0 10px 45px;
        border-bottom: 1px solid #eee;
        position: relative;
        font-size: 12px;
        :last-child {
          border: none;
        }
      }

        info{
          font-size:11px;
          color:#aaa;
          padding-top:3px;

          em{
            font-weight:500;
            color:#666;
          }
        }

        .name{
          font-size:13px;
          font-weight:800;
          padding-bottom:1px;
          margin-right:13px;

          .url:hover{
            color:#267cde;
            text-decoration:underline;
          }
        }

        .side{
          position:absolute;
          right:0px;
          top:15px;

          .col{
            float:left;
            position:relative;
            color:#999;
            font-size:11px;
            margin-left:10px;

            em{
              font-weight:500;
              font-size:13px;
            }
          }

          .bar{
            width:60px;
            height:32px;
            overflow:hidden;
            background-color: #ebf5ef;
            box-shadow: inset 0 0 0 1px #c8e8d5;

            .txt{
              position:absolute;
              font-size:11px;
              color:#158f49;
              top:3px;
              left:10px;
            }

            .c{
              background-color: #c8e8d5;
              position:absolute;
              left:0px;
              top:0px;
              bottom:0px;
            }
          }

          .bigcount{
            font-size:16px;
            padding-right:5px;

            span{
              position:absolute;
              font-size:12px;
              color:#aaa;
              margin-left:2px;
            }
          }
        }

        .icon{
          position:absolute;
          left:0px;
          top:15px;
          width:32px;
          height:32px;
          -moz-border-radius: 16px;
          -webkit-border-radius: 16px;
          border-radius: 16px;

          .-tavatar{
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
            border-radius: 16px;
            overflow:hidden;
          }

          .avatar{
            width:32px;
            height:32px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
            border-radius: 16px;
            overflow:hidden;

            img{
              width:32px;
              height:32px;
            }
          }
        }

        .icon:empty{
          background: rgba(0,0,0,0.1);
        }
      }
    }

    .graph{
      .gcount {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 120px;
        margin-top: -8px;
        text-align: center;
        font-size: 20px;
        z-index: 888;
      }

      em{
        font-size:11px;
        color:#aaa;
        text-transform:uppercase;
        display:block;
        padding-top:5px;
      }
    }

    .graph.-fit{
      position:absolute;
      top:15px;
      left:15px;
      right:15px;
      bottom:15px;
    }

    .graph.-fit > div{
      position:absolute;
      top:0px;
      left:0px;
      bottom:0px;
      right:0px;
    }
  }

  .db-grid{
    .total {
      margin: 0 100px;

      &:first-child {
        margin: 0 50px 0 100px;
      }

      &:last-child {
        margin: 0 50px;
      }
    }

    .box{
      float:left;
      position:relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: none;

      .table{
        padding:0 15px;

        .obj{
          position:absolute;
          top:0px;
          left:0px;
          bottom:0px;
          right:0px;
          padding-left:45px;

          .icon{
            width:32px;
            height:32px;
            overflow:hidden;
            position:absolute;
            left:0px;
            top:0px;

            .inner-text{
              position:absolute;
              font-size:10px;
              top:0px;
              left:0px;
              bottom:0px;
              right:0px;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              text-align:center;
              padding-top:8px;
            }
          }
        }

        .wrapper{
          position:relative;
          margin-right:10px;
        }

        tbody{
          td{
            padding:10px 0;
            border-bottom:1px solid #eee;
          }
        }

        thead{
          tr{
          }

          th{
            padding:10px 0;
            text-align:left;
            border-bottom:1px solid #eee;
            font-weight:500;
            font-size:12px;
            color:#999;
            position:relative;
          }

          th > div{
            position:absolute;
            text-transform:uppercase;
            font-size:10px;
            top:10px;
            left:0px;
            right:10px;
          }
        }
      }

      .ecount{
        position:relative;
        color:#999;
        font-size:11px;
        text-align:center;
        padding-top:1px;
        border-top:1px solid #eee;
        margin-top:1px;

        b{
          display:inline-block;
          font-size:14px;
          font-weight:500;
          color:#111;
        }


      }

      .bigcount{
        position:relative;
        padding-left:85px;

        .count{
          font-size:36px;
          font-weight:normal;
          position:absolute;
          left:0px;
        }

        .txt{
          color:#aaa;
          font-size:11px;
          text-transform:uppercase;
          margin-bottom:5px;
        }

        .info{
          padding-top:6px;
          font-size: 11px;

          .dot{
            display:inline-block;
            font-size:11px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width:10px;
            height:10px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            margin-right:5px;
            vertical-align:-1px;
          }

          .square{
            display:inline-block;
            font-size:11px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width:10px;
            height:10px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            margin-right:3px;
            vertical-align:-1px;
          }

          .-ap{
            vertical-align:-2px;
          }

          .sub{
            font-size:10px;
            color:#aaa;
            text-transform:uppercase;
            padding-top:3px;
            padding-left:21px;
          }

        }
      }

      .legends.-inline{
        text-align:center;

        .legend{
          display:inline-block;
          text-align:center;
          width: 30%;
        }
      }

      .legends{
        overflow:hidden;

        .legend{
          position:relative;
          font-size:11px;
          text-transform:uppercase;
          color:#999;
          margin:5px 10px;
          padding-left:18px;

          .circle{
            position:absolute;
            top:1px;
            left:0px;
            width:10px;
            height:10px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
          }
        }
      }

      .body{
        padding:5% 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height:100%;
      }

      .body > .graph.fit{
        position:absolute;
        top:5%;
        bottom:5%;
        left:15px;
        right:15px;
      }

      .body.-fit{
        padding:0;
        position:absolute;
        top:40px;
        left:0px;
        right:0px;
        bottom:0px;
        height:auto;
        background-color: #fff;

        .scrollbox{
          position:absolute;
          top:0px;
          left:0px;
          bottom:0px;
          right:0px;

          &.scroll-y {
            overflow: auto;
          }
        }

        .info {
          font-size: 11px;
        }
      }

      .header{
        border-bottom:1px solid #eee;
        padding:11px 15px;
        font-size:14px;
        font-weight:800;

        .side{
          position:absolute;
          right:10px;
          top:0px;

          .download{
            font-size:13px;
            color:#267cde;
            cursor:pointer;
            padding-top: 10px;
          }

          .ilegends{
            overflow:hidden;
            float:right;
            font-size:11px;
            font-weight:normal;
            color:#666;
            padding:5px 0;

            .legend{
              float:left;
              position:relative;
              padding:8px 10px 8px 13px;
              margin-left:10px;

              .dot{
                position:absolute;
                width:8px;
                height:8px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                top:10px;
                left:0px;
              }
            }
          }
        }
      }

      .s{
        height:0px;
        padding-bottom:100%;
      }

      .inner{
        position:absolute;
        background-color: #fff;
        top:0px;
        left:0px;
        right:5px;
        bottom:5px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border:1px solid rgba(0,0,0,0.1);
        -moz-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.03);
        -webkit-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.03);
        box-shadow: 0 2px 5px 0px rgba(0,0,0,0.03);
      }
    }
  }

img {
  border: none;
  overflow: hidden;
  font-size: 10px;
  color: transparent;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.eshm{
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;

  .x11{
    top:0%;
    left:50%;
    background: rgba(195,67,67,0.05);
  }

  .x10{
    top:50%;
    left:50%;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#ffffff', endColorstr='rgba(99,184,20,0.1)');
    background-color:#ffffff;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ffffff), to(rgba(99,184,20,0.1)));
    background-image: -webkit-linear-gradient(-45deg, #ffffff, rgba(99,184,20,0.1));
    background-image:	-moz-linear-gradient(-45deg, #ffffff, rgba(99,184,20,0.1));
    background-image: -ms-linear-gradient(-45deg, #ffffff, rgba(99,184,20,0.1));
    background-image: -o-linear-gradient(-45deg, #ffffff, rgba(99,184,20,0.1));
    background-image: linear-gradient(-45deg, #ffffff, rgba(99,184,20,0.1));
  }

  .x01{
    top:0px;
    left:0px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='rgba(99,184,20,0.1)', endColorstr='#ffffff');
    background-color:rgba(99,184,20,0.1);
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(99,184,20,0.1)), to(#ffffff));
    background-image: -webkit-linear-gradient(-45deg, rgba(99,184,20,0.1), #ffffff);
    background-image:	-moz-linear-gradient(-45deg, rgba(99,184,20,0.1), #ffffff);
    background-image: -ms-linear-gradient(-45deg, rgba(99,184,20,0.1), #ffffff);
    background-image: -o-linear-gradient(-45deg, rgba(99,184,20,0.1), #ffffff);
    background-image: linear-gradient(-45deg, rgba(99,184,20,0.1), #ffffff);
  }

  .x00{
    top:50%;
    left:0px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#ffffff', endColorstr='#f6f6f6');
    background-color:#ffffff;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ffffff), to(#f6f6f6));
    background-image: -webkit-linear-gradient(-45deg, #ffffff, #f6f6f6);
    background-image:	-moz-linear-gradient(-45deg, #ffffff, #f6f6f6);
    background-image: -ms-linear-gradient(-45deg, #ffffff, #f6f6f6);
    background-image: -o-linear-gradient(-45deg, #ffffff, #f6f6f6);
    background-image: linear-gradient(-45deg, #ffffff, #f6f6f6);
  }

  .y{
    position:absolute;
    left:50%;
    top:0px;
    bottom:0px;
    width:1px;
    background-color: #63b814;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b814', endColorstr='#dddddd');
    background: -moz-linear-gradient(top, #63b814 0%,#dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b814),color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, color-stop(0%,#63b814),color-stop(100%,#dddddd));
    background: -o-linear-gradient(top, #63b814 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #63b814 0%,#dddddd 100%);
    background: linear-gradient(top, #63b814 0%,#dddddd 100%);
    z-index:999;

    span{
      position:absolute;
      font-size:11px;
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); transform: rotate(90deg); -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg); -o-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      color: rgba(0,0,0,0.6);
      top:24px;
      left:-32px;
    }
  }

  .x{
    position:absolute;
    left:0px;
    right:0px;
    top:50%;
    height:1px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#cccccc', endColorstr='#D96C6C');
    background-color:#cccccc;
    background-image: -webkit-gradient(linear, left top, right top, from(#cccccc), to(#D96C6C));
    background-image: -webkit-linear-gradient(left, #cccccc, #D96C6C);
    background-image:	-moz-linear-gradient(left, #cccccc, #D96C6C);
    background-image: -ms-linear-gradient(left, #cccccc, #D96C6C);
    background-image: -o-linear-gradient(left, #cccccc, #D96C6C);
    background-image: linear-gradient(left, #cccccc, #D96C6C);
    z-index:999;

    span{
      position:absolute;
      font-size:11px;
      color: rgba(0,0,0,0.6);
      top:3px;
      right:10px;
    }
  }



  .area.x11 span{
    font-weight:500;
    color:#a92828;
    font-size:20px;
    margin-top:-11px;
  }

  .area{
    position:absolute;
    width:50%;
    height:50%;

    span{
      position:absolute;
      left:10%;
      right:10%;
      top:50%;
      margin-top:-10px;
      font-size:15px;
      text-align:center;
      display:block;
      color: rgba(0,0,0,0.6);
    }
  }
}
