#topics {
  overflow: auto;
  
  .li {
    position: relative;
    border-bottom: solid 1px #ccc;
    margin: 10px 0px;
    overflow: auto;
    padding-bottom: 10px;

    .avt {
      width: 5%;
      height: 100%;
      float: left;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;

      .imagew {
        width: 40px;
        height: 40px;
        float: right;
      }

      img {
        border-radius: 50%;
      }
    }

    .content {
      height: 100%;
      width: 85%;
      padding: 0px 10px;
      float: left;

      .title {
        height: 30%;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          color: #267cde;
        }
      }

      .description {
        overflow: hidden;
        word-break: break-word;
        font-size: 12px;
        color: #aaa;
      }

      .info {
        height: 30%;
        margin-top: 5px;
        font-size: 12px;
        color: #aaa;

        .labels {
          display: inline-block;
          position: relative;
          margin-right: 5px;
          margin-top: 0px;

          .label {
            padding: 2px 6px;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            font-size: 11px;
            position: relative;
            margin-right: 5px;
            background-color: #267cde;
            color: #fff;
            opacity: 0.9;

            &:hover { 
              opacity: 1;
            }
          }

          .url {
            color: #267cde;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .sub {
      height: 100%;
      float: left;
      width: 10%;

      .users {
        padding-left: 5px;
        margin-top: 5px;
        .avatar {
          float: left;
          position: relative;
          margin-left: -10px;
          border: solid 2px #fff;

          .image {
            height: 100%;
          }

          &::after {
            position: absolute;
            width: 32px;
            height: 32px;
            -moz-border-radius: 19px;
            -webkit-border-radius: 19px;
            border-radius: 19px;
            content: "";
          }
        }
    }
    }
  }
}

.wrapper-box {
  margin-top: 30px;
  background: #f5f5ff;
  padding-bottom: 10px;

  > div {
    padding: 8px 10px;
  }

  .postdate {
    height: 40px;
    background: #5c7099;
    color: #fff;
  }

  .user {
    background: #e1e4f2;

    .name {
      padding-left: 45px;
      color: #000;
      font-weight: normal;
      cursor: pointer;
      font-size: 17px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title {
    height: 40px;
    border-bottom: solid 1px #ccc;
    font-size: 14px;
    font-weight: bold;

    .action {
      float: right;

      > span {
        margin-left: 10px;
        cursor: pointer;

        &:hover {
          color: #267cde;
        }
      }
    }
  }

  .content {
    margin: 20px 0px;
  }
}
