<div class="one-member-page">
  <div class="header">
    <one-member-list-header [actionEvents]="actionObject.asObservable()" (searchChanged)="onSearchChanged($event)" (eventAction)="onReceiveEvent($event)"></one-member-list-header>
  </div>
  <div class="content">
    <one-member-list [searchEvents]="searchSubject.asObservable()" [actionEvents]="eventSubject.asObservable()" (actionChange)="onActionChange($event)"></one-member-list>
  </div>
</div>
