<div id="js-task-display" class="task-display js-task" *ngIf="loading == false">
  <task-side-bar *ngIf="activities != undefined" [item]="item" [activities]="activities"></task-side-bar>
  <div class="main-body" style="min-height: 1300px;">
    <div class="section js-task-main collapsed">
      <div class="task-header">
        <div class="tags clear-fix">
          <div class="tag tag-alt7-more x-error js-tag url" *ngIf="item._links.status.title == 'Done Late'">HT sau deadline</div>
          <div class="tag tag-error-more js-tag-url" *ngIf="item.customField14 == true">Khẩn cấp</div>
          <div class="tag tag-success-more js-tag-url" *ngIf="item.customField13 == true">Quan trọng</div>
          <div class="tag tag-alt7-more x-error js-tag url" *ngIf="isOverdue == true">Quá hạn</div>

          <div class="tag js-task-detail -add url" style="display: none">
            <i class="fa fa-plus"></i>
            thêm nhãn
          </div>
        </div>
        <div class="actions">
          <div class="action -close" 
                title="Đóng"
                [uiSref]="stateName"
                [uiParams]="{task: null}">
            <i class="fa fa-close"></i>
          </div>
          <div class="action -start url" title="Ưa thích" (click)="onFavouriteChanged()">
            <i class="fa" [ngClass]="item.customField12 == true ? 'fa-star text-yellow' : 'fa-star-o'"></i>
          </div>
          <div class="action -calendar url" title="Thêm vào lịch" style="display: none">
            <i class="fa fa-calendar-plus-o"></i>
          </div>
          <div class="action url" [ngClass]="item.customField13 == true ? '-important1': '-important0'" title="Quan trọng" (click)="onImportantChanged()">
            <i class="fa" [ngClass]="item.customField13 == true ? 'fa-bookmark' : 'fa-bookmark-o'"></i>
          </div>
          <div class="action url" [ngClass]="item.customField14 == true ? '-urgent1' : '-urgent0'" title="Khẩn cấp" (click)="onUrgentChanged()">
            <i class="fa fa-exclamation-circle"></i>
          </div>
          <div class="action -more" *ngIf="canTakeAction" (click)="open(moreAction)">
            <i class="fa fa-ellipsis-h"></i>
          </div>
        </div>
      </div>
      <div class="task-main">
        <div class="edit-box compact edit-task-name" [ngClass]="{'editing': actions.isSubjectEditing}">
          <div class="edit-display" (click)="enableTitleEditing()">
            <h1>{{item.subject}}</h1>
          </div>
          <div class="edit-form">
            <form method="post" action="">
              <div class="row">
                <input type="hidden" name="id" value="">
                <input type="hidden" name="key" value="">
                <textarea class="-big __ap_center_binded"
                          name="value" style="overflow-x: hidden; overflow-wrap: break-word; height: 64px"
                          (keyup.enter)="onSaveTitle()" [(ngModel)]="item.subject"></textarea>
              </div>
              <div class="edit-ctas clear-fix">
                <div class="save url" (click)="onSaveTitle()">Lưu thay đổi</div>
                <div class="cancel url" (click)="onDisableTitleEditing()">Bỏ qua</div>
                <div class="note">
                  Nhấn Enter để lưu nhanh
                  <b class="url" (click)="onDisableTitleEditing()">Bỏ qua</b>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="desc">
          <span *ngIf="status.includes('new')">
            <i class="fa fa-circle-o"></i>
            {{statusString}}
          </span>
          <span *ngIf="status.includes('progress')">
            <i class="fa fa-circle anim-showhide-inf" style="color: #5da4ed" ></i>
            {{statusString}}
          </span>
          <span *ngIf="status.includes('review')">
            <i class="fa fa-circle" style="color: #ADD302" ></i>
            {{statusString}}
          </span>
          <span *ngIf="status.includes('done')">
            <i class="fa fa-check-circle text-success"></i>&nbsp;
            <b class="text-success">{{statusString}}</b>
          </span> · Trong
          <span class="url url-detail">{{item._links.project.title}}</span>
          &nbsp; › &nbsp;
          <span class="dd js-select-tl" [ngClass]="{'unselectable': isAuthor != true, 'active': actions.category.showOrCollapse == true}" (click)="onShowOrCollapse(actions.category)">
            <span *ngIf="item._links.category.href != null">{{item._links.category.title}}</span>
            <span *ngIf="item._links.category.href == null">Chưa phân loại</span>
            <div class="-items">
              <div class="-item url" (click)="onChangeCategory(null)">Chưa phân loại</div>
              <div class="-item url" 
                  *ngFor="let category of categories"
                  (click)="onChangeCategory(category.id)">{{category.name}}</div>
            </div>
          </span>
        </div>
        <div class="desc">
          <i class="fa fa-clock-o"></i>
          &nbsp;
          <div class="deadline">
            <div class="url ap-inline-tagger-wrap">
                <em class="a normal js-set-startdate" *ngIf="item.startDate == null"
                    [autoClose]="'outside'"
                    [ngbPopover]="startDatePopover"
                    container="body"
                    placement="bottom"
                    #sdPopup="ngbPopover">Chọn ngày bắt đầu</em>
                <span *ngIf="item.startDate != null">Ngày bắt đầu:
                  <em [autoClose]="'outside'"
                      [ngbPopover]="startDatePopover"
                      container="body"
                      placement="bottom"
                      #sdPopup="ngbPopover">{{item.startDate | date: 'dd/MM/yyy'}}</em>
                </span>
            </div>
            &nbsp;
            <span class="inline">
              <i class="fa fa-long-arrow-right"></i>
            </span>
            &nbsp;
            <div class="deadline-display inline ap-inline-tagger-wrap">
              Thời hạn:
              <span [autoClose]="'outside'" [ngbPopover]="deadlinePopover" container="body" placement="bottom" #ddPopup="ngbPopover">
                <span class="url em inline" *ngIf="item.dueDate == null">Chọn thời gian</span>
                <span class="url em inline" *ngIf="item.dueDate != null">{{item.dueDate | date: 'dd/MM/yyy'}}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="desc origin_link" *ngIf="item._embedded.parent != null"> 
          <span class="fa fa-chain"></span>
          &nbsp; Công việc con của  
          <span class="url"
                [uiSref]="stateName"
                [uiParams]="{task: item._embedded.parent.id}">{{parent}}</span> 
        </div>
      </div>
      <div class="task-cta">
        <div class="cta url clickable-1" [ngClass]="{'-done': status.includes('done'), '-in-review': status.includes('review')}">
          <div class="exp">
            <div class="t">Click để đánh dấu hoàn thành</div>
          </div>
          <div class="box url" (click)="statusChangesDirectly()"></div>
          <div class="avp-label url with-review" [ngbPopover]="statusesPopup"
               placement="bottom"
               [ngClass]="{'ap-inline-tagger-wrap': status.includes('done')}">
            <div class="lb">{{statusString}}</div>
          </div>
        </div>
        <div class="assign js-task-detail url"
             [ngbPopover]="usersPopover"
             #userSelector="ngbPopover"
             [autoClose]="'outside'"
             placement="bottom"
             container="body">
          <div class="avatar avatar-32 -circled">
            <div class="user-add" *ngIf="item._links.assignee.href == null"></div>
            <div class="image" *ngIf="item._links.assignee.href != null">
              <img src="{{workPackage.assignee.avatar}}" (error)="onAvatarFailed($event)">
            </div>
          </div>
          <div class="name" style="padding-top: 5px" *ngIf="item._links.assignee.href == null">Giao việc</div>
          <div class="name" *ngIf="item._links.assignee.href != null">{{item._links.assignee.title}}</div>
        </div>
      </div>
      <div id="js-task-desc" class="task-desc">
        <div class="actions">
          <div *ngIf="validUser == true" class="action js-edit" (click)="enableDescriptionEditor()">Chỉnh sửa</div>
          <div class="hidden action js-checklist">Thêm checklist</div>
        </div>
        <div class="title">Miêu tả công việc</div>
        <div class="edit-box js-task-content" [ngClass]="{'editing': actions.isDescriptionEditing == true}">
          <div class="edit-display">
            <div class="desc acl-1">
              <div class="icon-desc -right"></div>
              <div class="no-content" *ngIf="item.description.raw == null">Chưa có mô tả cho công việc này</div>
              <div *ngIf="item.description.raw != null" [innerHtml]="item.description.html"></div>
            </div>
          </div>
          <div class="edit-form edit-content" *ngIf="actions.isDescriptionEditing == true">
            <div class="row">
              <ckeditor-augmented-textarea style="width: 100%"
                textarea-selector="textarea"
                preview-context="context"      
                [source]="item"   
                (onInitialized)="onEditorInitialized($event)">
              </ckeditor-augmented-textarea>
            </div>
            <div class="row clear-fix">
              <div class="button -cta url" (click)="onSaveDescription()">Lưu</div>
              <div class="cancel url" (click)="disableDescriptionEditor()">
                <i class="fa fa-close"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="js-task-files task-files">
          <div class="title">Tài liệu đính kèm</div>
          <div class="actions" *ngIf="validUser == true">
            <div class="action js-upload uploadable">
              Thêm tài liệu
              <div class="upload-form">
                <form id="upload-files">
                  <input type="file" name="attachments" multiple (change)="onAttachmentsChanged($event)">
                </form>
              </div>
            </div>
          </div>
          <attachments-preview [item]="item" [attachments]="attachments"></attachments-preview>
        </div>
      </div>
    </div>

    <div id="js-checklists" class="section task-checklists" style="display: none">
      <div class="edit-form"></div>
      <div class="w-checklists ui-sortable"></div>
    </div>
    <div id="js-taskresult" class="section task-result" [ngClass]="{'editing': actions.isResultEditing == true}">
      <div class="top">Kết quả công việc</div>
      <div class="postform"> <!--[ngClass]="{'hidden': item.customField2 == null || item.customField2.raw == null}"-->
        <div class="textarea -wc-0">
          <div class="completion">
            <div class="avp-label">Hoàn thành</div>
            <input type="text" name="complete" placeholder="Nhập %" value="0%" disabled="">
            <div class="bar">
              <div class="b" style="width: 0.00%"></div>
            </div>
          </div>
          <textarea name="content" rows="5" placeholder="Cập nhật kết quả công việc" [(ngModel)]="item.customField2.raw"></textarea>
        </div>
        <div class="display" *ngIf="item.customField2 && item.customField2.raw">
          <div class="content">{{item.customField2.raw}}</div>
        </div>
        <div class="submit">
          <div class="button js-result-save -cta" (click)="onSaveResult()">Lưu</div>
          <div class="button js-result-cancel -cancel" (click)="onDisableResultEditing()">Bỏ qua</div>
        </div>
        <attachments-preview [item]="item" description="Result" [attachments]="attachments"></attachments-preview>
      </div>
      <div class="cta-block" *ngIf="validUser == true">
        <span class="a normal std js-result-clickable" (click)="enableResultEditing()">
          Cập nhật kết quả công việc
        </span>
          hoặc
        <span class="a normal std relative xo js-result-upload uploadable">
          upload file
          <div class="upload-form">
            <input type="file" name="result-attachment" multiple (change)="onResultAttachmentsChanged($event)">
          </div>
        </span>
      </div>
    </div>
    <div id="js-task-subtasks" class="section">
      <div class="subtask-title">Công việc con</div>
      <div *ngIf="validUser == true && canCreateWP" class="subtask-action" (click)="openTaskModal(createTaskModal)">+ Thêm công việc con</div>
      <div class="subtasks">
        <div class="js-etask-wrapper etask-wrapper">
          <div class="etaskform">
            <div class="js-subtasks-list etasklist ui-sortable">
              <sub-task *ngFor="let id of subTaskIds" [id]="id"></sub-task>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section task-comments" *ngIf="activities != undefined">
      <comments [workPackage]="workPackage" [activities]="activities"></comments>
    </div>
  </div>
</div>

<ng-template #moreAction let-modal>
  <div id="custom-selection">
    <div class="list list-actions -border">
      <div class="li item unselectable" (click)="open(followersModal)">
        <span class="-icon">
          <i class="fa fa-address-book"></i>
        </span>
        Thêm nhiều người theo dõi
        <small>Thêm nhiều người theo dõi</small>
      </div>
      <div class="li item unselectable" (click)="openTaskModal(copyTaskModal)">
        <span class="-icon">
          <i class="fa fa-plus-square"></i>
        </span>
        Nhân bản công việc
        <small>Nhân bản công việc này</small>
      </div>
      <div class="li item unselectable" (click)="openTaskModal(copyToAnotherProjectTaskModal)">
        <span class="-icon">
          <i class="fa fa-plus-square"></i>
        </span>
        Nhân bản công việc vào dự án khác
        <small>Nhân bản công việc vào dự án-phòng ban khác</small>
      </div>
      <div class="li item unselectable" (click)="openDeletePopup(deleteModal)">
        <span class="-icon">
          <i class="fa fa-trash"></i>
        </span>
        Xóa công việc
        <small>Xóa công việc này</small>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deadlinePopover>
  <datetime-popover
    type="due_date"
    [date]="item.dueDate"
    (onSave)="onUpdateDueDate($event)"></datetime-popover>
</ng-template>

<ng-template #startDatePopover>
  <datetime-popover
    type="start_date"
    [date]="item.startDate"
    (onSave)="onUpdateStartDate($event)"></datetime-popover>
</ng-template>

<ng-template #usersPopover>
  <users-selector [projectId]="projectId"
                  (onOpenExternalUserSelector)="onOpenExternalUserSelector(externalUsers)"
                  (onUserSelected)="onAssigneeChanged($event)"></users-selector>
</ng-template>

<ng-template #externalUsers let-modal>
  <external-users-selector (onSelect)="onAssigneeChanged($event)" (onClose)="modal.dismiss()"></external-users-selector>
</ng-template>

<ng-template #createTaskModal let-modal>
  <task-create-form [projectId]="projectId"
                    [categoryId]="categoryId"
                    [parentId]="taskId"
                    (onSaveSuccess)="onSubTasksCreated($event)"
                    (onDialogClose)="modal.dismiss()"></task-create-form>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Xóa công việc</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="__alertdialog">
    <div class="__apdialog">
      <table>
        <tbody>
        <tr>
          <td class="icon">
            <i class="fa fa-exclamation-circle" style="font-size: 42px; color: #c65144"></i>
          </td>
          <td class="text">Bạn có chắc chắn muốn xóa công việc này? Công việc đã xóa sẽ không thể khôi phục lại.</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="__dialogbuttons unselectable">
      <div class="button er confirm-button" (click)="modal.dismiss()">Đóng</div>
      <div class="button ss confirm-button" (click)="modal.close('OK')">OK</div>
    </div>
  </div>
</ng-template>

<ng-template #followersModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Thêm người theo dõi</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="tform-dialog">
    <div class="board-add-wrap">
      <div class="inline-form">
        <div class="formbox">
          <user-search-box [multiple]="true"
                           [clearable]="false"
                           (selectItem)="onWatchersChanged($event)"
          ></user-search-box>
        </div>
        <div class="buttons">
          <div class="submit" (click)="onAddWatchers(modal)">Thêm</div>
          <div class="cancel" (click)="modal.dismiss()">
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #copyTaskModal let-modal>
  <task-create-form [isCopy]="true"
                    [itemToCopied]="item"
                    (onDialogClose)="modal.dismiss()"></task-create-form>
</ng-template>

<ng-template #copyToAnotherProjectTaskModal let-modal>
  <task-create-form [isCopy]="true"
                    [isCopyToOtherProject]="true"
                    [itemToCopied]="item"
                    (onDialogClose)="modal.dismiss()"></task-create-form>
</ng-template>

<ng-template #statusesPopup>
  <div class="ap-inline-tagger" style="display: block; top: 0; left: -90px; width: 180px;">
    <div class="ap-tagger issingle">
      <div class="api-tags">
        <div class="api-tag js-tagitem"
             (click)="statusChangesTo('review')"
             [ngClass]="{'-selected': status.includes('review')}">
          <div class="square -bg-alt6"></div>
          <div class="api-context">
            <div class="api-txt">Chờ review</div>
          </div>
        </div>
        <div class="api-tag js-tagitem url"
             (click)="statusChangesTo('done')"
             [ngClass]="{'-selected': status.includes('done')}">
          <div class="square -bg-alt4"></div>
          <div class="api-context">
            <div class="api-txt">Hoàn thành</div>
          </div>
        </div>
        <div class="api-tag js-tagitem"
             (click)="statusChangesTo('progress')"
             [ngClass]="{'-selected': status.includes('progress')}">
          <div class="square -bg-alt7"></div>
          <div class="api-context">
            <div class="api-txt">Đang làm</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

