<div id="base-apps">
    <div class="avp-box">
        <div class="top">
            <div class="user">
                <div class="image">
                    <one-avatar [imageUrl]="userAvartarUrl" size="40"></one-avatar>
                </div>
                <div class="name"><b>{{userFullname}}</b> - {{userInfo.email}}</div>
                <div class="info">
                    <a target="_blank" href="">Tài khoản</a> ·
                    <a href="" target="_blank">Trang chủ</a> ·
                    <a href="#" (click)="logout()">Đăng xuất</a>
                </div>
            </div>
        </div>
        <div class="sb scrollable __set __apscrollbar_parent __autohide" data-autohide="1" data-autoscroll="1">
            <div class="scrollin absolute __apscrollbar_target __scrolled" style="inset: 0px -12px 0px 0px;">
                <div class="__apscrollbar_wrap __autohide" style="padding-right:0px">
                    <div class="inner clear-fix">
                        <div class="app-group">
                            <div class="g-body">
                                <a class="item" target="_blank" href="http://task.anvietenergy.com/avp">
                                    <span class="image">
                                        <img src="/assets/images/wework.png">
                                    </span>
                                    <span class="text ap-xdot">AVP Task
                                        <em class="ap-xdot">Quản lý công việc</em>
                                    </span>
                                </a>
                                <a class="item" target="_blank" href="http://account.anvietenergy.com:4200">
                                    <span class="image">
                                        <img src="/assets/images/account.png">
                                    </span>
                                    <span class="text ap-xdot">AVP Account
                                        <em class="ap-xdot">Tài khoản</em>
                                    </span>
                                </a>
                                <a class="item" target="_blank" href="http://message.anvietenergy.com:4400">
                                    <span class="image">
                                        <img src="/assets/images/chat.png">
                                    </span>
                                    <span class="text ap-xdot">AVP Message
                                        <em class="ap-xdot">Quản lý tin nhắn</em>
                                    </span>
                                </a>
                                <a class="item active" href="/requests">
                                    <span class="image">
                                        <img src="/assets/images/request.png">
                                    </span>
                                    <span class="text ap-xdot">AVP Request
                                        <em class="ap-xdot">Yêu cầu & Đề xuất</em>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
