.icon {
    font-size: 20px;
    vertical-align: top;
    width: auto;
    height: auto;

    &.error {
        color:#CA3F3F
    }

    &.success {
        color: #35c53f;
    }
}

.message {
    padding-left: 3px;
}