<div *ngIf="loading == false"
    class="etask-detail" 
    [ngClass]="{'status-1': workPackage.status.name.toLowerCase().includes('done')}">
  <div class="echeckbox" (click)="onSubTaskStatusChange(workPackage)"></div>
  <div class="etask-name" 
        [uiSref]="stateName"
        [uiParams]="{task: workPackage.id}">{{workPackage.subject}}</div>
  <div class="etask-deadline hidden"><span title="Ngày kết thúc">{{workPackage.dueDate}}</span></div>
  <div class="etask-user" *ngIf="workPackage.assignee != undefined">
    <img src="{{workPackage.assignee.avatar}}" (error)="onAvatarFailed($event)">
    <span>{{workPackage.assignee.name}}</span>
  </div>
  <div class="no-assign" *ngIf="workPackage.assignee == undefined">Not assigned</div>
</div>