<div class="li">
    <div class="avt avatar">
      <div class="imagew">
        <img src="{{source.author.avatar}}" (error)="onAvatarFailed($event)">
      </div>
    </div>
    <div class="content">
      <div class="title"
            uiSref="project.topic"
            [uiParams]="{projectId: projectId, topic: id}">{{name}}</div>
      <div class="description">{{description}}</div>
      <div class="info">
        <div class="labels">
          <span class="label">{{projectName}}</span> |
          <span class="url">{{authorName}}</span> |
          <span><span class="fa fa-comment-o"></span> {{replies_count}} Bình luận</span> |
          <span>Tạo lúc {{createdAt}} - Cập nhật lúc {{updatedAt}}</span>
        </div>
      </div>
    </div>
    <div class="sub">
      <div class="users">
        <div class="avatar avatar-28 -circled url" *ngFor="let watcher of watchers">
          <div class="image">
            <img src="{{watcher.user.avatar}}" (error)="onAvatarFailed($event)">
          </div>
        </div>
        <div *ngIf="watcherCount > 0" class="avatar avatar-28 -circled url">
          <div class="more">
            <span>{{watcherCount}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>