.one-header {
    border-bottom: 1px solid rgba(0,0,0,.12);
    background: #fff;

    .header-row {
        height: auto;
        .title {
            padding: 10px 0px;
            cursor: pointer;

            &:hover {
                color: #673ab7;
            }
        }

        .refresh {
            &:hover {
                color: #673ab7;
            }

            .renew-icon {
                &.spin {
                    animation-name: spin;
                    animation-duration: 1000ms;
                    animation-timing-function: linear;
                }
            }
        }
        .export-excel-btn {
          height: 33px;
          overflow: hidden;
          width: 110px;
          font-weight: bold;
          color: #CA3F3F;

          &.hidden {
            display: none;
          }
        }
    }

    &.in-detail {
        .side {
            display: none;
        }

        .back {
            display: block;
        }
    }

    .back {
        display: none;
        cursor: pointer;
        margin-right: 10px;
        color: #aaa;
    }

    .one-tab-nav-bar {
        border: none;
    }

    .one-tab {
        min-width: 100px;
        height: 32px;
        padding-right: 12px;
        padding-left: 0px;
        cursor: pointer;
        text-transform: uppercase;

        &.mat-tab-label-active {
            color: #f44336;
        }
    }
}

.right-bar {
    position: absolute;
    width: 300px;
    height: 100%;
    top: 0px;
    right: -300px;
    display: none;
    background: #fff;
    bottom: 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    -webkit-animation: slideOut 0.5s forwards;
    -moz-animation: slideOut 0.5s forwards;
    animation: slideOut 0.5s forwards;
    z-index: 1;

    &.active {
        display: block;
        right: 0px;
        -webkit-animation: slideIn 0.5s forwards;
        -moz-animation: slideIn 0.5s forwards;
        animation: slideIn 0.5s forwards;
    }

    .title {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 15px 0px;
        border-bottom: 1px solid #eee;
        margin: 0 20px;
        height: 55px;
    }

    .close {
        font-size: 16px;
        color: #aaa;
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 10px;
        padding: 4px;
    }

    .body {
        top: 55px;
        bottom: 100px;
        right: 0px;
        left: 0px;
        position: absolute;
        overflow-y: scroll;

        .filter-container {
            padding: 35px 20px;

            .filter-item {
                padding-bottom: 20px;
            }
        }
    }

    .footer {
        bottom: 0px;
        position: absolute;
        padding: 10px 15px;
        width: 100%;
        border-top: 1px solid #ccc;
        padding-bottom: 40px;
        background-color: #fff;

        .btn-update {
            width: 100%;
        }
    }
}

@-webkit-keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideOut {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}
@-moz-keyframes slideOut {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideOut {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}
