<div>
  <div class="nav" (click)="toggleService.toggleNavigation($event)"><span class="icon"></span></div>

  <div class="title">
    <div class="icon -avatar">
      <img src="{{ user.avatar }}" (error)="onAvatarFailed($event)">
    </div>

    <div class="name"><span class="url" uiSref="tasks">{{user.name}}</span></div>
  </div>

<search-control></search-control>

  <div class="main">
    <div class="avp-tabs auto-active-url">
      <div class="tab url" uiSref="tasks.list" uiSrefActive="active">Công việc</div>

      <div class="tab -dd -cmenuw" uiSrefActive="active">Nhân viên của tôi
        <div class="full-mask url"></div>
        <div class="-cmenu -padding -no-icon">
          <div class="-item url" uiSref="tasks.team" uiSrefActive="active">DS công việc</div>
          <div class="-item url" uiSref="tasks.team-report" uiSrefActive="active">Tổng quan</div>
        </div>
      </div>

      <div class="tab -dd -cmenuw" uiSrefActive="active">
        Bộ lọc
        <div class="-cmenu -padding -no-icon js-header-custom-filters">
          <div class="-item url" *ngFor="let filter of filters"
               uiSref="tasks.filters"
               [uiParams]="{queryId: filter.queryId}">{{filter.name}}</div>
          <div class="-item-sep"></div>
          <div class="-item -add" (click)="openFilter()">Thêm bộ lọc tùy chỉnh</div>
        </div>
      </div>

      <div class="tab url" uiSref="tasks.following" uiSrefActive="active">Đang theo dõi</div>
      <div class="tab url" uiSref="tasks.calendar" uiSrefActive="active">Lịch biểu</div>
      <div class="tab url" uiSref="tasks.repeated" uiSrefActive="active">CV lặp lại</div>

    </div>
  </div>
</div>