<div id="avp-group">
  <div id="document" class="screen-sd">
    <div id="background" class="background">
      <div class="bgi"><img src="/assets/avp-icons/AVPCHUANSLOGAN.png"></div>
      <div class="r full-mask"></div>
    </div>
    <div id="master">
      <div id="pagew">
        <div id="page" class="">
          <div class="apps">
            <div class="box clear-fix">
              <div class="pages" id="js-applist">
                <div class="slide" style="left: 0px;">
                  <div class="page page-0" style="left: 60px; width: 900px;">
                    <a class="item" target="_blank"
                       href="http://account.anvietenergy.com:4200"><span class="image"><img
                      src="/assets/avp-icons/account.png"></span><span class="text ap-xdot">AVP
                        Account<em class="ap-xdot">Tài khoản</em></span>
                    </a>
                    <a class="item" target="_blank"
                      href="http://message.anvietenergy.com:4400"><span class="image"><img
                          src="/assets/avp-icons/chat.png"></span><span class="text ap-xdot">AVP
                        Message<em class="ap-xdot">Team Message</em></span>
                    </a>
                    <a class="item" target="_self"
                      href="/avp"><span class="image"><img
                          src="/assets/avp-icons/wework.png"></span><span class="text ap-xdot">AVP
                        Task<em class="ap-xdot">Task Management</em></span>
                    </a>
                    <a class="item" target="_blank"
                      href="http://request.anvietenergy.com:4300"><span class="image"><img
                          src="/assets/avp-icons/request.png"></span><span class="text ap-xdot">AVP
                        Request<em class="ap-xdot">Yêu cầu &amp; Đề xuất</em></span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="footer">
                <div class="dots" id="js-dots">
                  <div class="dot dot-0 active" onclick="Applist.focus(0)"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
