<div id="db-canvas">
  <div id="db-wrapper" *ngIf="loaded">
    <report-filter></report-filter>
    <report-total [reportInfo]="reportInfo"></report-total>
    <report-task [reportInfo]="reportInfo"></report-task>
    <report-by-day [reportInfo]="reportInfo"></report-by-day>
    <report-by-member [reportInfo]="reportInfo"></report-by-member>

  </div>
</div>