<div id="master">
  <div id="pagew">
    <div id="page" class="">
      <div id="project-master" class="forced-scroll scroll-y">
        <div class="relative">
          <div id="project-canvas" class="no-sidebar">
            <report-header id="header"></report-header>
            <div class="content" style="height: 100%">
              <report-main></report-main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>