<div id="project-side">
  <div class="section js-project-overview">
    <div class="overview">
      <div id="js-project-overview">
        <div class="avp-box projinfo">
          <div class="projname">{{name}}</div>
          <div class="projdesc"><span class="icon-desc"></span> <span class="text-a">{{description}}</span></div>
          <div class="avp-row"><span class="ficon-check-square-o icon"></span>
            {{reportData.doneRatio}} hoàn thành
            <div class="v -dd url inline"><b>{{reportData.percentage}}</b>%</div>
          </div>
          <div class="bar -infow">
            <div class="c" style="background-color: #49E33B;" [style.width.%]="reportData.percentage"></div>
          </div>
          <div class="avp-row"><span class="fa fa-bookmark-o"></span>
            <div class="v -full">
              <span class="url" [ngClass]="{'disable': !isAdmin || !editable}"
                    [autoClose]="'outside'"
                    [ngbPopover]="startDatePopover"
                    container="body"
                    placement="bottom"
                    #sdPopup="ngbPopover">{{startDate ? startDate : 'Ngày bắt đầu'}}</span> -
              <span class="url" [ngClass]="{'disable': !isAdmin || !editable}"
                    [autoClose]="'outside'" 
                    [ngbPopover]="deadlinePopover" 
                    container="body" 
                    placement="bottom" 
                    #ddPopup="ngbPopover">{{dueDate ? dueDate : 'Ngày kết thúc'}}</span>
            </div>
          </div>
          <div class="avp-row"><span class="fa fa-folder-o"></span> Bộ phận
            <div class="v -dd url inline"><span class="url">{{department}}</span></div>
          </div>
        </div>
        <div class="subsection" [ngClass]="{'active': showMembers == true}">
          <div class="subheader">
            <div class="icon">
              <div class="icon-desc -left" style="width:12px; margin-top:4px;"></div>
            </div>
            <div class="title -dd url" (click)="showMembers = !showMembers">{{memberCount}} thành viên</div>
            <div class="users" *ngIf="showMembers == false">
              <div class="avatar avatar-32 -circled url" *ngFor="let member of members.slice(0, 10)">
                <div class="image">
                  <img src="{{member.user.avatar}}" (error)="onAvatarFailed($event)">
                </div>
              </div>
              <div class="avatar avatar-32 -circled relative" *ngIf="members.length > 10"><span class="more"><span
                    style="font-size:11px; font-weight:normal; display:block; padding-top:2px;">+{{memberCount - 10}}</span></span>
              </div>
            </div>
          </div>
          <div class="body">
            <div id="js-project-people" class="people">
              <div class="subbox" id="js-sidebox-owners">
                <div class="title"><em>Quản lý dự án</em>
                  <div class="actions" *ngIf="editable">
                    <div class="dd">
                      <div class="cta" (click)="openModal(adminSelector)">Chỉnh sửa</div>
                    </div>
                  </div>
                </div>
                <div class="js-body">
                  <div class="avp-user" *ngFor="let member of admins">
                    <div class="avatar avatar-32 -circled">
                      <div class="image">
                        <img src="{{member.user.avatar}}" (error)="onAvatarFailed($event)">
                      </div>
                    </div>
                    <div class="name">
                      <div class="main"><em class="url username">{{member.user.lastname}} {{member.user.firstname}}</em>
                      </div>
                      <div class="info ap-xdot">{{member.user.title}}</div>
                      <div class="info ap-xdot">{{member.user.mail}}</div>
                    </div>
                    <div class="actions owner">
                      <div class="action">
                        <span class="fa fa-ellipsis-h" (click)="onMemberOptionSelect(member, true)"
                          [autoClose]="'outside'" 
                          [ngbPopover]="memberOptionsPopover" 
                          container="body" 
                          placement="left" 
                          #ddPopup="ngbPopover"></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="subbox" id="js-sidebox-members">
                <div class="title"><em>Thành viên</em>
                  <div class="actions" *ngIf="editable">
                    <div class="dd">
                      <div class="cta" (click)="openModal(memberSelector)">Chỉnh sửa</div>
                    </div>
                  </div>
                </div>
                <div class="js-body">
                  <div class="avp-user" *ngFor="let member of notAdmins">
                    <div class="avatar avatar-32 -circled">
                      <div class="image">
                        <img src="{{member.user.avatar}}" (error)="onAvatarFailed($event)">
                      </div>
                    </div>
                    <div class="name">
                      <div class="main"><em class="url username">{{member.user.lastname}} {{member.user.firstname}}</em>
                      </div>
                      <div class="info ap-xdot">{{member.user.title}}</div>
                      <div class="info ap-xdot">{{member.user.mail}}</div>
                    </div>
                    <div class="actions owner">
                      <div class="action">
                        <span class="fa fa-ellipsis-h"(click)="onMemberOptionSelect(member, false)"
                          [autoClose]="'outside'" 
                          [ngbPopover]="memberOptionsPopover" 
                          container="body" 
                          placement="left" 
                          #ddPopup="ngbPopover"></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--              <div class="subbox" id="js-sidebox-clients" style="display: none;">-->
              <!--                <div class="title"><em>Làm việc với khách hàng</em>-->
              <!--                  <div class="actions"></div>-->
              <!--                </div>-->
              <!--                <div class="js-body"></div>-->
              <!--              </div>-->
            </div>
          </div>
        </div>
        <!--        <div class="subsection">-->
        <!--          <div class="subheader">-->
        <!--            <div class="icon"><span class="ficon-filter"></span></div>-->
        <!--            <div class="title url -dd" data-url=":active:parent:parent">Hoạt động gần đây</div>-->
        <!--            <div class="side"></div>-->
        <!--          </div>-->
        <!--          <div class="body">-->
        <!--            <div id="js-project-acts" class="acts"></div>-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="subsection" [ngClass]="{'active': showStatus == true}">
          <div class="subheader">
            <div class="icon"><span class="fa fa-circle" style="color:#1fb53a"></span></div>
            <div class="title -dd url" (click)="showStatus = !showStatus">Trạng thái</div>
            <div class="side url inline" style="background-color: rgba(31, 181, 58, 0.1); color:#1fb53a">
              {{status.label}}
            </div>
          </div>
          <div class="body">
            <div class="status-history"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section js-team-tasklists" style="display: none;">
    <div id="js-team-tasklists"></div>
  </div>
  <div class="section js-me-overview">
    <div id="js-side-me">
      <div class="avp-box">
        <div class="box-title">Công việc của tôi</div>
        <div class="mstats">
          <div class="stat"><em><span class="s d -bg-alt3"></span>{{reportData.myNew.length}}</em> Phải làm</div>
          <div class="stat"><em><span class="s d -bg-alt5"></span>{{reportData.myInProgress.length}}</em> Đang làm</div>
          <div class="stat"><em><span class="s d -bg-success"></span>{{reportData.myDone.length}}<span></span></em> Hoàn thành
          </div>
        </div>
        <div class="bar -infow">
          <div class="c" style="background-color: #49E33B; width:0%"></div>
          <span class="-infobox -up -w200"><span class="-box block normal">Current completion: 66.67%</span></span>
        </div>
      </div>
      <div class="subsection" [ngClass]="{'active': showWarnings == true}">
        <div class="subheader">
          <div class="icon"><span class="fa fa-asterisk red"></span></div>
          <div class="title -dd url" (click)="showWarnings = !showWarnings"><b class="red ap-f15">Cần lưu ý</b></div>
          <div class="side"><span class="count">{{reportData.myOverdue.length}}</span></div>
        </div>
        <div class="body" id="js-side-attentions">
          <div class="task-elist">
            <div class="itask url" style="padding-right: 50px;" *ngFor="let wp of reportData.myOverdue" 
            [uiSref]="stateName"
            [uiParams]="{task: wp.id}">
              <div class="sicon" [ngClass]="{'-todo': wp.status_id == 1, '-doing': wp.status_id == 7}"></div>
              <div class="iname">{{wp.subject}}</div>
              <div class="iside clear-fix">
                <div class="tlabel -red">quá hạn</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subsection" [ngClass]="{'active': showNews == true}">
        <div class="subheader">
          <div class="icon"><span class="fa fa-inbox"></span></div>
          <div class="title -dd url" (click)="showNews = !showNews">Mới được giao</div>
          <div class="side"><span class="count">{{reportData.myAssigned.length}}</span></div>
        </div>
        <div class="body" id="js-side-assigned">
          <div class="task-elist">
            <div class="itask url" style="padding-right: 50px;" *ngFor="let wp of reportData.myAssigned"
              [uiSref]="stateName"
              [uiParams]="{task: wp.id}">
              <div class="sicon" [ngClass]="{'-todo': wp.status_id == 1, '-doing': wp.status_id == 7}"></div>
              <div class="iname">{{wp.subject}}</div>
              <div class="iside clear-fix">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subsection" [ngClass]="{'active': showAuthored == true}">
        <div class="subheader">
          <div class="icon"><span class="fa fa-inbox"></span></div>
          <div class="title -dd url" (click)="showAuthored = !showAuthored">Giao đi &amp; quá hạn</div>
          <div class="side"><span class="count">{{reportData.authoredAndOverdue.length}}</span></div>
        </div>
        <div class="body" id="js-side-assigning-late">
          <div class="task-elist">
            <div class="itask url" style="padding-right: 50px;" *ngFor="let wp of reportData.authoredAndOverdue"
              [uiSref]="stateName"
              [uiParams]="{task: wp.id}">
              <div class="sicon" [ngClass]="{'-todo': wp.status_id == 1, '-doing': wp.status_id == 7}"></div>
              <div class="iname">{{wp.subject}}</div>
              <div class="iside clear-fix">
                <div class="tlabel -red">quá hạn</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section js-project-stats">
    <div id="js-side-stats">
      <div class="avp-box">
        <div class="box-title">Thông tin chung</div>
        <div class="graph-canvas" *ngIf="reportLoaded == true">
          <doughnut-chart [dataInput]="reportByStatus"></doughnut-chart>
        </div>
        <div class="projstats" style="display:none">
          <div class="mstats">
            <div class="stat"><em>3</em> công việc</div>
            <div class="stat"><em>66.67<span>%</span></em> đã hoàn thành</div>
          </div>
          <div class="bar -infow">
            <div class="c" style="background-color: #49E33B; width:66.67%"></div>
          </div>
        </div>
      </div>
      <div class="avp-box burndown" style="height:200px; display:none" id="js-project-burndown"></div>
      <div class="subsection" [ngClass]="{'active': showOverdue == true}">
        <div class="subheader">
          <div class="icon"><span class="fa fa-exclamation-circle red"></span></div>
          <div class="title url -dd" (click)="showOverdue = !showOverdue">Quá hạn gần đây</div>
          <div class="side"><span class="count">{{reportData.overdue.length}}</span></div>
        </div>
        <div class="body" id="js-side-project-overdues">
          <div class="task-elist">
            <div class="itask url" style="padding-right: 50px;" *ngFor="let wp of reportData.overdue" 
              [uiSref]="stateName"
              [uiParams]="{task: wp.id}">
              <div class="sicon" [ngClass]="{'-todo': wp.status_id == 1, '-doing': wp.status_id == 7}"></div>
              <div class="iname">{{wp.subject}}</div>
              <div class="iside clear-fix">
                <div class="tlabel -red">quá hạn</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subsection" [ngClass]="{'active': showNotStarted == true}">
        <div class="subheader">
          <div class="icon"><span class="fa fa-dot-circle-o -text-orange"></span></div>
          <div class="title url -dd" (click)="showNotStarted = !showNotStarted">Chưa bắt đầu</div>
          <div class="side"><span class="count">{{reportData.new.length}}</span></div>
        </div>
        <div class="body" id="js-side-project-todos">
          <div class="task-elist">
            <div class="itask url" style="padding-right: 50px;" *ngFor="let wp of reportData.new"
              [uiSref]="stateName"
              [uiParams]="{task: wp.id}">
              <div class="sicon" [ngClass]="{'-todo': wp.status_id == 1, '-doing': wp.status_id == 7}"></div>
              <div class="iname">{{wp.subject}}</div>
              <div class="iside clear-fix">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subsection" [ngClass]="{'active': statisticByMembers == true}">
        <div class="subheader">
          <div class="icon"><span class="fa fa-filter"></span></div>
          <div class="title url -dd" (click)="statisticByMembers = !statisticByMembers"> Thống kê theo thành viên</div>
        </div>
        <div class="body">
          <div class="ustats">
            <div class="avp-user" *ngFor="let member of memberReport">
              <div class="name">
                <div class="avatar">
                  <img src="{{member.avatar}}" (error)="onAvatarFailed($event)">
                </div>
                <div class="uname">{{member.lastname}} {{member.firstname}}</div>
                <div class="uinfo ap-xdot"></div>
              </div>
              <div class="stat">
                <div class="avp-label"><em>{{member.done.length}}</em>/<em>{{member.total.length}}</em></div>
                <div class="bar">
                  <div class="c" style="background-color:#49E33B; width: 100%" title="HT đúng hạn: 2"></div>
                  <div class="c" style="background-color:#CEED5F; width: 0%" title="HT muộn: 0"></div>
                  <div class="c" style="background-color:#EB6450; width: 0%" title="Quá hạn: undefined"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #adminSelector let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Chỉnh Sửa Quản Trị Viên</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="tform-dialog">
    <div class="board-add-wrap">
      <div class="inline-form">
        <div class="formbox">
          <user-search-box [multiple]="true"
                           [clearable]="false"
                           [selectedUserIds]="adminIds"
                           (selectItem)="onAdminChanged($event)"
          ></user-search-box>
        </div>
        <div class="buttons">
          <div class="submit" [ngClass]="{'disable': !canSaveAdmin}" (click)="onAddAdmins(modal)">Lưu</div>
          <div class="cancel" (click)="modal.dismiss()">
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #memberSelector let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Chỉnh Sửa Thành Viên</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="tform-dialog">
    <div class="board-add-wrap">
      <div class="inline-form">
        <div class="formbox">
          <user-search-box [multiple]="true"
                           [clearable]="false"
                           [selectedUserIds]="memberIds"
                           (selectItem)="onMemberChanged($event)"
          ></user-search-box>
        </div>
        <div class="buttons">
          <div class="submit" [ngClass]="{'disable': !canSaveMember}" (click)="onAddMembers(modal)">Lưu</div>
          <div class="cancel" (click)="modal.dismiss()">
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deadlinePopover>
  <datetime-popover
    type="due_date"
    [date]="dueDate"
    (onSave)="onUpdateDueDate($event)"></datetime-popover>
</ng-template>

<ng-template #startDatePopover>
  <datetime-popover
    type="start_date"
    [date]="startDate"
    (onSave)="onUpdateStartDate($event)"></datetime-popover>
</ng-template>

<ng-template #memberOptionsPopover>
  <div class="menu">
    <div class="items">
      <div class="hidden item"><span class="icon"><span class="-ap icon-uniF1D8"></span></span>Chat với <b>{{selectingOption.member.user.lastname}} {{selectingOption.member.user.firstname}}</b></div>
      <div class="item"
            (click)="navToUser(selectingOption.member)">
        <span class="icon"><span class="fa fa-user-circle-o"></span></span>Xem profile của <b>{{selectingOption.member.user.lastname}} {{selectingOption.member.user.firstname}}</b></div>
      <div class="item" 
            *ngIf="isAdmin == true && selectingOption.isAdmin == true"
            (click)="onRemoveAdmin(selectingOption.member)">
        <span class="icon"><span class="fa fa-times-circle-o"></span></span>Bỏ quyền quản lý <b> dự án</b>
      </div>
      <div class="item" 
            *ngIf="isAdmin == true && selectingOption.isAdmin == false"
            (click)="onSetAdmin(selectingOption.member)">
        <span class="icon"><span class="fa fa-star-o"></span></span>Set quyền quản lý <b> dự án</b>
      </div>
      <div class="item"
            *ngIf="isAdmin == true"
            (click)="onDeleteMember(selectingOption.member)"><span class="icon">
        <span class="fa fa-trash-o"></span></span>Xóa <b>{{selectingOption.member.user.lastname}} {{selectingOption.member.user.firstname}}</b> khỏi dự án
      </div>
    </div>
  </div>
</ng-template>