<div class="project-app" *ngIf="loaded == true">
  <div id="board" class="project project-board">
    <action-bar [projectId]="projectId" [projectStatus]="projectStatus" (initialized)="onActionBarInitialized($event)"></action-bar>

    <div id="tasklists" class="scroll-y">
      <category *ngFor="let category of categories"
                [category]="category"
                [permission]="permission"
                [editable]="editable"
                [filters]="filters"
                [order]="order"
                (deleted)="onCategoryDeleted($event)"></category>
      <div class="sep-30"></div>
      <div class="sep-30"></div>
      <div class="sep-30"></div>
    </div>
</div>
</div>
