<% html_title t(:department) %>


<%= toolbar(title: t(:departments)) do %>
  <% if current_user.allowed_to?(:manage_kittens, @project) %>
    <li class="toolbar-item">
      <%= link_to(new_plugin_kitten_project_kitten_path, class: 'button') do %>
        <span class="button--text"><%= t(:label_kitten_new) %></span>
      <% end %>
    </li>
  <% end %>
<% end %>

<% if @child_projects.any? %>
  <div id="ntn" class="container">
    <% i = 0 %>
    <% while i < @child_projects.length() do %>
      <% cols = 0 %>
      <div class="row">
      <% while cols < 4 do %>
          <div class="col-sm">
        <% child = @child_projects[i] %>
        <department-tile data-department-name="<%= child.name %>"></department-tile>
        <% cols = cols + 1 %>
        <% i = i + 1 %>
          </div>
      <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>hu hu</p>
<% end %>
