#subheader {
  padding: 16px 20px 0px 20px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1999;
  border-bottom: 1px solid #ddd;
  height: 55px;

  .task-user-add {
    position: relative;
    padding: 8px 20px 18px 70px;
    
    margin-top: -4px;
    height: 45px;

    &.-compact {
      padding-left: 50px;
      float: left;

      .avatar {
        background: rgba(38,124,222,0.9);
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;

        &::before {
          font-family: FontAwesome;
          content: "\f067";
          position: absolute;
          font-size: 20px;
          color: #fff;
          top: -2px;
          left: 5px;
        }
      }

      .sicon {
        text-align: center;
        font-size: 14px;
        color: #888;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 2px;
        background-color: #fff;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
      }
    }

    .avatar, .sicon {
      position: absolute;
      overflow: hidden;
      width: 26px;
      height: 26px;
      left: 10px;
      top: 4px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }

    .txt {
      font-size: 13px;
      color: #aaa;

      .action {
        color: #267cde;
        cursor: pointer;
      }

      .stitle {
        font-size: 14px;
        color: #111;
        font-weight: 500;

        &.url:hover {
          color: #267cde;
          text-decoration: underline;
        }
      }
    }

    .title {
      font-size: 15px;
      font-weight: bold;
      color: #000;
    }
  }

  &:hover {
    .task-user-add.-compact .avatar {
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      background-color: #1c70ce;
    }
  }

  .filter {
    position: relative;
    float: right;
    top: -7px;
  }

  .side {
    position: relative;

    > .dd {
      float: left;
      position: relative;
      color: #999;
      cursor: pointer;
      margin-left: 15px;
      padding: 8px 25px 8px 10px;


      .-cmenu {
        width: 200px;
        right: 0px;
        top: 30px;

        &.date {
          width: auto;
          right: auto;
          
          .custom-day {
            text-align: center;
            padding: 0.185rem 0.25rem;
            display: inline-block;
            height: 2rem;
            width: 2rem;
          }
          .custom-day.focused {
            background-color: #e6e6e6;
          }
          .custom-day.range, .custom-day:hover {
            background-color: rgb(2, 117, 216);
            color: white;
          }
          .custom-day.faded {
            background-color: rgba(2, 117, 216, 0.5);
          }
        }
      }

      &::after {
        color: #888;
        position: absolute;
        font-family: FontAwesome;
        content: "\f0d7";
        right: 9px;
        top: 10px;
      }
    }
    
    > .dd-btn {
      float: left;
      position: relative;
      top: 5px;
      margin-left: 24px;
    }
  }

  .-cmenu {
    .select {
      padding: 3px 0px;
      border-top: 1px solid #eee;

      select {
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        display: block;
        margin: 0;
        border: none;
        background: transparent;
      }
    }

  }

  em {
    font-size: 12px;

    &.active {
      font-weight: 500;
      color: #000;
    }
  }

  .cta {
    float: left;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    background-color: #267cde;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    margin-left: 10px;
    padding: 9px 13px;
    height: 30px;

    &:hover {
      background-color: #42b814;
      color: #fff;
    }
  }
}

.custom-selection {
  > .isearch {
    position: relative;
    border-bottom: 2px solid #eee;

    input {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      display: block;
      padding: 10px 15px 10px 45px;
      margin: 0;
      border: none;
      background: transparent;
    }

    &::after {
      position: absolute;
      font-size: 20px;
      color: #aaa;
      z-index: 1000;
      font-family: FontAwesome;
      content: "\f002";
      left: 15px;
      top: 1px;
    }
  }
}

.board-add-wrap {
  .inline-form {
    .formbox {
      padding: 15px 20px;
    }

    .sep {
      height: 1px;
      background-color: #eee;
    }

    .frows {
      padding: 5px 0;
    }

    .frow {
      position: relative;
      padding: 8px 0 8px 24px;

      .icon {
        position: absolute;
        font-size: 14px;
        color: #333;
        left: 0px;
        top: 7px;
      }

      .input {
        position: relative;
      }

      input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;
      }
    }

    .atts {
      border-top: 1px solid #eee;
      padding: 5px 0;

      .att {
        padding: 5px 20px 5px 20px;
        position: relative;

        .remove {
          position: absolute;
          font-size: 14px;
          cursor: pointer;
          color: #aaa;
          right: 0px;
          top: 5px;
        }

        &::after {
          font-family: "openproject-icon-font";
          content: "\f118"; //"\f1c5"
          position: absolute;
          font-size: 12px;
          color: #aaa;
          top: 5px;
          left: 0px;
        }
      }
    }

    .more {
      color: #aaa;
      font-size: 10px;
      text-transform: uppercase;
      text-align: center;
      padding: 13px 0 5px 0;

      .action {
        color: #888;
        display: inline-block;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:hover {
          color: #267cde;
          text-decoration: underline;
        }
      }
    }

    .buttons {
      overflow: hidden;
      padding: 15px 20px;
      background-color: #f3f3f3;
      border-top: 1px solid rgba(0,0,0,0.05);

      .submit {
        background-color: #267cde;
        color: #fff;
        font-weight: 500;
        font-size: 13px;
        float: left;
        cursor: pointer;
        padding: 8px 10px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;

        &:hover {
          background-color: #63b814;
        }
      }

      .cancel {
        float: left;
        font-size: 20px;
        color: #999;
        cursor: pointer;
        padding: 4px 5px;
        margin-left: 10px;
      }
    }

    textarea {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      display: block;
      margin: 0;
      border: none;
      background-color: #fff;
      padding: 8px 0px;
      font-size: 13px;

      &.-big {
        font-size: 15px;
        font-weight: 500;
      }
    }

    select {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      display: block;
      padding: 0;
      margin: 0;
      border: none;
      background: transparent;
      font-size: 12px;
      height: 20px;
      -webkit-appearance: menulist;
      -moz-appearance: menulist;
      appearance: menulist;
    }
  }
}

#tform-dialog {
  .board-add-wrap {
    .inline-form {
      textarea {
        &.-big {
          font-size: 18px;
          font-weight: normal;
        }
      }

      .more {
        .action {
          border: 1px solid rgba(0,0,0,0.15);
          padding: 6px 10px;
          -moz-border-radius: 15px;
          -webkit-border-radius: 15px;
          border-radius: 15px;
          margin: 0 3px;
          font-size: 11px;

          &:hover {
            font-weight: 500;
            color: #267cde;
            background: rgba(38,124,222,0.1);
          }
        }
      }

      .frow {
        input {
          font-size: 12px;
          height: 20px
        }
      }
    }
  }
}

.dropdown-item {
  .item {
    display: block;
    cursor: pointer;
    font-size: 13px;
    position: relative;
    padding: 8px 10px;
    padding-left: 10px;
    margin: 0 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-left: 40px;

    .image {
      position: absolute;
      overflow: hidden;
      width: 24px;
      height: 24px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      left: 6px;
      top: 5px;

      img {
        width: 24px;
        height: 24px;
      }
    }

    .sub {
      font-size: 12px;
      font-weight: normal;
      opacity: 0.8;
    }
  }
}