.calendar {
  padding: 10px;
}

.__hl_background_type_overdue {
  color: #FFFFFF;
  background-color: #c34343;
}

.__hl_background_type_in_progress {
  color: #FFFFFF;
  background-color: #175A8E;
}

.__hl_background_type_new {
  color: #FFFFFF;
  background-color: #1A67A3;
}

.__hl_background_type_done {
  color: #333333;
  background-color: #35C53F;
}