.task-display {
  .task-comments {
    .avp-box {
      &.comments {
        > .comment {
          .image {
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
            border-radius: 16px;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.avp-box {
  &.comments {
    .avp-comment {
      padding: 13px 15px 13px 60px;
      position: relative;
      border-bottom: 1px solid #fff;
      margin: 0;

      > .text {
        padding-right: 20px;

        b.url {
          font-weight: bold;
        }

        .url {
          font-weight: normal;
          color: #267cde;
        }
      }

      > .actions {
        display: none;
        float: right;
        position: relative;
        z-index: 9999;
        top: 5px;

        .action {
          color: #267cde;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .textarea-wrapper {
        margin-bottom: 10px;
      }

      > .image {
        position: absolute;
        top: 13px;
        left: 15px;
      }

      .content {
        padding-top: 4px;
        color: #888;
        position: relative;

        p, li {
          font-size: 14px;
        }
      }

      &:hover {
        > .actions {
          display: block;
        }
      }
    }

    .comment {
      margin: 0;
    }

    .post {
      .textarea {
        .op-ckeditor--wrapper {
          margin-bottom: 10px;
        }
      }

      .actions {
        float: right;

        .button {
          display: inline-block;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;

          &.save {
            background-color: #42b814;
            color: #fff;

            &:hover {
              background-color: #34960d;
              color: #fff;
            }
          }
        }
      }
    }
  }
}