#repeated-list {
  .table {
    width: 100%;

    .th, .td {
      vertical-align: middle;
    }

    .row {
      margin: 0;
      font-size: 12px;
    }
  }

  .th {
    padding: 10px 0px 10px 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    color: #42b814;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #f6f6f6;
  }

  .td {
    padding: 15px 0px 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    vertical-align: top;
    position: relative;

    &.g {
      text-transform: uppercase;
      color: #111;
      font-weight: 501;
      padding: 13px 20px;
    }
  }

  .main {
    padding-left: 30px;
    position: relative;
    max-width: 450px;

    .name {
      font-size: 15px;
      font-weight: normal;
      color: #267cde;
      cursor: pointer;
      padding-bottom: 4px;
      
      &:hover {
        text-decoration: underline;
      }
    }

    .extra {
      position: relative;
      float: left;
      cursor: pointer;
    }

    .desc {
      font-size: 12px;
      color: #aaa;
    }

    &::before {
      width: 16px;
      height: 16px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-color: #f3f3f3;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#dddddd');
      background: -moz-linear-gradient(top, #f3f3f3 0%,#dddddd 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3),color-stop(100%,#dddddd));
      background: -webkit-linear-gradient(top, color-stop(0%,#f3f3f3),color-stop(100%,#dddddd));
      background: -o-linear-gradient(top, #f3f3f3 0%,#dddddd 100%);
      background: -ms-linear-gradient(top, #f3f3f3 0%,#dddddd 100%);
      background: linear-gradient(top, #f3f3f3 0%,#dddddd 100%);
      box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
      content: "";
      position: absolute;
      top: 2px;
      left: 0px;
    }

    &.-s1::before {
      background-color: #62d336;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62d336', endColorstr='#42b614');
      background: -moz-linear-gradient(top, #62d336 0%,#42b614 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62d336),color-stop(100%,#42b614));
      background: -webkit-linear-gradient(top, color-stop(0%,#62d336),color-stop(100%,#42b614));
      background: -o-linear-gradient(top, #62d336 0%,#42b614 100%);
      background: -ms-linear-gradient(top, #62d336 0%,#42b614 100%);
      background: linear-gradient(top, #62d336 0%,#42b614 100%);
    }
  }

  .freq {
    max-width: 100px;
    
    .d {
      font-size: 14px;
      font-weight: 500;
      color: #267cde;

      &:hover {
        text-decoration: underline;
      }
    }

    .updated {
      font-size: 14px;
      color: #aaa;
    }
  }

  .duration {
    font-size: 11px;
    color: #aaa;
    padding-top: 5px;
  }

  .avp-user {
    position: relative;
    cursor: pointer;
    padding-left: 40px;

    > .avatar {
      position: absolute;
      top: 0px;
      left: 0px;
    }

    > .name {
      font-weight: 500;
      color: #111;
      font-size: 13px;
      padding-bottom: 3px;
    }

    > .title {
      color: #999;
    }
  }

  .select {
    margin-right: 10px;
    position: relative;
  }

  .cta {
    font-size: 16px;
    color: #aaa;
    position: relative;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 34px;
    height: 34px;
    float: right;
  }

  .add {
    color: #267cde;
    cursor: pointer;
    text-transform: none;

    &:hover {
      color: #42b814;
      text-decoration: underline;
    }
  }
}

#repeated-form-dialog {
  .form {
    .row {
      padding-bottom: 15px;
      display: flex;
    }

    .form-buttons {
      padding: 15px 35px;

      .button {
        width: 48%;
        padding: 0.65em;

        &.ok {
          float: right;
          width: 48%;
          margin-right: 0;
        }
      }
    }

    .wrapper {
      .add {
        width: 20%;
        margin-left: auto;
      }
    }
  }
}

.items-editor {
  text-align: left;
  
  thead {
    th {
      padding: 7px 0px 7px 20px;
      background-color: #f3f3f3;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      font-weight: 500;
      font-size: 12px;
      color: #aaa;
      text-transform: uppercase;
    }
  }

  tbody {
    td {
      padding: 0px 0px 0px 0px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      border-right: 1px solid #eee;
      background-color: #fff;

      input {
        margin: 0px;
        font-size: 13px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        display: block;
        border: none;
        padding: 13px 15px 13px 20px;

        &:hover, &:focus-visible {
          border: none;
        }

        &:focus, &:active {
          background: rgba(255,208,0,0.1);
        }
      }

      .count, .remove {
        font-size: 13px;
        color: #aaa;
        text-align: center;
        padding-top: 7px;
      }

      .remove {
        cursor: pointer;

        &:hover {
          color: #267cde;
          text-decoration: underline;
        }
      }
    }

  }
}