.tasks {
  .project .tasklist & {
    .task-wrapper {
      position: relative;

      &::after {
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 0px;
        border-bottom: 1px dotted rgba(0,0,0,0.2);
        content: "";
        position: absolute;
      }
    }
    
    .parent {
      border-bottom: solid 1px #eee;
    }

    .li {
      position: relative;
      padding: 11px 15px 9px 40px;

      &.active {
        font-weight: 500;

        .r {
          background: rgba(38,124,222,0.1);
        }
      }

      .r {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }

      .name {
        cursor: pointer;
        position: relative;
        color: #111;
        padding-right: 250px;
        font-size: 13.5px;

        .mn {
          display: inline-block;
          padding: 1px 0px;
          overflow-x: hidden;

          #project-master.showing-task & {
            max-width: 100%;
          }
        }

        .istats {
          padding-left: 8px;
        }

        .url:hover {
          text-decoration: underline;
        }

        #project-master.showing-task & {
          padding-right: 0px;
          font-size: 13px;
        }

        .active & {
          font-weight: 500;
        }

        .ap-xdot {
          overflow: inherit;
        }
      }

      .xedit {
        position: relative;
        display: none;
        z-index: 1888;
        margin-right: 200px;

        textarea {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          display: block;
          padding: 0;
          margin: 0;
          border: none;
          background: transparent;
          font-size: 15px;
          min-height: 45px;
        }

        .cancel {
          color: rgba(0,0,0,0.5);
          font-size: 12px;
          color: #D96C6C;
          position: absolute;
          right: 0px;
          top: -4px;
          padding: 5px;
        }
      }

      &.done {
        .name {
          color: #498e0b;
        }
      }

      > .check {
        left: 5px;
        top: 11px;
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        color: rgba(0,0,0,0.3);
        width: 26px;
        height: 26px;

        .task-status {
          border-radius: 50%;

          &.done::after {
            left: 5px;
            top: 2px;

            #project-master.showing-task & {
              left: 3px;
              top: 0px;
            }
          }
        }

        #project-master.showing-task & {
          width: 22px;
          height: 22px;
          left: 15px;
        }
      }

      .sicons {
        top: 7px;
        right: 10px;
        font-size: 14px;
        position: absolute;
        cursor: pointer;
        color: #aaa;

        > .icon {
          float: left;
          position: relative;
          padding: 5px 4px;
          width: 14px;

          .fa.fa-star {
            color: #FFD000;
          }
        }

        #project-master.showing-task & {
          display: none;
        }
      }

      .actions {
        display: none;
        position: absolute;
        font-size: 14px;
        color: #aaa;
        right: -2px;
        top: 29px;
        z-index: 100;

        .icon {
          position: relative;
          float: left;
          cursor: pointer;
          display: block;
          padding: 6px;

          &:hover {
            color: #267cde;
          }
        }

        &.popupShowing {
          display: block;
        }
      }

      .timebox {
        position: absolute;
        right: 123px;
        top: 12px;

        .duration {
          padding: 2px 6px;
          font-size: 12.5px;
          color: #999;
          margin-top: -2px;

          em.red {
            font-weight: 500;
          }
        }

        #project-master.showing-task & {
          display: none;
        }
      }

      .assign {
        right: 25px;
        top: 9px;
        position: absolute;
        color: #888;
        cursor: pointer;
        padding-left: 26px;
        padding-top: 4px;
        width: 97px;

        > .avatar {
          width: 22px;
          height: 22px;
          position: absolute;
          overflow: hidden;
          border-radius: unset;
          left: 0px;
          top: 1px;

          .imagew {
            height: 100%;
            img {
              border-radius: 50%;
              width: 21px;
              height: 21px;
              margin-top: -6px;
            }
          }

          > .image {
            overflow: hidden;
          }

          .user-add {
            padding-top: 0px;
          }
        }

        .fname {
          font-size: 12.5px;
          font-weight: normal;

          #project-master.showing-task & {
            display: none;
          }
        }

        #project-master.showing-task & {
          top: 11px;
          width: 20px;
          padding: 0;
          transform: scale(0.8);

          &.-unassign {
            display: none;
          }
        }
      }

      .desc {
        font-size: 12.5px;
        color: #aaa;
        position: relative;
        padding-top: 4px;
        padding-bottom: 3px;
        margin-right: 175px;

        .content {
          position: relative;
          display: block;
          overflow: hidden;
          height: 18px;
          min-width: 100px;

          > .ap-xdot {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 18px;

            > .inner {
              position: absolute;
              padding-top: 2px;
            }
          }
        }

        #project-master.showing-task & {
          padding-top: 3px;
          font-weight: normal;
          margin-right: -15px;
        }
      }

      .labels {
        display: inline-block;
        position: relative;
        margin-right: 5px;
        margin-top: 0px;

        .label {
          padding: 2px 6px;
          -moz-border-radius: 15px;
          -webkit-border-radius: 15px;
          border-radius: 15px;
          display: inline-block;
          text-align: center;
          cursor: pointer;
          font-size: 11px;
          position: relative;
          margin-right: 5px;

          &.std {
            background-color: #eee;
            color: #888;

            &:hover {
              background-color: #d5b0b0;
              color: #fff;
            }
          }

          &.-colorful {
            opacity: 0.9;

            &:hover {
              opacity: 1.0;
              text-decoration: underline;
            }
          }

          &.x-error {
            background: rgba(217,108,108,0.85);
            color: #fff;

            &:hover {
              background-color: #c34343;
            }
          }

          &.x-hl {
            background: rgba(99,184,20,0.85);
            color: #fff;

            &:hover {
              background-color: #63b814;
            }
          }

          &.x-overdue {
            background: rgba(255,193,7,0.9);
            color: #fff;

            &:hover {
              background-color: #F78C15;
            }
          }
        }
      }

      &:hover .actions {
        #project-master.showing-task & {
            display: none;
        }
        display: block;
      }

      #project-master.showing-task & {
        margin-left: 0px;
        padding-left: 50px;
        padding-right: 30px;
      }

      &.editing {
        .r {
          background: rgba(255,208,0,0.1);
        }

        .name {
          font-weight: 500;
          display: none;
        }

        .actions, .desc {
          display: none;
        }

        .xedit {
          display: block;
        }
      }
    }

    .subtasks-wrapper {
      position: relative;
      padding-left: 10px;

      .li {
        padding-left: 50px;
        margin-left: 17px;

        .subtask-icon {
          position: absolute;
          left: 5px;
          top: 6px;

          &::before {
            font-family: FontAwesome;
            content: "\f0da";
            font-size: 10px;
            color: #888;
          }

          #project-master.showing-task & {
            left: 15px;
          }
        }

        .check {
          left: 22px;
          width: 18px;
          height: 18px;

          .task-status.done::after {
            top: -2px;
            left: 1px;

            #project-master.showing-task & {
              top: -2px;
              left: 1px;
            }
          }

          #project-master.showing-task & {
            width: 18px;
            height: 18px;
            left: 27px;
          }
        }

        .name {
          .mn {
            font-size: 13px;
          }
        }

        .assign {
          top: 3px;
        }
      }

      .sublist {
        margin-top: -3px;

        .li {
          .subtask-icon, .check {
            margin-top: -4px;
          }
        }
      }
    }

    .sublist {
      margin-top: -3px;

      .li {
        padding-top: 7px;
        padding-bottom: 7px;

        .name {
          .mn {
            padding: 0px;
          }
        }
      }
    }
  }
}