#mytasks {
  position: relative;
  min-height: 1000px;

  #project-master.showing-task & {
    position: absolute;
    top: -40px;
    left: 0px;
    padding-top: 0px;
    right: 0px;
  }
}

#tasklists {
  padding: 5px 20px;
  min-height: 1000px;
  z-index: 888;
  width: 100%;

  #project-master.showing-task & {
    padding: 0;
    min-height: 0;
    position: absolute;
    top: 120px;
    bottom: 0px;
    left: 0px;
    right: -10px;
    margin: 0;
    overflow-x: hidden !important;
    scrollbar-width: none;
  }

  #board & {
    #project-master.showing-task & {
      top: 80px
    }
  }

  &.scroll-y {
    overflow-y: scroll !important;
  }
}

.tasklist {
  #project-master.showing-task & {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 2px solid rgba(0,0,0,0.1);

    .list-sep {
      padding-left: 15px;
      padding-top: 10px;
    }

    #tasklists & .li {
      margin-left: 0px;
      padding-left: 50px;
      padding-right: 30px;
    }
  }

  .project & {
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;

    .list {
      margin-bottom: 60px;
      position: relative;

      .loader {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        background: rgba(16, 22, 26, 0.29);

        .spinner {
          width: 50%;
          position: absolute;
          height: 50%;
          bottom: 0px;
          right: 0px;

          .spinner-border {
            width: 50px;
            height: 50px;
            font-size: 25px;
          }
        }
      }
    }

    .list-sep {
      :first-child {
        padding-top: 0px;
      }

      font-size: 11px;
      color: #999;
      text-transform: uppercase;
      border-bottom: 1px solid #ddd;
      padding-bottom: 8px;
      padding-top: 15px;
    }

    .group-header {
      position: relative;

      .collapsed {
        font-size: 14px;
        position: absolute;
        color: #aaa;
        top: 6px;
        left: -5px;
        cursor: pointer;
        padding: 5px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
      }

      .title {
        font-size: 15px;
        font-weight: bold;
        color: #111;
        padding: 11px 24px 11px 15px;
        position: relative;

        .name {
          margin-right: 100px;
          font-size: 15px;
          font-weight: bold;
          color: #000;

          .url:hover {
            text-decoration: underline;
          }

          .desc {
            font-size: 12px;
            color: #aaa;
            font-weight: normal;
            padding-top: 1px;
          }
        }
      }

      .right {
        position: absolute;
        font-size: 13px;
        font-weight: normal;
        color: #aaa;
        right: 0px;
        top: 3px;
        text-transform: none;
        max-width: 400px;
        padding-left: 30px;

        .group-cta {
          float: right;
          color: #267cde;
          position: relative;
          padding: 9px 4px 8px 20px;

          &::before {
            font-family: FontAwesome;
            content: "\f067";
            font-size: 16px;
            position: absolute;
            top: 8px;
            left: 4px;
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        .istats {
          float: right;
          display: block;
          font-weight: normal;
          font-size: 13px;
          color: #999;
          padding: 9px 10px;

          em {
            font-weight: 500;
            color: #111;
          }
        }

        .more {
          float: right;
          position: relative;
          font-size: 14px;
          padding: 8px;
          width: 16px;
          height: 14px;
          margin-right: -7px;

          &::after {
            font-family: FontAwesome;
            content: "\f141";
          }
        }

        .-cmenu {
          width: 190px;
          right: 0px;
          top: 28px;
          z-index: 999;
        }
      }
    }

    &.-collapsed {
      .list.tasks {
        display: none;
      }

      .group-header .collapsed {
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
      }
    }
  }
}

#subheader {
  #project-master.showing-task & {
    display: none;
  }
}



.task-status {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(0,0,0,0.4);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  background-color: #fff;

  &.done {
    background-color: #63b814;
    border: 1px solid #57a710 !important;

    &::after {
      position: absolute;
      font-size: 14px;
      font-family: 'FontAwesome';
      content: '\f00c';
      top: 2px;
      left: 2px;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      color: #fff;
    }
  }

}

.-ap, .ap {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list-unordered:before {
  font-family: FontAwesome !important;
  content: "\f0ca";
}

.icon-plus2:before {
  font-family: FontAwesome !important;
  content: "\f067";
}

.icon-plus2:hover {
  color: white;
}

.xdot, .ap-xdot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

