.task-display {
  position: relative;
  z-index: 999;
  min-height: 1300px;
  overflow: hidden;

  .side-body {
    padding: 10px 0;
    margin-bottom: 300px;
    float: right;
    position: relative;
    width: 270px;

    .section {
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.15);
      margin: 0 10px 10px 10px;
      border-radius: 3px;
      box-shadow: 0 2px 1px 0px rgba(0,0,0,0.12);

      .title {
        padding: 10px 15px;
        font-weight: 501;
        font-size: 11px;
        text-transform: uppercase;
        color: #42b814;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid #eee;

        &::after {
          font-family: FontAwesome;
          content: "\f107";
          position: absolute;
          font-size: 14px;
          color: #aaa;
          right: 10px;
          top: 8px;
        }

        .side {
          position: absolute;
          right: 25px;
          top: 10px;
        }
      }

      &.-fit {
        border: none;
      }

      &.collapsed {
        .body {
          display: none;
        }

        .title {
          border: none;

          &::after {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }
    }

    .overdue {
      background: rgba(195,67,67,0.9);
      color: rgba(255,255,255,0.8);
      padding: 15px 10px 15px 50px;
      border-radius: 3px;
      position: relative;
      border: 1px solid rgba(0,0,0,0.15);

      .icon {
        position: absolute;
        font-size: 16px;
        top: 15px;
        left: 20px;
      }

      .avp-label {
        font-weight: 500;
        font-size: 15px;
        color: #fff;
      }

      &.-late {
        background-color: #fce3cf;
        color: #e6751c;

        .avp-label {
          color: #e6751c;
        }
      }
    }

    .p-msg {
      background-color: #d9ffde;
      border: 1px solid #8fc797;
      padding: 13px 10px 13px 40px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      color: #149c26;
      position: relative;
      font-size: 13px;

      &.-orange {
        background-color: #ffeeee;
        color: #ed6334;
        border: 1px solid rgba(237,99,52,0.3);
      }

      &::before {
        font-family: FontAwesome;
        content: "\f06a";
        font-size: 16px;
        position: absolute;
        top: 12px;
        left: 15px;
      }

      em {
        font-weight: 501;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .start {
      background-color: #fff;
      padding: 15px 10px 15px 50px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      position: relative;
      border: 1px solid rgba(0,0,0,0.15);

      .icon {
        position: absolute;
        font-size: 16px;
        color: #42b814;
        top: 15px;
        left: 20px;
      }

      .avp-label {
        font-weight: 500;
        font-size: 13px;
        color: #42b814;
      }

      .info {
        font-size: 12px;
        color: #aaa;
        padding-top: 5px;
      }

      .ctas {
        padding-top: 10px;

        .cta {
          background-color: #42b814;
          color: #fff;
          font-weight: 501;
          //
          font-size: 13px;

          &.fa {
            font-size: 8px;
            vertical-align: middle;
          }

          &:hover {
            background-color: #267cde;
            color: #fff;
            box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
          }
        }

        > div:not(.ie-body) {
          padding: 6px 6px;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          float: left;
          cursor: pointer;
          position: relative;
          margin-right: 3px;
        }

        .cta-less {
          background: rgba(38, 124, 222, 0.1);
          box-shadow: inset 0 0 0 1px rgba(38, 124, 222, 0.3);
          color: #267cde;
          //
          font-size: 13px;

          &:hover {
            background-color: #267cde;
            color: #fff;
            box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
          }
        }
      }
    }

    .assigner {
      .avp-user {
        position: relative;
        padding: 15px 10px 13px 57px;
      }

      .image {
        position: absolute;
        overflow: hidden;
        top: 15px;
        left: 15px;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .name {
        font-size: 13px;
        font-weight: 501;
      }

      .info {
        font-size: 12px;
        color: #aaa;
        padding-top: 6px;
      }
    }

    .exec-rows {
      .row {
        &:first-child {
          border: none;
        }

        padding: 11px 0 11px 0;
        border-top: 1px solid rgba(0,0,0,0.05);
        position: relative;
        font-size: 13px;
        color: #999;
        margin-left: 40px;

        .icon {
          position: absolute;
          font-size: 14px;
          color: #aaa;
          top: 10px;
          left: -25px;
        }

        em {
          color: #111;
          font-weight: 501;
        }
      }
    }
  }

  .main-body {
    margin-right: 270px;
    overflow: hidden;

    .section {
      padding: 20px 0;
      position: relative;
      margin: 0 3%;

      &.task-checklists {
        padding: 0 0 15px 0;
      }
    }
  }

  .followers {
    .user {
      padding: 10px 15px;
      margin-left: 42px;
      position: relative;
      border-bottom: 1px dotted rgba(0,0,0,0.1);

      .avatar {
        position: absolute;
        left: -30px;
        top: 10px;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
      }

      .uname {
        font-weight: 501;
        font-size: 13px;
      }

      .uinfo {
        color: #999;
        font-size: 12px;
        padding-top: 6px;
      }

      .act {
        position: absolute;
        right: 5px;
        top: 10px;
        font-size: 12px;
        cursor: pointer;
        color: #ccc;
        display: none;

        &:hover {
          color: #1157a5;
          text-decoration: underline;
        }
      }

      &:hover {
        .act {
          display: block;
        }
      }
    }

    .buttons {
      padding: 13px 13px;
    }

    .add {
      float: left;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      position: relative;
      height: 24px;
      color: #888;
      cursor: pointer;
      margin-left: 9px;
      margin-top: 3px;

      .icon {
        width: 18px;
        height: 18px;
        float: left;
        display: block;
        position: relative;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-left: -1px;
        margin-top: -1px;

        &::after {
          position: absolute;
          font-size: 16px;
          display: block;
          font-family: FontAwesome;
          content: "\f067";
          top: 0px;
          left: 0px;
        }
      }

      .txt {
        display: block;
        float: left;
        font-size: 10px;
        text-transform: uppercase;
        padding: 3px 5px 3px 0;
        margin-right: 3px;
      }

      &:hover {
        color: #267cde;
        text-decoration: underline;
      }
    }
  }

  .task-header {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    padding-bottom: 3px;
    margin-top: -3px;

    .tags {
      min-height: 22px;
      padding-right: 170px;

      .tag {
        float: left;
        font-size: 11px;
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
        padding: 4px 7px;
        border-radius: 13px;
        -moz-border-radius: 13px;
        -webkit-border-radius: 13px;
        margin-right: 5px;
        margin-bottom: 4px;

        &.-add {
          box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
          background-color: #fff;
          color: #888;
          padding: 4px 8px;

          &:hover {
            background-color: #267cde;
            color: #fff;
          }
        }
      }
    }

    .actions {
      right: 0;
      top: -3px;
      z-index: 999;
      position: absolute;

      .action {
        float: right;
        font-size: 14px;
        color: #aaa;
        cursor: pointer;
        position: relative;
        padding: 6px;

        &.-close {
          margin-top: -1px;
          margin-left: 3px;
          border: 1px solid rgba(0,0,0,0.1);
          border-radius: 16px;
          -moz-border-radius: 16px;
          -webkit-border-radius: 16px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          text-align: center;
          font-size: 16px;
          width: 32px;
          height: 32px;

          &:hover {
            color: #D96C6C;
            background: rgba(217,108,108,0.1);
            border: 1px solid rgba(217,108,108,0.3);
          }
        }

        &.-important1 {
          color: #63b814;
        }

        &.-urgent1 {
          color: #c34343;
        }
      }
    }
  }

  .task-main {
    position: relative;
    padding: 10px 0 20px 0;

    h1 {
      font-size: 22px;
      font-weight: 600;
      padding-bottom: 3px;
    }

    .desc {
      font-size: 13px;
      color: #888;
      padding-top: 7px;

      .url-detail:hover {
        color: #267cde;
        border-bottom: 1px dotted #267cde;
      }

      em {
        color: #333;
      }

      .dd {
        color: #267cde;
        cursor: pointer;
        position: relative;
        display: inline-block;
        padding-right: 16px;
        border-bottom: 1px solid transparent;

        .-items {
          position: absolute;
          display: none;
          top: 20px;
          left: 0;
          width: 200px;
          background-color: #fff;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
          -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
          -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
          padding: 6px;
          z-index: 999;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;

          .-item {
            padding: 6px 10px;
            color: #888;
            cursor: pointer;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;

            &:hover {
              background-color: #267cde;
              color: #fff;
            }
          }
        }

        &.active {
          .-items {
            display: block;
          }
        }

        &::after {
          font-family: FontAwesome;
          content: "\f107";
          position: absolute;
          font-size: 14px;
          right: 0;
          top: -1px;
        }

        &:hover {
          color: #267cde;
          border-bottom: 1px dotted #267cde;
        }
      }

      .deadline {
        display: inline-block;

        em, .em {
          color: #267cde;

          &:hover {
            text-decoration: underline;
          }
        }

        .url {
          display: inline-block;
          position: relative;
        }
      }

      &.origin_link {
        .url {
          color: #267cde;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .edit-form {
    border-left: 3px solid rgba(0,0,0,0.1);
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;

    input {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 100%;
      display: block;
      padding: 0;
      margin: 0;
      border: none;
      background: transparent;
    }

    textarea {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      display: block;
      padding: 0;
      margin: 0;
      border: none;
      background: transparent;

      &.-big {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .row {
      padding: 8px 0;
      margin: 0px;

      .button {
        float: left;
        cursor: pointer;
        padding: 8px 14px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
      }

      .cancel {
        font-size: 20px;
        float: left;
        color: #aaa;
        cursor: pointer;
      }
    }
  }

  .editing .edit-form.edit-content {
    border: none;
    margin-left: 0px;
    padding: 0px;
  }

  .edit-task-name {
    position: unset !important;
  }

  .edit-box {
    position: relative;

    &.compact {
      .edit-form {
        border: none;
        padding: 0;
        margin: 0;

        textarea {
          border: none;
          border-bottom: 2px solid #267cde;
          background-color: transparent;
          padding: 0px 0 8px 0px;
          -moz-border-radius: 0px;
          -webkit-border-radius: 0px;
          border-radius: 0px;
        }

        .edit-ctas {
          padding-top: 13px;
          position: relative;
          padding-bottom: 20px;

          .save {
            background-color: #267cde;
            font-size: 13px;
            font-weight: 500;
            float: left;
            color: #fff;
            padding: 8px 10px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;

            &:hover {
              color: #fff;
              background-color: #63b814;
            }
          }

          .cancel {
            background-color: #eee;
            color: #888;
            float: left;
            padding: 8px 10px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            margin-left: 10px;
            font-size: 13px;
          }
        }

        .row {
          padding: 0;
        }

        .note {
          font-size: 11px;
          color: #D96C6C;
          position: absolute;
          right: 0px;
          top: 18px;

          b:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &.editing {
      .edit-form {
        display: block;
      }
    }

    &.editing .edit-display {
      display: none;
    }
  }

  .task-cta {
    height: 48px;
    position: relative;

    .cta {
      float: left;
      position: relative;
      padding: 12px 20px 13px 40px;
      background: rgba(38,124,222,0.1);
      border-right: 1px solid rgba(38,124,222,0.3);
      height: 48px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      cursor: pointer;
      color: #1157a5;

      &.-done {
        background-color: #63b814;
        border-right: 1px solid rgba(99,184,20,0.4);
        color: #fff;

        .box {
          border: 1px solid rgba(0,0,0,0.1);
          background: rgba(0,0,0,0.1);

          &::after {
            font-family: FontAwesome;
            content: "\f00c";
            color: #fff;
            font-size: 16px;
            position: absolute;
            top: 2px;
            left: 6px;
          }
        }
      }

      &.-in-progress {
        background-color: #5da4ed;
        color: #fff;
      }

      &.-in-review {
        background-color: #ADD302;
        color: #fff;
      }

      .exp {
        position: absolute;
        display: none;
        bottom: 60px;
        left: 0px;
        color: rgba(255,255,255,0.8);
        font-size: 12px;
        font-weight: normal;
        width: 100%;

        .t {
          padding: 4px 6px;
          background: rgba(34,34,34,0.9);
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          position: relative;
          display: block;
          text-align: center;
          max-width: 120px;
          line-height: 17px;
        }

        &:hover & {
          display: block;
        }
      }

      .box {
        border: 1px solid rgba(38,124,222,0.7);
        width: 28px;
        height: 28px;
        background-color: #fff;
        position: absolute;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        left: 15px;
        top: 9px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
      }

      .avp-label {
        font-weight: 500;

        &.with-review::after {
          font-size: 14px;
          position: absolute;
          font-family: FontAwesome;
          content: "\f0d7";
          right: 0;
          top: 7px;
          color: rgba(0,0,0,0.5);
          padding: 6px 8px;
        }
      }

      .lb {
        min-width: 80px;
        padding-left: 15px;
        display: block;
        font-size: 14px;
      }

      &:hover {
        background: rgba(38,124,222,0.3);
      }
    }

    .assign {
      float: left;
      position: relative;
      padding: 8px 20px 8px 60px;

      .avatar {
        position: absolute;
        overflow: hidden;
        top: 8px;
        left: 20px;
        border-radius: 16px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
      }

      .name {
        color: #111;
        font-weight: 500;
        font-size: 14px;
        padding-bottom: 3px;
      }

      .info {
        color: #aaa;
        font-size: 12px;
      }

      &::after {
        font-family: FontAwesome;
        content: "\f0dc";
        font-size: 16px;
        position: absolute;
        color: #aaa;
        right: -13px;
        top: 15px;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: rgba(0,0,0,0.1);
      content: "";
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: rgba(0,0,0,0.1);
      content: "";
    }
  }

  .task-desc {
    padding-top: 20px;
    position: relative;

    .actions {
      position: absolute;
      right: 0;
      top: 13px;
      z-index: 888;

      .action {
        float: left;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        padding: 5px 8px;
        color: rgba(38,124,222,0.8);
        font-size: 12px;

        &:hover {
          color: #267cde;
          text-decoration: underline;
        }
      }
    }

    .title {
      position: relative;
      text-transform: uppercase;
      color: #34960d;
      font-weight: 500;
      padding-bottom: 7px;
      font-size: 13px;
    }

    .desc {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 13px;
      color: #808080;
    }

    .edit-display {
      .desc {
        padding-left: 20px;
        margin-top: 1px;
        position: relative;
        color: #333;

        .icon-desc {
          position: absolute;
          top: 9px;
          left: 0px;
          width: 12px;
        }
      }
    }

    .task-files {
      padding-top: 20px;
      position: relative;
    }

    .files {
      .-box-file {
        padding-top: 5px;
      }

      .li {
        &.-file {
          position: relative;
          font-size: 13px;
          padding: 4px 0 4px 20px;
          margin-top: 2px;

          .icon {
            position: absolute;
            font-size: 14px;
            top: 3px;
            left: 0px;
            opacity: 0.8;
          }

          .name {
            display: block;
            margin-right: 40px;
            color: #000;
            font-weight: normal;

            &:hover {
              color: #267cde;
            }
          }

          .actions {
            position: absolute;
            font-size: 14px;
            top: 0px;
            right: 0px;

            .action {
              float: right;
              padding: 3px 5px;
              margin-left: 3px;
              color: rgba(0,0,0,0.5);

              &:hover {
                color: #267cde;
              }
            }
          }

          &:hover {
            text-decoration: underline;
            color: #267cde;
            background-color: #f3f3f3;
          }

          &::before {
            position: absolute;
            font-size: 14px;
            top: 3px;
            left: 0px;
            opacity: 0.8;
            font-family: "openproject-icon-font";
            content: "\f118";
          }
        }
      }

      .file-preview {
        position: relative;
        float: left;
        width: 15.16%;
        margin-right: 1.5%;
        z-index: 888;

        .inner {
          position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          cursor: pointer;
        }

        .fname {
          position: absolute;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 11px;
          text-align: center;
          display: none;
          top: 0px;
          background: rgba(0, 0, 0, 0.8);
          color: rgba(255, 255, 255, 0.8);
          width: 100%;
          padding: 4px;
          z-index: 100;
          text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

          .txt {
            display: block;
            display: -webkit-box;
            max-height: 48px;
            font-size: 10px;
            line-height: 16px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .preview-img {
          position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          overflow: hidden;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
          -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
          box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
        }

        img {
          width: 100%;
          min-height: 100%;
        }

        .actions {
          position: absolute;
          display: none;
          left: 0px;
          bottom: 5px;
          right: 0px;
          top: auto;

          .action {
            width: 50%;
            padding: 5px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            color: #fff;
            font-size: 10px;
            font-weight: 500;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

            &:hover {
              color: #267cde;
              text-decoration: underline;
            }
          }
        }

        &::before {
          position: relative;
          display: block;
          content: "";
          padding-bottom: 100%;
          width: 100%;
          box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          background-color: #fafafa;
        }

        &:hover {
          .actions {
            display: block;
          }
        }
      }
    }
  }

  .section {
    .subtask-title {
      position: relative;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 20px 0 15px 0;
      border-top: 1px solid rgba(0,0,0,0.1);
    }

    .subtask-action {
      right: 0;
      top: 42px;
      position: absolute;
      font-size: 13px;
      color: rgba(38, 124, 222, 0.8);
      cursor: pointer;

      &:hover {
        color: #267cde;
        text-decoration: underline;
      }
    }
  }

  .subtasks {
    .etaskform {
      .einput {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;

        .minput {
          background-color: #ffffee;
        }
      }
    }

    .etasklist {
      padding: 5px 5px 0 5px;

      .etask-detail {
        padding-left: 28px;

        .echeckbox {
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
        }

        .etask-name {
          margin-right: 110px;
          font-size: 13px;
        }

        .etask-deadline {
          right: 70px;
        }
      }
    }
  }

  .task-comments {
    .top {
      position: relative;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 20px 0 0px 0;
      border-top: 1px solid rgba(0,0,0,0.1);

      > span {
        font-weight: normal;
        font-size: 14px;
        color: #888;
      }
    }

    .avp-box {
      &.comments {
        background-color: #fff;
        margin: 5px -15px;

        .post textarea {
          border: 1px solid rgba(0,0,0,0.15);
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;

          &:focus {
            border: 1px solid rgba(38,124,222,0.75);
            -moz-box-shadow: 0px 0px 3px rgba(38,124,222,0.3);
            -webkit-box-shadow: 0px 0px 3px rgba(38,124,222,0.3);
            box-shadow: 0px 0px 3px rgba(38,124,222,0.3);
          }
        }
      }
    }
  }
}

.task-result {
  border-top: 1px solid rgba(0,0,0,0.1);

  .top {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 18px;
    margin-top: 10px;
  }

  .postform {
    background-color: #fff;
    padding: 5px 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 13px;

    .textarea {
      display: none;
      position: relative;
      //padding-right: 150px;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.1);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      margin: 5px 0;

      .completion {
        display: none;
        position: absolute;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 150px;
        border-left: 1px solid rgba(0,0,0,0.1);
        padding: 15px 20px;

        .avp-label {
          font-size: 11px;
          color: #aaa;
          text-transform: uppercase;
          padding-bottom: 10px;
        }

        .bar {
          position: absolute;
          overflow: hidden;
          bottom: 20px;
          left: 20px;
          right: 20px;
          height: 6px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          background: rgba(0,0,0,0.1);

          .b {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            background: rgba(66,184,20,0.7);
          }
        }

        input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          display: block;
          margin: 0;
          border: none;
          background: transparent;
          padding: 6px 0px;
          text-align: center;
          font-size: 24px;
        }
      }

      textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;
        font-size: 14px;
        padding: 13px 15px;
      }
    }

    .display {
      font-size: 14px;
      color: #333;
    }

    .submit {
      position: relative;
      overflow: hidden;
      display: none;
      margin-top: 10px;
      padding-bottom: 10px;

      .button {
        float: left;
        color: #888;
        font-weight: 500;
        font-size: 12px;
        padding: 8px 15px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: #fff;
        margin-right: 10px;

        &.-cta {
          background-color: #267cde;
          color: #fff;
          border: 1px solid #1c70ce;
        }

        &.-cancel {
          border: 1px solid #e1e68a;
        }
      }
    }

    &:not(.hidden)::before {
      position: absolute;
      top: 5px;
      bottom: 10px;
      left: 5px;
      width: 3px;
      background: rgba(66,184,20,0.8);
      content: "";
    }
  }

  .files {
    .-box-file {
      padding-top: 5px;
    }

    .li {
      &.-file {
        position: relative;
        font-size: 13px;
        padding: 4px 0 4px 20px;
        margin-top: 2px;

        .icon {
          position: absolute;
          font-size: 14px;
          top: 3px;
          left: 0px;
          opacity: 0.8;
        }

        .name {
          display: block;
          margin-right: 40px;
          color: #000;
          font-weight: normal;
          
          &:hover {
            color: #267cde;
          }
        }

        .actions {
          position: absolute;
          font-size: 14px;
          top: 0px;
          right: 0px;

          .action {
            float: right;
            padding: 3px 5px;
            margin-left: 3px;
            color: rgba(0,0,0,0.5);

            &:hover {
              color: #267cde;
            }
          }
        }

        &:hover {
          text-decoration: underline;
          color: #267cde;
          background-color: #f3f3f3;
        }

        &::before {
          position: absolute;
          font-size: 14px;
          top: 3px;
          left: 0px;
          opacity: 0.8;
          font-family: "openproject-icon-font";
          content: "\f118";
        }
      }
    }

    .file-preview {
      position: relative;
      float: left;
      width: 15.16%;
      margin-right: 1.5%;
      z-index: 888;

      .inner {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        cursor: pointer;
      }

      .fname {
        position: absolute;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 11px;
        text-align: center;
        display: none;
        top: 0px;
        background: rgba(0, 0, 0, 0.8);
        color: rgba(255, 255, 255, 0.8);
        width: 100%;
        padding: 4px;
        z-index: 100;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

        .txt {
          display: block;
          display: -webkit-box;
          max-height: 48px;
          font-size: 10px;
          line-height: 16px;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .preview-img {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
        -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
        box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
      }

      img {
        width: 100%;
        min-height: 100%;
      }

      .actions {
        position: absolute;
        display: none;
        left: 0px;
        bottom: 5px;
        right: 0px;
        top: auto;

        .action {
          width: 50%;
          display: block;
          float: left;
          padding: 5px 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-align: center;
          color: #fff;
          font-size: 10px;
          font-weight: 500;
          text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

          &:hover {
            color: #267cde;
            text-decoration: underline;
          }
        }
      }

      &::before {
        position: relative;
        display: block;
        content: "";
        padding-bottom: 100%;
        width: 100%;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: #fafafa;
      }

      &:hover {
        .actions {
          display: block;
        }
      }
    }
  }

  .cta-block {
    margin: 0px 0 0px 0;
    font-size: 13px;
    color: #aaa;
  }

  &.editing {
    .postform {
      background: rgba(255,208,0,0.1);
      border: 1px solid rgba(255,208,0,0.4);
      display: block;
      padding: 15px 20px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }

    .cta-block, .display {
      display: none;
    }

    .textarea, .submit {
      display: block;
    }
  }
}

.etasklist {
  padding-top: 8px;

  .etask-detail {
    border-bottom: 1px dotted #ddd;
    padding: 13px 80px 13px 32px;
    position: relative;

    .echeckbox {
      border: 1px solid #bbb;
      position: absolute;
      cursor: pointer;
      width: 20px;
      height: 20px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      top: 11px;
      left: 0px;
    }

    .etask-name {
      font-size: 14px;
      cursor: pointer;
      margin-right: 150px;
    }

    .etask-deadline {
      position: absolute;
      font-size: 11px;
      color: #aaa;
      top: 11px;
      right: 90px;

      > span {
        display: block;
        border: 1px solid #e5e5e5;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        padding: 2px 5px;
      }
    }

    .etask-user {
      position: absolute;
      color: #888;
      right: 0px;
      top: 10px;
      padding-left: 30px;

      img {
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        top: 1px;
        left: 0px;
      }

      span {
        display: block;
        padding-top: 3px;
        font-size: 13px;
      }
    }

    &.status-1 {
      .echeckbox {
        background: rgba(99,184,20,0.8);
        border: 1px solid #63b814;

        &::after {
          font-family: FontAwesome;
          content: "\f00c";
          color: #fff;
          position: absolute;
          font-size: 12px;
          top: 0px;
          left: 3px;
        }
      }

      .etask-name {
        font-weight: 500;
        color: #63b814;
        text-decoration: line-through;
      }
    }

    .no-assign {
      font-style: italic;
      color: #aaa;
      font-size: 12px;
      position: absolute;
      right: 0px;
      top: 13px;
    }
  }
}

.etaskform {
  position: relative;

  .einput {
    position: relative;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    .minput {
      input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;
        padding: 10px 50px 10px 32px;
        font-size: 13px;
      }
    }

    &::before {
      font-family: FontAwesome;
      content: "\f067";
      position: absolute;
      font-size: 20px;
      color: #aaa;
      top: 3px;
      left: 10px;
    }
  }

  .extra-data {
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: #fafafa;

    .elem {
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      width: 33.3%;
      padding: 0 10px;

      input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        display: block;
        margin: 0;
        border: none;
        background: transparent;
        padding: 5px 5px 5px 22px;
        font-size: 13px !important;
      }

      .fa {
        font-size: 14px;
        color: #aaa;
        position: absolute;
        top: 10px;
        left: 13px;
      }

      &:not(.last)::before {
        position: absolute;
        width: 7px;
        right: 0px;
        top: 20px;
        height: 2px;
        border-left: 2px solid #ddd;
        border-right: 2px solid #ddd;
        content: "";
      }

      &:not(.last)::after {
        position: absolute;
        width: 7px;
        right: 0px;
        top: 15px;
        height: 2px;
        border-left: 2px solid #ddd;
        border-right: 2px solid #ddd;
        content: "";
      }
    }
  }

  .esubmit {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: -2px;
    padding: 7px;
    width: 32px;
    height: 32px;
    opacity: 0.4;

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.avp-box.comments {
  background-color: #f2f2f2;
  font-size: 13px;
  position: relative;

  .arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #F5F6F7;
    position: absolute;
    display: none;
    left: 30px;
    top: -6px;
  }

  > .more {
    padding: 6px 15px 6px 15px;
    color: #267cde;
    position: relative;
    display: none;
    border-bottom: 1px solid #fff;
  }

  .post {
    padding: 15px;
    position: relative;

    .textarea {
      position: relative;
      > .upload {
        position: absolute;
        display: block;
        cursor: pointer;
        font-size: 16px;
        color: #ccc;
        font-weight: normal;
        top: 4px;
        right: 40px;
        padding: 4px 4px;
        width: 16px;
        height: 16px;

        input {
          position: absolute;
          display: block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          display: block;
          padding: 0;
          margin: 0;
          border: none;
          background: transparent;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }

      > .comment-file {
        padding-top: 6px;
        font-size: 12px;
        color: #888;

        em {
          color: #111;
        }
      }

      > .emoji {
        position: absolute;
        display: block;
        cursor: pointer;
        font-size: 16px;
        color: #ccc;
        font-weight: normal;
        top: 4px;
        right: 6px;
        padding: 4px 6px;
        width: 20px;
        height: 20px;
      }
    }

    textarea {
      background-color: #fff;
      padding: 7px 9px;
      padding-right: 50px;
      height: 32px;
      min-height: 36px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      display: block;
      margin: 0;
      border: none;
      background: transparent;
    }
  }
}

.-task-display {

  .task-dialog-header {
    position: relative;
    color: rgba(255,255,255,0.8);
    background-color: #267cde;
    padding: 14px 20px;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;

    .nav {
      font-weight: 500;
      font-size: 14px;
    }

    .close {
      position: absolute;
      font-size: 16px;
      cursor: pointer;
      padding: 8px;
      right: 10px;
      top: 8px;
      z-index: 888;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
    }
  }

  .task-display {
    min-height: 600px;
    background-color: #fff;

    &::before {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 270px;
      bottom: 0px;
      background-color: #f3f3f3;
      border-left: 1px solid rgba(0,0,0,0.1);
      content: "";
    }
  }

  .modal-lg {
    max-width: 1000px;
  }
}