#project-master {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0px;

  &.showing-task {
    right: 78%;
    overflow-x: hidden;
    z-index: 8000;

    #header {
      height: 80px;
    }

    > .relative {
      height: 100%;
    }
  }

  :not(&.showing-task) &::before {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 270px;
    content: "";
    background-color: #f3f3f3;
    border-left: 1px solid rgba(0,0,0,0.1);
  }

  .canvas {
    padding-top: 65px;
  }
}

#project-side-canvas {
  position: absolute;
  overflow: hidden;
  top: 0px;
  width: 270px;
  bottom: 0px;
  background-color: #fff;
  border-left: 1px solid rgba(0,0,0,0.1);
  z-index: 18888;
  right: 0px;
  transition-property: all;
  transition-duration: 0.2s;

  #indicator {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -30px;
    top: 50px;
    z-index: 99999;
    background: #fff;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;

    .fa {
      font-size: 22px;
      padding-top: 4px;
    }
  }

  #project-master.showing-task & {
    display: none;
  }
}

#project-canvas {
  position: relative;
  margin-right: 270px;
  height: 100%;

  #project-master.showing-task & {
    margin-right: 0px;
    overflow: hidden;
    height: 100%;
  }

  &.no-sidebar {
    margin-right: 0;
  }

  > .content {
    padding-top: 65px;
  }

  > .content_member {
    padding-top: 1000px;
  }
}

#project-task-canvas {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 28889;
  background-color: #fff;
  right: 0px;
  top: 0px;
  width: 78%;
  bottom: 0px;

  &::before {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 5px;
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    background-color: #eee;
    content: "";
  }
}

#project-task-scrollable {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#task-canvas-wrapper {
  position: relative;
  margin-left: 5px;
}

#header {
  //position: absolute;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 65px;
  z-index: 10010;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background-color: #fff;
}


.scroll-y {
  overflow-y: scroll;
  scrollbar-width: auto;

  &.forced-scroll {
    overflow-y: scroll !important;
  }
}

.relative, .ap-relative {
  position: relative;
}

.height-1200 {
  min-height: 1200px !important;
}

@media only screen and (max-width: 1200px) {
  #project-side-canvas {
    right: -270px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    overflow: inherit;
    position: fixed;

    #indicator {
      display: block;
    }

    #project-side {
      overflow: auto;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: thin;  /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &.side-showing {
      right: 0;

      #indicator {
        border: 1px solid #ccc;
        border-right: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
      }
    }
  }

  #project-canvas {
    margin-right: 0;
  }
}