.ui-custom-filter {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 6666;
  background: rgba(0,0,0,0.1);

  .wrap {
    background-color: #fff;
    -moz-box-shadow: 0 2px 6px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px 0px rgba(0,0,0,0.2);
  }

  .header {
    padding: 8px 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: relative;

    &.active {
      background: rgba(255,208,0,0.1);
    }

    .txt {
      font-weight: 500;
      font-size: 16px;
      color: #34960d;
    }

    input {
      padding: 10px;
    }

    input {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      display: block;
      padding: 0;
      margin: 0;
      border: none;
      background: transparent;
    }

    .edit-icon {
      position: absolute;
      font-size: 16px;
      color: #aaa;
      right: 36px;
      top: 8px;
      padding: 8px;
      line-height: 1;

      &:hover {
        color: #267cde;
      }
    }

    .close {
      position: absolute;
      font-size: 17px;
      cursor: pointer;
      color: #aaa;
      right: 8px;
      top: 8px;
      padding: 8px;
    }
  }

  .body {
    padding: 20px;
  }

  .select-fx {

    .select-top {
      padding-bottom: 15px;
      height: 45px;

      .text {
        float: left;
        margin-right: 2%;
      }

      ng-select {
        float: right;
        width: 80%;
        right: 0px;
      }
    }

    .select-create {
      padding-top: 10px;

      .select {
        width: 18%;
        float: left;
        margin-right: 2%;
      }

      .input {
        width: 40%;
        float: right;
      }

      .val {
        float: left;
        padding-top: 3px;
        width: 20%;
      }

      .remove {
        font-size: 14px;
        cursor: pointer;
        display: block;
        right: 0px;
        top: 3px;
        padding: 6px;
        line-height: 1;
        float: right;

        &:hover {
          color: #D96C6C;
        }
      }

      .button {
        background-color: #267cde;
        float: right;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        color: #fff;
        font-weight: 500;
        width: 20%;
        height: 35px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        padding: 9px 0;
        margin: 0;
      }
    }

    select {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      display: block;
      padding: 0;
      margin: 0;
      border: none;
      background: transparent;
      -webkit-appearance: menulist;
      -moz-appearance: menulist;
      appearance: menulist;
    }

    select {
      background-color: #f8f8f8;
      border: 1px solid rgba(0,0,0,0.15);
      padding: 7px 10px;
      font-size: 14px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }

    input {
      background-color: #ffff;
      border: 1px solid rgba(0,0,0,0.15);
      padding: 6px 10px;
      font-size: 14px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      height: 31px;
    }
  }

  .query {
    font-family: Consolas, Courier New, Courier New, monospace;
    color: #D96C6C;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background: rgba(255,208,0,0.1);
  }

  .display {
    .item {
      padding: 6px 0 5px 16px;
      position: relative;
      font-size: 13px;

      em {
        font-style: italic;
        color: #34960d;
      }

      .val {
        color: #D96C6C;
      }

      .remove {
        position: absolute;
        font-size: 14px;
        cursor: pointer;
        display: none;
        right: 0px;
        top: 3px;
        padding: 6px;
        line-height: 1;

        &:hover {
          color: #D96C6C;
        }
      }

      &:hover {
        .remove {
          display: block;
        }
      }

      &::before {
        position: absolute;
        top: 15px;
        left: 0px;
        width: 5px;
        height: 5px;
        background: rgba(0, 0, 0, 0.5);
        content: "";
      }
    }

  }

  .footer {
    overflow: hidden;
    padding: 10px 20px 10px 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #eee;

    > div {
      text-align: center;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      font-size: 13px;
      padding: 11px 0;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      width: 48%;
      float: left;

      &.save {
        background-color: #42b814;
        margin-right: 1%;

        &.new {
          width: 100%;
        }

        &:hover {
          background-color: #34960d;
          color: #fff;
        }
      }

      &.cancel {
        margin-left: 1%;
        background-color: #fff;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
        color: #888;

        &:hover {
          background-color: #c34343;
          color: #fff;
        }
      }
    }
  }
}