<div class="tr row" *ngIf="isLoading == false">
  <div class="td col-sm-4">
    <div class="main" [ngClass]="{'-s1': isActivate}">
      <div class="name -item ap-xdot" title="{{subject}}" (click)="open(editForm)">{{subject}}</div>
      <div class="extra -item"><span class="fa fa-flash"></span> {{subTaskCount}} subtasks &nbsp;</div>
      <div class="desc ap-xdot" title="{{description}}">{{description}}&nbsp;</div>
    </div>
  </div>
  <div class="td col-sm-1">
    <div class="freq">
      <div class="d -item pointer ap-xdot" title="{{frequencies}}" (click)="open(editForm)">{{frequencies}}</div>
    </div>
    <div class="duration">{{duration}}</div>
  </div>
  <div class="td col-sm-1">
    <div class="freq">
      <div class="updated -item pointer">{{updatedAt}}</div>
    </div>
  </div>
  <div class="td col-sm-2">
    <div class="avp-user relative ap-inline-tagger-wrap unselectable" title="{{assignee.name}}"
        [style.pointer-events]="canEditAssignee ? 'auto': 'none'"
        [ngbPopover]="usersPopover"
         #userSelector="ngbPopover"
         [autoClose]="'outside'"
         placement="bottom"
         container="body">
      <div class="avatar avatar-32 -circled">
        <div class="image" *ngIf="assignee.avatar">
          <img src="{{assignee.avatar}}" (error)="onAvatarFailed($event)">
        </div>
        <div class="user-add" *ngIf="!assignee.avatar"></div>
      </div>
      <div class="name">{{assignee.name}}</div>
      <div class="title absolute xo" style="right:0px; left:40px;">
        <div class="ap-xdot">{{assignee.title}}</div>
      </div>
    </div>
  </div>
  <div class="td col-sm-2">
    <ng-select [items]="posibleProjects"
      [searchable]="true"
      [clearable]="false"
      [disabled]="disableProjectSelection"
      [(ngModel)]="wpProjectId"
      placeholder="Chọn dự án"
      bindValue="id"
      bindLabel="name"
      (change)="projectChanged($event)"></ng-select>
  </div>
  <div class="td col-sm-1">
    <ng-select [items]="activations"
      [searchable]="false"
      [clearable]="false"
      [disabled]="!isAuthor"
      [(ngModel)]="isActivate"
      placeholder="Chọn trạng thái"
      bindValue="value"
      bindLabel="label"
      (change)="statusChanged($event)"></ng-select>
  </div>
  <div class="td col-sm-1">
    <div class="cta -cmenuw">
      <div class="cdot"><span class="fa fa-ellipsis-h"></span></div>
      <div class="-cmenu -padding -no-icon absolute" style="top:27px; right:0px; width: 150px">
        <div class="-item" (click)="open(editForm)">Chỉnh sửa</div>
        <div class="hidden -item" >Force run</div>
        <div class="hidden -item" >Nhân bản</div>
        <div class="hidden -item" >Chỉnh sửa subtask</div>
        <div class="-item" (click)="openDelete(deleteModal)">Xóa</div>
      </div>
    </div>
  </div>
</div>

<ng-template #editForm let-modal>
  <repeated-task-form [isEdit]="true" [type]="type" [workPackageId]="wpId" [modal]="modal"></repeated-task-form>
</ng-template>

<ng-template #usersPopover>
  <users-selector (onUserSelected)="assigneeChanged($event)"></users-selector>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Xóa công việc</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="__alertdialog">
    <div class="__apdialog">
      <table>
        <tbody>
        <tr>
          <td class="icon">
            <i class="fa fa-exclamation-circle" style="font-size: 42px; color: #c65144"></i>
          </td>
          <td class="text">Bạn có chắc chắn muốn xóa công việc này? Công việc đã xóa sẽ không thể khôi phục lại.</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="__dialogbuttons unselectable">
      <div class="button er confirm-button" (click)="modal.dismiss()">Đóng</div>
      <div class="button ss confirm-button" (click)="modal.close('deleted')">OK</div>
    </div>
  </div>
</ng-template>