<div class="stage dragdrop-zone drop-zone">
  <div class="header">
    <div class="name ap-xdot" title="{{name}}">
      <div class="gicon"><span class="-ap icon-list-unordered"></span></div>
      {{name}}
    </div>
    <div class="count">{{counting}}</div>
    <div class="bar">
      <div class="c" style="width: 0%;" title="0.00% completed"></div>
    </div>
  </div>
  <div class="body">
    <div class="wrap-in">
      <div class="create-form" *ngIf="editable && canCreateWP">
        <div id="js-create-form-0" class="js-tform">
          <div class="board-add-wrap">
            <div class="board-add" (click)="open(createTaskModal)">
              <span class="-ap icon-plus2"></span> Thêm công việc</div>
          </div>
        </div>
      </div>
      <div class="items js-set ui-sortable" #container>
        <task-item *ngFor="let wp of workPackages" 
                    [item]="wp" 
                    [attr.data-work-package-id]="wp.id"
                    view='board'></task-item>
      </div>
    </div>
  </div>
</div>

<ng-template #createTaskModal let-modal>
  <task-create-form [projectId]="projectId"
                    [categoryId]="categoryId"
                    (onSaveSuccess)="onNewTaskCreated($event)"
                    (onDialogClose)="modal.dismiss()"></task-create-form>
</ng-template>

<ng-template #wpModal let-modal>
  <div class="task-dialog-header">
    <div class="nav">
      <div class="url" data-url="testing-project-1-130611">
        <span class="fa fa-angle-left"></span>&nbsp;
        {{selectedWP.subject}}
      </div>
    </div>
    <div class="close" 
          title="Đóng"
          [uiSref]="stateName"
          [uiParams]="{task: null}">
      <span class="fa fa-close"></span>
    </div>
  </div>
  <task-detail></task-detail>
</ng-template>