<div id="master">
  <div id="pagew">
    <div id="page" class="">
      <div id="project-master" class="scroll-y forced-scroll">
        <div class="relative">
          <div id="project-side-canvas" [ngClass]="{'side-showing': sideShowing}">
            <div id="indicator" (click)="sideShowing = !sideShowing">
              <span class="fa fa-bars"></span>
            </div>
            <department-sidebar [department]="department"></department-sidebar>
          </div>
          <div id="project-canvas">
            <department-header [department]="department"></department-header>
            <div class="content" ui-view></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>