.one-panel-item {
  text-align: center;
  margin: 10px 0px 10px;

  cursor: pointer;
  color: rgba(255,255,255,0.3);
  .panel-item-icon {
    span {
      font-size: 32pt;

    }
  }

  .panel-item-label {
    font-weight: 600;
  }

  &:hover {
    color: whitesmoke;
  }

  &.activate {
    color: whitesmoke;
  }

  :host-context(.activate) {
    color: whitesmoke !important;
  }
}
