
<div *ngIf="view != 'board'"
      [ngClass]="{'parent': !isSubtask}">
  <div class="js-task li" *ngIf="item.id != undefined"
       [ngClass]="{'done': isDone,
                   'active': isSelected == true, 
                   'editing': isTitleEditing == true}">
    <div class="subtask-icon" *ngIf="isSubtask == true"></div>
    <div class="r"></div>
    <div class="rsep"></div>
    <div class="name">
      <div class="ap-xdot">
        <div class="mn">
          <span class="url"
                title="Tạo bởi {{ author }} lúc {{ item.createdAt }}"
                [uiSref]="stateName"
                [uiParams]="{task: item.id}">{{ item.subject }}</span>
          <span class="istats"></span>
        </div>
      </div>
    </div>
    <div class="xedit" *ngIf="isSubtask != true">
      <textarea name="name" type="text" placeholder="Sửa công việc" class="__ap_enter_binded" (keyup.enter)="onSaveTitle()" [(ngModel)]="titleEditText"></textarea>
      <span class="cancel url" (click)="onEditTitleCancel()">Hủy</span>
    </div>
    <div class="check url">
      <div class="task-status" [ngClass]="{'done': isDone}" (click)="onStatusChanged()"></div>
    </div>
    <div class=sicons>
      <div class="icon url" title="Đánh dấu ưu tiên" (click)="onFavouriteChanged()">
        <i class="fa" [ngClass]="item.customField12 == true ? 'fa-star': 'fa-star-o'"></i>
      </div>
    </div>
    <div class="actions" [ngClass]="{'popupShowing': isEndDatePopupShowing == true || isStartDatePopupShowing == true}" *ngIf="isSubtask != true" >
    <span class="icon url -infow" ngbPopover="Chỉnh Sửa"
          triggers="mouseenter:mouseleave"
          popoverClass="-infopopup" (click)="onEditTitle()">
      <i class="fa fa-edit"></i>
    </span>
      <span class="icon url -infow"
            [autoClose]="'outside'" [ngbPopover]="deadlinePopover" container="body" placement="bottom" #ddPopup="ngbPopover"
            (shown)="isEndDatePopupShowing = true"
            (hidden)="isEndDatePopupShowing = false">
      <i class="fa fa-calendar"></i>
      <span class="-infobox -up -w200">
        <span class="-box block normal">Deadline</span>
      </span>
    </span>
      <span class="icon url -infow"
            [autoClose]="'outside'" [ngbPopover]="startDatePopover" container="body" placement="bottom" #sdPopup="ngbPopover"
            (shown)="isStartDatePopupShowing = true"
            (hidden)="isStartDatePopupShowing = false">
      <i class="fa fa-play-circle"></i>
      <span class="-infobox -up -w200">
        <span class="-box block normal">Ngày Bắt Đầu</span>
      </span>
    </span>
      <span class="icon url -infow" (click)="onUrgentChanged()"
            ngbPopover="Độ Khẩn Cấp"
            triggers="mouseenter:mouseleave"
            popoverClass="-infopopup">
      <i class="fa fa-exclamation-circle"></i>
    </span>
      <span class="icon url -infow" (click)="onImportantChanged()"
            ngbPopover="Quan Trọng"
            triggers="mouseenter:mouseleave"
            popoverClass="-infopopup">
      <i class="fa fa-bookmark"></i>
    </span>
      <span class="icon url -infow" *ngIf="canDelete" (click)="openDeletePopup(deleteModal)"
            ngbPopover="Xóa Công Việc"
            triggers="mouseenter:mouseleave"
            popoverClass="-infopopup">
      <i class="fa fa-trash-o"></i>
    </span>
    </div>
    <div class="timebox">
      <div class="tx duration">
        <em class="url" [ngClass]="{'red': isExpired(item.dueDate) }">{{ item.dueDate | date: 'dd/MM/yyy' }}</em>
      </div>
    </div>
    <div class="assign url" [ngClass]="assignee ? '-infow' : '-unassign'"
         [ngbPopover]="usersPopover"
         #userSelector="ngbPopover"
         [autoClose]="'outside'"
         placement="bottom"
         container="body">
      <div class="avatar">
        <div class="imagew" [ngClass]="{'image': !assignee}">
          <img *ngIf="assignee" src="{{item._embedded.assignee.avatar}}" (error)="onAvatarFailed($event)">
          <div *ngIf="!assignee" class="user-add" style="text-align: center; display: block;">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="fname ap-xdot" *ngIf="assignee" ngbPopover="{{assignee}}" triggers="mouseenter:mouseleave" popoverClass="-infopopup" container="body">
        {{ assignee }}
      </div>
      <div class="fname ap-xdot" *ngIf="!assignee">
        Giao việc
      </div>
    </div>
    <div class="desc" *ngIf="isSubtask != true" >
      <div class="content">
        <div class="ap-xdot">
          <div class="labels">
            <span class="label tag-alt1-edge js-tag url">{{ projectName }}</span>
            <span class="label std js-tag url" *ngIf="item._embedded.parent != null">Công việc con của {{parent}}</span>
            <span class="label x-error js-tag url" *ngIf="item.customField14 == true">Khẩn cấp</span>
            <span class="label x-hl js-tag url" *ngIf="item.customField13 == true">Quan trọng</span>
            <span class="label std x-overdue js-tag url" *ngIf="isDoneLate">HT sau deadline</span>
            <span class="label std x-error js-tag url" *ngIf="!isDone && isExpired(item.dueDate)">Quá hạn</span>
            <span *ngIf="item.startDate != null" class="label std js-tag url">
            <i class="fa fa-caret-right"></i>
            bắt đầu {{ item.startDate | date: 'dd/MM/yyy'}}
          </span>
            <span class="hidden label tag-alt1 -colorful js-tag url">Nhãn</span>
          </div>
          <span class="inner">{{ description }} - Tạo bởi {{ author }}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isShowSubtasks == true" class="js-subtasks subtasks-wrapper js-subtasks-p3385862">
    <div class="sublist">
      <task-item [item]="subtask" [isSubtask]="true" *ngFor="let subtask of subTasks"></task-item>
      <div class="js-subtasks subtasks-wrapper js-subtasks-p3385863"></div>
    </div>
  </div>
</div>
<div class="item draggable-item" 
    *ngIf="view === 'board'"
    [uiSref]="stateName"
    [uiParams]="{task: item.id}">
  <div class="item-cover">
    <div class="tags clear-fix -collapsed url">
      <div class="tag url urgent" *ngIf="item.customField14 == true"><span>Khẩn cấp</span></div>
      <div class="tag url important" *ngIf="item.customField13 == true"><span>Quan trọng</span></div>
      <div class="tag url overdue" *ngIf="isDoneLate"><span>HT sau deadline</span></div>
      <div class="tag url urgent" *ngIf="!isDone && isExpired(item.dueDate)"><span>Quá hạn</span></div>
    </div>
  </div>
  <div class="item-body relative">
    <div class="cb url">
      <div class="task-status"></div>
    </div>
    <div class="w url"></div>
    <div class="name">{{item.subject}}</div>
    <div class="desc" style="height: 20px">
    </div>
    <div class="info">
      <div class="assign relative url" [ngClass]="{'no-assign': !assignee}">
        <div class="avatar" *ngIf="assignee">
          <img src="{{item._embedded.assignee.avatar}}" (error)="onAvatarFailed($event)">
        </div>
        <div class="deadline ap-xdot" *ngIf="assignee" title="{{assignee}}"><span class="none">{{assignee}}</span></div>
        <div class="deadline ap-xdot" *ngIf="!assignee" title="Chưa được giao"><span class="none">Chưa được giao</span></div>
      </div>
      <div class="icons" *ngIf="item.dueDate != null">
        <span class="icon url">
          <span class="fa fa-clock-o"></span>
          <span class="txt kanban-overdue">&nbsp; {{item.dueDate | date: 'dd/MM/yyy'}}</span>
        </span>
      </div>
    </div>
  </div>
</div>


<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Xóa công việc</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="__alertdialog">
    <div class="__apdialog">
      <table>
        <tbody>
        <tr>
          <td class="icon">
            <i class="fa fa-exclamation-circle" style="font-size: 42px; color: #c65144"></i>
          </td>
          <td class="text">Bạn có chắc chắn muốn xóa công việc này? Công việc đã xóa sẽ không thể khôi phục lại.</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="__dialogbuttons unselectable">
      <div class="button er confirm-button" (click)="modal.dismiss()">Đóng</div>
      <div class="button ss confirm-button" (click)="modal.close('OK')">OK</div>
    </div>
  </div>
</ng-template>

<ng-template #deadlinePopover>
  <datetime-popover
    type="due_date"
    [date]="item.dueDate"
    (onSave)="onUpdateDueDate($event, ddPopup)"></datetime-popover>
</ng-template>

<ng-template #startDatePopover>
  <datetime-popover
    type="start_date"
    [date]="item.startDate"
    (onSave)="onUpdateStartDate($event, sdPopup)"></datetime-popover>
</ng-template>

<ng-template #usersPopover>
  <users-selector [projectId]="projectId"
                  (onOpenExternalUserSelector)="onOpenExternalUserSelector(externalUsers)"
                  (onUserSelected)="onAssigneeChanged($event)"></users-selector>
</ng-template>

<ng-template #externalUsers let-modal>
  <external-users-selector (onSelect)="onAssigneeChanged($event)" (onClose)="modal.dismiss()"></external-users-selector>
</ng-template>