.position-fixed {
    position: fixed;
}

.logo {
    cursor: pointer;
    img {
        width: 40px;
        margin-top: -10px;
    }
    .title {
        padding-right: 20px;
        font-size: 18px;
        font-weight: 400;
        color: #e2ce37;
        text-transform: uppercase;
    }
}

.fa-search{
    color: gray;
}

.input-group{
    border: 1px gray solid;
    border-radius: 3px;
    background-color: #fff;
    padding: 0px 6px;
    align-items: center;

    .icon {
        background: white;
    }

    input {
        border: none;
        font-size: 14px;
        &:focus {
            box-shadow: none;
        }
    }
}

.mat-autocomplete-panel {
    max-height: fit-content;
}

.result-option {
    height: fit-content;
    line-height: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    a {
        padding: 7px 10px !important;
        font-family: Arial, san-serif;
        font-size: 15px;
        color: #666;
        display: block;
        text-decoration: none;

        .req-ctx {
            display: block;
            display: block;
            display: -webkit-box;
            max-height: 40px;
            font-size: 13px;
            line-height: 20px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 4px 0;
        }

        &:hover {
            color: #673ab7;
        }
    }
}