<div class="user-title-creation-dialog">
  <h2 mat-dialog-title>{{ (isUpdate ? 'Cập Nhật Nhóm' : 'management.userGroup.creation.title') | translate }}</h2>
  <mat-dialog-content class="mat-typography">
    <form class="creation-form" [formGroup]="registerForm">
      <mat-form-field class="form-field-fullwidth" appearance="fill">
        <mat-label>{{'management.userGroup.name.title' | translate }}</mat-label>
        <input matInput placeholder="{{ 'management.userGroup.name.title' | translate }}" required
               formControlName="name"
        >
        <mat-error *ngIf="submitted && f.name.invalid">{{'management.userGroup.name.title_required' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field-fullwidth" appearance="fill">
        <mat-label>{{'management.userGroup.directory.title' | translate }}</mat-label>
        <input matInput placeholder="{{ 'management.userGroup.directory.title' | translate }}" required
               formControlName="directory" [attr.disabled]="isUpdate ? '' : null" [readOnly]="isUpdate"
        >
        <mat-error *ngIf="submitted && f.name.invalid">{{'management.userGroup.directory.title_required' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field-fullwidth" *ngIf="isUpdate == false">
        <mat-label>{{'management.userGroup.directory.groupOwner' | translate }}</mat-label>
        <mat-chip-list #chipList aria-label="Owner" formControlName="groupOwner" required="true">
          <mat-chip *ngIf="groupOwner != null"
            [selectable]="true"
            [removable]="true"
            (removed)="removeGroupOwner(groupOwner)">
            {{getFullName(groupOwner)}}
            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
          </mat-chip>
          <input
            *ngIf="groupOwner == null"
            placeholder="{{'management.userGroup.directory.groupOwner_placeholder' | translate}}"
            #groupOwnerInput
            [formControl]="groupOwnerFrmCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="trySelectedGroupOwner($event)">
        </mat-chip-list>
        <mat-error>{{'management.userGroup.directory.groupOwner_required' | translate}}</mat-error>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedGroupOwner($event)">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
            {{getFullName(user)}}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field-fullwidth" *ngIf="isUpdate == false">
        <mat-label>{{'management.userGroup.directory.groupMember' | translate }}</mat-label>
        <mat-chip-list #chipListGroupMember aria-label="Member" formControlName="groupMembers" required>
          <mat-chip
            *ngFor="let member of groupMembers"
            [selectable]="true"
            [removable]="true"
            (removed)="removeGroupMember(member)">
            {{getFullName(member)}}
            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="{{'management.userGroup.directory.groupMember_placeholder' | translate}}"
            #groupMemberInput
            [formControl]="groupMemberFrmCtrl"
            [matAutocomplete]="groupMemberAuto"
            [matChipInputFor]="chipListGroupMember"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="trySelectedGroupMember($event)">
        </mat-chip-list>
        <mat-error >{{'management.userGroup.directory.groupMember_required' | translate}}</mat-error>
        <mat-autocomplete #groupMemberAuto="matAutocomplete" (optionSelected)="selectedGroupMember($event)">
          <mat-option *ngFor="let user of filteredUserMembers | async" [value]="user">
            {{getFullName(user)}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="form-field-fullwidth" appearance="fill">
        <mat-label>{{ 'management.userGroup.directory.description' | translate }}</mat-label>
        <input matInput placeholder="{{ 'management.userGroup.directory.description_placeholder' | translate }}" type="textarea"
               formControlName="description"
        >

      </mat-form-field>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{'management.userGroup.directory.action.cancel' | translate}}</button>
    <button mat-button color="primary" (click)="submitForm()" cdkFocusInitial>{{ (isUpdate ? 'Cập Nhật' : 'management.userGroup.directory.action.create') | translate}}</button>
  </mat-dialog-actions>

</div>
