@import '~@angular/material/theming';
@import '../../../../../core/theme/base';
@include mat-core();

.user-title-creation-dialog {
    width: 450px;

    .form-field-fullwidth {
        width: 100%;
    }

    .spacer {
      flex: 1 1 auto;
    }
}
