#headerPage {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 65px;
  z-index: 10010;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background-color: #fff;

  :after{
    position:absolute;
    right:0px;
    bottom:1px;
    left:0px;
    bottom:10px;
    background: rgba(0,0,0,0.05);
    content:"";}

  .nav{
    position:absolute;
    cursor:pointer;
    color:#aaa;
    top:0px;
    left:0px;
  }

  .nav .icon{
    display:block;
    text-align:center;
    padding:15px 15px;

    :after{
      font-family:ap; content:"\e770";
      font-size:20px;
      display:block;
    }
  }
  .nav:hover{
    color:#267cde;
  }

  .title{
    margin-left:5px;
    padding-left:35px;
    position:relative;
    bottom: 10px;

    .icon{
      position:absolute;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align:center;
      font-size:16px;
      width:32px;
      height:32px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      top:10px;
      left:0px;
      color: rgba(255,255,255,0.6);
      padding:6px 0;
  }

    .star{
      position:absolute;
      font-size:14px;
      color:#aaa;
      cursor:pointer;
      margin-top:-4px;
      margin-left:5px;
      padding:5px;
      width:14px;

      :after{
        font-family:ap; content:"\e92d";
        font-size:14px;
        display:block;
      }
    }


}
  .title .icon.-bg-alt0{
    background-color: #267cde;
  }

  .title .icon.-svg{
    background-color: #267cde;
    text-align:center;
    padding-top:7px;
  }

  .title .icon.-avatar{
    overflow:hidden;
    background-color: #eee;
    padding:0;
  }

  .title .icon.-avatar img{
    width:32px;
    height:32px;
    display:block;
  }

  .title .icon .image{
    position:absolute;
    text-align:center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:32px;
    height:32px;
    top:0px;
    left:0px;
    background-color: #f3f3f3;
    padding-top:5px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
  }

  .title .icon .image img{
    width:16px;
    height:16px;
  }

  .title .icon.-svg svg{
    width:14px;
    height:14px;
    fill:rgba(255,255,255,0.8);
  }

  .title .name {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0;
  }

  .title .name .url:hover {
    text-decoration: underline;
  }

  .title .name -close {
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    color: #c03939;
    background: rgba(195, 67, 67, 0.1);
    padding: 1px 4px;
    border-radius: 2px;
    margin-top: -2px;
  }

  .title .star.-star:after{
    font-family:ap; content:"\e92f";
    color:#FFD000;
  }

  .main{
    position:absolute;
    bottom:0px;
    left:80px;
    top: 20px;
    .tabs{
      .fslide{
        width:1000px;
      }

      .tab{
        cursor:pointer;
        position:relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-weight:normal;
        font-size:11px;
        color:#aaa;
        text-transform:uppercase;
        float:left;
        padding:11px 10px;

        .-cmenu{
          text-transform:none;
          width:180px;
          top:31px;
        }

        .icn{
          margin-right: 3px;
          color:#999;
          display:none;
          position:absolute;
        }

        .sub{
          font-weight:normal;
          font-size:11px;
          display:inline-block;
          color:#aaa;
          text-transform:none;
          padding-left:3px;
        }

        .tab-label:hover{
          color:#267cde;
        }
      }

      .tab.-dd{
        padding-right:26px;

        :after{
          position:absolute;
          font-size:12px;
          font-family:ap; content:"\f05b";
          right:10px;
          top:10px;
        }
      }
    }
  }

  .main .tabs .tab.active, #header .main .tabs .tab.df.active{
    font-weight:500;
    color:#267cde;
  }

  .main .tabs .tab.active:before{
    position:absolute;
    left:10px;
    right:10px;
    bottom:-1px;
    height:2px;
    background-color: #267cde;
    content:"";
  }

  .main .tabs .tab.back{
    text-transform:none;
    font-weight:500;
    font-size:16px;
    margin-top:-4px;
    padding-left:45px;
  }

  .main .tabs .tab.back:before{
    position:absolute;
    font-size:20px;
    font-family:ap; content:"\f129";
    left:10px;
    top:8px;
  }

  .side{
    position:absolute;
    right:20px;
    top:15px;
    z-index:999;

    .buttons{
      float:left;
      box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
      -moz-border-radius: 16px;
      -webkit-border-radius: 16px;
      border-radius: 16px;
      overflow:hidden;
      font-size:12px;
      color:#267cde;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #fff;
      height:31px;

      .button{
        padding:9px 13px;
        border-right:1px solid rgba(0,0,0,0.1);
        float:left;
        font-size:12px;
        font-weight:500;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height:31px;

        :last-child{
          border:none;
        }

        span{
          font-size:14px;
        }

        :hover{
          color:#fff;
          background-color: #267cde;
        }


      }

    }

    .cta-edge{
      color:#267cde;
      float:left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      cursor:pointer;
      z-index:999;
      margin-left:15px;
      -moz-border-radius: 17px;
      -webkit-border-radius: 17px;
      border-radius: 17px;
      padding:8px 15px;
      background: rgba(38,124,222,0.1);
      height:31px;
      font-size:13px;
      font-weight:normal;
      box-shadow: inset 0 0 0 1px rgba(#267cde,0.2);

      :hover{
        background-color: #267cde;
        color:#fff;
      }
    }

    .search{
      color:#888;
      float:left;
      position:relative;
      z-index:999;
      margin-left:10px;

      .close{
        position:absolute;
        cursor:pointer;
        display:none;
        right:10px;
        top:10px;
        z-index:888;

        :hover{
          color:#267cde;
        }
      }

      :before{
        font-family:ap; content:"\f162";
        position:absolute;
        font-size:14px;
        left:10px;
        top:10px;
      }
    }

    .cta{
      float:left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      cursor:pointer;
      z-index:999;
      margin-left:15px;
      -moz-border-radius: 17px;
      -webkit-border-radius: 17px;
      border-radius: 17px;
      padding:8px 15px;
      background-color: #267cde;
      height:31px;
      color: rgba(255,255,255,0.8);
      font-size:13px;
      font-weight:500;

      :hover{
        background-color: #63b814;
        color:#fff;
      }
    }

    .icon{
      float:left;
      font-size:14px;
      color:#aaa;
      cursor:pointer;
      margin-left:10px;
      text-align:center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width:32px;
      height:32px;
      -moz-border-radius: 16px;
      -webkit-border-radius: 16px;
      border-radius: 16px;
      border:1px solid #ddd;
      padding:8px 0;

      .-cmenu{
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        right:0px;
        top:35px;
        width:200px;
        padding:4px;

        :before{
          top:-13px;
          height:15px;
        }
      }
    }
  }
  .side .search input{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    display:block;
    padding:0;
    margin:0;
    border:none;
    background:transparent;
  }

  .side .search input{
    border:1px solid rgba(0,0,0,0.1);
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    padding:7px 10px 7px 32px;
    width:200px;
    font-size:13px;
    -webkit-transition-property: all; -moz-transition-property: all;
    -o-transition-property: all; transition-property: all; -webkit-transition-duration: 0.2s; -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s; transition-duration: 0.2s;
  }

  .side .search input:active, #header .side .search input:focus{
    width:240px;
    border:1px solid #7aa5d5;
  }


}