#master {
  position: absolute;
  padding: 0;
  z-index: 100;
  bottom: 0px;
  left: 210px;
  right: 0px;
  top: 0px;
  z-index: 999;
}

#pagew {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 800;
}

#page {
  position: relative;
  height: 100%;
}

#project-page-master.simple:before{
  display:none;
}

#project-page-master{
  position:absolute;
  top:0px;
  left:0px;
  right:0;
  bottom:0px;

  :before{
    position:absolute;
    right:0px;
    top:0px;
    bottom:0px;
    width:270px;
    content:"";
    border-left:0px solid rgba(0,0,0,0.1);
  }


}

#project-page-master .project-app, #project-page-master > .canvas{
  padding-top:65px;
}

.table table {
  width: 100%;
}

.-bg-alt1 {
  background-color: #267cde;
}

.-tavatar {
  text-align: center;
}

#db-canvas{
  min-height:1000px;
  //background-color: #f1f1f1;
  padding:20px;

  .db-header{
    background-color: #fff;
    -moz-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.05);
    box-shadow: 0 2px 3px 0px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:20px;

    .filters{
      display:flex;
      flex-wrap:nowrap;
      height:42px;
    }

    .filter.-dd:after{
      font-family:ap; content:"\e10f";
      font-size:16px;
      position:absolute;
      color:#aaa;
      top:13px;
      right:13px;
    }

    .filter{
      flex: 1 1;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position:relative;
      cursor:pointer;
      color:#999;
      padding:15px 20px;
    }
  }

  .box {
    .table {
      padding: 0 15px;

      thead {
        th {
          padding: 10px 0;
          text-align: left;
          border-bottom: 1px solid #eee;
          border-top: 0;
          font-weight: 500;
          font-size: 12px;
          color: #999;
          position: relative;

          > div {
            position: absolute;
            text-transform: uppercase;
            font-size: 10px;
            top: 10px;
            left: 0px;
            right: 10px;
          }
        }
      }

      tbody {
        td {
          padding: 10px 0;
          border-bottom: 1px solid #eee;
        }
      }

      .wrapper {
        position: relative;
        margin-right: 10px;
      }

      .obj {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        padding-left: 45px;

        .icon {
          width: 32px;
          height: 32px;
          overflow: hidden;
          position: absolute;
          left: 0px;
          top: 0px;
        } 

        .name {
          font-size: 14px;
          font-weight: 500;
        }

        .info {
          font-size: 12px;
          color: #999;
          padding-top: 3px;
        }
      }
    }
  }
}
#db-wrapper{
  max-width:1200px;
  margin:auto;
}

.-tavatar .-txt {
  color: #fff;
  display: block;
  text-transform: uppercase;
}