@import '~@angular/material/theming';
@import '../../theme/base';
@include mat-core();




.one-left-panel {
  height: 100%;
  width: 96px;
  float: left;
  background-color: #182320; //mat-color($primary);

  .padding {
    margin-top: 12px;
  }

  .left-logout {
    bottom: 0px;
    width: 96px;
    position: absolute;
  }

  .one-panel-item {
    margin-top: 30px;
  }

  .left-avatar {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    cursor: pointer;
  }
}




