<div id="collection" class="memberlist">
  <div id="list-project" class="avp-table">
    <table class="table table-striped" style="margin-top: 50px;background-color: #EEEEEE;">
      <thead>
        <tr style="background-color: white;">
          <th style="width:5px">&nbsp;</th>
          <th scope="col" style="width: 45%; padding-left: 35px;">HỌ VÀ TÊN</th>
          <th scope="col" style=" width: 20%">LIÊN HỆ</th>
          <th scope="col" style="width: 25%">&nbsp;</th>
          <th scope="col" style="width: 10%">&nbsp;</th>
        </tr>
      </thead>
      <tbody style="background-color: white;">
        <tr class="li js-project" *ngFor="let member of users">
          <td></td>
          <td>
            <div class="avp-user">
              <div class="avatar avatar-32 -circled">
                <div class="image">
                  <img src="{{member.avatar}}" (error)="onAvatarFailed($event)">
                </div>
              </div>
              <div class="title url" title="{{member.name}}" [uiSref]="view.MEMBER"
                [uiParams]="{memberId: member.id}">{{member.name}}</div>
              <div class="info ap-xdot">{{member.title}}</div>
            </div>
          </td>
          <td style="padding: 10px;">
            <div style="font-weight: normal;font-size: 12px;" title="{{member.mail}}">{{member.mail}}</div>
          </td>
          <td></td>
          <td style="padding: 10px;">
            <div class="buttons -two clear-fix -std" [uiSref]="view.MEMBER" [uiParams]="{memberId: member.id}">
              <div class="button url">▷ Chi tiết</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footer">
      <div class="avp-pagination" style="margin-right: 15px;">
        <ngb-pagination [collectionSize]="pageInfo.total" 
                        [(page)]="pageInfo.page" 
                        [maxSize]="pageInfo.maxSize" 
                        [pageSize]="pageInfo.size"
                        (pageChange)="onPageChange($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</div>