@import '~@angular/material/theming';
@import '../../../../core/theme/base';
@include mat-core();

.personal-header-component {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;

  .header-name {
    font-size: 16pt;
    display: inline-block;
    float: left;
    padding-top: 10px;

    .one-user-name {
      text-transform: uppercase;
      display: inline-block;
    }

    .one-title {
      text-transform: uppercase;
      display: inline-block;
    }
  }

  .action-bar {
    float: right;
  }
}
