<div class="personal-header-component">
  <div class="header-name">
    <div class="one-user-name">{{userInfo.lastName}} {{userInfo.firstName }}</div>
    <div class="one-title"> &nbsp; - {{userInfo.attributes['avp_title']}}</div>
  </div>
  <div class="header-filter-list">

  </div>
  <div class="action-bar">
    <button *ngIf="isAdmin || isMine" mat-raised-button color="primary" (click)="createUserClick()">Sửa Tài Khoản</button>
  </div>
</div>
