.attribute-item {
    border-bottom: 1px solid #eee;
    
    .r {
        padding-top: 4px;
        color: #ccc;
    }

    .name {
        font-size: 14px;
    }

    .is-required {
        text-transform: uppercase;
        font-weight: 500;
        color: #ccc;

        span {
            font-size: 14px;
        }

        &.required {
            color: #f44336;
        }
    }

    .type {
        width: 80px;
        text-align: center;
        padding-top: 2px;
        border-radius: 5px;
    }

    .options {
        display: none;
        padding-top: 8px;

        .opt {
            cursor: pointer;
            color: #ccc;
            float: left;
            margin-left: 5px;
    
            &:hover {
                color: #9400d3;
            }
        }
    }

    

    &:hover {
        .options {
            display: block;
        }
    }
}