<div class="list list-notis">
  <div class="-arrow"></div>
  <div class="-title">Thông báo</div>
  <div id="notis-items-w" class="notis-items-w">
    <div id="base-notis-scroll" class="notis-scroll __set __apscrollbar_parent">
      <div class="scrollin absolute __apscrollbar_target __regular __scrolled" style="inset: 0px -12px 0px 0px;"
        id="_uuid48493_90256_1609606958">
        <div class="__apscrollbar_wrap">
          <div id="base-notis-items">
            <div *ngFor="let notification of notifications"
                 class="li url notis"
                 [ngClass]="{'unread': notification.status == 0}"
                 (click)="goTo(notification)">
              <div class="avatar avatar-40 -circled">
                <div class="image"><img src="{{notification.avatar}}" (error)="onAvatarFailed($event)">
                </div>
              </div>
              <div class="text">
                <div class="-title" [innerHTML]="notification.title"></div>
                <div class="content" style="font-size: 12px;" [innerHTML]="notification.content"></div>
                <div class="info">{{notification.datetime}}</div>
              </div>
            </div>
          </div>
          <div class="sep-20"></div>
          <div class="sep-20"></div>
          <div class="sep-10"></div>
        </div>
      </div>
      <div id="_uuid48493_90256_1609606958__apscrollbar" class="__apscrollbar">
        <div class="scroller ui-draggable ui-draggable-handle active" style="top: 0px; height: 50px; left: 0px;">
          <div class="sinner" style="height: 49px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="-more std" (click)="loadMore()">Tải thêm</div>
</div>