<div class="db-title">Báo cáo theo Dự án</div>
<div class="db-grid" data-col="10">
  <div class="box std" data-col="7,5" style="width: 70%;">
    <div class="inner">
      <div class="header">
        Báo cáo chi tiết theo Dự án
        <div class="side" (click)="exportAsXLSX()">
          <div class="download url">
            <span class="-ap icon-download"></span> Xuất báo cáo excel
          </div>
        </div>
      </div>
      <div class="body -fit">
        <div class="scrollbox scroll-y -smaller">
          <div class="table xo">
            <table>
              <thead>
                <tr>
                  <th>Dự án</th>
                  <th style="width:74px;">
                    <div class="ap-xdot" title="Công việc">Công việc</div>
                  </th>
                  <th style="width:74px;">
                    <div class="ap-xdot" title="Hoàn thành">Hoàn thành</div>
                  </th>
                  <th style="width:74px;">
                    <div class="ap-xdot" title="Quá hạn">Quá hạn</div>
                  </th>
                  <th style="width:74px;">
                    <div class="ap-xdot" title="Đang thực hiện">Đang thực hiện</div>
                  </th>
                  <th style="width:74px;">
                    <div class="ap-xdot" title="Đang đánh giá">Đang đánh giá</div>
                  </th>
                </tr>
              </thead>

              <tbody id="js-report-projects">
                <tr *ngFor="let project of reportProject">
                  <td>
                    <div class="wrapper" style="height:40px;">
                      <div class="obj">
                        <div class="icon">
                          <div class="-tavatar -bg-alt1" style="line-height: 32px; width: 32px; height: 32px"><span
                              class="-txt">{{project.avatar}}</span></div>
                        </div>
                        <div class="name ap-xdot url">
                          <span class="url">{{project.name}}</span></div>
                        <div class="info ap-xdot">{{project.description}}</div>
                      </div>
                    </div>
                  </td>
                  <td><span class="count">{{project.total}}</span></td>
                  <td><span class="count" style="color:#14cc3f">{{project.doneTask}}</span></td>
                  <td><span class="count" style="color:#f54e3b">{{project.overdueTask}}</span></td>
                  <td><span class="count" style="color:#389dd9">{{project.inProgressTask}}</span></td>
                  <td><span class="count" style="color:#751de0">{{project.inReview}}</span></td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>

      </div>
    </div>
    <div class="s" style="padding-bottom:51.2%"></div>
  </div>
  <div class="box std" data-col="3,5" style="width: 30%;">
    <div class="inner">
      <div class="header">Báo cáo tổng hợp dự án<div class="side"></div></div>
      <div class="body">
        <doughnut-chart [dataInput]="reportByStatus"></doughnut-chart>
      </div>
    </div>
    <div class="s" style="padding-bottom:122%"></div>
  </div>
</div>