<div id="master">
  <div id="pagew">
    <div id="page" class="">
      <projects-header id="header"></projects-header>
      <div id="project-master" class="forced-scroll scroll-y">
        <div class="canvas" ui-view></div>
      </div>
    </div>
  </div>
</div>