.list-notis {
    height: 100%;

    .title {
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        z-index: 9;
    }

    .notis-items {
        overflow-y: auto;        

        .-title {
            font-size: 15px;
            font-weight: 500;
        }

        .noti-item {
            display: flex;
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid #fff;

            .text {
                padding-left: 20px;
            }

            &:hover {
                background-color: #eee;
            }

            &.unread {
                background: #e8f2f7;

                &:hover {
                    background-color: #F5FCFF;
                }
            }
        }
    }

    .-more {
        background: #fff;

        .btn-load-more {
            width: 100%;
        }
    }
}