<div id="db-canvas" class="members">
  <div class="db-header" style="margin: 0;">
    <div class="filters">
      <div class="filter -dd -cmenuw">
        Từ: <em>{{filteredDate}}</em>
        <div class="-cmenu -padding -no-icon" style="right: auto; left: auto;">
          <ngb-datepicker #dp [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
          </ngb-datepicker>
        </div>
      </div>

      <div class="filter -dd -cmenuw">
        <em [ngClass]="{'active selected': selected.project.isDefault != true}">{{selected.project.label}}</em>
        <div class="-cmenu -padding -no-icon js-projects xo" style="left: 0;">
          <div class="-item-filter hidden">
            <input type="text" name="js-search-pfilter" placeholder="Lọc nhanh">
          </div>
          <div class="js-all-projects-filter" style="max-height:300px; margin:0 -10px; padding:0 10px; overflow-y: auto;">
            <div class="-item url" *ngFor="let project of projects" (click)="onChangeProject(project)"
              [ngClass]="{'active selected': selected.project.value == project.value}">{{project.label}}</div>
          </div>
        </div>
      </div>

      <div class="filter -dd -cmenuw" >
        <em [ngClass]="{'active selected': selected.status.isDefault != true}">{{selected.status.label}}</em>
        <div class="-cmenu -padding -no-icon">
          <div class="-item url" *ngFor="let status of statuses"  (click)="onChangeStatus(status)"
               [ngClass]="{'active selected': selected.status.value == status.value}">
            {{status.label}}
          </div>
        </div>
      </div>

      <div class="filter -dd -cmenuw">
        <em [ngClass]="{'active selected': selected.ordering.isDefault != true}">{{selected.ordering.label}}</em>
        <div class="-cmenu -padding -no-icon" style="left: 0;">
          <div class="-item url" *ngFor="let ordering of orders"
            [ngClass]="{'active selected': selected.ordering.value == ordering.value}"
            (click)="onChangeOrder(ordering)">{{ordering.label}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day" [class.range]="isRange(date)"
    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
    (mouseleave)="hoveredDate = null" (click)="onDateSelection(date)">
    {{ date.day }}
  </span>
</ng-template>