.one-star.tool-bar {
    display: inline-block; 
    width: 48px; 
    height: 100%; 
    background-color: #292926; 
    z-index: 10;
    padding-top: 48px;
}
.one-star.one-star.tool-bar .tool-bar-item {
    height: 48px; 
    text-align: center; 
    width: 48px;
    font-size: 14pt;
    vertical-align: middle;
}

.one-star.one-star.tool-bar .tool-bar-item.tool-bar-item--color.activate {
    color: aliceblue;
}

.one-star.one-star.tool-bar .tool-bar-item.tool-bar-item--color {
    color: var(--primary-font-color);
}

.one-star.one-star.tool-bar .tool-bar-item.tool-bar-item--color .dark {

}