#avp-custom-root-menu
  .d-none
    display: none
  .box-setting
    padding-bottom: 30px
  .box
    border: unset
    margin: unset
    a
      line-height: unset
    .title
      text-transform: uppercase
      font-weight: 500
      font-size: 12px
      position: relative
      color: rgba(255,255,255,0.25)
      margin-top: 13px
      .label
        cursor: pointer
        display: block
        font-size: 11px
        padding: 8px 0px 8px 20px
        margin-right: 25px
        background: unset
      &:before
        font-family: "openproject-icon-font" !important
        content: "\f107"
        position: absolute
        font-size: 11px
        right: 10px
        top: 7px
        -webkit-transition-property: all
        -moz-transition-property: all
        -o-transition-property: all
        transition-property: all
        -webkit-transition-duration: 0.2s
        -moz-transition-duration: 0.2s
        -o-transition-duration: 0.2s
        transition-duration: 0.2s
      .icons
        position: absolute
        font-size: 14px
        display: none
        right: 25px
        top: 0px
        .icon
          float: left
          display: block
          cursor: pointer
          padding: 6px
          &:hover
            color: #267cde
    &.-home
      .title
        margin-top: 5px
    &.collapsed
      .title
        //color: rgba(255,255,255,0.8)
        &:before
          transform: rotate(270deg)
          -ms-transform: rotate(270deg)
          -webkit-transform: rotate(180deg)
          -o-transform: rotate(270deg)
          -moz-transform: rotate(270deg)
          right: 12px
    &:hover
      .title
        .icons
          display: block
    .li
      position: relative
      font-size: 13px
      font-weight: normal
      cursor: pointer
      display: block
      padding: 8px 10px 8px 45px
      color: rgba(255,255,255,0.7)
      .name
        display: block
      &:hover
        background: rgba(255,255,255,0.1)
        color: #fff
      .icon
        position: absolute
        font-size: 16px
        top: 9px
        left: 20px
        width: 16px
        color: rgba(255,255,255,0.4)
        img
          width: 16px
          opacity: 0.5
          display: block
        svg
          fill: rgba(255,255,255,0.5)
          width: 14px
          height: 14px
        .image
          position: absolute
          top: 0px
          img
            opacity: 0.8
        .ticon
          margin-top: 1px
          font-size: 11px
          overflow: hidden
          text-align: center
          font-weight: 500
          -moz-border-radius: 2px
          -webkit-border-radius: 2px
          border-radius: 2px
          -moz-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.1)
          -webkit-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.1)
          box-shadow: 0 2px 3px 0px rgba(0,0,0,0.1)
      .count
        position: absolute
        font-size: 11px
        padding: 2px 4px
        -moz-border-radius: 3px
        -webkit-border-radius: 3px
        border-radius: 3px
        background: rgba(255,255,255,0.75)
        right: 4px
        top: 5px
      .icon-project
        position: absolute
        font-size: 10px
        text-transform: uppercase
        color: #fff
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        text-align: center
        overflow: hidden
        font-weight: 500
        padding-top: 2px
        width: 16px
        height: 16px
        -moz-border-radius: 9px
        -webkit-border-radius: 9px
        border-radius: 9px
        top: 0px
        left: 0px
        em
          position: relative
          top: -5px
        &.-bg-alt0
          background: rgba(255,255,255,0.2)
        &::before
          position: absolute
          top: 0px
          left: 0px
          bottom: 0px
          right: 0px
          background: rgba(0,0,0,0.1)
          content: ""
      .icon-team
        position: absolute
        text-align: center
        font-size: 10px
        text-transform: uppercase
        color: #fff
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        overflow: hidden
        font-weight: 500
        width: 16px
        height: 16px
        -moz-border-radius: 2px
        -webkit-border-radius: 2px
        border-radius: 2px
        top: 0px
        left: 0px
        padding-top: 2px
      &.active
        font-weight: 500
        background: rgba(255,255,255,0.1)
        color: #fff
        .icon
          color: #fff
          img
            opacity: 1.0
        .count
          background: rgba(255,255,255,0.3)
        &:before
          position: absolute
          left: 0px
          top: 0px
          bottom: 0px
          width: 3px
          background: rgba(255,255,255,0.7)
          content: ""
    .sorder
      position: absolute
      left: 0px
      top: 0px
      width: 12px
      bottom: 0px
      opacity: 0
      &:before
        position: absolute
        height: 2px
        width: 2px
        border-top: 2px solid rgba(255,255,255,0.2)
        border-bottom: 2px solid rgba(255,255,255,0.2)
        content: ""
        left: 10px
        top: 10px
      &:after
        position: absolute
        background: rgba(255,255,255,0.2)
        top: 18px
        left: 10px
        width: 2px
        height: 2px
        content: ""
    .boards
      .li
        &:hover
          .sorder
            opacity: 1.0

.center, .ap-center
  text-align: center

.apppages
  position: relative
  font-size: 15px
  color: #999

  .icons
    font-weight: normal
    font-size: 16px
    display: inline-block
    overflow: hidden
    border-radius: 4px
    vertical-align: -10px
    margin-left: 15px

    > div.prev, div.next

      &.disabled
        opacity: 0.7
        color: #aaa
        background-color: #fff
        border-radius: 22px
        pointer-events: none

        &:hover
          border: 1px solid #ddd
          border-radius: 22px

      &:hover:not(.disabled)
        color: #267cde
        border: 1px solid #ddd
        border-radius: 22px
        background-color: #fff

    > *
      float: left
      cursor: pointer
      padding: 8px 10px
      border: 1px solid transparent
      overflow: hidden

    div.avp-label
      font-size: 14px
      color: #888
      padding: 7px 20px

.sep-30, .space-30
  display: block
  height: 30px

.sep-10, .space-10
  display: block
  height: 10px


.box-alt1, .-bg-alt1
  background-color: #267cde
