.user
  padding: 9px 0 9px 50px
  position: relative
  //position: absolute
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  cursor: pointer
  top: 0px
  left: 0px
  right: 0px
  height: 55px
  z-index: 999

  .actions
    position: absolute
    display: none
    bottom: 48px
    left: 0px
    right: 0px
    background: rgba(0,0,0,0.9)
    padding: 10px

  .avatar
    position: absolute
    top: 10px
    left: 10px
    -moz-border-radius: 15px
    -webkit-border-radius: 15px
    border-radius: 15px
    overflow: hidden

    .avatar-30
      width: 30px
      height: 30px

.unselectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

.user .name
  font-weight: 501
  font-size: 14px
  color: #fff
  padding-bottom: 4px
  padding-top: 3px
  
.ap-xdot
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  word-wrap: normal
  
.user .info
  font-size: 11px
  color: rgba(255,255,255,0.3)
  
.search
  overflow: hidden

.search input
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  width: 100%
  display: block
  padding: 0
  margin: 0
  border: none
  background: transparent
  color: #fff
  font-size: 12px
  padding: 8px 9px
  padding-left: 40px









