<div id="header">
  <div class="nav" (click)="toggleService.toggleNavigation($event)"><span class="icon"></span></div>
  <div class="title">
    <div class="icon -avatar">
      <img src="{{user.avatar}}" (error)="onAvatarFailed($event)">
    </div>

    <div class="name"><span class="url" uiSref="tasks">{{name}}</span></div>
  </div>

  <search-control></search-control>

  <div class="main">
    <div class="avp-tabs auto-active-url">
      <div class="tab url active"><span class="tab-label">CÔNG VIỆC ĐƯỢC GIAO</span></div>
      <div (click)="onExport()" class="tab url"><span class="tab-label">EXPORT</span></div>
    </div>
  </div>



</div>