<div class="member-list">
  <div class="pinner-bkg" *ngIf="isLoading">
    <div class="pinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <mat-table [dataSource]="filteredUSers">
    <ng-container matColumnDef="userInfo">
      <mat-header-cell *matHeaderCellDef>
        Họ và Tên
        <!-- <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Họ và Tên" (keyup)="innerSearch($event)" autocomplete="off"/> -->

      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="one-avatar">
          <one-avatar [imageUrl]="element.avatar || defaultAvatar"></one-avatar>
        </div>
        <div class="one-userinfo">
          <div class="fullname">
            {{getFullname(element)}}
          </div>
          <div class="titleInfo">
            <span class="username">@{{element.username}}</span> - <span
              class="title">{{element.attributes.avp_title}}</span>
          </div>
          <div class="role-info" *ngIf="isAdmin">
            <span class="role-name">{{getRole(element)}}</span>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="contact">
      <mat-header-cell *matHeaderCellDef>Thông Tin Liên Lạc</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="contact-info">
          <div class="contact-email">{{element.email}}</div>
          <div class="contact-number">{{element.attributes.avp_number || ''}}</div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="directManager">
      <mat-header-cell *matHeaderCellDef>Quản Lý Trực Tiếp</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="one-avatar" *ngFor="let username of element.directManager"
          title="{{getFullNameFromUsername(username)}}">
          <one-avatar [imageUrl]="userAvatars[username] || defaultAvatar"></one-avatar>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="fas fa-info-circle user-title-action user-title-action-edit" (click)="editUser(element)"
          title="Xem thông tin tài khoản"></span>
        <span class="fas fa-ban user-title-action user-title-action-delete  deactivate"
          (click)="deactivateUser(element, false)" title="Hủy kích hoạt tài khoản"
          *ngIf="isAdmin && element.enabled"></span>
        <span class="far fa-check-circle user-title-action user-title-action-delete activate"
          (click)="deactivateUser(element, true)" title="Kích hoạt tài khoản"
          *ngIf="isAdmin && !element.enabled"></span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <!-- div class="paginition">
    <mat-paginator [length]="listLength"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChanged($event)">
</mat-paginator>
</div !-->
</div>
