.member-list {
  height: 100%;
  overflow-y: scroll;
  .pinner-bkg {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    position: fixed;
    opacity: 0.5;
    .pinner {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
    }
  }
  .one-avatar {
    width: 58px;
    height: 58px;
    margin: 5px 10px 5px 0px;
  }

  .one-userinfo {
    width: calc(100% - 58px);
    .fullname {
      font-size: 16px;
      font-weight: 500;
    }

    .titleInfo {
      .username {
        margin-right: 5px;
        font-weight: 400;
      }
      .title {
        margin-left: 5px;
        color: #aaaaaa;
      }
    }
  }

  .role-info {
    .role-name {
      color: orangered;
      font-weight: 500;
    }
  }

  .contact-email {
    font-weight: 400;
  }

  .contact-number {
    font-weight: 300;
  }

  .user-title-action {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;

    &.activate {
      color: green;
    }

    &.deactivate {
      color: red;
    }
  }

  .mat-column-actions {
    flex: 0 0 60px;
  }



  .mat-column-directManager {
    flex: 0 0 130px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 10px;              /* height of horizontal scrollbar ← You're missing this */
      width: 4px;               /* width of vertical scrollbar */
      border: 1px solid #d5d5d5;
    }
  }

  .paginition {
    float: right;

    .page-button {
      width: 100px;
      display: inline-block;
      button {
        width: 100%;
      }
    }
  }
}
