@import '~@angular/material/theming';
@import '../../theme/base';

@include mat-core();

.one-right-panel {
  float: right;
  width: 288px;
  height: 100%;
  background-color: azure;

  .one-user-info {
    padding: 16px;

    .one-user-name {
      font-size: 16pt;
    }
    .one-user-email {
      padding-top: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 500;
      color: #bbbbbb;
    }
  }

  .one-user-action {
    border-top: 1px solid;
    padding: 16px;

    .one-user-action-title {
      font-size: 14pt;
      text-transform: uppercase;
    }

    .one-user-action-items {

      .one-user-action-item {
        margin-top: 16px;
        cursor: pointer;
        .title {
          padding-left: 10px;
        }

        &.activate {
          color: mat-color($accent)
        }
      }


    }
  }
}
