<div class="guest-list-header-component">
    <div class="header-searchbar">
        <span class="fas fa-search"></span>
        <input type="text" placeholder="{{'centerPanel.header.searchBar.search' | translate }}" (input)="onSearchChanged($event.target.value)">
      </div>
      <div class="header-filter">
          <div class="filter-items">
              <div class="filter-item" (click)="filterMembers('activate')" [ngClass]="{activate: currentFilter == 'activate'}" >Activate
              </div>
              <div class="filter-item" (click)="filterMembers('deactivate')" [ngClass]="{activate: currentFilter == 'deactivate'}" >Deactivate</div>
          </div>
      </div>
      <div class="action-bar">
        <button class="action-btn" mat-raised-button color="primary" (click)="createGuestMember()" *ngIf="isAdmin" >Thêm Tài Khoản Khách</button>
      </div>
</div>
