<div id="project-side" *ngIf="loaded">
  <div class="section">
    <div class="overview">
      <div class="avp-box projinfo -with-image">
        <div class="image">
          <img src="{{user.avatar}}" (error)="onAvatarFailed($event)">
        </div>
        <div class="projname">{{user.name}}</div>
<!--        <div class="projdesc"> Staff&nbsp;</div>-->
        <div id="js-me-side-stats" style="position: relative; padding-top: 15px;">
          <div class="avp-row"><span class="fa fa-check-square-o"></span> Công việc được giao
            <div class="v -dd url inline"><b>{{percentage}}</b>%</div>
          </div>
          <div class="bar -infow">
            <div class="c" style="background-color: #49E33B;" [style.width.%]="percentage"></div>
          </div>
          <div class="avp-row -upper">
            <div class="v -full">{{doneCount}}/{{totalTask}} hoàn thành</div>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="subsection">-->
<!--      <div class="subheader">-->
<!--        <div class="icon"><span class="ficon-asterisk"></span></div>-->
<!--        <div class="title -dd" title="In the last 07 days">Mới được giao</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="subsection">-->
<!--      <div class="subheader">-->
<!--        <div class="icon"><span class="ficon-asterisk"></span></div>-->
<!--        <div class="title -dd" title="In the last 07 days">Mới giao đi</div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
<!--  <div class="section js-milestones">-->
<!--    <div class="avp-box">-->
<!--      <div class="box-title">Mục tiêu</div>-->
<!--      <div id="js-side-milestones" class="body">-->
<!--        <div class="side-milestones"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="section" *ngIf="!byEmployee">
    <div class="avp-box">
      <div class="box-title"> Bộ lọc tùy chỉnh
        <div class="action" id="js-filter-add" (click)="onAddFilter()">+ Thêm</div>
      </div>
      <div class="sidelinks" id="js-cfilters" style="overflow-y: auto; overflow-x: hidden; max-height: 500px">
        <div class="link xo" *ngFor="let filter of filters">
          <div class="full-mask url" uiSref="tasks.filters" [uiParams]="{queryId: filter.queryId}"></div>
          <div class="edit" (click)="onEditFilter(filter)">
            <span class="fa fa-pencil"></span>
          </div>
          <div class="name"><span class="text-alt3">{{filter.name}}</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" *ngIf="byEmployee">
    <div class="avp-box" style="padding-bottom:0px;">
      <div class="box-title">Nhân viên của tôi</div>
    </div>
    <div class="body">
      <div class="items" id="js-cmembers">
        <div class="person" *ngFor="let employee of myEmployees">
          <div class="avatar avatar-32 -circled">
            <div class="image">
              <img src="{{employee.avatar}}" (error)="onAvatarFailed($event)">
            </div>
          </div>
          <div class="person-context">
            <div class="person-name"
                  uiSref="members-detail"
                  [uiParams]="{memberId: employee.id}">
                  {{employee.name}}
            </div>
            <div class="api-info ap-xdot">{{employee.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>