<div id="collection" class="documents">
  <div class="header" id="subheader">
    <div class="title">Danh sách tài liệu</div>
    <div class="side">
      <div class="search">
        <input type="text" placeholder="Tìm kiếm tài liệu" (input)="onSearch($event)">
      </div>
      <div class="buttons">
        <div class="button url" (click)="open(createNewDocument)">Thêm tài liệu</div>
      </div>
    </div>
  </div>
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Tên tài liệu</th>
          <th>Kích thước</th>
          <th>Người đăng</th>
          <th>Ngày đăng</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attachment of attachments">
          <td>{{attachment.fileName}}</td>
          <td>{{formatBytes(attachment.fileSize)}}</td>
          <td>{{attachment.author.name}}</td>
          <td>{{formattedDate(attachment.createdAt)}}</td>
          <td>
            <a class="url" href="{{attachment.downloadLocation.href}}">
              <span class="fa fa-download"></span>
              Tải về
            </a> |
            <a class="url" href="#" (click)="openDelete(deleteDocument, attachment)">
              <span class="fa fa-trash"></span>
              Xóa
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #createNewDocument let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Thêm tài liệu mới</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="tform-dialog">
    <div class="board-add-wrap">
      <div class="inline-form">
        <div class="formbox">
          <div class="form-group">
            <label for="attachments">Chọn tài liệu</label>
            <input id="attachments" type="file" multiple class="form-control-file" (change)="onAttachmentsChanged($event)">
          </div>
        </div>
        <div class="buttons">
          <div class="submit" (click)="modal.close('submit')">Tải lên</div>
          <div class="cancel" (click)="modal.dismiss()">
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteDocument let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Xóa tài liệu</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="__alertdialog">
    <div class="__apdialog">
      <table>
        <tbody>
        <tr>
          <td class="icon">
            <i class="fa fa-exclamation-circle" style="font-size: 42px; color: #c65144"></i>
          </td>
          <td class="text">Bạn có chắc chắn muốn xóa tài liệu này?</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="__dialogbuttons unselectable">
      <div class="button er confirm-button" (click)="modal.dismiss()">Đóng</div>
      <div class="button ss confirm-button" (click)="modal.close('OK')">OK</div>
    </div>
  </div>
</ng-template>