<div class="db-header">
  <div class="filters" id="js-db-filters">
    <div class="filter -dd -cmenuw js-duration">
      Từ: <em>{{filteredDate}}</em>
      <div class="-cmenu -padding -no-icon">
        <ngb-datepicker #dp 
        [displayMonths]="2" 
        navigation="arrows" 
        [dayTemplate]="t" 
        outsideDays="collapsed"
        [startDate]="fromDate!">
        </ngb-datepicker>
        <div *ngIf="!comprehensiveReport"
             class="button btn-outline-danger"
             style="width: 60px; margin-top: 6px; float: right"
             (click)="removeFromTo()">Xóa</div>
      </div>
    </div>

    <div class="filter -dd -cmenuw js-by">
      <em>{{by}}</em>
      <div class="-cmenu -padding -no-icon">
        <div class="-item url"
             [ngClass]="{'active': by == undefined}"
             [uiSref]="stateName"
             [uiParams]="{by: null}">Theo ngày tạo</div>
        <div class="-item url"
             uiSrefActive="active"
             [uiSref]="stateName"
             [uiParams]="{by: 'duedate'}">Theo thời hạn</div>
        <div class="-item url"
             uiSrefActive="active"
             [uiSref]="stateName"
             [uiParams]="{by: 'started'}">Theo ngày bắt đầu</div>
      </div>
    </div>

    <div class="filter -dd -cmenuw js-assignees hidden">
      <em>Everyone</em>
      <div class="-cmenu -padding -no-icon">
        <div class="-item url active">Everyone</div>
        <div class="-item">Choose assignees</div>
      </div>
    </div>

    <div class="filter -dd -cmenuw js-dep" [ngClass]="{'hidden': comprehensiveReport == false}">
      <em>{{dep}}</em>
      <div class="-cmenu -padding -no-icon">
        <div class="-item url"
             [ngClass]="{'active': subtaskopt == undefined}"
             uiSref="reports"
             [uiParams]="{dep: null}">Tất cả phòng ban</div>
        <div *ngFor="let dept of departments"
              class="-item url"
              uiSrefActive="active"
              uiSref="reports"
              [uiParams]="{dep: dept.id}">{{dept.name}}</div>
      </div>
    </div>

    <div class="filter -dd -cmenuw js-subtaskopt" [ngClass]="{'hidden': comprehensiveReport == false}">
      <em>{{subtaskopt}}</em>
      <div class="-cmenu -padding -no-icon">
        <div class="-item url"
             [ngClass]="{'active': subtaskopt == undefined}"
             uiSref="reports"
             [uiParams]="{subtaskopt: null}">Công việc &amp; công việc con</div>
        <div class="-item url"
              uiSrefActive="active"
              uiSref="reports"
              [uiParams]="{subtaskopt: 'excluded'}">Không tính công việc con</div>
      </div>
    </div>

    <div class="filter -dd -cmenuw js-status">
      <em>{{status}}</em>
      <div class="-cmenu -padding -no-icon">
        <div class="-item url"
             [ngClass]="{'active': status == undefined}"
             [uiSref]="stateName"
             [uiParams]="{status: null}">Tất cả trạng thái</div>
        <div class="-item url"
             uiSrefActive="active"
             [uiSref]="stateName"
             [uiParams]="{status: 'inprogress'}">Công việc đang thực hiện</div>
        <div class="-item url"
             uiSrefActive="active"
             [uiSref]="stateName"
             [uiParams]="{status: 'done'}">Công việc đã hoàn thành</div>
      </div>
    </div>
  </div>
</div>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null"
        (click)="onDateSelection(date)">
    {{ date.day }}
  </span>
</ng-template>