<div id="setting">
	<div class="edit-box">
		<div class="title">
			<span>Chỉnh sửa dự án</span>
		</div>
		<div class="avp-box form">
			<div class="avp-row">
				<div class="avp-label">Tên dự án</div>
				<div class="input">
					<input type="text" placeholder="Tên" name="name" [(ngModel)]="project.name">
				</div>
			</div>
			<div class="avp-row">
				<div class="avp-label">Miêu tả chung</div>
				<div class="input">
					<textarea placeholder="Miêu tả chung" [(ngModel)]="project.description"></textarea>
				</div>
			</div>
			<div class="avp-row">
				<div class="avp-label">Trạng thái hiện tại</div>
				<ng-select [items]="activations"
                    [searchable]="false" [clearable]="false"
                    [(ngModel)]="this.project.status"
                    placeholder="Chọn trạng thái"
                    bindValue="value"
                    bindLabel="label"></ng-select>
				<div class="sep-10"></div>
				<ng-select [items]="statuses"
                    [searchable]="false" [clearable]="false"
                    [(ngModel)]="this.project.Status.value"
                    placeholder="Chọn tình trạng"
                    bindValue="value"
                    bindLabel="label"></ng-select>
			</div>
      <div class="avp-row">
				<div class="avp-label">Yêu cầu review trước khi đánh dấu hoàn thành công việc</div>
				<ng-select [items]="reviewOptions"
                    [searchable]="false" [clearable]="false"
                    [(ngModel)]="this.project.review_required.value"
                    bindValue="value"
                    bindLabel="label"></ng-select>
				<div class="sep-10"></div>
				<ng-select [items]="reviewerOptions" *ngIf="isReviewRequired"
                    [searchable]="false" [clearable]="false"
                    [(ngModel)]="this.project.reviewer_as_assigner.value"
                    bindValue="value"
                    bindLabel="label"></ng-select>
        <div class="sep-10"></div>
				<user-search-box *ngIf="isReviewRequired && !isReviewerAsAssigner"
            placeHolder="Reviewer"
            [clearable]="false"
            [selectedUserIds]="[project.reviewer.value]"
            [projectId]="projectId"
            (selectItem)="onReviewerChanged($event)"></user-search-box>
			</div>
		</div>
	</div>
  <div class="edit-box">
		<div class="title">
			<span>Phòng ban</span>
		</div>
		<div class="avp-box form">
			<div class="avp-row">
				<ng-select [items]="departments"
                       [(ngModel)]="project.parent.id"
                       placeholder="Chọn phòng ban"
                       bindValue="id"
                       bindLabel="name"></ng-select>
			</div>
		</div>
	</div>
  <div class="edit-box">
		<div class="title">
			<span>Thời gian thực hiện</span>
		</div>
		<div class="avp-box form">
			<div class="avp-row">
				<div class="input-group -count-2">
          <div class="gi" style="width: 50%">
            <div class="input data">
              <span class="-ap icon-uniF1072" style="position: absolute; right:10px; top:10px; color:#aaa; font-size:16px;"></span>
              <input type="text"
                     name="stime"
                     ngbDatepicker #sd="ngbDatepicker"
                     (focus)="sd.open()" (click)="sd.open()"
                     navigation="arrows"
                     (dateSelect)="onChangeStartDate($event)"
                     [value]="project.StartDate.value"
                     placeholder="Chọn ngày bắt đầu"
                     class="std hasDatepicker"></div>
          </div>
          <div class="gi" style="width: 50%">
            <div class="input data">
              <span class="-ap icon-uniF1072" style="position: absolute; right:10px; top:10px; color:#aaa; font-size:16px;"></span>
              <input type="text"
                     name="etime"
                     ngbDatepicker #dd="ngbDatepicker"
                     (focus)="dd.open()" (click)="dd.open()"
                     navigation="arrows"
                     (dateSelect)="onChangeDueDate($event)"
                     [value]="project.DueDate.value"
                     placeholder="Chọn ngày kết thúc"
                     class="std hasDatepicker">
            </div>
          </div>
          <div class="clear"></div>
        </div>
			</div>
		</div>
	</div>
  <div class="edit-box">
    <div class="on-edit">
      <div class="button -cta" (click)="onSave()">Lưu</div>
    </div>
  </div>
</div>