.one-user-select {
}

.user-chip {
  min-height: 34px;
}

.one-mat-option-select {
  .option-avatar {
    display: inline-block;
    width: 32px;
  }

  .option-info {
    display: inline-block;
    margin-left: 5px;

    .option-info-text {
      line-height: 20px;
    }
  }
}

.one-mat-selected {
  .option-avatar {
    display: inline-block;
    width: 32px;
  }

  .option-info {
    display: inline-block;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    white-space: nowrap;
    vertical-align: middle;

    .option-info-text {
      line-height: 20px;
    }
  }
}
