<div class="ap-inline-tagger" style="display: block; top: 0px; position: relative">
  <div class="ap-tagger issingle">
    <div class="api-title">{{title}}</div>
    <div class="api-sb">
      <input type="text" placeholder="Nhập để tìm kiếm" (input)="searchUsers($event)">
    </div>
    <div class="api-users">
      <div class="api-user" *ngFor="let user of users.searching" (click)="onSelect(user)">
        <div class="avatar avatar-24 -circled">
          <div class="image">
            <img src="{{user.avatar}}" (error)="onAvatarFailed($event)">
          </div>
        </div>
        <div class="api-context">
          <div class="api-name">{{user.name}}</div>
          <div class="api-info ap-xdot">{{user.title}}</div>
        </div>
      </div>
      <div class="api-user" *ngIf="removable == true" (click)="onSelect({id: 0})">
        <div class="avatar avatar-24 -circled">
          <div class="c">
            <i class="fa fa-close"></i>
          </div>
        </div>
        <div class="api-context">
          <div class="api-name">
            <div class="red normal" style="padding-top: 4px">Xóa</div>
          </div>
        </div>
      </div>
    </div>
    <div class="api-footer" *ngIf="externableUser == true">
      <div (click)="openExternalSelector()">Giao cho người bên ngoài dự án/phòng ban</div>
    </div>
  </div>
</div>