.one-personal {
    margin-left: 20px;
    max-height: 55px;
    cursor: pointer;

    > div {
        height: 55px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .personal-avatar {
        padding: 7px 0px 0px;
        height: 42px;
    }

    .fullname {
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        padding-top: 15px;
    }

    .title {
        font-size: 12px;
        display: block;
        font-weight: normal;
        line-height: normal;
    }
}
