.groups-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.group-list {
    padding: 5px;
    flex: 1;
    overflow: auto;
    height: 100%;
}

.one-group-header {
  height: 85px;
}

.group-list {
  padding: 5px;
  height: calc(100% - 85px);

  .list-header {
    text-transform: uppercase;
    color: #f44336;
    font-weight: bold;
    height: 36px;
  }

  .group-list-data {
    height: calc(100% - 36px);
    margin-top: -5px;
    overflow: auto;
  }
}



.group-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    background: #fee;
    color: #aaa;
    cursor: pointer;
    height: 40px;
    margin-top: 10px;

    > div {
        font-size: 14px;
    }

    &.d-flex {
        .i {
            padding-top: 10px;
            padding-left: 5px;
        }
    }

    .name {
        padding-top: 10px;
        padding-left: 10px;
    }
}


