#collection {
  padding: 10px 0px 10px 0;
  background-color: #fff;
  overflow: hidden;
  min-height: 800px;

  .header {
    position: relative;
    margin: 0 20px;
    padding: 0 0 10px 0;

    .title {
      font-size: 16px;
      font-weight: 500;
      padding: 1px 0;
    }

    .side {
      position: absolute;
      right: 0px;
      top: -5px;

      .itabs {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        overflow: hidden;
        float: left;
        margin-left: 25px;
        padding-top: 3px;
      }

      .icon {
        float: left;
        font-size: 14px;
        color: #ddd;
        cursor: pointer;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 7px 7px;
        height: 30px;

        &.active {
          color: #267cde;
        }
      }

      .buttons{
        float:left;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        overflow:hidden;
        font-size:12px;
        color:#267cde;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        margin-left: 15px;
        position: relative;
        top: 5px;
  
        .button{
          padding:9px 13px;
          border-right:1px solid rgba(0,0,0,0.1);
          float:left;
          font-size:12px;
          font-weight:500;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 9px 13px;
          margin: 0;
          background: none;
          color: #267cde;
  
          :last-child{
            border:none;
          }

          span{
            font-size:14px;
          }

          &:hover{
            color:#fff;
            background-color: #267cde;
          }
        }
      }
    }

    .search {
      position: relative;
      float: left;
      margin-left: 15px;
      padding-top: 5px;

      input {
        padding: 7px 10px;
        background-color: #fff;
        display: block;
        width: 200px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 12px;
        color: #000;
        height: 30px;
      }
    }
  }

  #subheader {
    height: auto;
  }
}