#submenu {
  width: 250px;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0px;
  left: 0px;
  top: 64px;
  background-color: #f4f4f4;

  &::before {
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 1px;
    background: rgba(0,0,0,0.05);
    content: "";
    position: absolute;
  }

  .section {
    position: relative;
    padding: 20px 0px 15px 0;
    z-index: 888;

    .title {
      font-size: 12px;
      font-weight: 500;
      color: #aaa;
      position: relative;
      cursor: pointer;
      text-transform: uppercase;
      padding: 0 20px 15px 20px;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
    }

    .item {
      padding: 9px 9px 9px 36px;
      font-size: 13px;
      position: relative;
      font-weight: normal;
      color: #666;
      cursor: pointer;
      margin: 0 20px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;

      .fa {
        color: #999;
        position: absolute;
        font-size: 14px;
        top: 11px;
        left: 10px;
        width: 16px;
      }

      &:hover {
        color: #11bdbf;
      }

      &.active {
        font-weight: bold;
        color: #fff;
        background-color: #11bdbf;

        .fa {
          color: rgba(255,255,255,0.5);
        }
      }
    }
  }
}

#setting {
  margin-left: 230px;
  min-height: 1000px;

  .edit-box {
    max-width: 900px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px 0px 0px 20px;

    .title {
      text-transform: uppercase;
      font-weight: 500;
      color: #63b814;
      padding-bottom: 15px;
      font-size: 13px;
    }

    .on-edit {
      overflow: hidden;

      .button {
        &.-cta {
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          float: left;
          font-weight: 500;
          padding: 9px 15px;
          background-color: #11bdbf;

          &:hover {
            background-color: #63b814;
          }
        }

        &.-cancel {
          color: #999;
          float: left;
          padding: 9px 15px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
        }
      }
    }
  }

  .setting-box {
    padding: 30px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .title {
      text-transform: uppercase;
      font-weight: 500;
      color: #63b814;
      padding-bottom: 15px;
    }

    .values {
      .st-opt {
        position: relative;
        font-size: 15px;
        cursor: pointer;
        color: #888;
        padding: 10px 10px 10px 36px;

        &.selected::before {
          border: 1px solid #63b814;
          background: rgba(99,184,20,0.85);
        }

        &::before {
          content: "";
          position: absolute;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-top: 1px solid #bbb;
          border-right: 1px solid #aaa;
          border-left: 1px solid #bbb;
          border-bottom: 1px solid #aaa;
          width: 21px;
          height: 21px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          left: 0px;
          top: 10px;
        }

        &::after {
          font-family: FontAwesome;
          content: "\f00c";
          font-size: 14px;
          position: absolute;
          color: #fff;
          top: 10px;
          left: 4px;
        }

        &:hover {
          font-weight: 600;
          color: #111;
        }
      }
    }
  }
}

.form {
  .avp-row {
    padding-bottom: 15px;
  }

  .avp-label {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 8px;

    .sublabel {
      font-weight: normal;
      font-size: 12px;
      color: #999;
      text-align: justify;
      padding-top: 2px;
    }
  }

  .input {
    position: relative;
  }
}

#user-settings {
  .subbox {
    border-bottom: 1px solid rgba(0,0,0,0.1);

    .avp-user {
      padding: 15px 15px 15px 60px;
      position: relative;

      .avatar {
        position: absolute;
        left: 15px;
        top: 15px;
      }

      .name .main em {
        font-weight: 600;
        font-size: 14px;
      }

      .info {
        font-size: 13px;
        color: #888;
        padding-top: 4px;
      }

      .actions {
        position: absolute;
        cursor: pointer;
        color: #aaa;
        right: 10px;
        top: 4px;
        padding: 8px;

        .action:hover {
          color: #444;
        }
      }

      .add {
        width: 32px;
        height: 32px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        color: #aaa;
        border: 1px dashed #aaa;

        &::after {
          font-family: FontAwesome;
          content: "\f067";
          position: absolute;
          font-size: 18px;
          top: 4px;
          left: 9px;
        }
      }

      .txt {
        padding: 7px 0;
        color: #11bdbf;
        font-size: 14px;
      }

      &.-add {
        cursor: pointer;
      }
    }
  }

  .title {
    font-weight: normal;
    font-size: 16px;
    position: relative;
    color: #666;
    padding: 15px 20px;
  }
}

#acl {
  padding-left: 30px;

  .title {
    text-transform: uppercase;
    font-weight: 500;
    color: #63b814;
    font-size: 12px;
    padding-bottom: 25px;
  }

  .table {
    overflow: hidden;
    
    table {
      width: 100%;
    }

    th {
      font-size: 13px;
      font-weight: 500;
      color: #888;
    }

    td, th {
      padding: 13px 15px;
      border-bottom: 1px dashed rgba(0,0,0,0.1);
      text-align: left;
    }

    .role {
      font-weight: 600;
      color: #333;
      font-size: 14px;

      .role-info {
        color: #999;
        font-weight: normal;
        font-size: 13px;
        display: block;
        padding-top: 3px;
      }
    }

    .status {
      border: 1px solid #bbb;
      width: 20px;
      height: 20px;
      position: relative;
      cursor: pointer;
      background-color: #f9f9f9;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;

      &:hover {
        border: 1px solid #63b814;
        background-color: #fff;
      }

      &.locked.-on {
        background-color: #aaa;
        border: 1px solid #999;
        pointer-events: none;
      }

      &.-on {
        background-color: #63b814;
        border: 1px solid #63b814;

        &::after {
          font-family: FontAwesome;
          content: "\f00c";
          color: #fff;
          position: absolute;
          font-size: 16px;
          top: -3px;
          left: 1px;
        }
      }
    }
  }
  
  .setting-box {
    margin: 0px;
  }
}