#main-board {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  height: 100%;

  .stages {
    position: relative;
    z-index: 999;
    padding: 0;
  }

  .stage {
    min-height: 300px;
    width: 280px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .header {
      padding: 13px 15px 13px 15px;
      position: relative;
      font-weight: 500;
      font-size: 15px;
      color: #000;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 60px;
      z-index: 29999;

      .name {
        padding-left: 22px;
        padding-right: 32px;
        position: relative;

        .gicon {
          position: absolute;
          font-size: 16px;
          width: 16px;
          height: 16px;
          top: -1px;
          left: 0px;
        }
      }

      .count {
        position: absolute;
        font-size: 11px;
        color: #888;
        font-weight: normal;
        right: 15px;
        top: 13px;
        padding: 2px 6px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: #eee;
      }

      .bar {
        height: 1px;
        position: relative;
        overflow: hidden;
        background: rgba(0,0,0,0.1);
        margin-top: 13px;

        .c {
          background-color: #63b814;
          position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
        }
      }
    }

    .body {
      position: relative;
    }

    .items {
      padding: 0px 15px 10px 15px;
    }
  }
}

.dragdrop-zone {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drop-zone.-dragged-over {
  background-color: #eaeaea60
}

.draggable-item {
  width: 100%;
  user-select: none;
  background: #fff;
}

.draggable-item {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 5px;
  -moz-box-shadow: 0 2px 1px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 1px 0px rgba(0,0,0,0.1);
  box-shadow: 0 2px 1px 0px rgba(0,0,0,0.1);
  border: solid 1px rgba(0, 0, 0, 0.1);

  .item-body {
    position: relative;
    padding: 11px 13px 11px 13px;
  }

  .cb {
    position: absolute;
    display: none;
    left: 15px;
    top: 10px;
    width: 18px;
    height: 18px;
    z-index: 999;

    .task-status {
      -moz-border-radius: 9px;
      -webkit-border-radius: 9px;
      border-radius: 9px;
    }
  }

  .w {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 500;
  }

  .name {
    color: #111;
    margin-bottom: 5px;
    margin-right: 15px;
    display: block;
    display: -webkit-box;
    max-height: 36px;
    font-size: 14px;
    line-height: 18px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .desc {
    position: relative;
    font-size: 12px;
    padding-left: 15px;
    color: #555;
    margin-bottom: 6px;

    .dr {
      position: absolute;
      left: 0px;
      top: 3px;
      width: 10px;
      height: 1px;
      background: rgba(0,0,0,0.3);

      &::before {
        content: "";
        height: 1px;
        width: 10px;
        top: 3px;
        background: rgba(0,0,0,0.3);
        position: absolute;
      }

      &::after {
        content: "";
        height: 1px;
        width: 6px;
        top: 6px;
        background: rgba(0,0,0,0.3);
        position: absolute;
      }
    }
  }

  .info {
    position: relative;

    .assign {
      position: relative;
      padding: 6px 0 3px 25px;
      margin-left: 155px;
      z-index: 1000;

      > .avatar {
        position: absolute;
        overflow: hidden;
        //top: 3px;
        left: 0px;
        width: 20px;
        height: 20px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;

        img {
          width: 20px;
          height: 20px;
          position: absolute;
        }
      }

      &.no-assign {
        margin-left: 110px;
      }
    }

    .none {
      color: #888;
      font-size: 12px;
    }

    .icons {
      position: absolute;
      left: 0px;
      top: 2px;
      z-index: 1002;

      .icon {
        font-size: 14px;
        color: #888;
        float: left;
        position: relative;
        padding: 3px 0;
        margin-right: 10px;

        .txt {
          font-size: 11px;
          display: inline-block;
          vertical-align: 1px;
        }
      }
    }
  }

  .tags {
    position: relative;
    z-index: 1001;
    padding: 13px 13px 0px 13px;
    margin-bottom: -3px;

    .tag {
      float: left;
      text-align: center;
      font-size: 11px;
      overflow: hidden;
      position: relative;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      min-width: 30px;
      padding: 2px 5px;
      margin-right: 6px;
      border: none;
      margin-bottom: 5px;
      color: rgba(255,255,255,0.8);

      &.urgent {
        background: rgba(217,108,108,0.85);

        &:hover {
          background-color: #c34343;
        }
      }

      &.important {
        background: rgba(99,184,20,0.85);

        &:hover {
          background-color: #63b814;
        }
      }

      &.overdue {
        background: rgba(255,193,7,0.9);

        &:hover {
          background-color: #F78C15;
        }
      }

      &::before {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        content: "";
        background: rgba(0,0,0,0.2);
      }
    }

    &.-collapsed .tag span {
      position: relative;
    }
  }

  &:hover .name {
    color: #267cde;
    text-decoration: underline;
  }
}

.board-add-wrap {
  .board-add {
    padding: 8px 0;
    text-align: center;
    font-weight: 500;
    color: #1663ba;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);

    &:hover {
      background-color: #57a710;
      color: #fff;
    }
  }
}

.create-form {
  padding: 0 15px;
}

.task-status {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(0,0,0,0.4);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.customBg {
  height: 100%;
  background-image: url("/assets/avp-icons/board-bg.png");
  background-size: cover;
}

.transparent {
  background: transparent !important;
}