#collection {
    padding: 15px 0px 15px 0;
    background-color: #fff;
    overflow: hidden;
    min-height: 800px;
    .avp-table {
        width: 100%;
        thead {
            cursor: pointer;
            th {
                font-weight: 500;
                font-size: 12px;
                text-transform: uppercase;
                color: #888;
                padding: 9px 10px;
                text-align: left;
                background-color: #fafafa;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
        .buttons {
            .button {
                margin: 0 5px 5px 0;
                color: #777;
                background-color: #fff;
                font-size: 12px;
                width: 100px;
                &:hover {
                    color: #267cde;
                }
            }
        }

        @media only screen and (max-width: 1000px) {
          .hideable {
            display: none;
          }
        }
    }
    .table {
        td {
            position: relative;
            padding: 13px 10px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            .rx {
                position: absolute;
                cursor: pointer;
                top: 0px;
                left: 0px;
                bottom: 0px;
                width: 10px;
            }
            .edit-dd {
                padding: 3px 10px;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                background: rgba(255, 255, 255, 0.1);
                margin-top: 3px;
                color: #666;
                display: inline-block;
                cursor: pointer;
                position: relative;
                .-ap {
                    color: #aaa;
                }
            }
            .dept {
                font-size: 12px;
                color: #888;
                .std {
                    text-transform: uppercase;
                }
            }
            .-cmenu {
                right: 0px;
                top: 28px;
            }
        }
        .li {
            .icon {
                position: absolute;
                left: -30px;
                top: 13px;
            }
            .title {
                font-size: 15px;
                font-weight: bold;
                padding-bottom: 4px;
                &:hover {
                    color: #267cde;
                    text-decoration: underline;
                }
            }
            .info {
                font-weight: normal;
                font-size: 14px;
                color: #888;
                overflow: hidden;
            }
            .users {
                padding-left: 5px;
                overflow: hidden;
                height: 32px;
                color: #63b814;
                font-size: 20px;
                .avatar {
                    float: left;
                    position: relative;
                    margin-left: -5px;
                    margin-bottom: 4px;
                    &::after {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -moz-border-radius: 60%;
                        -webkit-border-radius: 60%;
                        border-radius: 60%;
                        border: 3px solid #fff;
                        content: "";
                        top: -3px;
                        left: -3px;
                    }
                }
            }
            .bar {
                position: relative;
                width: 100%;
                background: rgba(0, 0, 0, 0.1);
                height: 3px;
                margin-top: 25px;
                .stats {
                    position: absolute;
                    color: #aaa;
                    text-transform: lowercase;
                    top: -20px;
                    left: 0px;
                    right: 0px;
                    font-size: 13px;
                    .left {
                      width: 100%;
                      position: relative;
                      display: block;
                    }
                    .right {
                      display: block;
                      right: 0px;
                      top: 2px;
                      width: 100%;
                      position: relative;
                    }
                }
                .complete {
                    background-color: #267cde;
                    top: 0px;
                    left: 0px;
                    height: 3px;
                    position: absolute;
                }
                b {
                    color: #111;
                }
            }
        }
        .avp-user {
            position: relative;
            padding-left: 30px;

            .avatar {
                position: absolute;
                left: -20px;
                top: 0px;
            }
        }
    }
    .stage {
        color: #fff;
        padding: 7px 0;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        text-align: center;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 4px;
        &.-edge {
            color: #000;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
            background-color: #fff;
        }
    }
    .projects {
        padding-right: 25px;
        padding-top: 20px;
        background-color: #eee;
        overflow: hidden;
        display: none;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .item {
        width: 25%;
        float: left;
        overflow: hidden;
        .w {
            padding: 20px 20px 20px 20px;
            margin-left: 25px;
            margin-bottom: 25px;
            background-color: #fff;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            height: 200px;
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            position: relative;
            overflow: hidden;
        }
        .title {
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 3px;
            margin-right: 30px;
            &:hover {
                color: #267cde;
                text-decoration: underline;
            }
        }
        .info {
            font-weight: normal;
            font-size: 12px;
            color: #888;
            padding-top: 3px;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            font-size: 12px;
            line-height: 18px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 40px;
        }
        .users {
            padding-left: 5px;
            margin-top: 15px;
            .avatar {
                float: left;
                position: relative;
                margin-left: -5px;
                &::after {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    -moz-border-radius: 19px;
                    -webkit-border-radius: 19px;
                    border-radius: 19px;
                    border: 3px solid #fff;
                    content: "";
                }
            }
        }
        .bar {
            position: absolute;
            bottom: 25px;
            left: 20px;
            right: 20px;
            background: rgba(0, 0, 0, 0.1);
            height: 6px;
            .stats {
                position: absolute;
                color: #aaa;
                top: -20px;
                left: 0px;
                right: 0px;
                font-size: 12px;
                .right {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    float: right;
                }
            }
            .complete {
                background-color: #267cde;
                top: 0px;
                left: 0px;
                height: 6px;
                position: absolute;
            }
            b {
                color: #111;
            }
        }
        &.-compact {
            .w {
                height: 100px;
                .title {
                    text-transform: uppercase;
                }
            }
        }
        &:hover {
            .w {
                -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
                -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
                box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
            }
        }
    }
    &.compact {
        padding-top: 0px;
    }
}