<div id="db-canvas" style="padding: 0 0 0 20px;">
  <div id="submenu">
    <div class="section">
      <!--<div class="title url">Tùy chỉnh</div>-->
  
      <div class="item url" 
            uiSrefActive="active"
            uiSref="project.settings.info"><span class="fa fa-bars"></span>
        Chỉnh sửa dự án
      </div>

      <div class="item url"
            uiSrefActive="active"
            uiSref="project.settings.members"><span class="fa fa-address-book"></span>Quản lý thành viên</div>

      <div class="item url"
            uiSrefActive="active"
            uiSref="project.settings.permissions"><span class="fa fa-universal-access"></span>Phân quyền sử dụng</div>
      <div class="item url"
            uiSrefActive="active"
            uiSref="project.settings.email"><span class="fa fa-envelope"></span>Email thông báo</div>
      <div class="item url"
            uiSrefActive="active"
            uiSref="project.settings.repeated"><span class="fa fa-calendar"></span>CV lặp lại</div>
    </div>
  </div>
  <ui-view></ui-view>
</div>