<div>
  <div class="nav" (click)="toggleService.toggleNavigation($event)"><span class="icon"></span></div>

  <div class="title">
    <div class="name">
      <span class="url ap-xdot" data-xurl="home" title="{{name}}"
        style="font-size: 15px;font-weight: 500;">{{name}}</span>
      <span class="star"></span>
    </div>
    <div class="icon -bg-alt1">
      <em>{{avatar}}</em>
    </div>
  </div>

  <search-control></search-control>

  <div class="main">
    <div class="avp-tabs">
      <div class="tab -dd -cmenuw" uiSrefActive="active">Công việc
        <div class="full-mask url"></div>
        <div class="-cmenu -padding -no-icon">
          <div class="-item url" uiSref="project.tasks" [uiParams]="{projectId: projectId}">Dạng danh sách</div>
          <div class="-item url" uiSref="project.board" [uiParams]="{projectId: projectId}">Dạng bảng</div>
          <div class="-item url" uiSref="project.gantt" [uiParams]="{projectId: projectId}">Dạng gantt</div>
        </div>
      </div>
      <div class="tab url" [ngClass]="{'active': currentView && currentView.includes('topic')}"
           uiSref="project.topics">Thảo luận</div>

      <div class="tab url" [ngClass]="{'active': currentView && currentView.includes('document')}"
           uiSref="project.documents">Tài liệu</div>     

      <div *ngIf="canViewReport" class="tab url"
           uiSrefActive="active"
           uiSref="project.reports"
           [uiParams]="{projectId: projectId}">Báo cáo</div>

      <div class="tab url" 
           [ngClass]="{'hidden': !isAdmin}"
           uiSrefActive="active"
           uiSref="project.settings">Tùy chỉnh</div>
    </div>
  </div>
</div>