.group-item {
    padding: 5px 0px;

    .name {
        font-weight: bold;
    }

    .description {
        color: #888;
        font-weight: normal;
    }

    .approver-avatar {
        float: left;
        margin-right: 5px;
    }

    .size-28 {
        width: 28px;
        height: 28px;
        font-size: 28px;
    }

    .add-more {
        opacity: 0.7;
    }

    .more {
        border-radius: 50%;
        background: #000;
        opacity: 0.5;
        text-align: center;

        .remain {
            padding-top: 4px;
            font-size: 15px;
            color: #fff;
            font-weight: 500;
        }
    }
}