<div class="modal-header">
    <h6 class="modal-title">Thêm thảo luận mới</h6>
    <button type="button" class="close" aria-label="Đóng" (click)="modal.close('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="tform-dialog">
    <div class="board-add-wrap">
      <div class="inline-form">
        <div class="formbox">
          <div class="form-group" style="font-size: 15px;">
            Thảo luận (topic) giúp bạn và đồng nghiệp cùng bàn về một vấn đề chuyên sâu. Bạn có thể trao đổi, bình luận trong mỗi thảo luận này.
          </div>
          <div class="form-group">
            <label for="title">Tiêu đề thảo luận</label>
            <input id="title" type="text" class="form-control" name="name" placeholder="Tên thảo luận *" [(ngModel)]="newTopic.title"/>
          </div>
          <div class="form-group">
            <label>Người theo dõi</label>
            <user-search-box placeHolder="Người theo dõi"
                                 [multiple]="true"
                                 [projectId]="projectId"
                                 (selectItem)="onWatching($event)"></user-search-box>
          </div>
                    
          <div class="form-group">
            <label>Nội dung thảo luận</label>
            <form>
              <textarea id="message_content"></textarea>
              <ckeditor-augmented-textarea
                textarea-selector="#message_content"
                [attr.preview-context]="newTopic.project_api"
                [source]="newTopic.representer"
                (onInitialized)="onEditorInitialized($event)">
              </ckeditor-augmented-textarea>
            </form>
          </div>
        </div>
        <div class="buttons">
          <div class="submit" (click)="onAddNewTopic()">Thêm thảo luận</div>
          <div class="cancel" (click)="modal.close('cancel')">
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>