<div class="side">
  <div class="dd -cmenuw" *ngIf="isProjectPage">
    <em>Ngày tạo</em>
    <div class="-cmenu -padding -no-icon date">
      <ngb-datepicker #dp 
      [displayMonths]="2" 
      navigation="arrows" 
      [dayTemplate]="t" 
      outsideDays="collapsed"
      [startDate]="fromDate!">
      </ngb-datepicker>
      <div class="button btn-outline-danger" [ngClass]="{'disable': !fromDate || !toDate}"
            style="width: 60px; margin-top: 6px; float: right"
            [attr.disabled]="true"
            (click)="removeFromTo()">Xóa</div>
    </div>
  </div>
  <div class="dd -cmenuw" *ngIf="byType == true">
    <em [ngClass]="{'active selected': selected.type.isDefault != true}">{{selected.type.label}}</em>
    <div class="-cmenu -padding -no-icon">
      <div class="-item url" *ngFor="let type of types" (click)="onChangeType(type)"
           [ngClass]="{'active selected': selected.type.value == type.value}">{{type.label}}</div>
    </div>
  </div>
  <div class="dd -cmenuw" *ngIf="byStatus == true">
    <em [ngClass]="{'active selected': selected.status.isDefault != true}">{{selected.status.label}}</em>
    <div class="-cmenu -padding -no-icon">
      <div class="-item url" *ngFor="let status of statuses" (click)="onChangeStatus(status)"
           [ngClass]="{'active selected': selected.status.value == status.value}">
        {{status.label}}
      </div>
    </div>
  </div>
  <div class="dd -cmenuw" *ngIf="byEmployee == true">
    <em [ngClass]="{'active selected': selected.employee.isDefault != true}">{{selected.employee.label}}</em>
    <div class="-cmenu -padding -no-icon js-employees xo">
      <div class="js-all-employee-filter" style="max-height:300px; margin:0 -10px; padding:0 10px; overflow: auto;">
        <div class="-item url" *ngFor="let employee of employees" (click)="onChangeEmployee(employee)"
             [ngClass]="{'active selected': selected.employee.value == employee.value}">{{employee.label}}</div>
      </div>
    </div>
  </div>
  <div class="dd -cmenuw" *ngIf="byProject == true">
    <em [ngClass]="{'active selected': selected.project.isDefault != true}">{{selected.project.label}}</em>
    <div class="-cmenu -padding -no-icon js-projects xo">
      <div class="-item-filter hidden">
        <input type="text" name="js-search-pfilter" placeholder="Lọc nhanh">
      </div>
      <div class="js-all-projects-filter" style="max-height:300px; margin:0 -10px; padding:0 10px; overflow: auto;">
        <div class="-item url" *ngFor="let project of projects" (click)="onChangeProject(project)"
             [ngClass]="{'active selected': selected.project.value == project.value}">{{project.label}}</div>
      </div>
    </div>
  </div>
  <div class="dd -cmenuw" *ngIf="ordering == true">
    <em [ngClass]="{'active selected': selected.ordering.isDefault != true}">{{selected.ordering.label}}</em>
    <div class="-cmenu -padding -no-icon">
      <div class="-item url" *ngFor="let ordering of orders"
           [ngClass]="{'active selected': selected.ordering.value == ordering.value}" (click)="onChangeOrder(ordering)" >{{ordering.label}}</div>
    </div>
  </div>
  <div class="dd -cmenuw" *ngIf="byDisplay == true">
    <em>Hiển thị</em>
    <div class="-cmenu -padding -no-icon">
      <div class="-item url" *ngFor="let displaying of displays"  (click)="onChangeDisplaying(displaying)"
           [ngClass]="{'active selected': selected.displaying.value == displaying.value}">{{displaying.label}}</div>
    </div>
  </div>
  <div class="dd -cmenuw" *ngIf="otherFilter == true">
    <em>Bộ lọc khác</em>
    <div class="-cmenu -padding -no-icon">
      <div class="js-all-projects-filter scroll-y" style="max-height:300px; margin:0 -10px; padding:0 10px">
        <div class="-item url" *ngFor="let query of queries"
             [uiSref]="filterUrl"
             [uiParams]="{queryId: query.value}">{{query.label}}</div>
      </div>
    </div>
  </div>
  <div class="dd-btn" *ngIf="isProjectPage">
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="export()">
      <span class="fa fa-download"></span>
      Export
    </button>
  </div>
</div>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null"
        (click)="onDateSelection(date)">
    {{ date.day }}
  </span>
</ng-template>